Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

.lintstagedrc:

{
  "*.{md,json}": ["prettier --cache --write"],
  "*.{js,jsx}": ["max lint --fix --eslint-only", "prettier --cache --write"],
  "*.{css,less}": [
    "max lint --fix --stylelint-only",
    "prettier --cache --write"
  ],
  "!public/vs/**": [],
  "*.ts?(x)": [
    "max lint --fix --eslint-only",
    "prettier --cache --parser=typescript --write"
  ],
  "src/locales/**/*.ts": ["npx tsx src/locales/check.ts"]
}

fix: enable_model_route set true in cloning
  src/pages/llmodels/hooks/use-form-initial-values.ts
Due: none

chore: quick create route
  src/atoms/routes.ts
  src/components/seal-form/seal-textarea.tsx
  src/locales/en-US/clusters.ts
  src/locales/en-US/provider.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ja-JP/provider.ts
  src/locales/ru-RU/clusters.ts
  src/locales/ru-RU/provider.ts
  src/locales/zh-CN/clusters.ts
  src/locales/zh-CN/provider.ts
  src/pages/maas-provider/config/index.ts
  src/pages/maas-provider/forms/supported-models.tsx
  src/pages/maas-provider/hooks/use-provider-columns.tsx
  src/pages/maas-provider/hooks/use-register-route.ts
  src/pages/maas-provider/index.tsx
  src/pages/model-routes/components/add-route-modal.tsx
  src/pages/model-routes/config/form-context.ts
  src/pages/model-routes/forms/index.tsx
  src/pages/model-routes/forms/targets.tsx
  src/pages/model-routes/hooks/use-create-route.ts
  src/pages/model-routes/index.tsx
Due: npx tsx src/locales/check.ts

chore: form tabs active change
  src/locales/en-US/common.ts
  src/locales/ja-JP/common.ts
  src/locales/ru-RU/common.ts
  src/locales/zh-CN/common.ts
  src/pages/_components/collapse-panel/index.tsx
  src/pages/_components/scroll-spy-tabs/use-finish-failed.ts
  src/pages/_components/scroll-spy-tabs/use-scroll-active-change.ts
  src/pages/maas-provider/forms/index.tsx
  src/pages/model-routes/forms/basic.tsx
  src/pages/model-routes/forms/index.tsx
Due: npx tsx src/locales/check.ts

fix: provider yaml inital value
  src/pages/_components/scroll-spy-tabs/use-finish-failed.ts
  src/pages/backends/components/version-info-modal.tsx
  src/pages/benchmark/hooks/use-column-settings.tsx
  src/pages/llmodels/components/catalog-item.tsx
  src/pages/maas-provider/forms/advance-config.tsx
  src/pages/maas-provider/forms/index.tsx
  src/pages/model-routes/forms/basic.tsx
  src/pages/resources/config/gpu-driver.ts
Due: none

style: error message toast
  src/pages/_components/error-message-content.tsx
  src/pages/maas-provider/hooks/use-query-provider-models.tsx
  src/request-config.tsx
Due: none

chore: corex metax notes
  src/components/status-tag/index.less
  src/locales/en-US/clusters.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ru-RU/clusters.ts
  src/locales/zh-CN/clusters.ts
  src/pages/_components/scroll-spy-tabs/use-finish-failed.ts
  src/pages/dashboard/hooks/use-add-resource.tsx
  src/pages/maas-provider/forms/index.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

chore: diff envs in editing deployment
  src/pages/benchmark/hooks/use-column-settings.tsx
  src/pages/llmodels/forms/backend.tsx
  src/pages/llmodels/forms/envs-override-popover.tsx
  src/pages/llmodels/hooks/use-compare-envs.ts
  src/pages/maas-provider/config/index.ts
  src/pages/playground/hooks/use-chat-completion.ts
Due: none

fix: add other category
  src/locales/en-US/benchmark.ts
  src/locales/ja-JP/benchmark.ts
  src/locales/ru-RU/benchmark.ts
  src/locales/zh-CN/benchmark.ts
  src/pages/benchmark/components/left-actions.tsx
  src/pages/llmodels/forms/envs-override-popover.tsx
  src/pages/maas-provider/config/types.ts
  src/pages/maas-provider/forms/index.tsx
  src/pages/maas-provider/forms/model-item.tsx
  src/pages/maas-provider/forms/supported-models.tsx
Due: npx tsx src/locales/check.ts

style: community backend detail title
  src/hooks/use-update-chunk-list.ts
  src/pages/backends/community/backend-detail.tsx
  src/pages/llmodels/forms/backend.tsx
Due: none

refactor: list watch trigger
  src/hooks/use-table-fetch.ts
  src/hooks/use-update-chunk-list.ts
  src/pages/benchmark/components/left-actions.tsx
  src/pages/cluster-management/services/use-query-cluster-list.tsx
  src/pages/resources/components/gpus.tsx
  src/pages/resources/components/workers.tsx
Due: none

fix: do not cache while watching during manual updates
  src/components/delete-modal/index.tsx
  src/hooks/use-table-fetch.ts
  src/hooks/use-update-chunk-list.ts
  src/locales/en-US/provider.ts
  src/locales/ja-JP/provider.ts
  src/locales/ru-RU/provider.ts
  src/locales/zh-CN/provider.ts
  src/pages/cluster-management/hooks/use-add-worker-message.ts
Due: npx tsx src/locales/check.ts

chore: icons static files
  src/components/icon-font/iconfont/iconfont.css
  src/components/icon-font/iconfont/iconfont.js
  src/components/icon-font/iconfont/iconfont.json
  src/components/icon-font/iconfont/iconfont.ttf
  src/components/icon-font/iconfont/iconfont.woff
  src/components/icon-font/iconfont/iconfont.woff2
  src/components/icon-font/index.tsx
Due: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only

fix: worker list params do not update
  src/hooks/use-table-fetch.ts
Due: none

fix: openaicustomurl do not display
  src/pages/maas-provider/forms/index.tsx
Due: none

fix: provider proxy_url set null when disabled
  src/pages/maas-provider/config/types.ts
  src/pages/maas-provider/forms/model-item.tsx
  src/pages/maas-provider/forms/supported-models.tsx
  src/pages/model-routes/index.tsx
  src/pages/playground/hooks/use-chat-completion.ts
Due: none

fix: copy multi lines when ==
  src/components/label-selector/index.tsx
  src/pages/playground/hooks/use-chat-completion.ts
Due: none

chore: markdown for community backend detail
  src/pages/backends/community/backend-detail.tsx
Due: none

fix: miss openaiCustomUrl in get-models payload
  src/pages/maas-provider/config/form-context.ts
  src/pages/maas-provider/forms/index.tsx
  src/pages/maas-provider/forms/model-item.tsx
  src/pages/maas-provider/forms/supported-models.tsx
  src/pages/maas-provider/hooks/use-query-provider-models.tsx
Due: none

refactor: query dashboard data
  src/hooks/use-query-data-list.ts
  src/pages/dashboard/index.tsx
  src/pages/dashboard/services/use-query-dashboard.ts
Due: none

fix: allow deleting version for community backend
  src/pages/backends/forms/versions-config.tsx
Due: none

fix: add custom config in get-models, test-model
  src/pages/maas-provider/forms/model-item.tsx
  src/pages/maas-provider/forms/supported-models.tsx
  src/pages/maas-provider/hooks/use-query-provider-models.tsx
Due: none
