Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix: do not paste multiple lines
  src/components/icon-font/icons.ts
  src/components/icon-font/index.tsx
  src/components/label-selector/index.tsx
  src/locales/en-US/models.ts
  src/locales/en-US/users.ts
  src/locales/ja-JP/users.ts
  src/locales/ru-RU/users.ts
  src/locales/zh-CN/users.ts
  src/pages/llmodels/components/instance-item.tsx
  src/pages/llmodels/forms/advance-config.tsx
  src/pages/llmodels/forms/backend.tsx
  src/pages/users/hooks/use-users-columns.tsx
  src/pages/users/index.tsx
Due: npx tsx src/locales/check.ts

fix: chat stream data too long
  src/components/label-selector/index.tsx
  src/components/label-selector/label-item.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/search-model.tsx
  src/pages/users/apis/index.ts
  src/pages/users/hooks/use-users-columns.tsx
  src/utils/fetch-chunk-data.ts
Due: none

chore: update description for adding worker
  src/locales/en-US/dashboard.ts
  src/locales/ja-JP/dashboard.ts
  src/locales/ru-RU/dashboard.ts
  src/locales/zh-CN/dashboard.ts
  src/pages/cluster-management/components/add-worker-step.tsx
  src/pages/dashboard/components/over-view.tsx
  src/pages/dashboard/config/index.ts
  src/pages/llmodels/forms/kv-cache.tsx
  src/pages/resources/config/gpu-driver.ts
Due: npx tsx src/locales/check.ts

feat: cluster_count on dashboard
  src/components/echarts/line-chart.tsx
  src/pages/dashboard/apis/index.ts
  src/pages/dashboard/components/dahboard-inner.tsx
  src/pages/dashboard/components/resource-utilization.tsx
  src/pages/dashboard/components/system-load.tsx
  src/pages/dashboard/config/dashboard-context.ts
  src/pages/dashboard/index.tsx
  src/pages/llmodels/forms/advance-config.tsx
  src/pages/llmodels/forms/index.tsx
Due: none

fix: add loading on download button
  src/pages/llmodels/download/index.tsx
Due: none

fix: auto expand the fields group
  src/assets/styles/common.less
  src/components/seal-form/base/select.tsx
  src/components/seal-form/components/not-found-content.tsx
  src/config/index.ts
  src/hooks/use-app-utils.ts
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/backends/components/add-modal.tsx
  src/pages/backends/config/index.ts
  src/pages/backends/forms/basic.tsx
  src/pages/backends/forms/index.tsx
  src/pages/llmodels/forms/basic.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/forms/speculative-decode.tsx
  src/pages/llmodels/index.tsx
  src/pages/playground/components/ground-reranker.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix: set page to -1 for all data
  src/pages/api-keys/components/add-apikey-modal/allow-models.tsx
  src/pages/cluster-management/cluster-create.tsx
  src/pages/cluster-management/clusters.tsx
  src/pages/dashboard/components/system-load.tsx
  src/pages/llmodels/components/access-control-modal/form.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/hooks/index.ts
  src/pages/llmodels/hooks/use-form-initial-values.ts
  src/pages/llmodels/hooks/use-query-draftModels.ts
  src/pages/llmodels/index.tsx
  src/pages/resources/components/gpus.tsx
  src/pages/resources/components/worker-detail-content.tsx
  src/pages/resources/components/workers.tsx
Due: none

fix: failed field auto scroll in view
  src/components/seal-form/components/not-found-content.tsx
  src/locales/zh-CN/no-result.ts
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/user-models.tsx
  src/pages/resources/components/add-worker-macos.tsx
  src/pages/resources/components/container-install.tsx
  src/pages/resources/components/gpus.tsx
  src/pages/resources/components/script-install.tsx
  src/pages/resources/components/workers.tsx
Due: npx tsx src/locales/check.ts

fix: draft model change
  src/pages/llmodels/forms/speculative-decode.tsx
Due: none

fix: remove page_size
  src/pages/dashboard/components/usage-inner/use-usage-data.tsx
Due: none

fix: display image menu
  config/routes.ts
  src/components/drop-down-actions/index.tsx
  src/components/page-tools/index.tsx
  src/layouts/index.tsx
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/backends/index.tsx
  src/pages/cluster-management/clusters.tsx
  src/pages/cluster-management/components/worker-pools.tsx
  src/pages/cluster-management/credentials.tsx
  src/pages/llmodels/catalog.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/config/index.ts
  src/pages/llmodels/forms/catalog.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/playground/hooks/config.ts
  src/pages/playground/hooks/use-init-meta.ts
  src/pages/playground/images.tsx
  src/pages/playground/index.tsx
  src/pages/playground/speech.tsx
  src/pages/resources/components/gpus.tsx
  src/pages/resources/components/worker-detail-content.tsx
  src/pages/resources/components/workers.tsx
Due: npx tsx src/locales/check.ts

fix: calc scrollheight dynamically for tabs change
  src/hooks/use-overlay-scroller.ts
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/_components/column-wrapper/index.tsx
  src/pages/_components/column-wrapper/use-wrapper-context.ts
  src/pages/llmodels/forms/backend.tsx
  src/pages/llmodels/forms/catalog.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/forms/schedule-type.tsx
  src/pages/llmodels/hooks/use-field-scroll.ts
  src/pages/llmodels/hooks/use-query-backends.ts
  src/pages/resources/components/script-install.tsx
Due: npx tsx src/locales/check.ts

fix: default enter page for user
  src/app.tsx
  src/config/constants.ts
  src/config/settings.ts
  src/hooks/use-overlay-scroller.ts
  src/layouts/extraRender.tsx
  src/layouts/index.tsx
  src/locales/en-US/models.ts
  src/pages/llmodels/forms/index.tsx
  src/pages/login/utils.ts
  src/pages/playground/components/ground-stt.tsx
  src/pages/playground/components/multiple-chat/index.tsx
  src/request-config.ts
Due: npx tsx src/locales/check.ts

feat: generic_proxy
  src/components/icon-font/icons.ts
  src/components/icon-font/index.tsx
  src/hooks/use-table-fetch.ts
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/cluster-management/credentials.tsx
  src/pages/llmodels/config/button-actions.ts
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/forms/advance-config.tsx
  src/pages/llmodels/forms/schedule-type.tsx
  src/pages/llmodels/hooks/use-generic-proxy.tsx
Due: npx tsx src/locales/check.ts

fix: access control, voices options
  src/atoms/models.ts
  src/components/seal-form/config/components.ts
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/backends/config/index.ts
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/catalog.tsx
  src/pages/llmodels/components/access-control-modal/form.tsx
  src/pages/llmodels/components/access-control-modal/index.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/style/catalog-item.less
  src/pages/playground/components/dynamic-params.tsx
  src/pages/playground/components/ground-tts.tsx
  src/pages/playground/config/params-config.ts
  src/pages/playground/config/types.ts
  src/pages/resources/config/gpu-driver.ts
  src/pages/resources/config/index.ts
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

Update menu.ts
  src/locales/ru-RU/menu.ts
Due: npx tsx src/locales/check.ts

Update models.ts
  src/locales/ru-RU/models.ts
Due: npx tsx src/locales/check.ts

chore: generic_prox ux
  src/components/segment-line/index.tsx
  src/config/settings.ts
  src/locales/en-US/clusters.ts
  src/locales/en-US/models.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/cluster-management/components/add-worker-step.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/config/button-actions.ts
  src/pages/llmodels/config/index.ts
  src/pages/llmodels/forms/advance-config.tsx
  src/pages/llmodels/hooks/use-generic-proxy.tsx
  src/pages/playground/apis/index.ts
  src/pages/playground/components/view-common-code.tsx
  src/pages/playground/view-code/audio.ts
  src/pages/playground/view-code/embedding.ts
  src/pages/playground/view-code/image.ts
  src/pages/playground/view-code/llm.ts
  src/pages/playground/view-code/rerank.ts
Due: npx tsx src/locales/check.ts

fix: download file error
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/components/search-model.tsx
  src/pages/llmodels/config/button-actions.ts
  src/pages/llmodels/download/index.tsx
  src/pages/llmodels/forms/kv-cache.tsx
  src/pages/llmodels/forms/speculative-decode.tsx
  src/pages/llmodels/hooks/index.ts
  src/pages/llmodels/hooks/use-generic-proxy.tsx
  src/pages/playground/components/ground-left.tsx
  src/pages/playground/hooks/use-chat-completion.ts
  src/pages/playground/hooks/use-init-meta.ts
Due: npx tsx src/locales/check.ts

fix: playground formref is invalid
  src/atoms/clusters.ts
  src/components/icon-font/index.tsx
  src/components/segment-line/index.tsx
  src/pages/_components/terminal-tabs/footer.less
  src/pages/backends/components/add-modal.tsx
  src/pages/cluster-management/clusters.tsx
  src/pages/cluster-management/components/add-worker-step.tsx
  src/pages/cluster-management/components/cluster-item.tsx
  src/pages/cluster-management/components/cluster-steps.tsx
  src/pages/cluster-management/credentials.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/playground/components/ground-left.tsx
  src/pages/playground/hooks/use-chat-completion.ts
  src/pages/playground/hooks/use-init-meta.ts
  src/pages/playground/index.tsx
  src/pages/resources/components/workers.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

fix: do not evaluate from model files
  src/components/segment-line/index.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/forms/index.tsx
Due: none

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  npx tsx src/locales/check.ts: any of: src/locales/**/*.ts
