Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

.lintstagedrc:

{
  "*.{md,json}": ["prettier --cache --write"],
  "*.{js,jsx}": ["max lint --fix --eslint-only", "prettier --cache --write"],
  "*.{css,less}": [
    "max lint --fix --stylelint-only",
    "prettier --cache --write"
  ],
  "*.ts?(x)": [
    "max lint --fix --eslint-only",
    "prettier --cache --parser=typescript --write"
  ],
  "src/locales/**/*.ts": ["npx tsx src/locales/check.ts"]
}

fix: split line align for two yAxis chart
  src/components/echarts/chart.tsx
  src/pages/dashboard/components/usage-inner/use-usage-data.tsx
Due: none

fix(style): usage reponse size
  src/pages/dashboard/components/usage-inner/index.tsx
  src/pages/dashboard/components/usage-inner/use-usage-data.tsx
  src/pages/dashboard/components/usage.tsx
Due: none

style: multiple selection tag
  src/components/auto-tooltip/index.tsx
  src/components/logs-viewer/virtual-log-list.tsx
  src/components/seal-form/hooks/use-select-render.tsx
  src/components/seal-form/seal-cascader.tsx
  src/global.less
  src/pages/dashboard/components/usage-inner/use-usage-data.tsx
  src/pages/playground/components/message-input.tsx
  src/pages/playground/components/multiple-chat/model-item.tsx
  src/pages/resources/components/styles/installation.less
Due: prettier --cache --write, max lint --fix --stylelint-only

style: keep the logs pagination visible
  src/components/delete-modal/index.tsx
  src/components/logs-viewer/config.ts
  src/components/logs-viewer/logs-pagination.tsx
  src/components/logs-viewer/styles/index.less
  src/components/logs-viewer/styles/logs-list.less
  src/components/logs-viewer/styles/pagination.less
  src/components/logs-viewer/virtual-log-list.tsx
  src/hooks/use-table-fetch.ts
  src/locales/en-US/common.ts
  src/pages/api-keys/index.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/resources/components/model-files.tsx
  src/pages/resources/components/workers.tsx
  src/pages/users/index.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix(style): chart grid right margin
  src/components/alert-info/block.tsx
  src/components/echarts/config.ts
  src/hooks/use-table-fetch.ts
Due: none

fix(style): imgs overflow style on chat
  src/components/audio-player/simple-audio.tsx
  src/pages/dashboard/components/over-view.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/playground/components/message-input.tsx
  src/pages/playground/components/multiple-chat/message-body.tsx
Due: none

fix: pick backend_parameter, env, backend_version from spec in catalog
  src/components/echarts/line-chart.tsx
  src/components/echarts/mix-line-bar.tsx
  src/components/echarts/types.ts
  src/pages/dashboard/components/resource-utilization.tsx
  src/pages/llmodels/components/data-form.tsx
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/hf-model-file.tsx
  src/pages/llmodels/components/search-model.tsx
Due: none

fix(style): top users bar name too long
  src/components/echarts/h-bar.tsx
  src/global.less
  src/pages/dashboard/components/usage-inner/index.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

fix(style): top users bar name too long
  src/components/echarts/h-bar.tsx
  src/layouts/rightRender.tsx
Due: none

style: top users chart compact
  src/components/echarts/h-bar.tsx
  src/pages/dashboard/components/usage-inner/top-user.tsx
Due: none

fix: switch model clear backend_parameters, env, backend_version
  src/pages/llmodels/components/deploy-modal.tsx
Due: none

chore: update mindie parameters
  src/pages/llmodels/components/model-card.tsx
  src/pages/llmodels/config/mindie-config.ts
Due: none

perf: do not handle ansi sequence for parsing logs
  public/static/favicon.ico
  src/components/echarts/h-bar.tsx
  src/components/echarts/mix-line-bar.tsx
  src/components/logs-viewer/parse-worker.ts
  src/components/logs-viewer/virtual-log-list.tsx
  src/pages/dashboard/components/usage-inner/export-data.tsx
  src/pages/dashboard/components/usage-inner/index.tsx
  src/pages/dashboard/components/usage-inner/use-usage-data.tsx
Due: none

chore: update backend parameters and logs reading frequency
  src/components/logs-viewer/logs-list.tsx
  src/hooks/use-chunk-fetch.ts
  src/pages/llmodels/config/llama-config.ts
  src/pages/llmodels/config/mindie-config.ts
Due: none

fix: some fields value do not be updated from default spec
  src/hooks/use-chunk-fetch.ts
  src/pages/llmodels/components/deploy-builtin-modal.tsx
Due: none

feat: add simple select component
  src/components/seal-form/simple-select.tsx
  src/locales/en-US/common.ts
  src/locales/ja-JP/common.ts
  src/locales/ru-RU/common.ts
  src/locales/zh-CN/common.ts
  src/pages/dashboard/components/usage-inner/export-data.tsx
  src/pages/dashboard/components/usage-inner/filter-bar.tsx
  src/pages/dashboard/components/usage-inner/index.tsx
  src/pages/dashboard/components/usage-inner/request-token-inner.tsx
  src/pages/dashboard/components/usage-inner/use-usage-data.tsx
  src/pages/llmodels/components/catalog-list.tsx
  src/pages/llmodels/hooks/index.ts
Due: npx tsx src/locales/check.ts

fix: multiple select ux
  src/components/seal-form/simple-select.tsx
  src/pages/dashboard/components/usage-inner/filter-bar.tsx
Due: none

fix: image generating flickering, #1415
  src/components/seal-form/simple-select.tsx
  src/global.less
  src/pages/playground/components/ground-embedding.tsx
  src/pages/playground/components/ground-reranker.tsx
  src/pages/playground/components/image-edit.tsx
  src/pages/playground/config/samples.ts
Due: prettier --cache --write, max lint --fix --stylelint-only

fix: update form values when switching model、size, #2191
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/config/index.ts
Due: none

fix: do nothing when clicking the selected model or file
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/hf-model-file.tsx
  src/pages/llmodels/components/search-model.tsx
Due: none
