Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

.lintstagedrc:

{
  "*.{md,json}": ["prettier --cache --write"],
  "*.{js,jsx}": ["max lint --fix --eslint-only", "prettier --cache --write"],
  "*.{css,less}": [
    "max lint --fix --stylelint-only",
    "prettier --cache --write"
  ],
  "*.ts?(x)": [
    "max lint --fix --eslint-only",
    "prettier --cache --parser=typescript --write"
  ],
  "src/locales/**/*.ts": ["npx tsx src/locales/check.ts"]
}

fix: set llamabox to backend for local gguf file
  src/pages/llmodels/components/update-modal.tsx
  src/pages/llmodels/forms/local-path.tsx
Due: none

fix: handle api error
  src/pages/playground/components/ground-embedding.tsx
  src/pages/playground/components/ground-reranker.tsx
  src/pages/playground/components/ground-stt.tsx
  src/pages/playground/components/ground-tts.tsx
  src/pages/playground/config/index.ts
  src/pages/playground/hooks/use-chat-completion.ts
  src/pages/playground/hooks/use-text-image.ts
  src/pages/playground/style/reference-params.less
  src/utils/fetch-chunk-data.ts
Due: prettier --cache --write, max lint --fix --stylelint-only

fix: handle api error
  src/pages/playground/config/index.ts
Due: none

chore: dark config
  src/assets/styles/menu.less
  src/atoms/settings.ts
  src/components/card-wrapper/index.less
  src/components/echarts/bar-chart.tsx
  src/components/echarts/chart-tooltip.tsx
  src/components/echarts/chart.tsx
  src/components/echarts/config.ts
  src/components/echarts/gauge.tsx
  src/components/echarts/h-bar.tsx
  src/components/echarts/line-chart.tsx
  src/components/echarts/scatter.tsx
  src/components/echarts/types.ts
  src/components/footer/index.less
  src/components/seal-form/components/label-info.less
  src/components/seal-form/seal-slider.tsx
  src/components/seal-form/wrapper/index.tsx
  src/components/seal-form/wrapper/slider.ts
  src/components/seal-table/components/table-header.tsx
  src/components/seal-table/index.tsx
  src/components/seal-table/styles/index.less
  src/config/theme/dark.ts
  src/config/theme/index.ts
  src/config/theme/light.ts
  src/global.less
  src/hooks/use-overlay-scroller.ts
  src/hooks/use-user-settings.ts
  src/layouts/index.tsx
  src/layouts/rightRender.tsx
  src/pages/dashboard/components/over-view.less
  src/pages/dashboard/components/over-view.tsx
  src/pages/login/index.tsx
  src/pages/playground/components/ground-embedding.tsx
  src/pages/playground/style/input-list.less
  src/pages/playground/style/rerank.less
  src/pages/usage/components/over-view.less
Due: prettier --cache --write, max lint --fix --stylelint-only

Update models.ts
  src/locales/ru-RU/models.ts
Due: npx tsx src/locales/check.ts

Update resources.ts
  src/locales/ru-RU/resources.ts
Due: npx tsx src/locales/check.ts

fix: clear token usage when stoping chat
  src/pages/playground/hooks/use-chat-completion.ts
Due: none

fix: save mask on initial
  src/components/image-editor/index.tsx
Due: none

chore: avoid repeat rendering for clicking same image
  src/pages/playground/components/image-edit.tsx
Due: none

chore: update storage path holder text
  src/components/image-editor/hooks/use-zoom.ts
  src/locales/en-US/resources.ts
  src/locales/ja-JP/resources.ts
  src/locales/ru-RU/resources.ts
  src/locales/zh-CN/resources.ts
  src/pages/resources/components/model-files.tsx
Due: npx tsx src/locales/check.ts

chore: update faq link
  src/constants/external-links.ts
Due: none

fix: install command is incorrect after switching 310p
  src/pages/resources/components/container-install.tsx
Due: none

fix: update ja-JP
  src/locales/ja-JP/apikeys.ts
  src/locales/ja-JP/common.ts
  src/locales/ja-JP/dashboard.ts
  src/locales/ja-JP/models.ts
  src/locales/ja-JP/playground.ts
  src/locales/ja-JP/resources.ts
Due: npx tsx src/locales/check.ts

style: bold text
  src/assets/styles/common.less
  src/locales/en-US/resources.ts
  src/locales/ja-JP/resources.ts
  src/locales/ru-RU/resources.ts
  src/locales/zh-CN/resources.ts
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix: do not expand the instance list when request is pending
  src/components/drop-down-actions/index.tsx
  src/components/seal-table/components/table-row.tsx
  src/pages/llmodels/components/table-list.tsx
Due: none

style: parameter popover maxheight
  src/pages/llmodels/components/incompatiable-info.tsx
  src/pages/playground/components/multiple-chat/model-item.tsx
Due: none

chore: stop scrolling when wheeling in chat page
  src/components/image-editor/index.tsx
  src/components/image-editor/tools-bar.tsx
  src/hooks/use-overlay-scroller.ts
  src/pages/playground/hooks/use-chat-completion.ts
Due: none

fix: handle error as string when mismatch the field
  src/pages/playground/config/index.ts
Due: none

fix: check the error type and return as string
  src/pages/playground/config/index.ts
Due: none

chore: remove qwq in ollama options
  src/pages/llmodels/config/index.ts
Due: none

style: format large number for chart label
  src/components/echarts/config.ts
  src/pages/playground/components/multiple-chat/content-item.tsx
  src/pages/playground/config/index.ts
Due: none
