Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

.lintstagedrc:

{
  "*.{md,json}": ["prettier --cache --write"],
  "*.{js,jsx}": ["max lint --fix --eslint-only", "prettier --cache --write"],
  "*.{css,less}": [
    "max lint --fix --stylelint-only",
    "prettier --cache --write"
  ],
  "*.ts?(x)": [
    "max lint --fix --eslint-only",
    "prettier --cache --parser=typescript --write"
  ],
  "src/locales/**/*.ts": ["npx tsx src/locales/check.ts"]
}

chore: adjust the date range for usage
  src/components/logs-viewer/logs-pagination.tsx
  src/pages/dashboard/components/usage-inner/index.tsx
  src/pages/dashboard/components/usage-inner/use-usage-data.ts
Due: none

fix: accept image in edit page
  src/components/image-editor/index.tsx
  src/components/image-editor/tools-bar.tsx
  src/pages/dashboard/components/usage-inner/request-token-inner.tsx
  src/pages/dashboard/components/usage-inner/use-usage-data.ts
  src/pages/playground/components/image-edit.tsx
  src/pages/playground/config/index.ts
Due: none

chore: usage data
  src/locales/en-US/common.ts
  src/pages/dashboard/components/usage-inner/use-usage-data.ts
Due: npx tsx src/locales/check.ts

chore: display the error message of request header
  src/pages/playground/config/index.ts
Due: none

fix: dashboard usage display datas for last 30 days
  src/components/markdown-viewer/index.less
  src/pages/dashboard/components/usage-inner/use-usage-data.ts
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/hf-model-file.tsx
  src/pages/llmodels/components/search-model.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

chore: set mindie to backend in ascend
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/hf-model-file.tsx
  src/pages/llmodels/components/search-model.tsx
  src/pages/llmodels/hooks/index.ts
Due: none

fix: quant fp16 first in catalog
  src/pages/llmodels/components/deploy-builtin-modal.tsx
Due: none

fix: gpuoptions empty
  src/pages/llmodels/hooks/index.ts
Due: none

fix: gpus empty
  src/pages/llmodels/hooks/index.ts
Due: none

fix: audio model use voxbox only
  src/pages/llmodels/components/data-form.tsx
  src/pages/llmodels/components/hf-model-file.tsx
  src/pages/llmodels/components/search-model.tsx
  src/pages/llmodels/config/form-context.ts
  src/pages/llmodels/forms/local-path.tsx
  src/pages/llmodels/hooks/index.ts
Due: none

chore: do not change the backend in local_path
  src/pages/llmodels/forms/local-path.tsx
Due: none

chore: check default backend deploy from local path
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/resources/components/model-files.tsx
Due: none

fix: do not close loading when evaluating
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/hf-model-file.tsx
  src/pages/llmodels/components/search-model.tsx
Due: none

fix: model and file evaluate over close loading
  src/pages/llmodels/components/advance-config.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/hf-model-file.tsx
  src/pages/llmodels/components/search-model.tsx
Due: none

revert: remove evaluation loading
  src/components/simple-table/index.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/instance-item.tsx
Due: none

style: distribution info for vllm
  src/pages/llmodels/components/instance-item.tsx
Due: none

style: distribution info table word wrap
  src/components/simple-table/index.tsx
  src/components/simple-table/row.tsx
  src/pages/llmodels/components/instance-item.tsx
Due: none

style: ajust dark theme
  src/assets/styles/common.less
  src/atoms/settings.ts
  src/components/alert-info/block.less
  src/components/echarts/bar-chart.tsx
  src/components/echarts/config.ts
  src/components/echarts/h-bar.tsx
  src/components/icon-font/index.tsx
  src/components/progress-bar/index.tsx
  src/components/seal-form/wrapper/slider.ts
  src/components/status-tag/index.less
  src/config/index.ts
  src/config/theme/dark.ts
  src/global.less
  src/hooks/use-user-settings.ts
  src/layouts/index.tsx
  src/layouts/rightRender.tsx
  src/locales/en-US/common.ts
  src/locales/ja-JP/common.ts
  src/locales/ru-RU/common.ts
  src/locales/zh-CN/common.ts
  src/pages/dashboard/components/usage-inner/request-token-inner.tsx
  src/pages/llmodels/components/instance-item.tsx
  src/pages/llmodels/style/search-result.less
  src/pages/llmodels/style/separator.less
  src/pages/llmodels/style/title-wrapper.less
  src/pages/login/index.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

feat: add ThemeTag
  src/components/tags-wrapper/theme-tag.tsx
  src/pages/llmodels/components/catalog-item.tsx
  src/pages/llmodels/components/instance-item.tsx
  src/pages/llmodels/components/model-card.tsx
  src/pages/llmodels/components/model-file-item.tsx
  src/pages/llmodels/style/hf-model-file.less
  src/pages/login/components/styles.less
  src/pages/login/index.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

style: code viewer
  src/pages/profile/components/custom-ui.tsx
Due: none

chore: custom brand color
  src/atoms/settings.ts
  src/components/seal-form/wrapper/index.tsx
  src/config/theme/dark.ts
  src/config/theme/index.ts
  src/global.less
  src/hooks/use-tab-active.ts
  src/hooks/use-user-settings.ts
  src/layouts/index.tsx
  src/pages/profile/backup.tsx
  src/pages/profile/components/custom-ui.tsx
  src/pages/profile/components/modify-password.tsx
  src/pages/profile/index.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

chore: dark config
  src/assets/styles/menu.less
  src/atoms/settings.ts
  src/components/card-wrapper/index.less
  src/components/echarts/bar-chart.tsx
  src/components/echarts/chart-tooltip.tsx
  src/components/echarts/chart.tsx
  src/components/echarts/config.ts
  src/components/echarts/gauge.tsx
  src/components/echarts/h-bar.tsx
  src/components/echarts/line-chart.tsx
  src/components/echarts/scatter.tsx
  src/components/echarts/types.ts
  src/components/footer/index.less
  src/components/seal-form/components/label-info.less
  src/components/seal-form/seal-slider.tsx
  src/components/seal-form/wrapper/index.tsx
  src/components/seal-form/wrapper/slider.ts
  src/components/seal-table/components/table-header.tsx
  src/components/seal-table/index.tsx
  src/components/seal-table/styles/index.less
  src/config/theme/dark.ts
  src/config/theme/index.ts
  src/config/theme/light.ts
  src/global.less
  src/hooks/use-overlay-scroller.ts
  src/hooks/use-user-settings.ts
  src/layouts/index.tsx
  src/layouts/rightRender.tsx
  src/pages/dashboard/components/over-view.less
  src/pages/dashboard/components/over-view.tsx
  src/pages/login/index.tsx
  src/pages/playground/components/ground-embedding.tsx
  src/pages/playground/style/input-list.less
  src/pages/playground/style/rerank.less
  src/pages/usage/components/over-view.less
Due: prettier --cache --write, max lint --fix --stylelint-only

style: dark theme for scroller
  src/assets/images/noise_background_1f1f1f_style.svg
  src/atoms/settings.ts
  src/components/alert-info/block.less
  src/components/drop-down-buttons/index.tsx
  src/components/echarts/config.ts
  src/components/echarts/line-chart.tsx
  src/components/highlight-code/index.tsx
  src/components/highlight-code/styles/dark.less
  src/components/highlight-code/styles/index.less
  src/components/highlight-code/styles/light.less
  src/components/icon-font/index.tsx
  src/components/image-editor/tools-bar.tsx
  src/components/markdown-viewer/index.tsx
  src/components/seal-form/wrapper/index.tsx
  src/components/seal-table/index.tsx
  src/components/seal-table/styles/skeleton.less
  src/components/segment-line/index.tsx
  src/components/short-cuts/index.less
  src/components/simple-overlay/index.tsx
  src/components/status-tag/index.tsx
  src/config/theme/dark.ts
  src/global.less
  src/hooks/use-user-settings.ts
  src/layouts/index.tsx
  src/pages/llmodels/components/hf-model-file.tsx
  src/pages/llmodels/components/model-card.tsx
  src/pages/llmodels/components/search-result.tsx
  src/pages/llmodels/style/catalog-item.less
  src/pages/llmodels/style/column-wrapper.less
  src/pages/llmodels/style/data-form.less
  src/pages/llmodels/style/hf-model-file.less
  src/pages/llmodels/style/hf-model-item.less
  src/pages/llmodels/style/model-card.less
  src/pages/llmodels/style/search-result.less
  src/pages/playground/components/view-code-modal.tsx
  src/pages/playground/components/view-common-code.tsx
  src/pages/playground/style/message-input.less
  src/pages/resources/components/styles/installation.less
  src/pages/resources/components/update-labels.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only
