Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

chore: add create-crud-page and form-patterns skills, refresh CLAUDE.md
  .claude/skills/create-crud-page/SKILL.md
  .claude/skills/form-patterns/SKILL.md
  .gitignore
  CLAUDE.md
Due: prettier --cache --write

chore: dedupe agent instruction files into CLAUDE.md
  AGENT.md
  AGENTS.md
Due: prettier --cache --write

refactor(perferences): use center wrapper layout
  src/locales/en-US/common.ts
  src/locales/en-US/users.ts
  src/locales/ja-JP/common.ts
  src/locales/ja-JP/users.ts
  src/locales/ru-RU/common.ts
  src/locales/ru-RU/users.ts
  src/locales/tr-TR/common.ts
  src/locales/tr-TR/users.ts
  src/locales/zh-CN/common.ts
  src/locales/zh-CN/users.ts
  src/pages/profile/components/appearance.tsx
  src/pages/profile/components/modify-password-form.tsx
  src/pages/profile/components/public-key.tsx
  src/pages/profile/components/security.tsx
  src/pages/profile/components/settings-group.tsx
  src/pages/profile/components/settings-section.tsx
  src/pages/profile/components/theme-preview.tsx
  src/pages/profile/index-copy.tsx
  src/pages/profile/index.tsx
Due: npx tsx src/locales/check.ts

docs: consolidate component conventions into CLAUDE.md and skill
  .claude/skills/create-crud-page/SKILL.md
  CLAUDE.md
  DESIGN.md
Due: prettier --cache --write

docs: expand CLAUDE.md conventions (naming, types, config, core-ui)
  CLAUDE.md
Due: prettier --cache --write

fix(api-keys): let platform admin create a non-tenant-pinned API key
  src/pages/api-keys/components/add-apikey-modal/form.tsx
  src/pages/api-keys/config/types.ts
Due: none

fix(usage): label per-instance rows by shape, not an undefined title
  src/pages/usage/instances-tab/tables/use-instances-columns.tsx
Due: none

fix(usage): sum same-label buckets in the trend series
  src/pages/usage/utils/trend-series.ts
Due: none

feat(usage): render instance types by actual shape (CPU spec / GPU x cards)
  src/pages/usage/apis/resource.ts
  src/pages/usage/instances-tab/tables/use-instances-columns.tsx
  src/pages/usage/utils/format-instance-type.ts
Due: none

feat(dashboard): split top user token usage into prompt/completion
  src/pages/dashboard/config/index.ts
  src/pages/dashboard/hooks/use-top-token-usage-by-user.ts
Due: none

ci: trigger backend pack on UI merge
  .github/workflows/ci.yml
Due: none

fix(usage): carry full filter set in breakdown tables and fix double fetch
  src/pages/usage/config/types.ts
  src/pages/usage/hooks/use-usage-filters.ts
  src/pages/usage/summary-tab/index.tsx
  src/pages/usage/token-tab/components/breakdown-tabs.tsx
  src/pages/usage/token-tab/tables/apikeys-table.tsx
  src/pages/usage/token-tab/tables/models-table.tsx
  src/pages/usage/token-tab/tables/users-table.tsx
Due: none

chore: press enter key to submit while focus on password
  src/pages/users/components/add-modal.tsx
Due: none

fix(provider): table sorting does not work
  src/config/theme/dark.ts
  src/config/theme/light.ts
  src/pages/llmodels/components/model-item.tsx
  src/pages/maas-provider/hooks/use-provider-columns.tsx
  src/pages/maas-provider/index.tsx
  src/pages/users/hooks/use-users-columns.tsx
Due: none

feat(users): add authentication source dropdown to the user form
  src/locales/en-US/users.ts
  src/locales/ja-JP/users.ts
  src/locales/ru-RU/users.ts
  src/locales/tr-TR/users.ts
  src/locales/zh-CN/users.ts
  src/pages/users/components/add-modal.tsx
  src/pages/users/config/index.ts
  src/pages/users/config/types.ts
Due: npx tsx src/locales/check.ts

feat(login): surface SSO callback failures via error query param
  src/locales/en-US/common.ts
  src/locales/ja-JP/common.ts
  src/locales/ru-RU/common.ts
  src/locales/tr-TR/common.ts
  src/locales/zh-CN/common.ts
  src/pages/login/components/login-form.tsx
Due: npx tsx src/locales/check.ts

chore: bump @gpustack/core-ui to v1.0.33
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

feat(cluster-detail): add cluster switcher; consume core-ui header-slot
  src/pages/_components/page-box.tsx
  src/pages/cluster-management/cluster-detail.tsx
Due: none

fix(pageContainer): remove leftContent, rightContent, props
  src/pages/_components/page-box.tsx
Due: none

refactor(layout): adopt header-slot page container across pages
  src/layouts/index.tsx
  src/pages/_components/page-box.tsx
  src/pages/_components/styles/page-box.less
  src/pages/benchmark/details.tsx
  src/pages/cluster-management/cluster-detail.tsx
  src/pages/llmodels/index.tsx
  src/pages/playground/chat/index.tsx
  src/pages/playground/embedding/index.tsx
  src/pages/playground/images/index.tsx
  src/pages/playground/rerank/index.tsx
  src/pages/playground/speech/index.tsx
  src/pages/playground/video/index.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  npx tsx src/locales/check.ts: any of: src/locales/**/*.ts
