Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

.lintstagedrc:

{
  "*.{md,json}": ["prettier --cache --write"],
  "*.{js,jsx}": ["max lint --fix --eslint-only", "prettier --cache --write"],
  "*.{css,less}": [
    "max lint --fix --stylelint-only",
    "prettier --cache --write"
  ],
  "!public/vs/**": [],
  "*.ts?(x)": [
    "max lint --fix --eslint-only",
    "prettier --cache --parser=typescript --write"
  ],
  "src/locales/**/*.ts": ["npx tsx src/locales/check.ts"]
}

fix(style): cluster detail locale
  src/pages/cluster-management/components/detail/cluster-basic.tsx
  src/pages/cluster-management/components/detail/cluster-system-load.tsx
Due: none

fix: align instance type fields to api
  src/locales/en-US/common.ts
  src/locales/en-US/gpuservice.ts
  src/locales/ja-JP/common.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ru-RU/common.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/tr-TR/common.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/zh-CN/common.ts
  src/locales/zh-CN/gpuservice.ts
  src/pages/benchmark/components/summary/instance.tsx
  src/pages/gpu-service/instances/apis/index.ts
  src/pages/gpu-service/instances/components/add-modal.tsx
  src/pages/gpu-service/instances/components/instance-type-cell.tsx
  src/pages/gpu-service/instances/components/instance-type-item.tsx
  src/pages/gpu-service/instances/config/form-context.ts
  src/pages/gpu-service/instances/config/index.ts
  src/pages/gpu-service/instances/config/types.ts
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/instance-type.tsx
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
  src/pages/gpu-service/instances/index.tsx
  src/pages/gpu-service/instances/services/use-query-instance-types.ts
Due: npx tsx src/locales/check.ts

fix: cpu init value failed
  src/layouts/index.tsx
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/instance-type.tsx
Due: none

fix: usage locales
  config/routes.ts
  src/locales/en-US/usage.ts
  src/locales/ja-JP/usage.ts
  src/locales/ru-RU/usage.ts
  src/locales/tr-TR/usage.ts
  src/locales/zh-CN/usage.ts
  src/pages/gpu-service/instances/components/instance-type-cell.tsx
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/instance-type.tsx
  src/pages/usage/index.tsx
Due: npx tsx src/locales/check.ts

chore(i18n): usage locales
  src/locales/en-US/usage.ts
  src/locales/ja-JP/usage.ts
  src/locales/ru-RU/usage.ts
  src/locales/tr-TR/usage.ts
  src/locales/zh-CN/usage.ts
  src/pages/usage/components/gpu-instances-tab.tsx
  src/pages/usage/components/resource-events.tsx
  src/pages/usage/components/storage-tab.tsx
  src/pages/usage/components/summary-tab.tsx
Due: npx tsx src/locales/check.ts

fix: ignore request errors on setup
  src/app.tsx
  src/services/profile/apis.ts
Due: none

style: usage chart
  src/pages/_components/bar-chart/index.tsx
  src/pages/_components/pie-chart/index.tsx
  src/pages/usage/components/summary-tab.tsx
Due: none

fix: convert cpu unit to core
  src/pages/gpu-service/instances/services/use-query-instance-types.ts
  src/pages/gpu-service/utils.ts
Due: none

fix: locales, empty link in add worker
  src/locales/en-US/clusters.ts
  src/locales/en-US/menu.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ja-JP/menu.ts
  src/locales/ru-RU/clusters.ts
  src/locales/ru-RU/menu.ts
  src/locales/tr-TR/clusters.ts
  src/locales/tr-TR/menu.ts
  src/locales/zh-CN/clusters.ts
  src/locales/zh-CN/dashboard.ts
  src/locales/zh-CN/menu.ts
  src/pages/cluster-management/components/add-worker/select-vendor.tsx
Due: npx tsx src/locales/check.ts

chore(gaas): add a unknown phase
  src/pages/gpu-service/instances/config/index.ts
Due: none

feat(cluster): card-based cluster type selector for K8s
  src/locales/en-US/clusters.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ru-RU/clusters.ts
  src/locales/tr-TR/clusters.ts
  src/locales/zh-CN/clusters.ts
  src/pages/cluster-management/components/cluster-form.tsx
  src/pages/cluster-management/components/k8s-pod-spec.tsx
Due: npx tsx src/locales/check.ts

fix: playground model id alignment across org boundaries
  src/pages/llmodels/components/model-item.tsx
  src/pages/llmodels/user-models.tsx
  src/pages/model-routes/hooks/use-open-playground.ts
Due: none

fix: error message do not show in tts
  src/pages/playground/speech/hooks/use-non-stream-tts.ts
  src/pages/playground/speech/tts.tsx
Due: none

fix(style): bar chart legend gap
  src/pages/_components/bar-chart/index.tsx
  src/pages/usage/components/daily-usage.tsx
  src/pages/usage/components/summary-tab.tsx
Due: none

chore: show the backend info in instance view
  src/pages/llmodels/instance-view/use-instance-columns.tsx
Due: none

feat: add a billing holder page
  config/routes.ts
  src/layouts/index.tsx
  src/locales/en-US/billing.ts
  src/locales/en-US/menu.ts
  src/locales/ja-JP/billing.ts
  src/locales/ja-JP/menu.ts
  src/locales/ru-RU/billing.ts
  src/locales/ru-RU/menu.ts
  src/locales/tr-TR/billing.ts
  src/locales/tr-TR/menu.ts
  src/locales/zh-CN/billing.ts
  src/locales/zh-CN/menu.ts
  src/pages/billing/index.tsx
Due: npx tsx src/locales/check.ts

fix: update addworker command for dtk
  src/locales/en-US/clusters.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ru-RU/clusters.ts
  src/locales/tr-TR/clusters.ts
  src/locales/zh-CN/clusters.ts
  src/pages/cluster-management/components/add-worker-command.tsx
  src/pages/cluster-management/components/add-worker/add-worker-step.tsx
  src/pages/cluster-management/components/add-worker/config.ts
  src/pages/cluster-management/components/add-worker/docker-run-command.tsx
  src/pages/cluster-management/components/add-worker/specify-arguments.tsx
  src/pages/llmodels/instance-view/use-instance-columns.tsx
  src/pages/resources/config/gpu-driver.ts
Due: npx tsx src/locales/check.ts

chore(deps): update 1.0.23
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: update iconfont files
  src/components/iconfont/iconfont.css
  src/components/iconfont/iconfont.js
  src/components/iconfont/iconfont.json
  src/components/iconfont/iconfont.ttf
  src/components/iconfont/iconfont.woff
  src/components/iconfont/iconfont.woff2
  src/layouts/index.tsx
  src/pages/login/index.tsx
Due: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only

fix: view event in starting
  src/pages/gpu-service/instances/config/index.ts
Due: none

fix: show the default backend params configured in backend
  src/locales/en-US/backends.ts
  src/locales/ja-JP/backends.ts
  src/locales/ru-RU/backends.ts
  src/locales/tr-TR/backends.ts
  src/locales/zh-CN/backends.ts
  src/pages/backends/forms/basic.tsx
  src/pages/llmodels/components/deployment/deploy-builtin-modal.tsx
  src/pages/llmodels/components/deployment/deploy-modal.tsx
  src/pages/llmodels/hooks/index.ts
Due: npx tsx src/locales/check.ts

feat(usage): group-by on the GPU Instances & Storage trend charts
  src/pages/usage/apis/resource.ts
  src/pages/usage/components/gpu-instances-tab.tsx
  src/pages/usage/components/metric-chart-card.tsx
  src/pages/usage/components/storage-tab.tsx
  src/pages/usage/components/summary-tab.tsx
  src/pages/usage/utils/trend-series.ts
Due: none

fix(usage): keep the grouped-trend legend off the x-axis labels
  src/pages/usage/components/metric-chart-card.tsx
Due: none
