Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

.lintstagedrc:

{
  "*.{md,json}": ["prettier --cache --write"],
  "*.{js,jsx}": ["max lint --fix --eslint-only", "prettier --cache --write"],
  "*.{css,less}": [
    "max lint --fix --stylelint-only",
    "prettier --cache --write"
  ],
  "*.ts?(x)": [
    "max lint --fix --eslint-only",
    "prettier --cache --parser=typescript --write"
  ],
  "src/locales/**/*.ts": ["npx tsx src/locales/check.ts"]
}

fix: gpuindexs sort
  src/pages/llmodels/components/instance-item.tsx
Due: none

fix: add worker title
  src/pages/cluster-management/cluster-create.tsx
  src/pages/cluster-management/clusters.tsx
  src/pages/cluster-management/step-forms/use-step-list.tsx
  src/pages/resources/components/workers.tsx
Due: none

fix: add worker ux when only DO cluster
  src/components/collapse-container/index.tsx
  src/locales/en-US/clusters.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ru-RU/clusters.ts
  src/locales/zh-CN/clusters.ts
  src/pages/cluster-management/cluster-create.tsx
  src/pages/cluster-management/cluster-modal.tsx
  src/pages/cluster-management/components/add-cluster.tsx
  src/pages/cluster-management/components/add-worker/add-worker-step.tsx
  src/pages/cluster-management/components/add-worker/index.tsx
  src/pages/cluster-management/components/add-worker/select-cluster.tsx
  src/pages/cluster-management/hooks/use-add-worker.tsx
Due: npx tsx src/locales/check.ts

fix: cluster pending status
  src/pages/cluster-management/config/index.ts
Due: none

fix: add worker default selection is incorrect
  src/pages/cluster-management/hooks/use-add-worker.tsx
  src/pages/resources/components/workers.tsx
Due: none

feat: add cluster detail
  src/components/card-wrapper/index.less
  src/components/collapse-container/index.tsx
  src/components/page-tools/index.tsx
  src/config/theme/dark.ts
  src/config/theme/light.ts
  src/global.less
  src/locales/en-US/clusters.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ru-RU/clusters.ts
  src/locales/zh-CN/clusters.ts
  src/pages/_components/form-drawer.tsx
  src/pages/api-keys/index.tsx
  src/pages/backends/index.tsx
  src/pages/cluster-management/cluster-create.tsx
  src/pages/cluster-management/cluster-workers-modal.tsx
  src/pages/cluster-management/clusters.tsx
  src/pages/cluster-management/components/add-worker/index.tsx
  src/pages/cluster-management/components/pool-form.tsx
  src/pages/cluster-management/components/worker-pools.tsx
  src/pages/cluster-management/credentials.tsx
  src/pages/cluster-management/hooks/use-add-worker.tsx
  src/pages/cluster-management/hooks/use-cluster-columns.tsx
  src/pages/cluster-management/hooks/use-cluster-workers.ts
  src/pages/cluster-management/hooks/use-pools-columns.tsx
  src/pages/dashboard/components/over-view.tsx
  src/pages/llmodels/catalog.tsx
  src/pages/llmodels/components/hf-model-file.tsx
  src/pages/resources/components/gpus.tsx
  src/pages/resources/components/worker-detail-content.tsx
  src/pages/resources/components/workers.tsx
  src/pages/resources/hooks/use-worker-columns.tsx
  src/pages/users/index.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix: editor incompatibility with firefox79
  .eslintrc.js
  .github/workflows/ci.yml
  .lintstagedrc
  .nvmrc
  .prettierignore
  .stylelintrc.js
  config/config.ts
  config/plugins.ts
  config/routes.ts
  package.json
  pnpm-lock.yaml
  public/vs/base/browser/ui/codicons/codicon/codicon.ttf
  public/vs/base/worker/workerMain.js
  public/vs/basic-languages/yaml/yaml.js
  public/vs/editor/editor.main.css
  public/vs/editor/editor.main.js
  public/vs/editor/editor.main.nls.js
  public/vs/loader.js
  src/global.less
  src/layouts/sider-menu.tsx
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/_components/yaml-editor/editor.tsx
  src/pages/cluster-management/cluster-detail.tsx
  src/pages/cluster-management/cluster-workers-modal.tsx
  src/pages/cluster-management/clusters.tsx
  src/pages/cluster-management/hooks/use-cluster-columns.tsx
  src/pages/cluster-management/hooks/use-cluster-workers.ts
  src/pages/cluster-management/step-forms/advance-config.tsx
  src/pages/resources/components/workers.tsx
  typings.d.ts
Due: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

Update backends.ts
  src/locales/ru-RU/backends.ts
Due: npx tsx src/locales/check.ts

chore: remove editor static files
  public/vs/base/browser/ui/codicons/codicon/codicon.ttf
  public/vs/base/worker/workerMain.js
  public/vs/basic-languages/yaml/yaml.js
  public/vs/editor/editor.main.css
  public/vs/editor/editor.main.js
  public/vs/editor/editor.main.nls.js
  public/vs/loader.js
  src/pages/_components/yaml-editor/editor.tsx
Due: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only

feat: models filter by backend
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/hooks/use-filter-status.tsx
  src/pages/llmodels/index.tsx
Due: npx tsx src/locales/check.ts

feat: models list add not_stopped for filter data
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/config/index.ts
  src/pages/llmodels/hooks/use-filter-status.tsx
  src/pages/llmodels/user-models.tsx
Due: npx tsx src/locales/check.ts

fix: header bg color
  config/config.ts
  src/global.less
  src/layouts/index.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

fix: multiple chat model-item width #920
  src/pages/playground/components/multiple-chat/model-item.tsx
  src/pages/playground/style/model-item.less
Due: prettier --cache --write, max lint --fix --stylelint-only

feat: message input support arrow up/down for input history
  src/pages/playground/components/message-input.tsx
Due: none

chore: cluster system load service
  src/components/audio-player/index.less
  src/hooks/use-chunk-request.ts
  src/pages/cluster-management/apis/index.ts
  src/pages/cluster-management/cluster-detail.tsx
  src/pages/cluster-management/components/detail/cluster-system-load.tsx
  src/pages/cluster-management/hooks/use-cluster-columns.tsx
  src/pages/cluster-management/services/use-cluster-system-load.ts
Due: prettier --cache --write, max lint --fix --stylelint-only

fix: catalog size
  src/components/card-wrapper/index.less
  src/components/card-wrapper/index.tsx
  src/config/theme/dark.ts
  src/config/theme/light.ts
  src/pages/cluster-management/apis/index.ts
  src/pages/cluster-management/cluster-detail.tsx
  src/pages/cluster-management/components/detail/cluster-basic.tsx
  src/pages/cluster-management/components/detail/cluster-system-load.tsx
  src/pages/cluster-management/config/types.ts
  src/pages/cluster-management/hooks/use-cluster-columns.tsx
  src/pages/cluster-management/services/use-cluster-detail.ts
  src/pages/llmodels/components/catalog-item.tsx
  src/pages/llmodels/config/types.ts
Due: prettier --cache --write, max lint --fix --stylelint-only

chore: display allocated vram on instance
  src/pages/cluster-management/components/detail/cluster-basic.tsx
  src/pages/cluster-management/components/detail/cluster-system-load.tsx
  src/pages/cluster-management/services/use-cluster-detail.ts
  src/pages/llmodels/components/catalog-item.tsx
  src/pages/llmodels/components/instance-item.tsx
Due: none

chore: add models and gpus in cluster detail page
  src/atoms/clusters.ts
  src/pages/cluster-management/cluster-detail.tsx
  src/pages/cluster-management/clusters.tsx
  src/pages/cluster-management/components/detail/cluster-system-load.tsx
  src/pages/cluster-management/hooks/use-cluster-columns.tsx
  src/pages/cluster-management/services/use-cluster-detail.ts
  src/pages/llmodels/components/instance-item.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/index.tsx
  src/pages/resources/components/gpus.tsx
  src/pages/resources/hooks/use-worker-columns.tsx
Due: none

style: modal drawer blur
  src/global.less
  src/layouts/index.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

feat: playground video
  config/routes.ts
  src/components/icon-font/index.tsx
  src/layouts/index.tsx
  src/locales/en-US/menu.ts
  src/locales/en-US/playground.ts
  src/locales/ja-JP/menu.ts
  src/locales/ja-JP/playground.ts
  src/locales/ru-RU/menu.ts
  src/locales/ru-RU/playground.ts
  src/locales/zh-CN/menu.ts
  src/locales/zh-CN/playground.ts
  src/pages/llmodels/config/backend-parameters/vllm.ts
  src/pages/playground/apis/index.ts
  src/pages/playground/components/ground-video.tsx
  src/pages/playground/config/video-parameters.ts
  src/pages/playground/hooks/config.ts
  src/pages/playground/hooks/use-init-meta.ts
  src/pages/playground/hooks/use-init-video-meta.ts
  src/pages/playground/hooks/use-text-video.ts
  src/pages/playground/video.tsx
  src/pages/playground/view-code/video.ts
Due: npx tsx src/locales/check.ts

chore: hide cluster detail
  config/routes.ts
  src/pages/cluster-management/hooks/use-cluster-columns.tsx
Due: none

fix: gpuindex sort
  src/pages/llmodels/components/instance-item.tsx
Due: none

fix(style): remove dot symbol when no size
  src/pages/llmodels/components/catalog-item.tsx
Due: none
