Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix: update params after switching model
  src/pages/playground/chat/single-chat.tsx
Due: none

fix: request noop
  src/request.extensions.ts
Due: none

fix(style): table cell overflow
  src/hooks/use-table-fetch.ts
  src/pages/benchmark/hooks/use-benchmark-columns.tsx
  src/pages/cluster-management/hooks/use-credential-columns.tsx
  src/pages/dashboard/components/active-table.tsx
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
  src/pages/gpu-service/public-keys/hooks/use-public-key-columns.tsx
  src/pages/gpu-service/storage-types/hooks/use-storage-type-columns.tsx
  src/pages/gpu-service/storage/hooks/use-storage-columns.tsx
  src/pages/resources/hooks/use-gpu-columns.tsx
  src/pages/resources/hooks/use-worker-columns.tsx
  src/pages/users/hooks/use-users-columns.tsx
Due: none

fix: wrap fetch for injecting headers
  src/app.tsx
  src/pages/playground/apis/index.ts
  src/request.extensions.ts
  src/utils/fetch-chunk-data.ts
  src/utils/install-fetch.ts
Due: none

fix: refresh list after creating key
  src/pages/api-keys/components/add-apikey-modal/index.tsx
  src/pages/api-keys/index.tsx
Due: none

fix: api acccess info model name
  src/pages/model-routes/hooks/use-open-playground.ts
  src/pages/model-routes/hooks/use-routes-columns.tsx
  src/pages/model-routes/index.tsx
Due: none

chore: merge cluster menu to resource
  config/routes.ts
  src/layouts/index.tsx
  src/locales/en-US/menu.ts
  src/locales/ja-JP/menu.ts
  src/locales/ru-RU/menu.ts
  src/locales/tr-TR/menu.ts
  src/locales/zh-CN/menu.ts
  src/pages/cluster-management/clusters.tsx
  src/pages/cluster-management/components/cloud-provider-form.tsx
  src/pages/dashboard/hooks/use-add-resource.tsx
  src/pages/gpu-service/instances/index.tsx
  src/pages/llmodels/hooks/use-no-resource-result.tsx
Due: npx tsx src/locales/check.ts

fix: sshkey, storage selection displayName
  src/locales/en-US/gpuservice.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/zh-CN/gpuservice.ts
  src/pages/gpu-service/instances/forms/storage-volume.tsx
  src/pages/gpu-service/public-keys/services/use-query-sshkeys.ts
Due: npx tsx src/locales/check.ts

feat(usage): add the tabbed Usage page
  src/pages/usage/components/gpu-instances-tab.tsx
  src/pages/usage/components/metric-chart-card.tsx
  src/pages/usage/components/resource-events.tsx
  src/pages/usage/components/resource-export-data.tsx
  src/pages/usage/components/resource-filter-bar.tsx
  src/pages/usage/components/storage-tab.tsx
  src/pages/usage/components/summary-tab.tsx
  src/pages/usage/components/token-tab.tsx
  src/pages/usage/index.tsx
Due: none

feat(usage): add resource-usage API client, meta hook, and shared utils
  src/pages/usage/apis/resource.ts
  src/pages/usage/hooks/use-resource-meta.ts
  src/pages/usage/utils/export-breakdown.ts
  src/pages/usage/utils/time-buckets.ts
Due: none

fix(gpu-service): avoid stringifying unset cpu in the instance form
  src/pages/gpu-service/instances/forms/index.tsx
Due: none

style(usage): tune shared bar/pie charts for the usage views
  src/pages/_components/bar-chart/index.tsx
  src/pages/_components/pie-chart/index.tsx
Due: none

feat(usage): register the Usage route and menu group
  config/routes.ts
Due: none

feat(usage): add i18n strings for the Usage page
  src/locales/en-US/menu.ts
  src/locales/en-US/usage.ts
  src/locales/ja-JP/menu.ts
  src/locales/ja-JP/usage.ts
  src/locales/ru-RU/menu.ts
  src/locales/ru-RU/usage.ts
  src/locales/tr-TR/menu.ts
  src/locales/tr-TR/usage.ts
  src/locales/zh-CN/menu.ts
  src/locales/zh-CN/usage.ts
Due: npx tsx src/locales/check.ts

fix(usage): defensive optional-chaining on breakdown items + sku
  src/pages/usage/apis/resource.ts
  src/pages/usage/components/gpu-instances-tab.tsx
  src/pages/usage/components/storage-tab.tsx
Due: none

fix: vendor options display by locales
  src/locales/en-US/vendor.ts
  src/locales/ja-JP/vendor.ts
  src/locales/ru-RU/vendor.ts
  src/locales/tr-TR/vendor.ts
  src/pages/gpu-service/templates/components/template-card.tsx
  src/pages/gpu-service/templates/forms/basic.tsx
  src/pages/gpu-service/templates/index.tsx
  src/pages/resources/config/gpu-driver.ts
Due: npx tsx src/locales/check.ts

chore: add locales
  src/locales/en-US/gpuservice.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/zh-CN/gpuservice.ts
  src/pages/gpu-service/templates/forms/basic.tsx
Due: npx tsx src/locales/check.ts

chore: add locales
  src/pages/gpu-service/instances/forms/storage-volume.tsx
Due: none

chore: useMemo deps
  src/pages/gpu-service/public-keys/services/use-query-sshkeys.ts
  src/pages/gpu-service/templates/components/template-card.tsx
  src/pages/gpu-service/templates/forms/basic.tsx
Due: none

fix(style): sso button width
  src/layouts/sider-menu.tsx
  src/pages/gpu-service/instances/services/use-query-instance-types.ts
  src/pages/login/components/login-form.tsx
Due: none

style: instance type data format
  src/pages/gpu-service/instances/components/instance-type-item.tsx
  src/pages/gpu-service/instances/config/index.ts
Due: none

fix: remove k8s options section and merge into advance
  src/locales/en-US/clusters.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ru-RU/clusters.ts
  src/locales/tr-TR/clusters.ts
  src/locales/zh-CN/clusters.ts
  src/pages/cluster-management/components/cluster-form.tsx
  src/pages/cluster-management/components/k8s-pod-spec.tsx
  src/pages/cluster-management/components/k8s-volume-mount.tsx
  src/pages/cluster-management/step-forms/advance-config.tsx
Due: npx tsx src/locales/check.ts

fix: enhance cluster create form
  src/pages/cluster-management/components/cluster-form.tsx
  src/pages/cluster-management/components/k8s-pod-spec.tsx
Due: none

fix: update model files menu access
  config/routes.ts
Due: none

style: collapse style
  src/global.less
  src/layouts/index.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

style: login page size
  src/layouts/index.tsx
  src/pages/login/index.tsx
Due: none

feat(login): add plugin seam for default landing path
  src/pages/login/utils.ts
  src/plugins/types.ts
Due: none

style: menu collapse button
  src/global.less
  src/layouts/index.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  npx tsx src/locales/check.ts: any of: src/locales/**/*.ts
