Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix(style): remove dot symbol when no size
  src/pages/llmodels/components/catalog-item.tsx
Due: none

fix: do not fixed node version in package.json
  package.json
Due: prettier --cache --write

Add JSX as a global variable in ESLint config
  .eslintrc.js
Due: prettier --cache --write, max lint --fix --eslint-only

fix: re-create watch request after filtering
  src/hooks/use-table-fetch.ts
Due: none

fix: -custom error message on creating backend
  src/layouts/index.tsx
  src/pages/backends/components/import-yaml.tsx
Due: none

fix(style): model file list text overflow
  src/assets/styles/common.less
  src/assets/styles/table.less
  src/layouts/sider-menu.tsx
  src/pages/playground/components/ground-video.tsx
  src/pages/playground/config/video-parameters.ts
  src/pages/resources/components/gpus.tsx
  src/pages/resources/components/model-files.tsx
  src/pages/resources/components/workers.tsx
  src/pages/resources/hooks/use-files-columns.tsx
  src/pages/resources/hooks/use-gpu-columns.tsx
  src/pages/resources/hooks/use-worker-columns.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

chore: video test code
  config/routes.ts
  src/components/icon-font/index.tsx
  src/components/logs-viewer/styles/logs-list.less
  src/components/status-tag/index.less
  src/global.less
  src/locales/en-US/playground.ts
  src/locales/ja-JP/playground.ts
  src/locales/ru-RU/playground.ts
  src/locales/zh-CN/playground.ts
  src/pages/cluster-management/cluster-detail.tsx
  src/pages/llmodels/forms/advance-config.tsx
  src/pages/playground/components/ground-video.tsx
  src/pages/playground/config/params-config.ts
  src/pages/playground/config/video-parameters.ts
  src/pages/playground/hooks/use-init-meta.ts
  src/pages/playground/hooks/use-init-video-meta.ts
  src/pages/playground/hooks/use-text-video.ts
  src/pages/playground/video.tsx
  src/pages/playground/view-code/video.ts
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix: the max embedding value exceeds the limit.
  src/components/echarts/scatter.tsx
  src/global.less
  src/locales/en-US/playground.ts
  src/locales/ja-JP/playground.ts
  src/locales/ru-RU/playground.ts
  src/locales/zh-CN/playground.ts
  src/pages/playground/components/ground-embedding.tsx
  src/pages/playground/config/embedding-worker.worker.ts
  src/pages/playground/config/video-parameters.ts
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

style: playground right side
  .eslintrc.js
  .prettierignore
  .stylelintrc.js
  src/assets/styles/common.less
  src/pages/playground/embedding.tsx
  src/pages/playground/images.tsx
  src/pages/playground/index.tsx
  src/pages/playground/rerank.tsx
  src/pages/playground/speech.tsx
  src/pages/playground/style/ground-llm.less
  src/pages/playground/video.tsx
  tsconfig.json
Due: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only

chore: scrollable tabs
  src/pages/_components/scroll-spy-tabs/index.tsx
  src/pages/_components/scroll-spy-tabs/use-field-scroll.ts
  src/pages/llmodels/forms/index.tsx
Due: none

fix: form submit on video
  src/pages/playground/apis/index.ts
  src/pages/playground/hooks/use-text-video.ts
Due: none

fix: update worker by fetchData
  src/hooks/use-table-fetch.ts
  src/pages/resources/components/workers.tsx
Due: none

feat: get initial password command
  src/pages/login/apis/index.ts
  src/pages/login/components/local-user-form.tsx
  src/pages/login/components/login-form.tsx
  src/pages/login/hooks/use-sso-auth.ts
Due: none

fix: hint input width
  src/components/list-input/hint-input.tsx
Due: none

fix: too many requests after query change
  config/routes.ts
  src/hooks/use-table-fetch.ts
Due: none

fix: worker list update by watch
  src/config/theme/dark.ts
  src/hooks/use-table-fetch.ts
Due: none

fix: worker list update by watch
  src/hooks/use-table-fetch.ts
Due: none

fix: minimatch error
  src/pages/llmodels/download/target-form.tsx
  src/pages/resources/hooks/use-files-columns.tsx
Due: none

style: textarea max rows
  src/components/label-selector/wrapper.tsx
  src/components/seal-form/seal-textarea.tsx
  src/components/seal-form/wrapper/input.ts
  src/pages/backends/forms/basic.tsx
  src/pages/llmodels/forms/custom-backend.tsx
Due: none

fix(style): autocomplete width out of range
  src/components/seal-form/wrapper/select.ts
Due: none

feat: add t-head
  src/assets/logo/thead.png
  src/components/icon-font/index.tsx
  src/locales/en-US/clusters.ts
  src/locales/en-US/vendor.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ja-JP/vendor.ts
  src/locales/ru-RU/clusters.ts
  src/locales/ru-RU/vendor.ts
  src/locales/zh-CN/clusters.ts
  src/locales/zh-CN/vendor.ts
  src/pages/cluster-management/components/check-env-command.tsx
  src/pages/cluster-management/components/support-gpus.tsx
  src/pages/resources/config/gpu-driver.ts
Due: npx tsx src/locales/check.ts

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  npx tsx src/locales/check.ts: any of: src/locales/**/*.ts
