Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

chore: display available clusters
  src/atoms/models.ts
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/components/data-form.tsx
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/search-model.tsx
  src/pages/llmodels/components/update-modal.tsx
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/hooks/index.ts
  src/pages/llmodels/hooks/use-form-initial-values.ts
Due: npx tsx src/locales/check.ts

fix: os image dropdown list
  src/components/icon-font/icons.ts
  src/components/seal-form/auto-complete.tsx
  src/pages/cluster-management/cluster-create.tsx
  src/pages/cluster-management/components/pool-form.tsx
  src/pages/cluster-management/components/provider-catalog.tsx
  src/pages/cluster-management/components/support-gpus.tsx
  src/pages/cluster-management/config/index.ts
Due: none

refactor: deploy model
  src/components/icon-font/index.tsx
  src/pages/llmodels/components/advance-config.tsx
  src/pages/llmodels/components/data-form.tsx
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/instance-item.tsx
  src/pages/llmodels/components/performance.tsx
  src/pages/llmodels/components/scaling.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/components/update-modal.tsx
  src/pages/llmodels/config/backend-parameters/index.ts
  src/pages/llmodels/config/backend-parameters/llama-parameters.ts
  src/pages/llmodels/config/backend-parameters/mindie-parameters.ts
  src/pages/llmodels/config/backend-parameters/vllm-parameters.ts
  src/pages/llmodels/config/index.ts
  src/pages/llmodels/forms/local-path.tsx
  src/pages/llmodels/hooks/index.ts
  src/pages/llmodels/hooks/use-form-initial-values.ts
  src/pages/resources/components/model-files.tsx
Due: none

feat: add baseSelect
  src/components/page-tools/index.tsx
  src/components/seal-form/base/select.tsx
  src/components/seal-form/seal-select.tsx
  src/components/seal-form/simple-select.tsx
  src/pages/llmodels/catalog.tsx
  src/pages/llmodels/components/hf-model-file.tsx
  src/pages/llmodels/components/search-model.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/user-models.tsx
  src/pages/playground/components/multiple-chat/model-item.tsx
  src/pages/profile/components/appearance.tsx
  src/pages/usage/components/dahboard-inner.tsx
Due: none

fix: edit gpu_selector failed
  src/config/theme/light.ts
  src/pages/llmodels/components/data-form.tsx
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/performance.tsx
  src/pages/llmodels/components/search-model.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/components/update-modal.tsx
  src/pages/llmodels/config/form-context.ts
  src/pages/llmodels/config/index.ts
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/config/utils.ts
  src/pages/llmodels/forms/catalog.tsx
  src/pages/llmodels/forms/hugging-face.tsx
  src/pages/llmodels/forms/local-path.tsx
  src/pages/llmodels/hooks/index.ts
  src/pages/llmodels/hooks/use-form-initial-values.ts
Due: none

fix: register cluster modal
  src/pages/cluster-management/clusters.tsx
  src/pages/cluster-management/components/add-worker-step.tsx
  src/pages/cluster-management/components/register-cluster.tsx
Due: none

fix(style): my models card
  src/components/templates/card-list.tsx
  src/components/templates/card.tsx
  src/config/global.d.ts
  src/pages/cluster-management/cluster-create.tsx
  src/pages/cluster-management/components/footer-buttons.tsx
  src/pages/llmodels/user-models.tsx
Due: none

fix: cluster value setting, volumes setting
  src/components/collapse-container/index.tsx
  src/components/dynamic-form/components/form-widget.tsx
  src/components/dynamic-form/components/list-map.tsx
  src/components/dynamic-form/config/types.ts
  src/components/dynamic-form/hooks/use-validate-fields.ts
  src/components/seal-form/base/select.tsx
  src/components/seal-form/input-number.tsx
  src/components/seal-form/seal-input.tsx
  src/components/seal-form/seal-select.tsx
  src/locales/en-US/clusters.ts
  src/locales/en-US/menu.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ja-JP/menu.ts
  src/locales/ru-RU/clusters.ts
  src/locales/ru-RU/menu.ts
  src/locales/zh-CN/clusters.ts
  src/locales/zh-CN/menu.ts
  src/pages/cluster-management/components/add-worker-step.tsx
  src/pages/cluster-management/components/check-env-command.tsx
  src/pages/cluster-management/components/cluster-item.tsx
  src/pages/cluster-management/components/pool-form.tsx
  src/pages/cluster-management/components/volumes-config.tsx
  src/pages/cluster-management/config/cloud-options-config.ts
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/hooks/use-form-initial-values.ts
  src/pages/resources/components/model-files.tsx
  src/pages/resources/config/index.ts
Due: npx tsx src/locales/check.ts

fix(style): select gpu vendor
  src/pages/cluster-management/components/add-worker-step.tsx
Due: none

chore: update k8s check env command
  src/pages/cluster-management/components/add-worker-step.tsx
  src/pages/resources/config/index.ts
Due: none

chore: update cloud providers
  src/pages/cluster-management/config/providers.ts
Due: none

chore: worker resource info adjust
  src/pages/cluster-management/config/providers.ts
  src/pages/resources/hooks/use-worker-columns.tsx
Due: none

chore: update worker, cluster status value
  src/pages/cluster-management/config/index.ts
  src/pages/cluster-management/config/types.ts
  src/pages/cluster-management/hooks/use-pools-columns.tsx
  src/pages/resources/config/index.ts
  src/pages/resources/hooks/use-worker-columns.tsx
Due: none

UI: RU language Update clusters.ts
  src/locales/ru-RU/clusters.ts
Due: npx tsx src/locales/check.ts

UI: Update Russian language menu.ts
  src/locales/ru-RU/menu.ts
Due: npx tsx src/locales/check.ts

UI: Update Ru common.ts
  src/locales/ru-RU/common.ts
Due: npx tsx src/locales/check.ts

UI: Update ru models.ts
  src/locales/ru-RU/models.ts
Due: npx tsx src/locales/check.ts

UI: Update ru playground.ts
  src/locales/ru-RU/playground.ts
Due: npx tsx src/locales/check.ts

feat: dynamic backends
  src/atoms/models.ts
  src/components/seal-form/seal-textarea.tsx
  src/components/seal-form/wrapper/index.tsx
  src/components/seal-form/wrapper/input.ts
  src/components/seal-form/wrapper/select.ts
  src/pages/llmodels/apis/evaluateWorker.ts
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/components/advance-config.tsx
  src/pages/llmodels/components/data-form.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/components/update-modal.tsx
  src/pages/llmodels/config/form-context.ts
  src/pages/llmodels/config/index.ts
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/forms/backend-fields.tsx
  src/pages/llmodels/hooks/index.ts
  src/pages/llmodels/hooks/use-query-backends.ts
  src/pages/resources/components/model-files.tsx
Due: none

feat: worker terminal
  src/components/x-terminal/index.tsx
  src/pages/_components/terminal-tabs/footer.less
  src/pages/_components/terminal-tabs/index.tsx
  src/pages/_components/terminal-tabs/tabs.tsx
  src/pages/_components/terminal-tabs/types.ts
  src/pages/resources/components/workers.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

feat: add awq,gptq filter
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/search-model.tsx
Due: none

chore: deploy form context provider
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/components/advance-config.tsx
  src/pages/llmodels/components/data-form.tsx
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/hf-model-item.tsx
  src/pages/llmodels/components/performance.tsx
  src/pages/llmodels/components/search-model.tsx
  src/pages/llmodels/config/audio-catalog.ts
  src/pages/llmodels/config/form-context.ts
  src/pages/llmodels/config/utils.ts
  src/pages/llmodels/forms/local-path.tsx
  src/pages/llmodels/hooks/index.ts
  src/pages/llmodels/hooks/use-check-backend.ts
  src/pages/llmodels/hooks/use-recognize-audio.ts
  src/pages/llmodels/hooks/use-selector-change.ts
  src/pages/resources/components/model-files.tsx
Due: none

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  npx tsx src/locales/check.ts: any of: src/locales/**/*.ts
