Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

first push 0.7
  src/locales/en-US/common.ts
  src/locales/en-US/users.ts
  src/locales/ja-JP/common.ts
  src/locales/ja-JP/users.ts
  src/locales/ru-RU/common.ts
  src/locales/ru-RU/users.ts
  src/locales/zh-CN/common.ts
  src/locales/zh-CN/users.ts
  src/pages/login/components/login-form.tsx
Due: npx tsx src/locales/check.ts

fix: adjust precision for big size
  src/utils/index.ts
Due: none

fix: the theme align with the system
  src/atoms/settings.ts
  src/hooks/use-user-settings.ts
Due: none

fix: do not evaluate when local path is null
  src/pages/llmodels/hooks/index.ts
Due: none

Update menu.ts
  src/locales/ru-RU/menu.ts
Due: npx tsx src/locales/check.ts

Update models.ts
  src/locales/ru-RU/models.ts
Due: npx tsx src/locales/check.ts

Update dashboard.ts
  src/locales/ru-RU/dashboard.ts
Due: npx tsx src/locales/check.ts

add sso login logic
  pnpm-lock.yaml
  src/locales/en-US/common.ts
  src/locales/zh-CN/common.ts
  src/pages/login/components/login-form.tsx
  src/pages/users/index.tsx
Due: npx tsx src/locales/check.ts

style: keep text wrap for evalution result
  src/pages/llmodels/components/incompatiable-info.tsx
Due: none

chore: display downloading progress in model instance log
  src/components/logs-viewer/parse-worker.ts
  src/components/logs-viewer/virtual-log-list.tsx
  src/pages/llmodels/components/view-logs-modal.tsx
Due: none

perf: toggle theme too much render in catalog
  src/components/dark-mask/index.tsx
  src/hooks/use-user-settings.ts
Due: none

feat: Change get_config to auth_config to make it more specific
  src/pages/login/components/login-form.tsx
Due: none

fix: markdown viewer white-space: pre-line
  src/components/markdown-viewer/index.less
Due: prettier --cache --write, max lint --fix --stylelint-only

refactor: login form based on sso auth
  pnpm-lock.yaml
  src/assets/images/oidc.svg
  src/assets/images/saml.svg
  src/components/alert-info/block.less
  src/components/alert-info/block.tsx
  src/components/status-icon/error.tsx
  src/locales/en-US/common.ts
  src/locales/ja-JP/common.ts
  src/locales/ru-RU/common.ts
  src/locales/zh-CN/common.ts
  src/pages/login/components/login-form.tsx
  src/pages/login/hooks/use-local-auth.ts
  src/pages/login/hooks/use-sso-auth.ts
  src/pages/login/index.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

style: login form style
  src/assets/images/password.svg
  src/locales/en-US/common.ts
  src/locales/ja-JP/common.ts
  src/locales/ru-RU/common.ts
  src/locales/zh-CN/common.ts
  src/pages/login/components/local-user-form.tsx
  src/pages/login/components/login-form.tsx
  src/pages/login/hooks/use-local-auth.ts
  src/pages/login/hooks/use-sso-auth.ts
  src/pages/profile/index.tsx
Due: npx tsx src/locales/check.ts

fix: external redirect issue
  src/pages/login/components/login-form.tsx
  src/pages/login/hooks/use-sso-auth.ts
  src/pages/login/index.tsx
Due: none

fix: markdown view \n do not work
  package.json
  pnpm-lock.yaml
  src/components/logs-viewer/virtual-log-list.tsx
  src/components/markdown-viewer/full-markdown.tsx
  src/components/markdown-viewer/index.less
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/components/view-logs-modal.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

fix: miss global user info
  src/config/global.d.ts
  src/pages/profile/index.tsx
Due: none

fix: filter non-normal gguf files
  src/components/lang-select/index.tsx
  src/components/theme-toggle/theme-drop-actions.tsx
  src/global.less
  src/locales/en-US/common.ts
  src/locales/ja-JP/common.ts
  src/locales/ru-RU/common.ts
  src/locales/zh-CN/common.ts
  src/pages/llmodels/components/hf-model-file.tsx
  src/pages/login/components/login-form.tsx
  src/pages/login/components/password-form.tsx
  src/pages/login/hooks/use-sso-auth.ts
  src/pages/login/index.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  npx tsx src/locales/check.ts: any of: src/locales/**/*.ts
