Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

.lintstagedrc:

{
  "*.{md,json}": ["prettier --cache --write"],
  "*.{js,jsx}": ["max lint --fix --eslint-only", "prettier --cache --write"],
  "*.{css,less}": [
    "max lint --fix --stylelint-only",
    "prettier --cache --write"
  ],
  "!public/vs/**": [],
  "*.ts?(x)": [
    "max lint --fix --eslint-only",
    "prettier --cache --parser=typescript --write"
  ],
  "src/locales/**/*.ts": ["npx tsx src/locales/check.ts"]
}

chore: update ui 1.0.13
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix: SelectPanel props
  src/pages/api-keys/components/add-apikey-modal/allow-models.tsx
Due: none

fix: guard systemConfigAtom reads against null
  src/pages/llmodels/hooks/use-models-columns.tsx
  src/pages/resources/hooks/use-grafana-link.tsx
  src/pages/resources/hooks/use-worker-columns.tsx
Due: none

fix: hygon, thead runtime
  src/pages/resources/config/gpu-driver.ts
Due: none

fix: select panel no default value
  src/pages/api-keys/components/add-apikey-modal/allow-models.tsx
  src/pages/api-keys/components/add-apikey-modal/index.tsx
Due: none

fix: filter user option in usage
  src/pages/login/components/local-user-form.tsx
  src/pages/usage/components/daily-usage.tsx
Due: none

fix: login page miss icon
  src/pages/login/index.tsx
Due: none

fix: instance events namespace
  src/layouts/index.tsx
  src/pages/gpu-service/instances/services/use-query-instance-events.ts
Due: none

fix(style): chart style
  src/pages/_components/bar-chart/index.tsx
  src/pages/dashboard/components/new-usage.tsx
  src/pages/dashboard/components/usage-charts/top-token-usage-by-api-key.tsx
  src/pages/dashboard/components/usage-charts/top-token-usage-by-user.tsx
  src/pages/dashboard/config/index.ts
  src/pages/dashboard/hooks/use-top-token-usage-by-api-key.ts
  src/pages/dashboard/hooks/use-top-token-usage-by-user.ts
  src/pages/usage/hooks/use-apikeys-columns.tsx
  src/pages/usage/hooks/use-models-columns.tsx
  src/pages/usage/hooks/use-users-columns.tsx
Due: none

refactor(usage): switch breakdown dimension from model to route
  src/pages/usage/apis/index.ts
  src/pages/usage/components/breakdown-tabs.tsx
  src/pages/usage/components/daily-usage.tsx
  src/pages/usage/components/export-data.tsx
  src/pages/usage/components/filter-bar.tsx
  src/pages/usage/config/index.ts
  src/pages/usage/config/types.ts
  src/pages/usage/hooks/use-export-table.tsx
  src/pages/usage/hooks/use-models-columns.tsx
  src/pages/usage/hooks/use-usage-filters.ts
  src/pages/usage/index.tsx
  src/pages/usage/services/use-query-breakdown-list.ts
  src/pages/usage/services/use-query-meta-data.ts
  src/pages/usage/tables/models-table.tsx
  src/pages/usage/utils/get-breakdown-row-key.ts
Due: none

fix: gguf input box is hidden when deploying from model files
  src/pages/benchmark/index.tsx
  src/pages/llmodels/components/deployment/deploy-modal.tsx
  src/pages/llmodels/components/download/index.tsx
  src/pages/llmodels/forms/backend.tsx
Due: none

fix: require ref audio for Base task in TTS playground
  src/pages/playground/speech/forms/tts-advance.tsx
Due: none

chore: update ui 1.0.14
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

refactor(dashboard): switch usage charts to route group_by, rename Models card
  src/locales/en-US/dashboard.ts
  src/locales/ja-JP/dashboard.ts
  src/locales/ru-RU/dashboard.ts
  src/locales/tr-TR/dashboard.ts
  src/locales/zh-CN/dashboard.ts
  src/pages/dashboard/components/active-table.tsx
  src/pages/dashboard/components/new-usage.tsx
  src/pages/dashboard/components/usage-charts/api-requests-by-model.tsx
  src/pages/dashboard/components/usage-charts/token-usage-by-model.tsx
  src/pages/dashboard/config/index.ts
Due: npx tsx src/locales/check.ts

refactor(dashboard): collapse usage section into a single row
  src/locales/en-US/dashboard.ts
  src/locales/ja-JP/dashboard.ts
  src/locales/ru-RU/dashboard.ts
  src/locales/tr-TR/dashboard.ts
  src/locales/zh-CN/dashboard.ts
  src/pages/dashboard/components/new-usage.tsx
  src/pages/dashboard/components/usage-charts/api-requests-by-model.tsx
  src/pages/dashboard/components/usage-charts/token-usage-by-model.tsx
  src/pages/dashboard/components/usage-charts/top-token-usage-by-api-key.tsx
  src/pages/dashboard/components/usage-charts/usage-by-model.tsx
  src/pages/dashboard/hooks/use-top-token-usage-by-api-key.ts
Due: npx tsx src/locales/check.ts

feat: association dounut effect
  src/locales/en-US/dashboard.ts
  src/locales/ja-JP/dashboard.ts
  src/locales/ru-RU/dashboard.ts
  src/locales/tr-TR/dashboard.ts
  src/locales/zh-CN/dashboard.ts
  src/pages/dashboard/components/new-usage.tsx
  src/pages/dashboard/components/usage-charts/usage-by-model.tsx
Due: npx tsx src/locales/check.ts

refactor: adapt org-namespace lookup to principal name rename
  src/atoms/user.ts
  src/pages/cluster-management/config/types.ts
  src/pages/gpu-service/instances/index.tsx
  src/pages/gpu-service/instances/services/use-create-instance.ts
  src/pages/gpu-service/instances/services/use-update-instance.ts
  src/pages/gpu-service/storage/index.tsx
  src/pages/gpu-service/storage/services/use-create-storage.ts
  src/pages/gpu-service/storage/services/use-query-storage.ts
  src/pages/gpu-service/storage/services/use-update-storage.ts
Due: none

fix: sider menu style
  src/config/theme/light.ts
  src/layouts/index.tsx
  src/layouts/sider-menu.tsx
Due: none

fix(style): use --app-banner-height in scroller container
  src/global.less
  src/layouts/index.tsx
  src/pages/_components/styles/page-box.less
  src/pages/benchmark/filters/index.tsx
  src/pages/cluster-management/cluster-create.tsx
  src/pages/llmodels/filters/index.tsx
  src/pages/playground/components/multiple-chat/index.tsx
  src/pages/playground/speech/stt.tsx
  src/pages/playground/style/ground-llm.less
  src/pages/playground/style/params-container.module.less
  src/pages/playground/style/play-ground.less
Due: prettier --cache --write, max lint --fix --stylelint-only

fix: colorPrimary cache cleared
  src/atoms/utils/index.ts
Due: none
