Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix: gpu service issues
  src/locales/en-US/common.ts
  src/locales/en-US/gpuservice.ts
  src/locales/ja-JP/common.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ru-RU/common.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/tr-TR/common.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/zh-CN/gpuservice.ts
  src/pages/_components/number-selection/index.tsx
  src/pages/_components/number-selection/styles.less
  src/pages/gpu-service/instances/components/instance-type-item.tsx
  src/pages/gpu-service/instances/forms/basic.tsx
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/instance-type.tsx
  src/pages/gpu-service/instances/forms/storage-volume.tsx
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
  src/pages/gpu-service/instances/styles/table.module.less
  src/pages/gpu-service/templates/forms/ports.tsx
  src/pages/gpu-service/templates/styles/template.less
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

feat: add parameter format and common parameters to backend configuration
  src/locales/en-US/backends.ts
  src/locales/ja-JP/backends.ts
  src/locales/ru-RU/backends.ts
  src/locales/tr-TR/backends.ts
  src/locales/zh-CN/backends.ts
  src/pages/backends/components/add-modal.tsx
  src/pages/backends/config/index.ts
  src/pages/backends/config/schema/create.json
  src/pages/backends/config/schema/update-builtin.json
  src/pages/backends/config/schema/update-custom.json
  src/pages/backends/config/types.ts
  src/pages/backends/forms/basic.tsx
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/forms/backend-parameters-list.tsx
  src/pages/llmodels/hooks/use-query-backends.ts
Due: prettier --cache --write, npx tsx src/locales/check.ts

feat: extend cluster k8s_options with multi-vendor manifest support
  src/locales/en-US/clusters.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ru-RU/clusters.ts
  src/locales/tr-TR/clusters.ts
  src/locales/zh-CN/clusters.ts
  src/pages/cluster-management/components/add-worker/add-worker-step.tsx
  src/pages/cluster-management/components/add-worker/check-environment.tsx
  src/pages/cluster-management/components/add-worker/config.ts
  src/pages/cluster-management/components/add-worker/k8s-run-command.tsx
  src/pages/cluster-management/components/add-worker/select-vendor.tsx
  src/pages/cluster-management/components/check-env-command.tsx
  src/pages/cluster-management/components/cluster-form.tsx
  src/pages/cluster-management/components/cluster-steps.tsx
  src/pages/cluster-management/components/k8s-pod-spec.tsx
  src/pages/cluster-management/components/k8s-volume-mount.tsx
  src/pages/cluster-management/components/provider-catalog.tsx
  src/pages/cluster-management/components/register-cluster-inner.tsx
  src/pages/cluster-management/components/support-gpus.tsx
  src/pages/cluster-management/config/index.ts
  src/pages/cluster-management/config/types.ts
  src/pages/cluster-management/step-forms/advance-config.tsx
Due: npx tsx src/locales/check.ts

fix: ux issues
  config/routes.ts
  src/locales/en-US/gpuservice.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/zh-CN/gpuservice.ts
  src/pages/gpu-service/instances/components/add-modal.tsx
  src/pages/gpu-service/instances/components/instance-type-list.tsx
  src/pages/gpu-service/instances/components/view-events-modal.tsx
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/instance-type.tsx
  src/pages/gpu-service/instances/forms/storage-overlay.tsx
  src/pages/gpu-service/instances/forms/storage-volume.tsx
  src/pages/gpu-service/instances/forms/template-selector.tsx
  src/pages/gpu-service/instances/hooks/use-view-events.ts
  src/pages/gpu-service/instances/index.tsx
  src/pages/gpu-service/storage-types/forms/basic.tsx
  src/pages/gpu-service/storage-types/forms/nfs.tsx
  src/pages/gpu-service/storage-types/forms/s3.tsx
  src/pages/gpu-service/storage-types/hooks/use-storage-type-columns.tsx
  src/pages/gpu-service/storage/components/add-modal.tsx
  src/pages/gpu-service/storage/config/form-context.ts
  src/pages/gpu-service/storage/forms/basic.tsx
  src/pages/gpu-service/storage/forms/index.tsx
  src/pages/gpu-service/storage/hooks/use-storage-columns.tsx
  src/pages/gpu-service/storage/index.tsx
  src/pages/gpu-service/templates/forms/ports.tsx
Due: npx tsx src/locales/check.ts

fix: pvc events api
  config/routes.ts
  src/pages/_components/number-selection/index.tsx
  src/pages/gpu-service/instances/components/instance-type-item.tsx
  src/pages/gpu-service/instances/components/view-events-modal.tsx
  src/pages/gpu-service/instances/config/index.ts
  src/pages/gpu-service/instances/forms/storage-volume.tsx
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
  src/pages/gpu-service/instances/hooks/use-view-events.ts
  src/pages/gpu-service/instances/index.tsx
  src/pages/gpu-service/public-keys/forms/basic.tsx
  src/pages/gpu-service/public-keys/hooks/use-public-key-columns.tsx
  src/pages/gpu-service/storage-types/hooks/use-storage-type-columns.tsx
  src/pages/gpu-service/storage/hooks/use-storage-columns.tsx
Due: none

fix: select a useable instance type for initial
  src/pages/gpu-service/instances/components/add-modal.tsx
  src/pages/gpu-service/instances/components/instance-type-list.tsx
  src/pages/gpu-service/instances/config/types.ts
Due: none

fix: default instance type, storageMode
  src/assets/logo/jupyter_logo.png
  src/assets/logo/ubuntu.png
  src/assets/logo/ubuntu_logo.png
  src/locales/en-US/gpuservice.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/zh-CN/gpuservice.ts
  src/pages/_components/number-selection/index.tsx
  src/pages/gpu-service/instances/components/add-modal.tsx
  src/pages/gpu-service/instances/components/instance-type-list.tsx
  src/pages/gpu-service/instances/config/types.ts
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/instance-type.tsx
  src/pages/gpu-service/instances/forms/storage-volume.tsx
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
  src/pages/gpu-service/instances/index.tsx
  src/pages/gpu-service/instances/services/use-query-instance-types.ts
  src/pages/gpu-service/public-keys/index.tsx
  src/pages/gpu-service/storage/index.tsx
  src/pages/gpu-service/templates/components/template-card.tsx
Due: npx tsx src/locales/check.ts

fix: show cluster in table
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
  src/pages/gpu-service/instances/index.tsx
Due: none

style: subdrawer width
  src/atoms/gpuservice.ts
  src/pages/gpu-service/instances/config/index.ts
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/instance-type.tsx
  src/pages/gpu-service/instances/forms/public-key-overlay.tsx
  src/pages/gpu-service/instances/forms/storage-volume.tsx
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
  src/pages/gpu-service/instances/hooks/use-overlay-layout.ts
  src/pages/gpu-service/public-keys/hooks/use-public-key-columns.tsx
Due: none

fix: pick candidate for CPU instance type
  src/pages/gpu-service/instances/config/index.ts
Due: none

fix: instance type missing when using CPU type
  src/pages/gpu-service/instances/components/add-modal.tsx
  src/pages/gpu-service/instances/config/index.ts
Due: none

fix: show max gpu
  src/locales/en-US/gpuservice.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/tr-TR/gpuservice.ts
  src/pages/gpu-service/instances/components/instance-type-item.tsx
  src/pages/gpu-service/instances/config/types.ts
  src/pages/gpu-service/instances/services/use-query-instance-types.ts
Due: npx tsx src/locales/check.ts

fix: instance type width
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
Due: none

fix: source owner_principal_id from current organization
  src/atoms/gpuservice.ts
  src/atoms/user.ts
  src/pages/_components/owner-principal-id-field.tsx
Due: none

fix: collapse GPU Service menu in Personal Org; add K8s-direct CTA
  src/app.tsx
  src/atoms/clusters.ts
  src/locales/en-US/no-result.ts
  src/locales/ja-JP/no-result.ts
  src/locales/ru-RU/no-result.ts
  src/locales/tr-TR/no-result.ts
  src/locales/zh-CN/no-result.ts
  src/pages/cluster-management/cluster-create.tsx
  src/pages/cluster-management/cluster-modal.tsx
  src/pages/cluster-management/clusters.tsx
  src/pages/gpu-service/instances/index.tsx
Due: npx tsx src/locales/check.ts

feat: gate GPU Service on Kubernetes cluster availability
  config/routes.ts
  src/access.extensions.ts
  src/access.ts
  src/app.tsx
  src/config/global.d.ts
  src/locales/en-US/no-result.ts
  src/locales/ja-JP/no-result.ts
  src/locales/ru-RU/no-result.ts
  src/locales/tr-TR/no-result.ts
  src/locales/zh-CN/no-result.ts
  src/pages/gpu-service/instances/index.tsx
Due: npx tsx src/locales/check.ts

fix(model-routes): use overridden model name for provider targets
  src/pages/maas-provider/hooks/use-register-route.ts
  src/pages/model-routes/components/route-targets.tsx
  src/pages/model-routes/config/types.ts
  src/pages/model-routes/forms/index.tsx
  src/pages/model-routes/hooks/use-target-source-models.tsx
Due: none

fix: get back lora_module_name
  src/pages/model-routes/config/types.ts
  src/pages/model-routes/forms/index.tsx
Due: none

fix: lora tag
  src/pages/model-routes/components/route-targets.tsx
  src/pages/model-routes/config/types.ts
  src/pages/model-routes/forms/index.tsx
  src/pages/model-routes/hooks/use-target-source-models.tsx
Due: none

fix(cluster-create): hide ProviderCatalog when entering via providerHint
  src/pages/cluster-management/cluster-create.tsx
Due: none

fix: always show max label
  src/pages/gpu-service/instances/components/instance-type-item.tsx
Due: none

chore: update locales
  src/locales/en-US/gpuservice.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/zh-CN/gpuservice.ts
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
Due: npx tsx src/locales/check.ts

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  npx tsx src/locales/check.ts: any of: src/locales/**/*.ts
