Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix: normaliza embedding data
  src/pages/playground/components/ground-embedding.tsx
  src/pages/playground/config/embedding-worker.worker.ts
Due: none

fix: image editor fit view incorrect, do not query gguf files when gguf unchecked
  src/components/card-wrapper/simple-card.tsx
  src/components/echarts/config.ts
  src/components/echarts/mix-line-bar.tsx
  src/components/image-editor/index.tsx
  src/hooks/use-request-token.ts
  src/pages/dashboard/components/usage-inner/index.tsx
  src/pages/dashboard/components/usage-inner/request-token-inner.tsx
  src/pages/dashboard/components/usage-inner/top-user.tsx
  src/pages/dashboard/components/usage-inner/use-usage-data.ts
  src/pages/dashboard/config/index.ts
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/hf-model-file.tsx
  src/pages/llmodels/components/model-file-item.tsx
  src/pages/playground/components/ground-stt.tsx
Due: none

fix: ui conflicts in update of multiple evalute result
  src/components/alert-info/block.tsx
  src/components/markdown-viewer/index.less
  src/components/overlay-scroller/index.tsx
  src/pages/llmodels/components/advance-config.tsx
  src/pages/llmodels/components/column-wrapper.tsx
  src/pages/llmodels/components/compatible-alert.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/config/index.ts
  src/pages/llmodels/config/llama-config.ts
  src/pages/llmodels/style/hf-model-item.less
Due: prettier --cache --write, max lint --fix --stylelint-only

fix: user settings locales
  src/locales/en-US/users.ts
  src/locales/ja-JP/users.ts
  src/locales/ru-RU/users.ts
  src/locales/zh-CN/users.ts
  src/pages/profile/index.tsx
Due: npx tsx src/locales/check.ts

style: usage chart style
  src/components/card-wrapper/simple-card.tsx
  src/pages/dashboard/components/usage-inner/index.tsx
  src/pages/dashboard/components/usage-inner/request-token-inner.tsx
  src/pages/dashboard/components/usage-inner/top-user.tsx
Due: none

style: simple audio player
  src/components/audio-player/audio-element.tsx
  src/components/audio-player/simple-audio.tsx
  src/components/icon-font/index.tsx
  src/config/theme/dark.ts
  src/config/theme/light.ts
  src/pages/dashboard/apis/index.ts
  src/pages/playground/components/message-input.tsx
  src/pages/playground/components/multiple-chat/message-body.tsx
Due: none

feat: usage export data
  src/components/card-wrapper/simple-card.tsx
  src/components/echarts/chart.tsx
  src/components/echarts/config.ts
  src/components/echarts/mix-line-bar.tsx
  src/components/echarts/types.ts
  src/pages/dashboard/apis/index.ts
  src/pages/dashboard/components/usage-inner/export-data.tsx
  src/pages/dashboard/components/usage-inner/index.tsx
  src/pages/dashboard/components/usage-inner/request-token-inner.tsx
  src/pages/dashboard/components/usage-inner/top-user.tsx
  src/pages/dashboard/components/usage-inner/use-usage-data.ts
  src/pages/dashboard/config/index.ts
  src/utils/index.ts
Due: none

chore: remove ollama model source
  src/pages/llmodels/components/search-model.tsx
  src/pages/llmodels/config/button-actions.ts
Due: none

Revert "fix: normaliza embedding data"
  src/pages/playground/components/ground-embedding.tsx
  src/pages/playground/config/embedding-worker.worker.ts
Due: none

chore: export table title
  src/config/theme/light.ts
  src/locales/en-US/dashboard.ts
  src/locales/ja-JP/dashboard.ts
  src/locales/ru-RU/dashboard.ts
  src/locales/zh-CN/dashboard.ts
  src/pages/dashboard/components/usage-inner/export-data.tsx
  src/pages/dashboard/components/usage-inner/index.tsx
  src/pages/usage/components/dahboard-inner.tsx
Due: npx tsx src/locales/check.ts

fix: do not undo when is inverting
  src/components/image-editor/index.tsx
Due: none

feat: add pagination for searching models
  .env
  src/components/echarts/mix-line-bar.tsx
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/hf-model-file.tsx
  src/pages/llmodels/components/search-model.tsx
  src/pages/llmodels/hooks/index.ts
Due: none

fix: evaluate status add lock state
  config/proxy.ts
  package.json
  pnpm-lock.yaml
  src/components/echarts/mix-line-bar.tsx
  src/pages/llmodels/components/search-model.tsx
  src/pages/llmodels/hooks/index.ts
Due: prettier --cache --write

fix: update gpus state by polling
  src/hooks/use-table-fetch.ts
  src/pages/resources/components/gpus.tsx
Due: none

fix: usage chart y axis ticks, add esc hint for drawer
  src/components/echarts/chart.tsx
  src/components/scroller-modal/gs-drawer.tsx
  src/config/hotkeys.ts
  src/config/theme/dark.ts
  src/global.less
  src/hooks/use-esc-hint.tsx
  src/locales/en-US/common.ts
  src/locales/ja-JP/common.ts
  src/locales/ru-RU/common.ts
  src/locales/zh-CN/common.ts
  src/pages/dashboard/components/active-table.tsx
  src/pages/dashboard/components/usage-inner/index.tsx
  src/pages/dashboard/components/usage-inner/top-user.tsx
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/model-card.tsx
  src/pages/llmodels/components/search-model.tsx
  src/pages/llmodels/components/search-result.tsx
  src/pages/llmodels/download/index.tsx
  src/pages/llmodels/hooks/index.ts
  src/pages/llmodels/style/model-card.less
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix(style): esc hint flickering
  src/hooks/use-esc-hint.tsx
Due: none

Update common.ts
  src/locales/ru-RU/common.ts
Due: npx tsx src/locales/check.ts

Update dashboard.ts
  src/locales/ru-RU/dashboard.ts
Due: npx tsx src/locales/check.ts

Update users.ts
  src/locales/ru-RU/users.ts
Due: npx tsx src/locales/check.ts

fix: debounce for page change in search models
  src/pages/llmodels/components/data-form.tsx
  src/pages/llmodels/components/model-card.tsx
  src/pages/llmodels/components/search-model.tsx
  src/pages/llmodels/config/form-context.ts
  src/pages/llmodels/forms/local-path.tsx
  src/pages/playground/components/message-input.tsx
Due: none

style: usage download button
  src/pages/dashboard/components/usage-inner/index.tsx
  src/pages/dashboard/components/usage-inner/request-token-inner.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/hf-model-file.tsx
  src/pages/llmodels/hooks/index.ts
Due: none

chore: date ranger picker presets
  src/pages/dashboard/components/usage-inner/export-data.tsx
  src/pages/dashboard/components/usage-inner/index.tsx
  src/pages/dashboard/components/usage-inner/request-token-inner.tsx
  src/pages/dashboard/config/index.ts
  src/pages/dashboard/hooks/use-rangepicker-preset.ts
Due: none

fix: sync and update the evaluation result
  src/components/audio-player/simple-audio.tsx
  src/pages/dashboard/components/usage-inner/request-token-inner.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/file-skeleton.tsx
  src/pages/llmodels/components/hf-model-file.tsx
  src/pages/llmodels/components/model-card.tsx
  src/pages/llmodels/components/search-model.tsx
  src/pages/llmodels/hooks/index.ts
  src/pages/playground/components/message-input.tsx
  src/pages/playground/components/multiple-chat/message-body.tsx
  src/pages/playground/config/types.ts
Due: none

fix: embedding params escape
  src/components/markdown-viewer/utils.ts
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/model-card.tsx
  src/pages/llmodels/components/search-model.tsx
  src/pages/playground/components/message-input.tsx
  src/pages/playground/components/multiple-chat/message-body.tsx
  src/pages/playground/config/types.ts
  src/pages/playground/view-code/utils.ts
Due: none

fix(style): simple audio player
  src/components/audio-player/simple-audio.tsx
  src/components/icon-font/index.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/playground/components/message-input.tsx
  src/pages/playground/components/multiple-chat/message-body.tsx
Due: none

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  npx tsx src/locales/check.ts: any of: src/locales/**/*.ts
