Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix: read the renamed default_metrics off cache providers
  src/pages/kv-cache/config/types.ts
  src/pages/kv-cache/forms/index.tsx
Due: none

fix(clusters): stop wiping default k8s volume mounts
  src/pages/cluster-management/components/cluster-form.tsx
  src/pages/cluster-management/components/k8s-pod-spec.tsx
  src/pages/cluster-management/components/k8s-volume-mount.tsx
Due: none

feat(clusters): let a self-hosted cluster override the server URL
  src/locales/en-US/clusters.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ru-RU/clusters.ts
  src/locales/tr-TR/clusters.ts
  src/locales/zh-CN/clusters.ts
  src/pages/cluster-management/components/add-cluster.tsx
  src/pages/cluster-management/components/cloud-provider-form.tsx
  src/pages/cluster-management/components/cluster-form.tsx
  src/pages/cluster-management/components/k8s-pod-spec.tsx
  src/pages/cluster-management/components/server-url-field.tsx
  src/pages/cluster-management/config/index.ts
  src/pages/cluster-management/config/types.ts
Due: npx tsx src/locales/check.ts

fix: filter the storage picker by the label it shows
  src/pages/gpu-service/instances/forms/storage-volume.tsx
Due: none

fix(i18n): translate the instance type name filter placeholder
  src/locales/ja-JP/gpuservice.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/tr-TR/gpuservice.ts
Due: npx tsx src/locales/check.ts

fix(models): filter the three searchable selects by the label they show
  src/pages/llmodels/forms/backend.tsx
  src/pages/llmodels/forms/vgpu-type.tsx
Due: none

feat: management console link and benchmark cache-service row
  src/locales/en-US/benchmark.ts
  src/locales/en-US/kv-cache.ts
  src/locales/ja-JP/benchmark.ts
  src/locales/ja-JP/kv-cache.ts
  src/locales/ru-RU/benchmark.ts
  src/locales/ru-RU/kv-cache.ts
  src/locales/tr-TR/benchmark.ts
  src/locales/tr-TR/kv-cache.ts
  src/locales/zh-CN/benchmark.ts
  src/locales/zh-CN/kv-cache.ts
  src/pages/benchmark/components/summary/instance.tsx
  src/pages/benchmark/config/detail-types.ts
  src/pages/benchmark/hooks/use-column-settings.tsx
  src/pages/kv-cache/components/service-overview.tsx
  src/pages/kv-cache/config/index.ts
  src/pages/kv-cache/config/types.ts
  src/pages/kv-cache/forms/index.tsx
  src/pages/kv-cache/hooks/use-service-columns.tsx
Due: npx tsx src/locales/check.ts

fix(i18n): translate remaining English strings in tr-TR
  src/locales/tr-TR/apikeys.ts
  src/locales/tr-TR/backends.ts
  src/locales/tr-TR/benchmark.ts
  src/locales/tr-TR/billing.ts
  src/locales/tr-TR/clusters.ts
  src/locales/tr-TR/common.ts
  src/locales/tr-TR/dashboard.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/tr-TR/kv-cache.ts
  src/locales/tr-TR/menu.ts
  src/locales/tr-TR/models.ts
  src/locales/tr-TR/no-result.ts
  src/locales/tr-TR/organizations.ts
  src/locales/tr-TR/playground.ts
  src/locales/tr-TR/resources.ts
  src/locales/tr-TR/usage.ts
Due: npx tsx src/locales/check.ts

refactor(slot-form): improve alert display and restructure modal footer
  src/pages/_components/source-config/slot-form.tsx
Due: none

feat(clusters): link the credential form to where the secret is created
  src/locales/en-US/clusters.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ru-RU/clusters.ts
  src/locales/tr-TR/clusters.ts
  src/locales/zh-CN/clusters.ts
  src/pages/cluster-management/components/add-credential.tsx
  src/pages/cluster-management/config/cloud-providers.ts
Due: npx tsx src/locales/check.ts

chore(iconfonts): update iconfonts
  config/routes.ts
  src/components/iconfont/iconfont.css
  src/components/iconfont/iconfont.js
  src/components/iconfont/iconfont.json
  src/components/iconfont/iconfont.ttf
  src/components/iconfont/iconfont.woff
  src/components/iconfont/iconfont.woff2
Due: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only

feat(models): download an instance's logs from every worker
  src/locales/en-US/common.ts
  src/locales/en-US/models.ts
  src/locales/ja-JP/common.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/common.ts
  src/locales/ru-RU/models.ts
  src/locales/tr-TR/common.ts
  src/locales/tr-TR/models.ts
  src/locales/zh-CN/common.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/components/instance-cells/actions-cell.tsx
  src/pages/llmodels/hooks/use-download-instance-logs.tsx
  src/utils/download-stream.ts
Due: npx tsx src/locales/check.ts

feat(playground): add reasoning_effort param to chat settings
  src/pages/playground/chat/params-config.ts
  src/pages/playground/hooks/config.ts
  src/pages/playground/hooks/use-init-llm.ts
  src/pages/resources/components/workers.tsx
Due: none

feat(clusters): mount /opt/rocm/lib for AMD workers and note why
  src/locales/en-US/clusters.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ru-RU/clusters.ts
  src/locales/tr-TR/clusters.ts
  src/locales/zh-CN/clusters.ts
  src/pages/resources/config/gpu-driver.ts
Due: npx tsx src/locales/check.ts

feat(kv-cache): ask for an image when the provider declares no version
  src/locales/en-US/kv-cache.ts
  src/locales/ja-JP/kv-cache.ts
  src/locales/ru-RU/kv-cache.ts
  src/locales/tr-TR/kv-cache.ts
  src/locales/zh-CN/kv-cache.ts
  src/pages/kv-cache/components/provider-catalog.tsx
  src/pages/kv-cache/config/index.ts
  src/pages/kv-cache/config/types.ts
  src/pages/kv-cache/forms/index.tsx
Due: npx tsx src/locales/check.ts

style: adjust card style in drawer
  src/hooks/use-table-fetch.ts
  src/pages/cluster-management/components/provider-catalog.tsx
  src/pages/kv-cache/components/add-service-modal.tsx
  src/pages/kv-cache/components/provider-catalog.tsx
  src/pages/kv-cache/style/provider-catalog.less
  src/pages/resources/hooks/use-gpu-columns.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

feat(kv-cache): resolve localized text from the provider catalog
  src/pages/kv-cache/components/provider-catalog.tsx
  src/pages/kv-cache/components/service-overview.tsx
  src/pages/kv-cache/config/types.ts
  src/pages/kv-cache/detail.tsx
  src/pages/kv-cache/forms/index.tsx
  src/pages/kv-cache/hooks/use-cache-providers.ts
  src/pages/kv-cache/hooks/use-service-columns.tsx
  src/utils/localize.ts
Due: none

style(models): rework the instance name tooltip into a label/value card
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/tr-TR/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/components/instance-cells/distribute-info-cell.tsx
  src/pages/llmodels/components/instance-cells/name-cell.tsx
Due: npx tsx src/locales/check.ts

feat(gpuservice): show which instances hold a storage volume
  src/locales/en-US/gpuservice.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/zh-CN/gpuservice.ts
  src/pages/gpu-service/storage/config/types.ts
  src/pages/gpu-service/storage/hooks/use-storage-columns.tsx
Due: npx tsx src/locales/check.ts

feat(usage): show what a GPU instance's usage is made of
  src/locales/en-US/usage.ts
  src/locales/ja-JP/usage.ts
  src/locales/ru-RU/usage.ts
  src/locales/tr-TR/usage.ts
  src/locales/zh-CN/usage.ts
  src/pages/_components/pie-chart/index.tsx
  src/pages/usage/apis/resource.ts
  src/pages/usage/instances-tab/index.tsx
  src/pages/usage/instances-tab/tables/instances-breakdown-table.tsx
  src/pages/usage/instances-tab/tables/use-instances-columns.tsx
  src/pages/usage/summary-tab/index.tsx
  src/pages/usage/utils/export-preview-values.tsx
  src/pages/usage/utils/format-instance-type.ts
Due: npx tsx src/locales/check.ts

fix(gpuservice): derive the partition ratio from the profile's reported memory
  src/pages/gpu-service/instances/config/index.ts
  src/pages/gpu-service/instances/config/types.ts
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/utils/instance-description.ts
  src/pages/gpu-service/instances/utils/render-instance-type.tsx
  src/pages/gpu-service/utils.ts
Due: none

fix(playground): max_tokens setting incorrect
  src/pages/kv-cache/index.tsx
  src/pages/kv-cache/style/provider-catalog.less
  src/pages/playground/chat/params-config.ts
  src/pages/playground/chat/single-chat.tsx
  src/pages/playground/components/multiple-chat/model-item.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

style(benchmark): adjust the component style
  src/pages/benchmark/components/distribution-chart.tsx
  src/pages/benchmark/components/summary/best-points.tsx
  src/pages/benchmark/components/summary/config-summary.tsx
  src/pages/benchmark/components/summary/load-sweep.tsx
  src/pages/benchmark/components/summary/overview.tsx
  src/pages/benchmark/components/summary/ui.tsx
  src/pages/benchmark/components/summary/validity-alert.tsx
  src/pages/benchmark/forms/dataset.tsx
  src/pages/benchmark/forms/random-settings.tsx
  src/pages/benchmark/hooks/use-column-settings.tsx
Due: none

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  npx tsx src/locales/check.ts: any of: src/locales/**/*.ts
