Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix: add ShareGPT profile
  src/locales/en-US/benchmark.ts
  src/locales/ja-JP/benchmark.ts
  src/locales/ru-RU/benchmark.ts
  src/locales/zh-CN/benchmark.ts
  src/pages/benchmark/components/left-actions.tsx
  src/pages/benchmark/config/index.ts
Due: npx tsx src/locales/check.ts

fix: a non-running instance is selected in creating benchmark
  src/pages/benchmark/forms/model-instance.tsx
Due: none

chore: sharegpt description
  src/locales/en-US/benchmark.ts
  src/locales/ja-JP/benchmark.ts
  src/locales/ru-RU/benchmark.ts
  src/locales/zh-CN/benchmark.ts
Due: npx tsx src/locales/check.ts

fix(i18n): add missing ShareGPT profile and fix untranslated model tips in tr-TR
  src/locales/tr-TR/benchmark.ts
  src/locales/tr-TR/models.ts
Due: npx tsx src/locales/check.ts

fix(style): dashboard usage filters
  src/pages/dashboard/components/usage-inner/filter-bar.tsx
  src/pages/dashboard/components/usage-inner/index.tsx
  src/pages/dashboard/styles/filter-bar.less
Due: prettier --cache --write, max lint --fix --stylelint-only

refactor: embedding messages format
  src/components/seal-form/row-textarea.tsx
  src/pages/playground/apis/index.ts
  src/pages/playground/components/input-list.tsx
  src/pages/playground/config/embedding-worker.worker.ts
  src/pages/playground/config/index.ts
  src/pages/playground/embedding/page.tsx
  src/pages/playground/hooks/use-embedding-worker.ts
Due: none

fix: row-textarea upload img
  src/components/seal-form/row-textarea.tsx
  src/components/seal-form/styles/row-textarea.less
  src/pages/playground/apis/index.ts
  src/pages/playground/embedding/page.tsx
  src/pages/playground/hooks/use-add-image.tsx
  src/pages/playground/rerank/page.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

fix: normalize parameter string by removing line-continuation backslashes
  src/utils/index.ts
Due: none

feat: add instance view
  config/routes.ts
  src/components/icon-font/index.tsx
  src/components/logs-viewer/virtual-log-list.tsx
  src/config/settings.ts
  src/hooks/use-table-fetch.ts
  src/locales/en-US/menu.ts
  src/locales/en-US/models.ts
  src/locales/en-US/no-result.ts
  src/locales/ja-JP/menu.ts
  src/locales/ja-JP/models.ts
  src/locales/ja-JP/no-result.ts
  src/locales/ru-RU/menu.ts
  src/locales/ru-RU/models.ts
  src/locales/ru-RU/no-result.ts
  src/locales/zh-CN/menu.ts
  src/locales/zh-CN/models.ts
  src/locales/zh-CN/no-result.ts
  src/pages/cluster-management/cluster-detail.tsx
  src/pages/llmodels/components/left-filters.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/components/view-logs-modal.tsx
  src/pages/llmodels/config/deploments-context.ts
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/deployments.tsx
  src/pages/llmodels/hooks/use-filter-status.tsx
  src/pages/llmodels/hooks/use-view-instance-logs.ts
  src/pages/llmodels/index.tsx
  src/pages/llmodels/instance-view/cells/actions-cell.tsx
  src/pages/llmodels/instance-view/index.tsx
  src/pages/llmodels/instance-view/left-filters.tsx
  src/pages/llmodels/instance-view/use-instance-columns.tsx
Due: npx tsx src/locales/check.ts

feat: add instance view
  config/routes.ts
  src/layouts/index.tsx
  src/pages/llmodels/deployments.tsx
  src/pages/llmodels/instance-view/index.tsx
  src/pages/playground/style/content-item.less
Due: prettier --cache --write, max lint --fix --stylelint-only

refactor: model instance item
  src/config/global.d.ts
  src/hooks/use-actions.ts
  src/pages/llmodels/components/download/index.tsx
  src/pages/llmodels/components/download/target-form.tsx
  src/pages/llmodels/components/instance-cells/actions-cell.tsx
  src/pages/llmodels/components/instance-cells/cpu-offloading-cell.tsx
  src/pages/llmodels/components/instance-cells/distribute-info-cell.tsx
  src/pages/llmodels/components/instance-cells/downloading-status-cell.tsx
  src/pages/llmodels/components/instance-cells/instance-status-cell.tsx
  src/pages/llmodels/components/instance-cells/name-cell.tsx
  src/pages/llmodels/components/instance/instance-item.tsx
  src/pages/llmodels/instance-view/cells/actions-cell.tsx
  src/pages/llmodels/instance-view/index.tsx
  src/pages/llmodels/instance-view/use-instance-columns.tsx
  src/pages/resources/components/model-files.tsx
Due: none

style: instance cell style
  src/components/drop-down-buttons/index.tsx
  src/components/logs-viewer/virtual-log-list.tsx
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/_components/page-box.tsx
  src/pages/llmodels/components/instance-cells/distribute-info-cell.tsx
  src/pages/llmodels/components/instance-cells/name-cell.tsx
  src/pages/llmodels/components/view-logs-modal.tsx
  src/pages/llmodels/instance-view/index.tsx
  src/pages/llmodels/instance-view/use-instance-columns.tsx
  src/pages/llmodels/style/instance-item.less
  src/pages/llmodels/utils/index.ts
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

chore: instance state filter
  src/pages/llmodels/instance-view/left-filters.tsx
Due: none

fix(style): select content align
  src/components/seal-form/base/select.tsx
  src/components/seal-form/base/styles.less
  src/components/seal-form/wrapper/select.ts
Due: prettier --cache --write, max lint --fix --stylelint-only

feat: show the worker version
  src/components/icon-font/index.tsx
  src/components/version-info/index.tsx
  src/locales/en-US/resources.ts
  src/locales/ja-JP/resources.ts
  src/locales/ru-RU/resources.ts
  src/locales/tr-TR/menu.ts
  src/locales/tr-TR/models.ts
  src/locales/tr-TR/no-result.ts
  src/locales/tr-TR/resources.ts
  src/locales/zh-CN/resources.ts
  src/pages/backends/components/backend-list.tsx
  src/pages/backends/styles/backend-list.less
  src/pages/llmodels/instance-view/use-instance-columns.tsx
  src/pages/resources/components/workers.tsx
  src/pages/resources/config/types.ts
  src/pages/resources/hooks/use-worker-columns.tsx
  src/pages/resources/styles/worker.less
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

refactor: ui/ux
  src/config/settings.ts
  src/config/theme/light.ts
  src/global.less
  src/layouts/extraRender.tsx
  src/layouts/index.tsx
  src/pages/_components/page-box.tsx
  src/pages/_components/styles/page-box.less
  src/pages/llmodels/index.tsx
  src/pages/llmodels/instance-view/use-instance-columns.tsx
  src/pages/playground/chat/index.tsx
  src/pages/playground/components/view-code-buttons.tsx
  src/pages/playground/embedding/index.tsx
  src/pages/playground/embedding/page.tsx
  src/pages/playground/images/index.tsx
  src/pages/playground/rerank/index.tsx
  src/pages/playground/rerank/page.tsx
  src/pages/playground/speech/index.tsx
  src/pages/playground/style/ground-llm.less
  src/pages/playground/style/params-container.module.less
  src/pages/playground/style/play-ground.less
  src/pages/playground/style/rerank.less
  src/pages/playground/style/speech-to-text.less
Due: prettier --cache --write, max lint --fix --stylelint-only

fix: page error while route changing
  src/config/theme/dark.ts
  src/global.less
  src/hooks/use-body-scroll.ts
  src/pages/_components/styles/page-box.less
Due: prettier --cache --write, max lint --fix --stylelint-only

feat: more filters component
  src/layouts/index.tsx
  src/pages/_components/pill-button-group/index.tsx
  src/pages/llmodels/filters/index.tsx
Due: none

refactor: table filters ux
  src/components/overlay-scroller/index.tsx
  src/components/page-tools/filters-button.less
  src/components/page-tools/index.tsx
  src/components/seal-table/index.tsx
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/tr-TR/models.ts
  src/locales/zh-CN/models.ts
  src/pages/_components/filter-form.tsx
  src/pages/_components/filter-form/index.tsx
  src/pages/_components/page-box.tsx
  src/pages/_components/styles/filter-form.less
  src/pages/backends/index.tsx
  src/pages/benchmark/components/left-actions.tsx
  src/pages/benchmark/filters/index.tsx
  src/pages/benchmark/index.tsx
  src/pages/llmodels/components/left-filters.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/deployments.tsx
  src/pages/llmodels/filters/index.tsx
  src/pages/llmodels/index.tsx
  src/pages/llmodels/instance-view/index.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  npx tsx src/locales/check.ts: any of: src/locales/**/*.ts
