Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix(usage): map owner creator fields for chart-export User column
  src/pages/usage/apis/resource.ts
Due: none

fix(usage): sort deleted filter options to the bottom of every dropdown
  src/pages/usage/hooks/use-resource-meta.ts
  src/pages/usage/services/use-query-meta-data.ts
  src/pages/usage/summary-tab/index.tsx
Due: none

refactor(usage): use SimpleSelect for the events-tab event-type filter
  src/pages/usage/events-tab/index.tsx
Due: none

fix: use branded sidebar logo, gate help menu behind plugin, add instance pending/starting filters
  config/routes.ts
  src/components/version-info/index.tsx
  src/layouts/extraRender.tsx
  src/pages/llmodels/instance-view/index.tsx
Due: none

fix(llmodels): don't evaluate on cluster seed before a model is selected
  src/pages/llmodels/forms/basic.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/hooks/index.ts
Due: none

feat(usage): add plugin injection points for org / user-group filters and org breakdown tab
  src/pages/usage/apis/resource.ts
  src/pages/usage/components/filter-bar.tsx
  src/pages/usage/components/resource-export-data.tsx
  src/pages/usage/components/resource-filter-bar.tsx
  src/pages/usage/config/types.ts
  src/pages/usage/hooks/use-resource-meta.ts
  src/pages/usage/hooks/use-usage-filters.ts
  src/pages/usage/instances-tab/index.tsx
  src/pages/usage/instances-tab/tables/instances-breakdown-table.tsx
  src/pages/usage/services/use-query-meta-data.ts
  src/pages/usage/storage-tab/index.tsx
  src/pages/usage/storage-tab/tables/storage-breakdown-table.tsx
  src/pages/usage/summary-tab/index.tsx
  src/pages/usage/token-tab/components/breakdown-tabs.tsx
  src/pages/usage/token-tab/index.tsx
Due: none

fix(usage): satisfy Rules of Hooks for plugin extra tabs; date-safe export
  src/pages/usage/components/resource-export-data.tsx
  src/pages/usage/instances-tab/index.tsx
  src/pages/usage/storage-tab/index.tsx
  src/pages/usage/token-tab/components/breakdown-tabs.tsx
Due: none

fix(usage): memoize resource breakdown filters (review comment)
  src/pages/usage/instances-tab/index.tsx
  src/pages/usage/storage-tab/index.tsx
Due: none

feat(cluster): drop detail page; host Cluster Access drawer
  config/routes.ts
  src/pages/cluster-management/clusters.tsx
  src/pages/cluster-management/hooks/use-cluster-columns.tsx
Due: none

feat(models): resource-aware empty state on My Models; tag GPU cluster type experimental
  src/pages/cluster-management/components/k8s-pod-spec.tsx
  src/pages/llmodels/user-models.tsx
Due: none

fix(user-models): hold empty state until infra queries resolve
  src/pages/llmodels/user-models.tsx
Due: none

chore: bump @gpustack/core-ui to v1.0.36
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix: center NoResult empty state with minHeight on list pages
  src/pages/api-keys/index.tsx
  src/pages/backends/community/commnity-backends.tsx
  src/pages/backends/index.tsx
  src/pages/benchmark/index.tsx
  src/pages/cluster-management/credentials.tsx
  src/pages/gpu-service/instances/index.tsx
  src/pages/gpu-service/public-keys/index.tsx
  src/pages/gpu-service/storage-types/index.tsx
  src/pages/gpu-service/storage/index.tsx
  src/pages/gpu-service/templates/index.tsx
  src/pages/llmodels/catalog.tsx
  src/pages/llmodels/hooks/use-no-resource-result.tsx
  src/pages/llmodels/instance-view/index.tsx
  src/pages/maas-provider/index.tsx
  src/pages/model-routes/index.tsx
  src/pages/resources/components/gpus.tsx
  src/pages/resources/components/model-files.tsx
  src/pages/users/index.tsx
Due: none

fix(models): cancel model-route-targets watch on inactive tab
  src/hooks/use-watch-list.ts
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/deployments.tsx
Due: none

feat: namespace browser storage keys by deploy path
  src/atoms/pagination.ts
  src/atoms/settings.ts
  src/atoms/tab-active.ts
  src/atoms/user.ts
  src/atoms/utils/index.ts
  src/layouts/github-star.tsx
  src/utils/access-probes.ts
  src/utils/localstore/index.ts
Due: none

chore: bump @gpustack/core-ui to v1.0.37
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix(table): smooth list empty/loading transitions, no layout jump on entry
  src/assets/styles/table.less
  src/pages/api-keys/index.tsx
  src/pages/cluster-management/clusters.tsx
  src/pages/cluster-management/credentials.tsx
  src/pages/gpu-service/instances/index.tsx
  src/pages/gpu-service/public-keys/index.tsx
  src/pages/gpu-service/storage-types/index.tsx
  src/pages/gpu-service/storage/index.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/maas-provider/index.tsx
  src/pages/model-routes/index.tsx
  src/pages/resources/components/gpus.tsx
  src/pages/resources/components/model-files.tsx
  src/pages/resources/components/workers.tsx
  src/pages/users/index.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

chore: bump @gpustack/core-ui to v1.0.38
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

refactor(tables): share parent column grid in expandable child rows
  src/global.less
  src/pages/cluster-management/clusters.tsx
  src/pages/cluster-management/components/pool-rows.tsx
  src/pages/cluster-management/hooks/use-pools-columns.tsx
  src/pages/llmodels/components/instance/instance-item.tsx
  src/pages/llmodels/components/instance/instances.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/model-routes/components/route-targets.tsx
  src/pages/model-routes/hooks/use-routes-columns.tsx
  src/pages/model-routes/index.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

style(cluster-management): child-row text color and created_at width
  src/pages/cluster-management/components/pool-rows.tsx
  src/pages/cluster-management/hooks/use-cluster-columns.tsx
  src/pages/cluster-management/hooks/use-pools-columns.tsx
Due: none

feat(user-models): fall back to category icon when no brand logo matches
  src/assets/model_icons/embedding.svg
  src/assets/model_icons/image.svg
  src/assets/model_icons/llm.svg
  src/assets/model_icons/reranker.svg
  src/assets/model_icons/stt.svg
  src/assets/model_icons/tts.svg
  src/pages/llmodels/components/model-item.tsx
  src/pages/llmodels/utils/model-logo.ts
Due: none

chore: bump @gpustack/core-ui to v1.0.39
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  npx tsx src/locales/check.ts: any of: src/locales/**/*.ts
