Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

.lintstagedrc:

{
  "*.{md,json}": ["prettier --cache --write"],
  "*.{js,jsx}": ["max lint --fix --eslint-only", "prettier --cache --write"],
  "*.{css,less}": [
    "max lint --fix --stylelint-only",
    "prettier --cache --write"
  ],
  "!public/vs/**": [],
  "*.ts?(x)": [
    "max lint --fix --eslint-only",
    "prettier --cache --parser=typescript --write"
  ],
  "src/locales/**/*.ts": ["npx tsx src/locales/check.ts"]
}

fix(model-routes): update outdated decision model tooltip and comments
  src/locales/en-US/routes.ts
  src/locales/ja-JP/routes.ts
  src/locales/ru-RU/routes.ts
  src/locales/tr-TR/routes.ts
  src/locales/zh-CN/routes.ts
  src/pages/model-routes/config/types.ts
Due: npx tsx src/locales/check.ts

feat(clusters): support insecure_tls in the worker config YAML
  src/pages/cluster-management/config/worker-config.docker.json
  src/pages/cluster-management/config/worker-config.kubernetes.json
  src/pages/cluster-management/config/yaml-template.ts
Due: prettier --cache --write

feat(maas-provider): use TypeSafe AI favicon as provider icon
  src/assets/providers-logo/typesafe-ai.png
  src/pages/maas-provider/components/provider-logo.tsx
Due: none

fix(profile): replace missing core-ui SectionHeader with local implementation
  src/pages/profile/components/settings-section.tsx
Due: none

style(message): refine appearance and unify theme configuration
  src/assets/styles/message.less
  src/components/app-theme-provider/index.tsx
  src/config/theme/get-theme-config.ts
  src/global.less
  src/global.tsx
  src/hooks/use-user-settings.ts
  src/layouts/index.tsx
  src/pages/login/index.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

style(models): use warning for not ready status
  src/pages/llmodels/config/index.ts
  src/pages/llmodels/user-models.tsx
Due: none

feat(components): add ExpandableRadioGroup
  src/pages/_components/expandable-radio-group/index.tsx
Due: none

refactor(model-routes): split policy fields and refine form controls
  src/pages/model-routes/components/lb-policy/decision-service-fields.tsx
  src/pages/model-routes/components/lb-policy/policy-plugin-section.tsx
  src/pages/model-routes/components/lb-policy/policy-weight-field.tsx
  src/pages/model-routes/components/lb-policy/session-affinity-fields.tsx
  src/pages/model-routes/components/lb-policy/weight-slider.tsx
  src/pages/model-routes/config/index.ts
  src/pages/model-routes/forms/basic.tsx
  src/pages/model-routes/forms/index.tsx
  src/pages/model-routes/forms/lb-policy.tsx
  src/pages/model-routes/forms/targets.tsx
  src/pages/model-routes/hooks/use-decision-service-providers.ts
  src/pages/model-routes/utils/lb-policy-weight.ts
Due: none

chore: bump @gpustack/core-ui to v1.1.21
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix(forms): correct policy error colors and refine PD switch size
  src/pages/llmodels/forms/pd-disaggregation.tsx
  src/pages/model-routes/components/lb-policy/decision-service-fields.tsx
  src/pages/model-routes/components/lb-policy/session-affinity-fields.tsx
Due: none

fix(model-routes): guard async edit initialization
  src/pages/model-routes/components/add-route-modal.tsx
  src/pages/model-routes/forms/index.tsx
Due: none

revert(model-routes): remove edit initialization guard
  src/pages/model-routes/components/add-route-modal.tsx
  src/pages/model-routes/forms/index.tsx
Due: none

fix: add pause to scheduled scaling
  package.json
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/tr-TR/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/apis/lifecycle.test.mts
  src/pages/llmodels/components/deployment/update-modal.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/forms/scaling-schedule.test.ts
  src/pages/llmodels/forms/scaling-schedule.ts
  src/pages/llmodels/forms/scheduled-scaling.test.mts
  src/pages/llmodels/forms/scheduled-scaling.tsx
  src/pages/llmodels/hooks/use-models-columns.test.mts
  src/pages/llmodels/hooks/use-models-columns.tsx
  src/pages/llmodels/utils/deployment-lifecycle.test.ts
  src/pages/llmodels/utils/deployment-lifecycle.ts
  src/pages/llmodels/utils/manual-scaling.test.ts
  src/pages/llmodels/utils/manual-scaling.ts
Due: prettier --cache --write, npx tsx src/locales/check.ts
