Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

.lintstagedrc:

{
  "*.{md,json}": ["prettier --cache --write"],
  "*.{js,jsx}": ["max lint --fix --eslint-only", "prettier --cache --write"],
  "*.{css,less}": [
    "max lint --fix --stylelint-only",
    "prettier --cache --write"
  ],
  "!public/vs/**": [],
  "*.ts?(x)": [
    "max lint --fix --eslint-only",
    "prettier --cache --parser=typescript --write"
  ],
  "src/locales/**/*.ts": ["npx tsx src/locales/check.ts"]
}

feat(cluster): update K8s cluster form for new k8s_options API
  src/locales/en-US/clusters.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ru-RU/clusters.ts
  src/locales/tr-TR/clusters.ts
  src/locales/zh-CN/clusters.ts
  src/pages/cluster-management/components/add-worker/select-vendor.tsx
  src/pages/cluster-management/components/cluster-form.tsx
  src/pages/cluster-management/components/k8s-pod-spec.tsx
  src/pages/cluster-management/config/types.ts
  src/pages/cluster-management/config/worker-config.kubernetes.json
  src/pages/cluster-management/config/yaml-template.ts
  src/pages/cluster-management/step-forms/advance-config.tsx
Due: prettier --cache --write, npx tsx src/locales/check.ts

style: menu
  src/config/theme/dark.ts
  src/config/theme/light.ts
  src/layouts/sider-menu.tsx
Due: none

chore: menu sorting
  config/routes.ts
  src/config/theme/light.ts
  src/layouts/sider-menu.tsx
  src/locales/en-US/menu.ts
  src/locales/ja-JP/menu.ts
  src/locales/ru-RU/menu.ts
  src/locales/tr-TR/menu.ts
  src/locales/zh-CN/menu.ts
  src/pages/llmodels/forms/backend.tsx
  src/pages/llmodels/forms/lora-list-item.tsx
Due: npx tsx src/locales/check.ts

style: page segment fontsize
  src/pages/llmodels/index.tsx
  src/pages/playground/chat/index.tsx
  src/pages/playground/images/index.tsx
  src/pages/playground/speech/index.tsx
Due: none

feat(cluster): add default container registry field to advanced config
  src/locales/en-US/clusters.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ru-RU/clusters.ts
  src/locales/tr-TR/clusters.ts
  src/locales/zh-CN/clusters.ts
  src/pages/cluster-management/components/cluster-form.tsx
  src/pages/cluster-management/config/yaml-template.ts
  src/pages/cluster-management/step-forms/advance-config.tsx
Due: npx tsx src/locales/check.ts

fix: instance type api update
  src/config/theme/light.ts
  src/pages/gpu-service/instances/components/add-modal.tsx
  src/pages/gpu-service/instances/components/instance-type-item.tsx
  src/pages/gpu-service/instances/config/index.ts
  src/pages/gpu-service/instances/config/types.ts
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/instance-type.tsx
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
  src/pages/gpu-service/templates/forms/basic.tsx
  src/pages/gpu-service/utils.ts
Due: none

fix: improve model name tooltip text contrast
  src/global.less
  src/pages/llmodels/hooks/use-models-columns.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

fix: resolve deploy model form requiring double save click
  src/pages/llmodels/config/form-context.ts
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/forms/model-lora-list.tsx
Due: none

fix: parse quality data
  src/pages/gpu-service/instances/components/add-modal.tsx
  src/pages/gpu-service/instances/components/instance-type-item.tsx
  src/pages/gpu-service/instances/config/types.ts
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/instance-type.tsx
  src/pages/gpu-service/instances/index.tsx
  src/pages/gpu-service/instances/services/use-query-instance-types.ts
  src/pages/gpu-service/utils.ts
Due: none

fix: instance type format in list
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/instance-type.tsx
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
  src/pages/gpu-service/utils.ts
Due: none

chore: add locales
  src/layouts/extraRender.tsx
  src/locales/en-US/common.ts
  src/locales/ja-JP/common.ts
  src/locales/ru-RU/common.ts
  src/locales/tr-TR/common.ts
  src/locales/zh-CN/common.ts
Due: npx tsx src/locales/check.ts

chore(deps): update ui 1.0.20
  package.json
  pnpm-lock.yaml
  src/pages/gpu-service/instances/index.tsx
Due: prettier --cache --write

feat(api-keys): rename User Name column to Creator and move before Created
  src/locales/en-US/common.ts
  src/locales/ja-JP/common.ts
  src/locales/ru-RU/common.ts
  src/locales/tr-TR/common.ts
  src/locales/zh-CN/common.ts
  src/pages/api-keys/hooks/use-keys-columns.tsx
Due: npx tsx src/locales/check.ts

fix(style): k8s form
  package.json
  src/locales/zh-CN/menu.ts
  src/pages/backends/forms/versions-config.tsx
  src/pages/cluster-management/components/cluster-form.tsx
  src/pages/cluster-management/components/credential-item.tsx
  src/pages/cluster-management/components/image-credential.tsx
  src/pages/cluster-management/components/k8s-pod-spec.tsx
  src/pages/cluster-management/components/k8s-volume-mount.tsx
  src/pages/cluster-management/config/form-context.ts
  src/pages/cluster-management/styles/img-credential.less
  src/pages/gpu-service/public-keys/forms/basic.tsx
  src/pages/llmodels/components/download/target-form.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

chore(deps): update ui 1.0.21
  pnpm-lock.yaml
Due: none

style: gpu instance service
  src/locales/en-US/clusters.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ru-RU/clusters.ts
  src/locales/tr-TR/clusters.ts
  src/locales/zh-CN/clusters.ts
  src/pages/cluster-management/components/cluster-form.tsx
  src/pages/cluster-management/components/k8s-pod-spec.tsx
  src/pages/cluster-management/step-forms/advance-config.tsx
Due: npx tsx src/locales/check.ts

fix(label): update LoRA Adapter label to plural form
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/tr-TR/models.ts
Due: npx tsx src/locales/check.ts

style: side menu scroll bar
  src/global.less
  src/layouts/index.tsx
  src/layouts/sider-menu.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

style: table split
  src/assets/styles/menu.less
  src/global.less
  src/layouts/index.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

chore: perferences route
  config/routes.ts
  src/layouts/extraRender.tsx
  src/layouts/index.tsx
  src/layouts/rightRender.tsx
  src/locales/en-US/menu.ts
  src/locales/ja-JP/menu.ts
  src/locales/ru-RU/menu.ts
  src/locales/tr-TR/menu.ts
  src/locales/zh-CN/menu.ts
Due: npx tsx src/locales/check.ts

chore: storage label
  src/locales/en-US/gpuservice.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/zh-CN/gpuservice.ts
  src/pages/gpu-service/instances/forms/storage-volume.tsx
Due: npx tsx src/locales/check.ts
