Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

.lintstagedrc:

{
  "*.{md,json}": ["prettier --cache --write"],
  "*.{js,jsx}": ["max lint --fix --eslint-only", "prettier --cache --write"],
  "*.{css,less}": [
    "max lint --fix --stylelint-only",
    "prettier --cache --write"
  ],
  "*.ts?(x)": [
    "max lint --fix --eslint-only",
    "prettier --cache --parser=typescript --write"
  ],
  "src/locales/**/*.ts": ["npx tsx src/locales/check.ts"]
}

fix(style): menu item text wrap
  src/layouts/sider-menu.tsx
Due: none

fix: catalog jump to deployments route error
  src/app.tsx
  src/pages/llmodels/catalog.tsx
  src/pages/login/utils.ts
  src/pages/resources/components/model-files.tsx
Due: none

style: uniform margin top for resources pages
  src/pages/resources/components/gpus.tsx
  src/pages/resources/components/model-files.tsx
  src/pages/resources/components/workers.tsx
Due: none

chore: add worker statements
  src/locales/en-US/resources.ts
  src/locales/ja-JP/resources.ts
  src/locales/zh-CN/resources.ts
Due: npx tsx src/locales/check.ts

fix: set null to filename for download non-gguf
  src/pages/llmodels/components/hf-model-file.tsx
  src/pages/llmodels/components/search-model.tsx
  src/pages/llmodels/download/index.tsx
  src/pages/resources/components/add-worker.tsx
Due: none

chore: installer download link
  src/components/simple-table/info-column.tsx
  src/locales/en-US/resources.ts
  src/locales/ja-JP/resources.ts
  src/locales/ru-RU/resources.ts
  src/locales/zh-CN/resources.ts
  src/pages/resources/components/add-worker-macos.tsx
  src/pages/resources/components/add-worker.tsx
Due: npx tsx src/locales/check.ts

chore: update mindie backend parameters
  src/pages/llmodels/config/mindie-config.ts
Due: none

fix: remove insert action for watching, #2504
  src/hooks/use-table-fetch.ts
Due: none

fix: wav format audio, #2317
  src/components/upload-audio/index.tsx
  src/locales/en-US/playground.ts
  src/locales/ja-JP/playground.ts
  src/locales/ru-RU/playground.ts
  src/locales/zh-CN/playground.ts
  src/pages/playground/components/message-input.tsx
  src/pages/playground/components/multiple-chat/message-actions.tsx
  src/utils/index.ts
  src/utils/load-audio-file.ts
Due: npx tsx src/locales/check.ts

chore: remove autoplay for audio and video
  src/components/markdown-viewer/index.tsx
Due: none

fix(style): axis tick value too long
  src/components/echarts/chart.tsx
Due: none

chore: show used vram for a second
  src/hooks/use-table-fetch.ts
  src/pages/llmodels/config/index.ts
  src/pages/resources/components/gpus.tsx
  src/pages/resources/components/workers.tsx
Due: none

style: playground bold text
  src/components/markdown-viewer/index.less
  src/pages/llmodels/components/api-access-info.tsx
  src/pages/playground/components/dynamic-params.tsx
  src/pages/playground/components/ground-images.tsx
  src/pages/playground/components/ground-tts.tsx
  src/pages/playground/components/message-input.tsx
  src/pages/playground/images.tsx
  src/pages/playground/index.tsx
  src/pages/playground/speech.tsx
  src/pages/playground/style/sys-message.less
Due: prettier --cache --write, max lint --fix --stylelint-only

style: model file status cell size
  src/pages/resources/components/model-files.tsx
Due: none

fix: progress bar default open
  src/components/progress-bar/index.tsx
  src/pages/resources/components/gpus.tsx
  src/pages/resources/components/workers.tsx
Due: none

fix: miss model category、name on catalog page
  src/pages/llmodels/components/deploy-builtin-modal.tsx
Due: none

fix: update the instance servers field
  src/components/logs-viewer/parse-worker.ts
  src/hooks/use-chunk-fetch.ts
  src/pages/llmodels/components/instance-item.tsx
Due: none

chore: adjust the evaluation result statement
  src/locales/en-US/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/components/deploy-modal.tsx
Due: npx tsx src/locales/check.ts

chore: move favicon icon to root
  public/favicon.ico
  public/favicon.png
Due: none

fix: download log failed
  src/hooks/use-chunk-fetch.ts
  src/pages/llmodels/components/instance-item.tsx
Due: none
