Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

.lintstagedrc:

{
  "*.{md,json}": ["prettier --cache --write"],
  "*.{js,jsx}": ["max lint --fix --eslint-only", "prettier --cache --write"],
  "*.{css,less}": [
    "max lint --fix --stylelint-only",
    "prettier --cache --write"
  ],
  "!public/vs/**": [],
  "*.ts?(x)": [
    "max lint --fix --eslint-only",
    "prettier --cache --parser=typescript --write"
  ],
  "src/locales/**/*.ts": ["npx tsx src/locales/check.ts"]
}

chore: dropdown styles token, icons url
  src/config/theme/dark.ts
  src/config/theme/light.ts
  src/layouts/index.tsx
Due: none

fix: update lock.yaml
  pnpm-lock.yaml
Due: none

fix(gpu-service): use gpustack-{slug} namespace for org resources
  src/atoms/user.ts
  src/pages/cluster-management/config/types.ts
  src/pages/gpu-service/instances/forms/storage-volume.tsx
  src/pages/gpu-service/instances/index.tsx
  src/pages/gpu-service/instances/services/use-create-instance.ts
  src/pages/gpu-service/instances/services/use-update-instance.ts
  src/pages/gpu-service/storage/index.tsx
  src/pages/gpu-service/storage/services/use-create-storage.ts
  src/pages/gpu-service/storage/services/use-query-storage.ts
  src/pages/gpu-service/storage/services/use-update-storage.ts
Due: none

chore: show deployment backend params
  src/pages/benchmark/components/summary/instance.tsx
  src/pages/llmodels/components/instance-cells/injected-params-cell.tsx
Due: none

feat: add antv/g6
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

feat: cluster topology entry
  src/pages/cluster-management/hooks/use-cluster-columns.tsx
Due: none

chore: remove inject params tag
  src/pages/benchmark/components/summary/instance.tsx
  src/pages/llmodels/components/instance-cells/injected-params-cell.tsx
  src/pages/llmodels/components/instance/instance-item.tsx
Due: none

feat: provider access to core-ui
  src/layouts/index.tsx
Due: none

fix: show inject params, update ui 1.0.11
  package.json
  pnpm-lock.yaml
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/tr-TR/models.ts
  src/locales/zh-CN/models.ts
  src/pages/benchmark/components/summary/instance.tsx
Due: prettier --cache --write, npx tsx src/locales/check.ts

feat: support license banner
  .gitignore
  src/layouts/index.tsx
Due: none

fix: update instance name error
  src/pages/gpu-service/instances/apis/index.ts
Due: none

feat: template port name
  src/assets/logo/jupyter.png
  src/assets/logo/pytorch_black.png
  src/assets/logo/tensorflow.svg
  src/assets/logo/ubuntu.png
  src/layouts/index.tsx
  src/locales/en-US/gpuservice.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/zh-CN/gpuservice.ts
  src/pages/gpu-service/instances/components/add-modal.tsx
  src/pages/gpu-service/instances/config/types.ts
  src/pages/gpu-service/instances/forms/template-selector.tsx
  src/pages/gpu-service/templates/components/template-card.tsx
  src/pages/gpu-service/templates/config/types.ts
  src/pages/gpu-service/templates/forms/basic.tsx
  src/pages/gpu-service/templates/forms/index.tsx
  src/pages/gpu-service/templates/forms/ports.tsx
Due: npx tsx src/locales/check.ts

refactor: instances add-modal
  AGENT.md
  src/pages/gpu-service/instances/components/add-modal.tsx
Due: prettier --cache --write

fix: name validation
  src/config/index.ts
  src/locales/en-US/gpuservice.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/zh-CN/gpuservice.ts
  src/pages/gpu-service/instances/components/add-modal.tsx
  src/pages/gpu-service/instances/components/instance-type-item.tsx
  src/pages/gpu-service/instances/forms/basic.tsx
  src/pages/gpu-service/instances/forms/instance-type.tsx
  src/pages/gpu-service/instances/hooks/use-view-logs.ts
  src/pages/gpu-service/instances/styles/instances.module.less
  src/pages/gpu-service/storage/forms/basic.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

feat: add instance recreate action
  package.json
  pnpm-lock.yaml
  src/locales/en-US/common.ts
  src/locales/en-US/gpuservice.ts
  src/locales/ja-JP/common.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ru-RU/common.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/tr-TR/common.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/zh-CN/common.ts
  src/locales/zh-CN/gpuservice.ts
  src/pages/gpu-service/instances/apis/index.ts
  src/pages/gpu-service/instances/components/instance-type-item.tsx
  src/pages/gpu-service/instances/components/view-events-modal.tsx
  src/pages/gpu-service/instances/components/view-logs-modal.tsx
  src/pages/gpu-service/instances/config/index.ts
  src/pages/gpu-service/instances/config/types.ts
  src/pages/gpu-service/instances/forms/basic.tsx
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/storage-volume.tsx
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
  src/pages/gpu-service/instances/hooks/use-view-events.ts
  src/pages/gpu-service/instances/index.tsx
  src/pages/gpu-service/instances/services/use-query-instance-log.ts
  src/pages/gpu-service/storage/config/index.ts
  src/pages/gpu-service/storage/config/types.ts
  src/pages/gpu-service/storage/forms/basic.tsx
  src/pages/gpu-service/storage/forms/index.tsx
  src/pages/gpu-service/storage/hooks/use-storage-columns.tsx
  src/pages/gpu-service/storage/index.tsx
  src/pages/gpu-service/templates/forms/basic.tsx
  src/pages/gpu-service/templates/forms/env.tsx
  src/pages/gpu-service/templates/forms/ports.tsx
  src/pages/gpu-service/templates/index.tsx
Due: prettier --cache --write, npx tsx src/locales/check.ts

feat: add events, log api
  src/pages/gpu-service/instances/apis/index.ts
  src/pages/gpu-service/instances/components/view-logs-modal.tsx
  src/pages/gpu-service/instances/config/index.ts
  src/pages/gpu-service/instances/config/types.ts
  src/pages/gpu-service/instances/hooks/use-view-logs.ts
  src/pages/gpu-service/instances/index.tsx
  src/pages/gpu-service/instances/services/use-query-instance-events.ts
  src/pages/gpu-service/instances/services/use-query-instance-log.ts
Due: none

chore: remove notes
  src/layouts/index.tsx
Due: none

fix(login): stop SSO button from overflowing the login card
  src/pages/login/components/login-form.tsx
Due: none

feat: generic configActions plugin slot for api-keys & model-routes
  src/pages/api-keys/hooks/use-keys-columns.tsx
  src/pages/api-keys/index.tsx
  src/pages/api-keys/plugin.tsx
  src/pages/model-routes/hooks/use-routes-columns.tsx
  src/pages/model-routes/index.tsx
  src/pages/model-routes/plugin.tsx
Due: none

fix(login): keep 360px design width with max-width: 100% cap
  src/pages/login/components/local-user-form.tsx
  src/pages/login/components/login-form.tsx
Due: none
