Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

chore: bump @gpustack/core-ui to v1.0.34
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

perf(charts): import chart components from @gpustack/core-ui/charts
  src/pages/_components/bar-chart/index.tsx
  src/pages/_components/pie-chart/index.tsx
  src/pages/cluster-management/components/cluster-metrics.tsx
  src/pages/cluster-management/components/trend-chart.tsx
  src/pages/dashboard/components/resource-utilization.tsx
  src/pages/dashboard/components/system-load.tsx
  src/pages/dashboard/components/usage-charts/top-token-usage-by-user.tsx
  src/pages/dashboard/components/usage-charts/usage-by-model.tsx
  src/pages/dashboard/components/usage-inner/request-token-inner.tsx
  src/pages/dashboard/components/usage-inner/top-user.tsx
  src/pages/playground/embedding/page.tsx
Due: none

perf(markdown): load katex css lazily via local FullMarkdown wrapper
  src/components/full-markdown/index.tsx
  src/pages/backends/community/backend-detail.tsx
  src/pages/playground/components/multiple-chat/message-body.tsx
  src/pages/playground/components/multiple-chat/think-content.tsx
Due: none

feat(dashboard): split top user token usage into prompt/completion
  src/pages/dashboard/config/index.ts
  src/pages/dashboard/hooks/use-top-token-usage-by-user.ts
Due: none

chore: remove driver.js
  package.json
  src/hooks/use-driver.ts
Due: prettier --cache --write

chore: remove old code
  src/pages/access/index.tsx
  src/pages/resources/index.tsx
Due: none

fix(dashboard): remove date from group_by
  src/pages/dashboard/components/usage-charts/usage-by-model.tsx
  src/pages/dashboard/hooks/use-top-token-usage-by-user.ts
Due: none

fix(dashboard): remove date from group_by
  pnpm-lock.yaml
  src/pages/dashboard/components/usage-charts/usage-by-model.tsx
  src/pages/dashboard/hooks/use-top-token-usage-by-user.ts
Due: none

chore: bump @gpustack/core-ui to v1.0.35
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore(hooks): remove unused hooks
  src/hooks/use-actions.ts
  src/hooks/use-app-utils.ts
  src/hooks/use-broadcast.ts
  src/hooks/use-container-scorll.ts
  src/hooks/use-copy-to-clipboard.ts
  src/hooks/use-download-logs.tsx
  src/hooks/use-download-stream.ts
  src/hooks/use-esc-hint.tsx
  src/hooks/use-event-source.ts
  src/hooks/use-overlay-scroller.ts
Due: none

chore(template): theme logo
  CLAUDE.md
  src/assets/logo/pytorch_light.png
  src/pages/benchmark/components/detail-content.tsx
  src/pages/gpu-service/templates/components/template-card.tsx
Due: prettier --cache --write

fix(worker): incorrect worker version
  src/pages/resources/hooks/use-worker-columns.tsx
Due: none

fix(deployments): display gpu allocated value in gpu selector
  src/pages/dashboard/hooks/use-add-resource.tsx
  src/pages/llmodels/components/gpu-card.tsx
  src/pages/llmodels/forms/schedule-type.tsx
  src/pages/llmodels/style/gpu-selector.less
Due: prettier --cache --write, max lint --fix --stylelint-only

feat: add DiffSynth backend support
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/tr-TR/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/components/deployment/deploy-modal.tsx
  src/pages/llmodels/components/deployment/update-modal.tsx
  src/pages/llmodels/components/model-source/search-model.tsx
  src/pages/llmodels/config/index.ts
  src/pages/llmodels/constants/backend-parameters/diffsynth.ts
  src/pages/llmodels/constants/backend-parameters/index.ts
  src/pages/llmodels/forms/advance-config.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/hooks/index.ts
  src/pages/llmodels/hooks/use-check-backend.ts
Due: npx tsx src/locales/check.ts

style: gpu selector
  src/pages/llmodels/components/gpu-card.tsx
Due: none

fix(models): preselect the scoped default cluster on deploy
  src/pages/llmodels/forms/basic.tsx
Due: none

refactor(models): drop redundant effect dep and cast
  src/pages/llmodels/forms/basic.tsx
Due: none

fix(usage): remove the delete tag of models and users in tokens tab
  src/assets/model_icons/llm-icon-01.png
  src/pages/usage/components/filter-bar.tsx
Due: none

fix(cluster): drive k8s cluster type from shared state
  src/pages/cluster-management/components/cluster-form.tsx
  src/pages/cluster-management/components/k8s-pod-spec.tsx
  src/pages/cluster-management/config/form-context.ts
Due: none

fix(footer): show version reactively via useAtom
  src/components/footer/index.tsx
  src/pages/login/index.tsx
Due: none

refactor(footer): use useAtomValue for version
  src/components/footer/index.tsx
Due: none

Revert "fix(usage): remove the delete tag of models and users in tokens tab"
  src/assets/model_icons/llm-icon-01.png
  src/pages/usage/components/filter-bar.tsx
Due: none

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  npx tsx src/locales/check.ts: any of: src/locales/**/*.ts
