Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

.lintstagedrc:

{
  "*.{md,json}": ["prettier --cache --write"],
  "*.{js,jsx}": ["max lint --fix --eslint-only", "prettier --cache --write"],
  "*.{css,less}": [
    "max lint --fix --stylelint-only",
    "prettier --cache --write"
  ],
  "*.ts?(x)": [
    "max lint --fix --eslint-only",
    "prettier --cache --parser=typescript --write"
  ],
  "src/locales/**/*.ts": ["npx tsx src/locales/check.ts"]
}

feat: worker_config
  src/locales/en-US/clusters.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ru-RU/clusters.ts
  src/locales/zh-CN/clusters.ts
  src/pages/_components/yaml-editor/editor.tsx
  src/pages/_components/yaml-editor/index.tsx
  src/pages/backends/components/import-yaml.tsx
  src/pages/cluster-management/components/cluster-form.tsx
  src/pages/cluster-management/config/types.ts
  src/pages/cluster-management/config/worker-config.json
  src/pages/cluster-management/config/yaml-template.ts
  src/pages/cluster-management/step-forms/advance-config.tsx
Due: prettier --cache --write, npx tsx src/locales/check.ts

fix: container name in add worker
  src/components/alert-info/block.tsx
  src/locales/en-US/clusters.ts
  src/locales/en-US/models.ts
  src/locales/en-US/users.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ja-JP/models.ts
  src/locales/ja-JP/users.ts
  src/locales/ru-RU/clusters.ts
  src/locales/ru-RU/models.ts
  src/locales/ru-RU/users.ts
  src/locales/zh-CN/clusters.ts
  src/locales/zh-CN/models.ts
  src/locales/zh-CN/users.ts
  src/pages/cluster-management/components/add-worker-command.tsx
  src/pages/cluster-management/components/add-worker/config.ts
  src/pages/cluster-management/components/add-worker/docker-run-command.tsx
  src/pages/cluster-management/components/add-worker/specify-arguments.tsx
  src/pages/cluster-management/components/add-worker/summary-data.tsx
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/hooks/index.ts
  src/pages/login/apis/index.ts
  src/pages/resources/config/gpu-driver.ts
Due: npx tsx src/locales/check.ts

fix: add worker message
  src/pages/cluster-management/hooks/use-add-worker-message.ts
Due: none

fix: add worker, create cluster
  src/hooks/use-update-chunk-list.ts
  src/pages/cluster-management/apis/index.ts
  src/pages/cluster-management/cluster-create.tsx
  src/pages/cluster-management/components/add-worker/add-worker-step.tsx
  src/pages/cluster-management/components/add-worker/index.tsx
  src/pages/cluster-management/components/add-worker/summary-data.tsx
  src/pages/cluster-management/components/cloud-provider-form.tsx
  src/pages/cluster-management/components/cluster-form.tsx
  src/pages/cluster-management/config/types.ts
  src/pages/cluster-management/config/worker-config.json
  src/pages/cluster-management/config/yaml-template.ts
  src/pages/cluster-management/hooks/use-add-worker-message.ts
  src/pages/cluster-management/services/use-system-config.ts
  src/pages/cluster-management/step-forms/advance-config.tsx
Due: prettier --cache --write

fix: password length 64
  src/config/index.ts
  src/locales/en-US/users.ts
  src/locales/ja-JP/users.ts
  src/locales/ru-RU/users.ts
  src/locales/zh-CN/users.ts
Due: npx tsx src/locales/check.ts

fix: remove advanced agrs in image
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/playground/config/params-config.ts
Due: none

style: no resource modal
  src/global.less
  src/locales/zh-CN/clusters.ts
  src/pages/cluster-management/components/add-worker/add-worker-step.tsx
  src/pages/cluster-management/components/add-worker/index.tsx
  src/pages/cluster-management/components/add-worker/specify-arguments.tsx
  src/pages/cluster-management/components/add-worker/summary-data.tsx
  src/pages/cluster-management/components/footer-buttons.tsx
  src/pages/dashboard/hooks/use-add-resource.tsx
  src/pages/dashboard/index.tsx
  src/pages/llmodels/hooks/use-no-resource-result.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix: add worker button do not work
  src/components/logs-viewer/xterm-viewer.tsx
  src/hooks/use-chunk-request.ts
  src/hooks/use-table-fetch.ts
  src/hooks/use-watch-list.ts
  src/pages/cluster-management/components/add-worker/add-worker-step.tsx
  src/pages/cluster-management/components/add-worker/index.tsx
  src/pages/cluster-management/hooks/use-add-worker-message.ts
  src/pages/dashboard/hooks/use-add-resource.tsx
  src/pages/llmodels/components/view-logs-modal.tsx
  src/pages/llmodels/index.tsx
Due: none

style: worker added info status
  src/pages/cluster-management/components/add-worker/add-worker-step.tsx
  src/pages/cluster-management/components/add-worker/index.tsx
  src/pages/cluster-management/components/add-worker/specify-arguments.tsx
Due: none

fix: edit worker pool miss data
  src/pages/cluster-management/cluster-create.tsx
  src/pages/cluster-management/components/cloud-provider-form.tsx
  src/pages/cluster-management/components/pool-form.tsx
  src/pages/cluster-management/config/steps-context.tsx
Due: none

chore: worker ip
  src/locales/en-US/clusters.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ru-RU/clusters.ts
  src/locales/zh-CN/clusters.ts
  src/pages/resources/config/types.ts
  src/pages/resources/hooks/use-worker-columns.tsx
Due: npx tsx src/locales/check.ts

fix: cluster worker config issues
  src/components/logs-viewer/xterm-viewer.tsx
  src/components/scroller-modal/index.tsx
  src/components/scroller-modal/use-scroller-context.ts
  src/hooks/use-chunk-request.ts
  src/hooks/use-table-fetch.ts
  src/hooks/use-watch-list.ts
  src/locales/en-US/clusters.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ru-RU/clusters.ts
  src/locales/zh-CN/clusters.ts
  src/pages/_components/yaml-editor/index.tsx
  src/pages/cluster-management/cluster-create.tsx
  src/pages/cluster-management/components/add-cluster.tsx
  src/pages/cluster-management/components/add-worker/add-worker-step.tsx
  src/pages/cluster-management/components/add-worker/index.tsx
  src/pages/cluster-management/components/cloud-provider-form.tsx
  src/pages/cluster-management/components/cluster-form.tsx
  src/pages/cluster-management/hooks/use-add-worker-message.ts
  src/pages/cluster-management/step-forms/advance-config.tsx
  src/pages/llmodels/components/view-logs-modal.tsx
  src/pages/llmodels/index.tsx
Due: npx tsx src/locales/check.ts

fix: update instance backend field
  src/pages/llmodels/components/instance-item.tsx
Due: none

style: cluster advanced scroller
  src/pages/cluster-management/components/cluster-form.tsx
  src/pages/cluster-management/components/pool-form.tsx
  src/pages/cluster-management/step-forms/advance-config.tsx
  src/pages/cluster-management/step-forms/worker-pools-form.tsx
  src/pages/resources/hooks/use-worker-columns.tsx
Due: none

feat: backend entrypoint
  src/components/alert-info/block.tsx
  src/components/seal-form/seal-textarea.tsx
  src/components/seal-form/switch-input.tsx
  src/global.less
  src/locales/en-US/backends.ts
  src/locales/en-US/clusters.ts
  src/locales/ja-JP/backends.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ru-RU/backends.ts
  src/locales/ru-RU/clusters.ts
  src/locales/zh-CN/backends.ts
  src/locales/zh-CN/clusters.ts
  src/pages/backends/components/add-modal.tsx
  src/pages/backends/config/types.ts
  src/pages/backends/forms/versions-config.tsx
  src/pages/cluster-management/components/add-worker/add-worker-context.ts
  src/pages/cluster-management/components/add-worker/add-worker-step.tsx
  src/pages/cluster-management/components/add-worker/index.tsx
  src/pages/cluster-management/components/add-worker/step-collapse.tsx
  src/pages/cluster-management/step-forms/advance-config.tsx
  src/pages/llmodels/components/compatible-alert.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix: entrypoint do not display in edit
  src/pages/backends/components/add-modal.tsx
  src/pages/backends/components/version-info-modal.tsx
  src/pages/backends/config/index.ts
  src/pages/backends/config/schema/create.json
  src/pages/backends/config/schema/update-builtin.json
  src/pages/backends/config/schema/update-custom.json
  src/pages/backends/forms/version-info.tsx
  src/pages/backends/forms/versions-config.tsx
Due: prettier --cache --write

fix: delete worker pool
  src/pages/cluster-management/step-forms/worker-pools-form.tsx
Due: none

fix: edit worker_config
  src/pages/backends/config/index.ts
  src/pages/cluster-management/components/cluster-form.tsx
Due: none

fix: image default seed
  src/pages/playground/components/dynamic-params.tsx
  src/pages/playground/components/ground-images.tsx
  src/pages/playground/components/image-edit.tsx
  src/pages/playground/hooks/config.ts
  src/pages/playground/hooks/use-init-meta.ts
Due: none

fix: submit pool data from a validate failed form
  src/pages/cluster-management/cluster-create.tsx
  src/pages/cluster-management/components/pool-form.tsx
Due: none

fix: update command of adding worker
  src/locales/en-US/clusters.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ru-RU/clusters.ts
  src/locales/zh-CN/clusters.ts
  src/pages/cluster-management/cluster-create.tsx
  src/pages/cluster-management/components/add-worker-command.tsx
  src/pages/cluster-management/components/add-worker/add-worker-step.tsx
  src/pages/cluster-management/components/add-worker/config.ts
  src/pages/cluster-management/components/add-worker/docker-run-command.tsx
  src/pages/cluster-management/components/add-worker/specify-arguments.tsx
  src/pages/cluster-management/components/add-worker/summary-data.tsx
  src/pages/cluster-management/hooks/use-pools-columns.tsx
  src/pages/resources/config/gpu-driver.ts
  src/pages/resources/config/index.ts
Due: npx tsx src/locales/check.ts

fix: anyway submit disabled when no catalog specs
  src/pages/llmodels/components/deploy-builtin-modal.tsx
Due: none
