Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

.lintstagedrc:

{
  "*.{md,json}": ["prettier --cache --write"],
  "*.{js,jsx}": ["max lint --fix --eslint-only", "prettier --cache --write"],
  "*.{css,less}": [
    "max lint --fix --stylelint-only",
    "prettier --cache --write"
  ],
  "!public/vs/**": [],
  "*.ts?(x)": [
    "max lint --fix --eslint-only",
    "prettier --cache --parser=typescript --write"
  ],
  "src/locales/**/*.ts": ["npx tsx src/locales/check.ts"]
}

fix(dashboard): correct the gauge grid's breakpoints and section heading rhythm
  src/pages/dashboard/components/active-table.tsx
  src/pages/dashboard/components/new-usage.tsx
  src/pages/dashboard/components/system-load.tsx
  src/pages/dashboard/config/index.ts
Due: none

fix(cluster-metrics): resolve the gauge title colour before it reaches ECharts
  src/pages/cluster-management/components/cluster-metrics.tsx
  src/pages/dashboard/components/active-table.tsx
Due: none

fix(kv-cache): open the provider source on the branch that can be used
  src/pages/_components/source-config/slot-form.tsx
  src/pages/_components/source-config/types.ts
  src/pages/kv-cache/components/provider-source-entry.tsx
  src/pages/kv-cache/config/index.ts
Due: none

fix(kv-cache): clear the review findings on the provider catalog UI
  src/locales/en-US/kv-cache.ts
  src/locales/ja-JP/kv-cache.ts
  src/locales/ru-RU/kv-cache.ts
  src/locales/tr-TR/kv-cache.ts
  src/locales/zh-CN/kv-cache.ts
  src/pages/_components/source-config/slot-form.tsx
  src/pages/kv-cache/components/provider-catalog.tsx
  src/pages/kv-cache/config/index.ts
  src/pages/kv-cache/config/types.ts
  src/pages/kv-cache/forms/index.tsx
  src/pages/kv-cache/style/provider-catalog.less
  src/pages/llmodels/services/use-query-cache-services.ts
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

feat(kv-cache): configure where the provider catalog comes from
  src/locales/en-US/common.ts
  src/locales/en-US/kv-cache.ts
  src/locales/ja-JP/common.ts
  src/locales/ja-JP/kv-cache.ts
  src/locales/ru-RU/common.ts
  src/locales/ru-RU/kv-cache.ts
  src/locales/tr-TR/common.ts
  src/locales/tr-TR/kv-cache.ts
  src/locales/zh-CN/common.ts
  src/locales/zh-CN/kv-cache.ts
  src/pages/_components/source-config/apis.ts
  src/pages/_components/source-config/index.tsx
  src/pages/_components/source-config/slot-form.tsx
  src/pages/_components/source-config/types.ts
  src/pages/kv-cache/components/provider-source-entry.tsx
  src/pages/kv-cache/index.tsx
Due: npx tsx src/locales/check.ts

feat(kv-cache): manage a cache service whose provider runs several components
  src/locales/en-US/kv-cache.ts
  src/locales/en-US/models.ts
  src/locales/en-US/no-result.ts
  src/locales/ja-JP/kv-cache.ts
  src/locales/ja-JP/models.ts
  src/locales/ja-JP/no-result.ts
  src/locales/ru-RU/kv-cache.ts
  src/locales/ru-RU/models.ts
  src/locales/ru-RU/no-result.ts
  src/locales/tr-TR/kv-cache.ts
  src/locales/tr-TR/models.ts
  src/locales/zh-CN/kv-cache.ts
  src/locales/zh-CN/models.ts
  src/locales/zh-CN/no-result.ts
  src/pages/kv-cache/apis/index.ts
  src/pages/kv-cache/components/add-service-modal.tsx
  src/pages/kv-cache/components/instance-rows.tsx
  src/pages/kv-cache/components/provider-catalog.tsx
  src/pages/kv-cache/components/service-overview.tsx
  src/pages/kv-cache/components/test-connection.tsx
  src/pages/kv-cache/config/index.ts
  src/pages/kv-cache/config/types.ts
  src/pages/kv-cache/detail.tsx
  src/pages/kv-cache/forms/index.tsx
  src/pages/kv-cache/hooks/use-cache-providers.ts
  src/pages/kv-cache/hooks/use-service-columns.tsx
  src/pages/kv-cache/index.tsx
  src/pages/kv-cache/style/provider-catalog.less
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/components/instance-cells/name-cell.tsx
  src/pages/llmodels/components/instance/instance-item.tsx
  src/pages/llmodels/components/instance/instances.tsx
  src/pages/llmodels/config/types.ts
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

refactor(kv-cache): split the service form and read the pre-flight from values
  src/locales/en-US/kv-cache.ts
  src/locales/ja-JP/kv-cache.ts
  src/locales/ru-RU/kv-cache.ts
  src/locales/tr-TR/kv-cache.ts
  src/locales/zh-CN/kv-cache.ts
  src/pages/kv-cache/config/types.ts
  src/pages/kv-cache/forms/component-parameters.tsx
  src/pages/kv-cache/forms/index.tsx
  src/pages/kv-cache/forms/l2-storages.tsx
  src/pages/kv-cache/forms/styled.tsx
  src/pages/kv-cache/forms/utils.ts
  src/pages/kv-cache/hooks/use-placement-check.ts
  src/pages/llmodels/components/instance-cells/name-cell.tsx
  src/pages/llmodels/components/instance/instances.tsx
  src/pages/llmodels/config/index.ts
Due: npx tsx src/locales/check.ts

chore(kv-cache): widen gpu_access to the shape the catalog returns
  src/pages/kv-cache/config/types.ts
Due: none

fix(clusters): carry the Ascend driver tree into the worker
  src/pages/resources/config/gpu-driver.ts
Due: none

fix(source-config): open a saved document at its start, and drop the reset a kind cannot use
  src/locales/en-US/common.ts
  src/locales/ja-JP/common.ts
  src/locales/ru-RU/common.ts
  src/locales/tr-TR/common.ts
  src/locales/zh-CN/common.ts
  src/pages/_components/source-config/slot-form.tsx
Due: npx tsx src/locales/check.ts

feat(plugins): host support for the enterprise announcement banner
  config/config.ts
  config/mfsu.extensions.ts
  package.json
  pnpm-lock.yaml
  src/layouts/index.tsx
Due: prettier --cache --write

fix(kv-cache): name the engine's hit rate apart from the service's
  src/locales/en-US/kv-cache.ts
  src/locales/en-US/models.ts
  src/locales/ja-JP/kv-cache.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/kv-cache.ts
  src/locales/ru-RU/models.ts
  src/locales/tr-TR/kv-cache.ts
  src/locales/tr-TR/models.ts
  src/locales/zh-CN/kv-cache.ts
  src/locales/zh-CN/models.ts
  src/pages/kv-cache/components/service-deployments.tsx
Due: npx tsx src/locales/check.ts

feat(models): export deployments as YAML, and import them from a diff
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/tr-TR/models.ts
  src/locales/zh-CN/models.ts
  src/pages/backends/components/add-modal.tsx
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/components/deployment/import-yaml-modal.tsx
  src/pages/llmodels/components/deployment/plan-document.ts
  src/pages/llmodels/components/deployment/plan-nav-list.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/config/button-actions.ts
  src/pages/llmodels/config/import-plan.ts
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/hooks/use-download-instance-logs.tsx
  src/pages/llmodels/hooks/use-export-deployments.ts
  src/pages/llmodels/hooks/use-models-columns.tsx
  src/pages/llmodels/style/import-yaml-drawer.module.less
  src/utils/download-stream.ts
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

feat(models): add backend_api_key field with auto-generation and modal display
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/tr-TR/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/forms/advance-config.tsx
Due: npx tsx src/locales/check.ts

fix(i18n): translate 62 leftover English strings in tr-TR
  src/locales/tr-TR/apikeys.ts
  src/locales/tr-TR/clusters.ts
  src/locales/tr-TR/dashboard.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/tr-TR/kv-cache.ts
  src/locales/tr-TR/menu.ts
  src/locales/tr-TR/models.ts
  src/locales/tr-TR/usage.ts
Due: npx tsx src/locales/check.ts

feat(models): deploy a built-in backend with a custom image
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/tr-TR/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/components/deployment/deploy-builtin-modal.tsx
  src/pages/llmodels/components/deployment/deploy-modal.tsx
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/forms/backend.tsx
  src/pages/llmodels/forms/index.tsx
Due: npx tsx src/locales/check.ts

chore: bump @gpustack/core-ui to v1.1.18
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix(kv-cache): open the version picker on one this cluster can run
  src/locales/en-US/kv-cache.ts
  src/locales/ja-JP/kv-cache.ts
  src/locales/ru-RU/kv-cache.ts
  src/locales/tr-TR/kv-cache.ts
  src/locales/zh-CN/kv-cache.ts
  src/pages/backends/components/backend-card.tsx
  src/pages/kv-cache/components/provider-catalog.tsx
  src/pages/kv-cache/config/index.ts
  src/pages/kv-cache/forms/index.tsx
  src/pages/kv-cache/forms/utils.ts
  src/pages/kv-cache/hooks/use-placement-check.ts
  src/utils/sort-versions.ts
Due: npx tsx src/locales/check.ts

fix(source-config): open a stored document at its start
  src/pages/_components/source-config/slot-form.tsx
Due: none

style(theme): unify modal radius to 12
  src/config/theme/dark.ts
  src/config/theme/light.ts
Due: none

style(dashboard): set section title font size
  src/pages/dashboard/config/index.ts
Due: none

style(preferences): refresh settings layout, move password form into a modal
  src/locales/en-US/common.ts
  src/locales/ja-JP/common.ts
  src/locales/ru-RU/common.ts
  src/locales/tr-TR/common.ts
  src/locales/zh-CN/common.ts
  src/pages/profile/components/appearance.tsx
  src/pages/profile/components/modify-password-form.tsx
  src/pages/profile/components/modify-password-modal.tsx
  src/pages/profile/components/security.tsx
  src/pages/profile/components/setting-row.tsx
  src/pages/profile/components/settings-group.tsx
  src/pages/profile/components/settings-section.tsx
  src/pages/profile/components/theme-preview.tsx
  src/pages/profile/config/types.ts
  src/pages/profile/index.tsx
Due: npx tsx src/locales/check.ts

chore: update iconfont files
  src/components/iconfont/iconfont.css
  src/components/iconfont/iconfont.js
  src/components/iconfont/iconfont.json
  src/components/iconfont/iconfont.ttf
  src/components/iconfont/iconfont.woff
  src/components/iconfont/iconfont.woff2
Due: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only

style(preferences): move section titles into the card via shared SectionHeader
  src/pages/profile/components/settings-section.tsx
  src/pages/profile/index.tsx
Due: none
