Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

.lintstagedrc:

{
  "*.{md,json}": ["prettier --cache --write"],
  "*.{js,jsx}": ["max lint --fix --eslint-only", "prettier --cache --write"],
  "*.{css,less}": [
    "max lint --fix --stylelint-only",
    "prettier --cache --write"
  ],
  "!public/vs/**": [],
  "*.ts?(x)": [
    "max lint --fix --eslint-only",
    "prettier --cache --parser=typescript --write"
  ],
  "src/locales/**/*.ts": ["npx tsx src/locales/check.ts"]
}

style: collapse style
  src/global.less
  src/layouts/index.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

feat(login): add plugin seam for default landing path
  src/pages/login/utils.ts
  src/plugins/types.ts
Due: none

feat(version): respect GPUSTACK_UI_* env overrides in build info
  config/utils.ts
Due: none

fix(api-keys): scope creator filter to current org members
  src/pages/api-keys/index.tsx
Due: none

feat(gpu-service): instance-type spec popover with per-card specs
  src/pages/gpu-service/instances/components/instance-type-cell.tsx
  src/pages/gpu-service/instances/components/instance-type-item.tsx
  src/pages/gpu-service/instances/config/index.ts
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
  src/pages/gpu-service/instances/index.tsx
Due: none

feat(usage): resource usage metering page
  src/access.ts
  src/app.tsx
  src/pages/_components/pie-chart/index.tsx
  src/pages/usage/apis/resource.ts
  src/pages/usage/components/export-data.tsx
  src/pages/usage/components/gpu-instances-tab.tsx
  src/pages/usage/components/metric-label.tsx
  src/pages/usage/components/resource-events.tsx
  src/pages/usage/components/resource-filter-bar.tsx
  src/pages/usage/components/storage-tab.tsx
  src/pages/usage/components/summary-tab.tsx
  src/pages/usage/hooks/use-resource-meta.ts
  src/pages/usage/index.tsx
  src/pages/usage/utils/format-instance-type.ts
Due: none

chore(menu): move Usage below Resources in the sidebar
  config/routes.ts
Due: none

fix: add notification when editing cluster's k8s_options
  src/locales/en-US/clusters.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ru-RU/clusters.ts
  src/locales/tr-TR/clusters.ts
  src/locales/zh-CN/clusters.ts
  src/pages/cluster-management/components/add-cluster.tsx
  src/pages/cluster-management/components/cluster-form.tsx
  src/pages/cluster-management/components/k8s-pod-spec.tsx
  src/pages/cluster-management/step-forms/advance-config.tsx
Due: npx tsx src/locales/check.ts

fix: remove worker config bg color
  src/pages/cluster-management/components/k8s-pod-spec.tsx
  src/pages/cluster-management/step-forms/advance-config.tsx
Due: none

fix: show worker added message
  src/hooks/use-update-chunk-list.ts
  src/layouts/index.tsx
  src/pages/cluster-management/components/add-worker/add-worker-step.tsx
  src/pages/cluster-management/components/add-worker/index.tsx
  src/pages/cluster-management/hooks/use-add-worker-message.ts
  src/pages/llmodels/instance-view/index.tsx
  src/pages/llmodels/instance-view/use-instance-columns.tsx
  src/pages/resources/services/use-query-worker-list.ts
Due: none

fix: change benchmark model name query condition to input
  src/pages/benchmark/filters/index.tsx
Due: none

fix(llmodels): scope catalog deploy cluster seed by create-scope org
  src/pages/llmodels/components/deployment/deploy-builtin-modal.tsx
Due: none

fix(storage): remove duplicate error toast on create failure
  src/pages/gpu-service/storage/index.tsx
Due: none

fix: no need to show error in login for first
  src/app.tsx
  src/layouts/index.tsx
  src/pages/cluster-management/apis/index.ts
  src/pages/cluster-management/hooks/use-cluster-list.ts
  src/pages/llmodels/components/api-access-info.tsx
  src/pages/resources/apis/index.ts
  src/pages/usage/apis/resource.ts
Due: none

feat: tease enterprise multi-tenancy and API key controls in OSS
  config/routes.ts
  src/locales/en-US/apikeys.ts
  src/locales/en-US/common.ts
  src/locales/en-US/menu.ts
  src/locales/en-US/organizations.ts
  src/locales/ja-JP/apikeys.ts
  src/locales/ja-JP/common.ts
  src/locales/ja-JP/menu.ts
  src/locales/ja-JP/organizations.ts
  src/locales/ru-RU/apikeys.ts
  src/locales/ru-RU/common.ts
  src/locales/ru-RU/menu.ts
  src/locales/ru-RU/organizations.ts
  src/locales/tr-TR/apikeys.ts
  src/locales/tr-TR/common.ts
  src/locales/tr-TR/menu.ts
  src/locales/tr-TR/organizations.ts
  src/locales/zh-CN/apikeys.ts
  src/locales/zh-CN/common.ts
  src/locales/zh-CN/menu.ts
  src/locales/zh-CN/organizations.ts
  src/pages/api-keys/hooks/use-keys-columns.tsx
  src/pages/organizations/index.tsx
Due: npx tsx src/locales/check.ts

feat(login): add onUserFetched plugin hook
  src/app.tsx
  src/plugins/types.ts
Due: none

fix(llmodels): hide GPU-service clusters from deploy picker
  src/pages/llmodels/hooks/use-form-initial-values.ts
Due: none

fix(clusters): call out that GPU instance service blocks model service
  src/locales/en-US/clusters.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ru-RU/clusters.ts
  src/locales/tr-TR/clusters.ts
  src/locales/zh-CN/clusters.ts
Due: npx tsx src/locales/check.ts

fix: align instance type fields to api
  src/locales/en-US/common.ts
  src/locales/en-US/gpuservice.ts
  src/locales/ja-JP/common.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ru-RU/common.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/tr-TR/common.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/zh-CN/common.ts
  src/locales/zh-CN/gpuservice.ts
  src/pages/benchmark/components/summary/instance.tsx
  src/pages/gpu-service/instances/apis/index.ts
  src/pages/gpu-service/instances/components/add-modal.tsx
  src/pages/gpu-service/instances/components/instance-type-cell.tsx
  src/pages/gpu-service/instances/components/instance-type-item.tsx
  src/pages/gpu-service/instances/config/form-context.ts
  src/pages/gpu-service/instances/config/index.ts
  src/pages/gpu-service/instances/config/types.ts
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/instance-type.tsx
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
  src/pages/gpu-service/instances/index.tsx
  src/pages/gpu-service/instances/services/use-query-instance-types.ts
Due: npx tsx src/locales/check.ts

fix: usage locales
  config/routes.ts
  src/locales/en-US/usage.ts
  src/locales/ja-JP/usage.ts
  src/locales/ru-RU/usage.ts
  src/locales/tr-TR/usage.ts
  src/locales/zh-CN/usage.ts
  src/pages/gpu-service/instances/components/instance-type-cell.tsx
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/instance-type.tsx
  src/pages/usage/index.tsx
Due: npx tsx src/locales/check.ts

fix: cpu init value failed
  src/layouts/index.tsx
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/instance-type.tsx
Due: none

fix(style): cluster detail
  src/pages/cluster-management/cluster-detail.tsx
  src/pages/cluster-management/components/detail/cluster-basic.tsx
  src/pages/cluster-management/components/detail/cluster-system-load.tsx
  src/pages/resources/components/gpus.tsx
  src/pages/resources/components/workers.tsx
  src/pages/resources/hooks/use-worker-columns.tsx
Due: none

fix(style): cluster detail locale
  src/pages/cluster-management/components/detail/cluster-basic.tsx
  src/pages/cluster-management/components/detail/cluster-system-load.tsx
Due: none
