Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix: do not modify the custom name
  src/pages/llmodels/components/deploy-modal.tsx
Due: none

style: audio player, usage chart
  src/components/audio-player/simple-audio.tsx
  src/pages/dashboard/components/usage-inner/export-data.tsx
  src/pages/dashboard/config/index.ts
Due: none

fix: #2191,#2227
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/hf-model-file.tsx
  src/pages/llmodels/hooks/index.ts
Due: none

fix: upload a audio will clear imgs, #2163
  src/pages/playground/components/message-input.tsx
  src/pages/playground/components/multiple-chat/message-actions.tsx
  src/pages/playground/components/multiple-chat/message-body.tsx
Due: none

fix: for gguf ref not be created, #2227
  src/hooks/use-deferred-request.ts
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/hf-model-file.tsx
  src/pages/llmodels/components/hf-model-item.tsx
  src/pages/llmodels/components/model-card.tsx
  src/pages/llmodels/components/model-file-item.tsx
  src/pages/llmodels/components/search-model.tsx
Due: none

fix: chat request payload error, #2163
  src/pages/playground/components/ground-left.tsx
  src/pages/playground/components/ground-reranker.tsx
  src/pages/playground/config/index.ts
  src/pages/playground/style/input-list.less
Due: prettier --cache --write, max lint --fix --stylelint-only

revert: markdown katex parse
  src/components/markdown-viewer/utils.ts
Due: none

fix: #2227, #2263
  src/components/seal-table/components/header-prefix.tsx
  src/components/seal-table/components/header.tsx
  src/components/seal-table/components/pagination.tsx
  src/components/seal-table/components/table-header.tsx
  src/components/seal-table/components/table-row.tsx
  src/locales/en-US/common.ts
  src/locales/en-US/playground.ts
  src/locales/ja-JP/common.ts
  src/locales/ja-JP/playground.ts
  src/locales/ru-RU/common.ts
  src/locales/ru-RU/playground.ts
  src/locales/zh-CN/common.ts
  src/locales/zh-CN/playground.ts
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/hooks/index.ts
  src/pages/playground/components/ground-reranker.tsx
  src/pages/playground/style/rerank.less
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

style: side menu style
  config/routes.ts
  src/assets/styles/common.less
  src/components/icon-font/index.tsx
  src/config/theme/light.ts
  src/global.less
  src/layouts/index.tsx
  src/layouts/rightRender.tsx
  src/pages/dashboard/components/usage-inner/index.tsx
  src/pages/dashboard/components/usage-inner/request-token-inner.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/playground/components/multiple-chat/content-item.tsx
  src/pages/playground/components/multiple-chat/model-item.tsx
  src/pages/playground/style/play-ground.less
  src/pages/playground/style/think-content.less
Due: prettier --cache --write, max lint --fix --stylelint-only

style: side menu style
  config/routes.ts
  src/assets/styles/common.less
  src/components/icon-font/index.tsx
  src/config/theme/light.ts
  src/global.less
  src/layouts/index.tsx
  src/layouts/rightRender.tsx
  src/pages/dashboard/components/usage-inner/index.tsx
  src/pages/dashboard/components/usage-inner/request-token-inner.tsx
  src/pages/playground/components/multiple-chat/content-item.tsx
  src/pages/playground/components/multiple-chat/model-item.tsx
  src/pages/playground/style/play-ground.less
  src/pages/playground/style/think-content.less
Due: prettier --cache --write, max lint --fix --stylelint-only

fix: audio uploader has cache issue
  src/components/seal-table/components/header-prefix.tsx
  src/components/upload-audio/index.tsx
  src/config/theme/dark.ts
  src/config/theme/index.ts
  src/locales/en-US/common.ts
  src/locales/en-US/playground.ts
  src/locales/ja-JP/playground.ts
  src/locales/ru-RU/playground.ts
  src/locales/zh-CN/playground.ts
  src/pages/playground/components/ground-reranker.tsx
  src/pages/playground/components/multiple-chat/message-actions.tsx
Due: npx tsx src/locales/check.ts

chore: mindle multiple support
  src/pages/llmodels/components/advance-config.tsx
Due: none

feat: model usage
  package.json
  pnpm-lock.yaml
  src/components/echarts/chart.tsx
  src/components/echarts/mix-line-bar.tsx
  src/components/seal-form/hooks/use-select-render.tsx
  src/locales/en-US/dashboard.ts
  src/locales/ja-JP/dashboard.ts
  src/locales/ru-RU/dashboard.ts
  src/locales/zh-CN/dashboard.ts
  src/pages/dashboard/apis/index.ts
  src/pages/dashboard/components/usage-inner/export-data.tsx
  src/pages/dashboard/components/usage-inner/index.tsx
  src/pages/dashboard/components/usage-inner/request-token-inner.tsx
  src/pages/dashboard/components/usage-inner/top-user.tsx
  src/pages/dashboard/components/usage-inner/use-usage-data.ts
  src/pages/dashboard/components/usage-inner/use-usage-data.tsx
  src/pages/dashboard/config/index.ts
  src/pages/dashboard/config/types.ts
  src/pages/dashboard/hooks/use-rangepicker-preset.ts
  src/pages/llmodels/apis/index.ts
  src/utils/excel-reader.ts
  typings.d.ts
Due: prettier --cache --write, npx tsx src/locales/check.ts

chore: update usage api
  src/pages/dashboard/apis/index.ts
  src/pages/dashboard/components/usage-inner/export-data.tsx
  src/pages/dashboard/components/usage-inner/index.tsx
  src/pages/dashboard/components/usage-inner/use-usage-data.tsx
Due: none

fix: update evaluation result issue
  src/atoms/models.ts
  src/global.less
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/hf-model-file.tsx
  src/pages/llmodels/components/model-card.tsx
  src/pages/llmodels/components/search-model.tsx
  src/pages/llmodels/hooks/index.ts
Due: prettier --cache --write, max lint --fix --stylelint-only

feat: clean markdown content
  package.json
  pnpm-lock.yaml
  src/components/markdown-viewer/index.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/model-card.tsx
  src/pages/llmodels/components/search-model.tsx
  src/pages/llmodels/style/model-card.less
Due: prettier --cache --write, max lint --fix --stylelint-only

fix: do not check the required fields for evaluation, #2191
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/hooks/index.ts
Due: none

style: skeleton for search result
  src/pages/llmodels/components/file-skeleton.tsx
  src/pages/llmodels/components/hf-model-file.tsx
  src/pages/llmodels/components/search-result.tsx
  src/pages/llmodels/style/search-result.less
Due: prettier --cache --write, max lint --fix --stylelint-only

fix: reranker item uid updated, chat image size issue, #2280
  src/components/auto-image/single-image.less
  src/components/markdown-viewer/index.tsx
  src/pages/llmodels/components/instance-item.tsx
  src/pages/llmodels/config/types.ts
  src/pages/playground/components/ground-reranker.tsx
  src/pages/playground/components/multiple-chat/message-body.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

fix: distributed servers info
  src/components/delete-modal/index.less
  src/components/delete-modal/index.tsx
  src/components/icon-font/iconfont/iconfont.css
  src/components/icon-font/iconfont/iconfont.js
  src/components/icon-font/iconfont/iconfont.json
  src/components/icon-font/iconfont/iconfont.ttf
  src/components/icon-font/iconfont/iconfont.woff
  src/components/icon-font/iconfont/iconfont.woff2
  src/components/icon-font/index.tsx
  src/hooks/use-delete-modal.ts
  src/hooks/use-table-fetch.ts
  src/locales/en-US/common.ts
  src/locales/en-US/resources.ts
  src/locales/ja-JP/resources.ts
  src/locales/ru-RU/resources.ts
  src/locales/zh-CN/common.ts
  src/locales/zh-CN/resources.ts
  src/pages/api-keys/index.tsx
  src/pages/llmodels/components/instance-item.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/resources/components/model-files.tsx
  src/pages/resources/components/workers.tsx
  src/pages/users/index.tsx
Due: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix: usage: datepicker item disabled issue
  src/components/delete-modal/index.tsx
  src/pages/dashboard/components/usage-inner/export-data.tsx
  src/pages/dashboard/components/usage-inner/index.tsx
  src/pages/dashboard/components/usage-inner/request-token-inner.tsx
  src/pages/dashboard/components/usage-inner/use-usage-data.tsx
  src/pages/dashboard/hooks/use-rangepicker-preset.ts
Due: none

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  npx tsx src/locales/check.ts: any of: src/locales/**/*.ts
