Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix: add custom config in get-models, test-model
  src/pages/maas-provider/forms/model-item.tsx
  src/pages/maas-provider/forms/supported-models.tsx
  src/pages/maas-provider/hooks/use-query-provider-models.tsx
Due: none

fix: custom config overwrite input value
  src/pages/maas-provider/forms/model-item.tsx
  src/pages/maas-provider/forms/supported-models.tsx
Due: none

refactor: embeddding input list
  src/components/alert-info/index.tsx
  src/components/auto-image/single-image.tsx
  src/components/seal-form/row-textarea.tsx
  src/components/seal-form/styles/row-textarea.less
  src/locales/lang-config-map.tsx
  src/pages/_components/small-close-button.tsx
  src/pages/playground/components/ground-embedding.tsx
  src/pages/playground/components/ground-reranker.tsx
  src/pages/playground/components/input-list.tsx
  src/pages/playground/hooks/use-add-image.tsx
  src/pages/playground/style/input-list.less
Due: prettier --cache --write, max lint --fix --stylelint-only

chore: store pagination for list
  src/atoms/pagination.ts
  src/config/settings.ts
  src/hooks/use-pagination-status.ts
  src/hooks/use-table-fetch.ts
  src/pages/llmodels/index.tsx
  src/pages/resources/components/workers.tsx
Due: none

chore: autocomplete user info
  src/components/seal-form/password.tsx
  src/components/seal-form/seal-input.tsx
  src/pages/login/components/local-user-form.tsx
  src/pages/login/components/password-form.tsx
  src/pages/profile/components/modify-password.tsx
Due: none

fix: pagination cache for table list
  src/pages/api-keys/index.tsx
  src/pages/benchmark/index.tsx
  src/pages/cluster-management/clusters.tsx
  src/pages/cluster-management/credentials.tsx
  src/pages/llmodels/index.tsx
  src/pages/maas-provider/index.tsx
  src/pages/model-routes/index.tsx
  src/pages/resources/components/gpus.tsx
  src/pages/resources/components/model-files.tsx
  src/pages/users/index.tsx
Due: none

refactor: playground params container
  src/components/overlay-scroller/index.module.less
  src/components/overlay-scroller/index.tsx
  src/components/seal-form/wrapper/input.ts
  src/pages/playground/components/ground-embedding.tsx
  src/pages/playground/components/ground-images.tsx
  src/pages/playground/components/ground-llm.tsx
  src/pages/playground/components/ground-reranker.tsx
  src/pages/playground/components/ground-stt.tsx
  src/pages/playground/components/ground-tts.tsx
  src/pages/playground/components/ground-video.tsx
  src/pages/playground/components/image-edit.tsx
  src/pages/playground/components/model-parameters.tsx
  src/pages/playground/components/prompt-modal.tsx
  src/pages/playground/components/right-container.tsx
  src/pages/playground/style/ground-llm.less
  src/pages/playground/style/params-container.module.less
Due: prettier --cache --write, max lint --fix --stylelint-only

refactor: adjust playground pages dir
  config/routes.ts
  src/pages/playground/chat/index.tsx
  src/pages/playground/chat/page.tsx
  src/pages/playground/chat/params-config.ts
  src/pages/playground/components/multiple-chat/model-item.tsx
  src/pages/playground/config/params-config.ts
  src/pages/playground/embedding/index.tsx
  src/pages/playground/embedding/page.tsx
  src/pages/playground/hooks/use-init-meta.ts
  src/pages/playground/hooks/use-text-image.ts
  src/pages/playground/hooks/use-text-video.ts
  src/pages/playground/images/create.tsx
  src/pages/playground/images/edit.tsx
  src/pages/playground/images/index.tsx
  src/pages/playground/rerank/hooks/use-reranker-response.ts
  src/pages/playground/rerank/index.tsx
  src/pages/playground/rerank/page.tsx
  src/pages/playground/rerank/params-config.ts
  src/pages/playground/speech/form.tsx
  src/pages/playground/speech/index.tsx
  src/pages/playground/speech/params-config.ts
  src/pages/playground/speech/stt.tsx
  src/pages/playground/speech/tts.tsx
  src/pages/playground/video/index.tsx
  src/pages/playground/video/page.tsx
Due: none

fix: default_env field not display in backend editing yaml
  src/pages/backends/components/add-modal.tsx
  src/pages/backends/config/index.ts
  src/pages/backends/hooks/use-create-backend.tsx
Due: none

refactor: playground params form
  config/routes.ts
  src/pages/playground/chat/forms/index.tsx
  src/pages/playground/chat/index.tsx
  src/pages/playground/chat/single-chat.tsx
  src/pages/playground/components/dynamic-params.tsx
  src/pages/playground/components/model-select.tsx
  src/pages/playground/components/multiple-chat/model-item.tsx
  src/pages/playground/components/params-fields.tsx
  src/pages/playground/config/form-context.ts
  src/pages/playground/config/params-config.ts
  src/pages/playground/embedding/forms/advance-config.tsx
  src/pages/playground/embedding/forms/index.tsx
  src/pages/playground/embedding/page.tsx
  src/pages/playground/hooks/use-init-image.ts
  src/pages/playground/hooks/use-init-llm.ts
  src/pages/playground/images/create.tsx
  src/pages/playground/images/edit.tsx
  src/pages/playground/images/forms/index.tsx
  src/pages/playground/rerank/forms/advance-config.tsx
  src/pages/playground/rerank/forms/index.tsx
  src/pages/playground/rerank/page.tsx
  src/pages/playground/rerank/params-config.ts
  src/pages/playground/speech/forms/stt-form.tsx
  src/pages/playground/speech/forms/tts-advance.tsx
  src/pages/playground/speech/forms/tts-form.tsx
  src/pages/playground/speech/params-config.ts
  src/pages/playground/speech/stt.tsx
  src/pages/playground/speech/tts.tsx
  src/pages/playground/video/forms/index.tsx
  src/pages/playground/video/page.tsx
Due: none

chore: benchmark profile filter
  src/pages/benchmark/components/left-actions.tsx
Due: none

feat: paste multiple lines in parameters input
  src/components/list-input/hint-input.tsx
  src/components/list-input/index.tsx
  src/components/list-input/list-item.tsx
  src/components/seal-form/auto-complete.tsx
  src/pages/cluster-management/cluster-detail.tsx
  src/pages/cluster-management/hooks/use-cluster-columns.tsx
  src/pages/llmodels/components/hf-model-file.tsx
  src/pages/llmodels/index.tsx
  src/pages/resources/components/gpus.tsx
  src/pages/resources/components/workers.tsx
  src/pages/resources/hooks/use-worker-columns.tsx
Due: none

feat: add stream mode for tts
  src/pages/playground/speech/hooks/index.ts
  src/pages/playground/speech/hooks/useNonStreamTTS.ts
  src/pages/playground/speech/hooks/useStreamTTS.ts
  src/pages/playground/speech/tts.tsx
Due: none

feat: add streaming for stt
  src/locales/en-US/playground.ts
  src/locales/ja-JP/playground.ts
  src/locales/ru-RU/playground.ts
  src/locales/zh-CN/playground.ts
  src/pages/playground/speech/forms/stt-form.tsx
  src/pages/playground/speech/forms/tts-advance.tsx
  src/pages/playground/speech/hooks/index.ts
  src/pages/playground/speech/hooks/use-non-stream-stt.ts
  src/pages/playground/speech/hooks/use-non-stream-tts.ts
  src/pages/playground/speech/hooks/use-stream-stt.ts
  src/pages/playground/speech/hooks/use-stream-tts.ts
  src/pages/playground/speech/stt.tsx
Due: npx tsx src/locales/check.ts

fix: stt streaming response handler
  src/pages/playground/speech/hooks/use-stream-stt.ts
  src/pages/playground/speech/stt.tsx
  src/utils/fetch-chunk-data.ts
Due: none

chore: benchmark long context warning
  src/locales/en-US/benchmark.ts
  src/locales/ja-JP/benchmark.ts
  src/locales/ru-RU/benchmark.ts
  src/locales/zh-CN/benchmark.ts
  src/pages/benchmark/components/add-benchmark-modal.tsx
  src/pages/benchmark/config/form-context.ts
  src/pages/benchmark/forms/basic.tsx
  src/pages/benchmark/forms/dataset.tsx
  src/pages/benchmark/forms/index.tsx
  src/pages/benchmark/hooks/use-benchmark-columns.tsx
Due: npx tsx src/locales/check.ts

fix: use html audio to load stream
  src/components/audio-animation/index.tsx
  src/components/audio-player/raw-audio-player.tsx
  src/components/speech-content/audio-player.tsx
  src/components/speech-content/index.tsx
  src/components/speech-content/speech-item.tsx
  src/pages/benchmark/index.tsx
  src/pages/playground/apis/index.ts
  src/pages/playground/components/params-fields.tsx
  src/pages/playground/speech/audio/pcm-player-workerlet.ts
  src/pages/playground/speech/forms/tts-advance.tsx
  src/pages/playground/speech/forms/tts-form.tsx
  src/pages/playground/speech/hooks/use-non-stream-tts.ts
  src/pages/playground/speech/hooks/use-pcm-stream-player.ts
  src/pages/playground/speech/hooks/use-stream-tts.ts
  src/pages/playground/speech/params-config.ts
  src/pages/playground/speech/tts.tsx
  src/utils/pcm-to-wav.ts
Due: none

chore: add hint for creating backend
  src/locales/en-US/backends.ts
  src/locales/ja-JP/backends.ts
  src/locales/ru-RU/backends.ts
  src/locales/zh-CN/backends.ts
  src/pages/backends/components/add-modal.tsx
Due: npx tsx src/locales/check.ts

fix: parser multiple backend pramas on paste
  config/routes.ts
  src/components/list-input/index.tsx
  src/pages/llmodels/forms/backend.tsx
  src/pages/llmodels/hooks/use-compare-envs.ts
  src/pages/playground/video/page.tsx
  src/utils/index.ts
Due: none

fix: video gen
  src/pages/playground/config/index.ts
  src/pages/playground/hooks/use-init-video-meta.ts
  src/pages/playground/hooks/use-text-video.ts
  src/pages/playground/video/index.tsx
  src/pages/playground/video/page.tsx
  src/utils/index.ts
Due: none

fix: yaml edior height
  src/pages/_components/yaml-editor/index.tsx
  src/pages/backends/components/add-modal.tsx
  src/pages/backends/components/import-yaml.tsx
Due: none

fix: route target can be set 0
  src/pages/model-routes/forms/targets.tsx
Due: none

fix: autofilled in add user form
  src/pages/llmodels/hooks/use-models-columns.tsx
  src/pages/users/components/add-modal.tsx
Due: none

feat: display provider models
  src/components/seal-form/seal-cascader.tsx
  src/components/seal-form/simple-select.tsx
  src/components/seal-form/wrapper/select.ts
  src/pages/dashboard/components/usage-inner/export-data.tsx
  src/pages/dashboard/components/usage-inner/filter-bar.tsx
  src/pages/dashboard/components/usage-inner/index.tsx
  src/pages/dashboard/components/usage-inner/use-usage-data.tsx
  src/pages/model-routes/components/route-targets.tsx
  src/pages/model-routes/forms/targets.tsx
Due: none

chore: add nvidia notes
  src/locales/en-US/clusters.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ru-RU/clusters.ts
  src/locales/zh-CN/clusters.ts
  src/pages/resources/config/gpu-driver.ts
Due: npx tsx src/locales/check.ts

feat: add profile filter in benchmark
  src/pages/benchmark/components/left-actions.tsx
  src/pages/benchmark/components/summary/percentile-result.tsx
  src/pages/benchmark/hooks/use-column-settings.tsx
Due: none

fix: title for editing apikey
  src/locales/en-US/apikeys.ts
  src/locales/ja-JP/apikeys.ts
  src/locales/ru-RU/apikeys.ts
  src/locales/zh-CN/apikeys.ts
  src/pages/api-keys/index.tsx
Due: npx tsx src/locales/check.ts

style: table overflow scroller style
  src/assets/styles/table.less
  src/pages/benchmark/index.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

style: same key tooltip
  src/components/label-selector/label-item.tsx
Due: none

chore: update model cols
  src/pages/llmodels/hooks/use-models-columns.tsx
Due: none

fix: show backend warning hint after submitting in editing mode
  src/pages/backends/components/add-modal.tsx
Due: none

fix: reset filter in export modal
  src/pages/dashboard/components/usage-inner/export-data.tsx
  src/pages/dashboard/components/usage-inner/use-usage-data.tsx
Due: none

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  npx tsx src/locales/check.ts: any of: src/locales/**/*.ts
