Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

.lintstagedrc:

{
  "*.{md,json}": ["prettier --cache --write"],
  "*.{js,jsx}": ["max lint --fix --eslint-only", "prettier --cache --write"],
  "*.{css,less}": [
    "max lint --fix --stylelint-only",
    "prettier --cache --write"
  ],
  "!public/vs/**": [],
  "*.ts?(x)": [
    "max lint --fix --eslint-only",
    "prettier --cache --parser=typescript --write"
  ],
  "src/locales/**/*.ts": ["npx tsx src/locales/check.ts"]
}

chore: core-ui deps
  package.json
  src/app.tsx
Due: prettier --cache --write

chore: update lock file
  pnpm-lock.yaml
Due: none

fix: rebase main
  .lintstagedrc
  package.json
  scripts/stylelint-compat.cjs
  src/global.less
  src/layouts/extraRender.tsx
  src/layouts/index.tsx
  src/layouts/rightRender.tsx
  src/locales/en-US/menu.ts
  src/locales/ja-JP/menu.ts
  src/locales/ru-RU/menu.ts
  src/locales/tr-TR/menu.ts
  src/locales/zh-CN/menu.ts
  src/pages/api-keys/components/add-apikey-modal/index.tsx
  src/pages/api-keys/index.tsx
  src/pages/cluster-management/components/k8s-volume-mount.tsx
  src/pages/dashboard/components/active-table.tsx
  src/pages/dashboard/components/usage-inner/filter-bar.tsx
  src/pages/playground/embedding/page.tsx
  src/pages/usage/components/daily-usage.tsx
  src/pages/usage/components/export-data.tsx
  src/pages/usage/components/filter-bar.tsx
  src/pages/usage/hooks/use-apikeys-columns.tsx
  src/pages/usage/hooks/use-models-columns.tsx
  src/pages/usage/hooks/use-users-columns.tsx
  src/pages/usage/index.tsx
  src/pages/usage/tables/apikeys-table.tsx
  src/pages/usage/tables/models-table.tsx
  src/pages/usage/tables/users-table.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix: CInput not found
  package.json
  src/pages/resources/components/update-labels.tsx
  src/pages/resources/hooks/use-files-columns.tsx
  src/pages/resources/hooks/use-worker-maintenance.tsx
Due: prettier --cache --write

fix: custom logos
  config/config.ts
  package.json
  pnpm-lock.yaml
  src/app.tsx
  src/hooks/use-logo.ts
  src/layouts/Logo.tsx
  src/layouts/extraRender.tsx
  src/layouts/index.tsx
  src/locales/en-US/common.ts
  src/locales/ja-JP/common.ts
  src/locales/ru-RU/common.ts
  src/locales/tr-TR/common.ts
  src/locales/zh-CN/common.ts
  src/pages/login/components/background.tsx
  src/pages/login/components/local-user-form.tsx
  src/pages/login/index.tsx
  src/plugins/enterprise-ready.ts
  src/plugins/locale-merger.ts
  src/plugins/manager.ts
  src/plugins/types.ts
Due: prettier --cache --write, npx tsx src/locales/check.ts

chore: update ui version
  pnpm-lock.yaml
Due: none

feat: logs history
  src/components/logs-viewer/styles/index.less
  src/components/logs-viewer/virtual-log-list.tsx
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/tr-TR/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/components/view-logs-modal.tsx
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/services/use-query-instance-restart-count.ts
  src/utils/index.ts
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

chore: logs history selection
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/tr-TR/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/components/view-logs-modal.tsx
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/services/use-query-instance-restart-count.ts
Due: npx tsx src/locales/check.ts

chore: history options
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/tr-TR/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/components/view-logs-modal.tsx
  src/pages/llmodels/services/use-query-instance-restart-count.ts
Due: npx tsx src/locales/check.ts

style: start history selection
  src/pages/llmodels/components/view-logs-modal.tsx
  src/pages/llmodels/services/use-query-instance-restart-count.ts
Due: none

fix: main worker flag
  src/pages/llmodels/components/view-logs-modal.tsx
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/services/use-query-instance-restart-count.ts
Due: none

fix: logs container
  src/locales/en-US/resources.ts
  src/locales/ja-JP/resources.ts
  src/locales/ru-RU/resources.ts
  src/locales/tr-TR/resources.ts
  src/locales/zh-CN/resources.ts
  src/pages/llmodels/components/view-logs-modal.tsx
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/services/use-query-instance-restart-count.ts
Due: npx tsx src/locales/check.ts

fix: previous run description
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/tr-TR/models.ts
  src/locales/zh-CN/models.ts
Due: npx tsx src/locales/check.ts

fix: keep previous run checkbox visible and fall back to main worker
  src/pages/llmodels/components/view-logs-modal.tsx
Due: none

refactor: usage chart
  package.json
  pnpm-lock.yaml
  src/locales/en-US/usage.ts
  src/locales/ja-JP/usage.ts
  src/locales/ru-RU/usage.ts
  src/locales/tr-TR/usage.ts
  src/locales/zh-CN/usage.ts
  src/pages/_components/bar-chart/index.tsx
  src/pages/usage/apis/index.ts
  src/pages/usage/components/daily-usage.tsx
  src/pages/usage/components/export-data.tsx
  src/pages/usage/config/index.ts
  src/pages/usage/config/types.ts
  src/pages/usage/hooks/use-apikeys-columns.tsx
  src/pages/usage/hooks/use-models-columns.tsx
  src/pages/usage/hooks/use-usage-filters.ts
  src/pages/usage/hooks/use-users-columns.tsx
  src/pages/usage/index.tsx
  src/pages/usage/services/use-query-timeseries-data.ts
  src/pages/usage/tables/apikeys-table.tsx
  src/pages/usage/tables/models-table.tsx
  src/pages/usage/tables/users-table.tsx
  src/pages/usage/utils/get-breakdown-row-key.ts
Due: prettier --cache --write, npx tsx src/locales/check.ts

fix: chart flicker
  src/pages/_components/bar-chart/index.tsx
  src/pages/usage/components/daily-usage.tsx
  src/pages/usage/components/export-data.tsx
Due: none

fix: list-input, labels-selector form
  src/pages/backends/forms/basic.tsx
  src/pages/backends/forms/versions-config.tsx
  src/pages/benchmark/forms/labels.tsx
  src/pages/cluster-management/components/pool-form.tsx
  src/pages/llmodels/forms/advance-config.tsx
  src/pages/llmodels/forms/backend-parameters-list.tsx
  src/pages/llmodels/forms/schedule-type.tsx
  src/pages/model-routes/forms/meta-data.tsx
  src/pages/resources/components/update-labels.tsx
  tsconfig.json
Due: prettier --cache --write

fix: apikey filters
  src/pages/api-keys/components/add-apikey-modal/index.tsx
  src/pages/api-keys/hooks/use-keys-columns.tsx
  src/pages/api-keys/index.tsx
Due: none

feat: ip access control
  src/layouts/index.tsx
  src/pages/api-keys/hooks/use-keys-columns.tsx
  src/pages/api-keys/index.tsx
  src/pages/playground/view-code/image.ts
  src/pages/users/components/add-modal.tsx
  src/plugins/types.ts
Due: none

chore(deps): update ui 1.0.5
  package.json
  pnpm-lock.yaml
  src/app.tsx
  tsconfig.json
Due: prettier --cache --write
