Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

.lintstagedrc:

{
  "*.{md,json}": ["prettier --cache --write"],
  "*.{js,jsx}": ["max lint --fix --eslint-only", "prettier --cache --write"],
  "*.{css,less}": [
    "max lint --fix --stylelint-only",
    "prettier --cache --write"
  ],
  "*.ts?(x)": [
    "max lint --fix --eslint-only",
    "prettier --cache --parser=typescript --write"
  ],
  "src/locales/**/*.ts": ["npx tsx src/locales/check.ts"]
}

feat: model cache volume mount, clear gpu selector
  src/locales/en-US/clusters.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ru-RU/clusters.ts
  src/locales/zh-CN/clusters.ts
  src/pages/backends/forms/versions-config.tsx
  src/pages/cluster-management/components/add-worker-command.tsx
  src/pages/cluster-management/components/add-worker/config.ts
  src/pages/cluster-management/components/add-worker/docker-run-command.tsx
  src/pages/cluster-management/components/add-worker/specify-arguments.tsx
  src/pages/cluster-management/components/add-worker/summary-data.tsx
  src/pages/llmodels/components/access-control-modal/index.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/hooks/index.ts
  src/pages/resources/config/gpu-driver.ts
Due: npx tsx src/locales/check.ts

refactor: create cluster ux
  src/pages/cluster-management/cluster-create.tsx
  src/pages/cluster-management/cluster-modal.tsx
  src/pages/cluster-management/clusters.tsx
  src/pages/cluster-management/components/cluster-steps.tsx
  src/pages/cluster-management/components/footer-buttons.tsx
  src/pages/cluster-management/components/provider-catalog.tsx
  src/pages/cluster-management/components/support-gpus.tsx
  src/pages/cluster-management/hooks/use-create-cluster.tsx
  src/pages/cluster-management/step-forms/basic-form.tsx
  src/pages/cluster-management/step-forms/worker-pools-form.tsx
Due: none

style: workers page no page container
  src/config/settings.ts
  src/hooks/use-update-chunk-list.ts
  src/layouts/extraRender.tsx
  src/layouts/index.tsx
  src/pages/resources/hooks/use-worker-columns.tsx
Due: none

style: terminal panel
  src/pages/_components/terminal-tabs/footer.less
  src/pages/_components/terminal-tabs/index.tsx
  src/pages/_components/terminal-tabs/tabs.tsx
  src/pages/resources/components/workers.tsx
  src/pages/resources/hooks/use-terminal-tabs.tsx
  src/pages/resources/hooks/use-worker-columns.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

chore: rename ground-left as ground-llm
  src/components/icon-font/index.tsx
  src/config/settings.ts
  src/pages/_components/terminal-tabs/index.tsx
  src/pages/_components/terminal-tabs/resize-container.tsx
  src/pages/_components/terminal-tabs/tabs.tsx
  src/pages/playground/components/ground-embedding.tsx
  src/pages/playground/components/ground-images.tsx
  src/pages/playground/components/ground-llm.tsx
  src/pages/playground/components/ground-reranker.tsx
  src/pages/playground/components/ground-stt.tsx
  src/pages/playground/components/ground-tts.tsx
  src/pages/playground/components/image-edit.tsx
  src/pages/playground/index.tsx
  src/pages/playground/style/ground-llm.less
  src/pages/resources/hooks/use-terminal-tabs.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

style: resize terminal height
  src/pages/_components/terminal-tabs/tabs.tsx
Due: none

style: drawer styles
  src/components/icon-font/index.tsx
  src/components/scroller-modal/gs-drawer.tsx
  src/config/theme/dark.ts
  src/config/theme/light.ts
  src/hooks/use-overlay-scroller.ts
  src/pages/api-keys/components/add-apikey-modal/index.tsx
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/update-modal.tsx
  src/pages/llmodels/download/index.tsx
Due: none

fix: update add worker command
  src/layouts/index.tsx
  src/locales/en-US/clusters.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ru-RU/clusters.ts
  src/pages/cluster-management/components/add-worker/add-worker-context.ts
  src/pages/cluster-management/components/add-worker/add-worker-step.tsx
  src/pages/cluster-management/components/add-worker/index.tsx
  src/pages/cluster-management/components/add-worker/select-cluster.tsx
  src/pages/cluster-management/components/footer-buttons.tsx
  src/pages/cluster-management/hooks/use-add-worker.tsx
  src/pages/llmodels/apis/index.ts
  src/pages/resources/apis/index.ts
  src/pages/resources/components/workers.tsx
  src/pages/resources/config/gpu-driver.ts
  src/pages/users/apis/index.ts
Due: npx tsx src/locales/check.ts

refactor: card list resize container
  src/components/resize-container/index.tsx
  src/components/resize-container/use-responsive.ts
  src/components/templates/card-list.tsx
  src/components/templates/card-skelton.tsx
  src/pages/_components/infinite-scroller/index.tsx
  src/pages/backends/components/backend-list.tsx
  src/pages/llmodels/components/catalog-list.tsx
  src/pages/llmodels/user-models.tsx
Due: none

fix: table sorter
  src/components/seal-table/styles/header.less
  src/hooks/use-table-fetch.ts
  src/pages/api-keys/hooks/use-keys-columns.tsx
  src/pages/api-keys/index.tsx
  src/pages/cluster-management/hooks/use-credential-columns.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/hooks/use-models-columns.tsx
  src/pages/resources/components/gpus.tsx
  src/pages/resources/components/model-files.tsx
  src/pages/resources/components/workers.tsx
  src/pages/resources/hooks/use-files-columns.tsx
  src/pages/resources/hooks/use-gpu-columns.tsx
  src/pages/resources/hooks/use-worker-columns.tsx
  src/pages/users/hooks/use-users-columns.tsx
  src/pages/users/index.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

feat: add resource for first login
  src/atoms/models.ts
  src/pages/cluster-management/hooks/use-cluster-list.ts
  src/pages/dashboard/components/system-load.tsx
  src/pages/dashboard/config/dashboard-context.ts
  src/pages/dashboard/index.tsx
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/hooks/index.ts
  src/pages/llmodels/hooks/use-form-initial-values.ts
  src/pages/llmodels/hooks/use-no-resource-result.tsx
  src/pages/llmodels/index.tsx
Due: none

fix: docs for gpu link 404
  src/pages/cluster-management/components/add-worker/select-vendor.tsx
  src/pages/cluster-management/components/support-gpus.tsx
Due: none

feat: get initial password
  src/components/highlight-code/styles/index.less
  src/locales/en-US/users.ts
  src/locales/ja-JP/users.ts
  src/locales/ru-RU/users.ts
  src/locales/zh-CN/users.ts
  src/pages/login/components/local-user-form.tsx
  src/pages/login/config/index.ts
  src/pages/login/index.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix: add worker command
  src/pages/resources/config/gpu-driver.ts
Due: none

fix: query catalog spec, default_version check
  src/assets/styles/menu.less
  src/global.less
  src/layouts/index.tsx
  src/locales/en-US/backends.ts
  src/locales/en-US/models.ts
  src/locales/ja-JP/backends.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/backends.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/backends.ts
  src/locales/zh-CN/models.ts
  src/pages/backends/components/import-yaml.tsx
  src/pages/backends/components/yaml-editor.tsx
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/catalog.tsx
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/hooks/index.ts
  src/pages/login/apis/index.ts
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix: no spec list for catalog
  src/layouts/index.tsx
  src/pages/llmodels/components/deploy-builtin-modal.tsx
Due: none

fix: logout error
  src/pages/login/apis/index.ts
Due: none

style: column wrapper srollable style
  src/pages/_components/column-wrapper/index.tsx
  src/pages/_components/column-wrapper/style.less
  src/pages/api-keys/components/add-apikey-modal/index.tsx
  src/pages/backends/components/add-modal.tsx
  src/pages/llmodels/components/compatible-alert.tsx
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/update-modal.tsx
  src/pages/llmodels/config/backend-parameters/vllm.ts
  src/pages/llmodels/config/index.ts
  src/pages/llmodels/download/index.tsx
  src/pages/llmodels/forms/backend.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/forms/schedule-type.tsx
  src/pages/playground/hooks/use-chat-completion.ts
Due: prettier --cache --write, max lint --fix --stylelint-only

fix: add worker command container_name
  src/pages/resources/config/gpu-driver.ts
Due: none

chore: worker added message
  src/hooks/use-update-chunk-list.ts
  src/locales/en-US/clusters.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ru-RU/clusters.ts
  src/locales/zh-CN/clusters.ts
  src/pages/cluster-management/components/add-worker/add-worker-step.tsx
  src/pages/cluster-management/hooks/use-add-worker-message.ts
  src/pages/resources/components/workers.tsx
Due: npx tsx src/locales/check.ts

fix: backend framework options
  src/components/highlight-code/code-viewer-dark.tsx
  src/components/highlight-code/code-viewer-light.tsx
  src/components/highlight-code/code-viewer.tsx
  src/components/logs-viewer/xterm-viewer.tsx
  src/config/index.ts
  src/layouts/extraRender.tsx
  src/pages/backends/forms/version-info.tsx
  src/pages/cluster-management/hooks/use-cluster-list.ts
  src/pages/dashboard/components/active-table.tsx
  src/pages/dashboard/components/over-view.tsx
  src/pages/dashboard/components/resource-utilization.tsx
  src/pages/dashboard/index.tsx
  src/pages/playground/components/audio-input.tsx
  src/pages/playground/components/file-list.tsx
  src/pages/playground/components/model-parameters.tsx
  src/pages/playground/components/multiple-chat/active-models.tsx
  src/pages/playground/components/multiple-chat/content-item.tsx
  src/pages/playground/components/multiple-chat/message-content.tsx
  src/pages/playground/components/multiple-chat/model-item.tsx
  src/pages/playground/components/multiple-chat/system-message.tsx
  src/pages/playground/components/rerank-message.tsx
  src/pages/playground/components/upload-file.tsx
  src/pages/playground/index.tsx
Due: none
