Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

style(benchmark): column settings, table header
  src/pages/benchmark/hooks/use-column-settings.tsx
  src/pages/profile/components/settings-section.tsx
Due: none

fix(models): align KV cache toggle with speculative decoding
  src/pages/llmodels/forms/kv-cache.tsx
Due: none

feat: support sharegpt dataset range
  src/locales/en-US/benchmark.ts
  src/locales/ja-JP/benchmark.ts
  src/locales/ru-RU/benchmark.ts
  src/locales/tr-TR/benchmark.ts
  src/locales/zh-CN/benchmark.ts
  src/pages/benchmark/components/summary/benchmark.tsx
  src/pages/benchmark/config/detail-types.ts
  src/pages/benchmark/config/types.ts
  src/pages/benchmark/forms/dataset.tsx
  src/pages/benchmark/forms/index.tsx
  src/pages/benchmark/forms/random-settings.tsx
  src/pages/benchmark/index.tsx
Due: npx tsx src/locales/check.ts

feat(benchmark): add responsive filter popover
  src/pages/benchmark/components/filter-menu.tsx
  src/pages/benchmark/components/left-actions.tsx
  src/pages/benchmark/components/responsive-filter-bar.tsx
  src/pages/benchmark/components/responsive-filters.tsx
  src/pages/benchmark/config/types.ts
  src/pages/benchmark/hooks/use-benchmark-filters.test.tsx
  src/pages/benchmark/hooks/use-benchmark-filters.ts
  src/pages/benchmark/hooks/use-filter-overflow.ts
  src/pages/benchmark/index.tsx
  src/pages/benchmark/utils/filter-overflow.test.ts
  src/pages/benchmark/utils/filter-overflow.ts
Due: none

fix(i18n): translate the last English labels in tr-TR
  src/locales/tr-TR/benchmark.ts
  src/locales/tr-TR/clusters.ts
  src/locales/tr-TR/common.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/tr-TR/models.ts
Due: npx tsx src/locales/check.ts

fix(models): expect the Turkish revision titles in the tr-TR title test
  src/pages/llmodels/components/deployment/revisions/hooks/revision-title.test.mts
Due: none

feat: support sharegpt dataset range
  src/locales/en-US/benchmark.ts
  src/locales/ja-JP/benchmark.ts
  src/locales/ru-RU/benchmark.ts
  src/locales/tr-TR/benchmark.ts
  src/locales/zh-CN/benchmark.ts
  src/pages/benchmark/components/summary/benchmark.tsx
  src/pages/benchmark/config/detail-types.ts
  src/pages/benchmark/config/types.ts
  src/pages/benchmark/forms/dataset.tsx
  src/pages/benchmark/forms/index.tsx
  src/pages/benchmark/forms/random-settings.tsx
  src/pages/benchmark/forms/sharegpt-token-validation.test.ts
  src/pages/benchmark/forms/sharegpt-token-validation.ts
  src/pages/benchmark/index.tsx
Due: npx tsx src/locales/check.ts

test(benchmark): add sharegpt token validation command
  package.json
Due: prettier --cache --write

fix(users): sort user list by username
  src/pages/users/hooks/use-users-columns.tsx
Due: none

refactor(benchmark): extract filter options and refine popover
  src/locales/en-US/benchmark.ts
  src/pages/benchmark/components/filter-menu.tsx
  src/pages/benchmark/components/filter-option-group.tsx
  src/pages/benchmark/components/left-actions.tsx
Due: npx tsx src/locales/check.ts

refactor(filters): make responsive filters configuration-driven
  src/components/responsive-filters/README.md
  src/components/responsive-filters/filter-control.tsx
  src/components/responsive-filters/filter-option-group.tsx
  src/components/responsive-filters/filter-overflow.test.ts
  src/components/responsive-filters/filter-overflow.ts
  src/components/responsive-filters/filter-popover.tsx
  src/components/responsive-filters/filter-values.test.ts
  src/components/responsive-filters/filter-values.ts
  src/components/responsive-filters/index.tsx
  src/components/responsive-filters/responsive-filter-bar.tsx
  src/components/responsive-filters/types.ts
  src/components/responsive-filters/use-filter-overflow.ts
  src/pages/benchmark/components/filter-menu.tsx
  src/pages/benchmark/components/left-actions.tsx
  src/pages/benchmark/components/responsive-filters.tsx
  src/pages/benchmark/config/types.ts
  src/pages/benchmark/index.tsx
Due: prettier --cache --write

style(layout): refine sidebar logo size and alignment
  src/global.less
  src/layouts/Logo.tsx
  src/layouts/sider-menu.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

fix(users): preserve API error messages and keep failed forms open
  src/pages/users/index.tsx
Due: none

fix(model-routes): preserve cursor positions in policy list editors
  src/pages/model-routes/forms/lb-policy.tsx
Due: none

chore(iconfont): update notification and mail icons
  src/components/iconfont/iconfont.css
  src/components/iconfont/iconfont.js
  src/components/iconfont/iconfont.json
  src/components/iconfont/iconfont.ttf
  src/components/iconfont/iconfont.woff
  src/components/iconfont/iconfont.woff2
Due: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only

feat(plugins): add layout and header slots for plugin components
  config/config.ts
  config/mfsu.extensions.ts
  src/layouts/extraRender.tsx
  src/layouts/index.tsx
Due: none

docs: respect drawer and modal dismissal defaults in design review
  .claude/skills/design-review/SKILL.md
Due: prettier --cache --write

fix(benchmark): show measured request totals and refine details
  src/pages/benchmark/components/dashboard-link.tsx
  src/pages/benchmark/components/environment/index.tsx
  src/pages/benchmark/components/summary/percentile-result.tsx
  src/pages/benchmark/hooks/use-column-settings.tsx
  src/pages/llmodels/style/model-card.less
Due: prettier --cache --write, max lint --fix --stylelint-only

fix(models): align status filter dots with StatusDot
  src/pages/llmodels/hooks/use-filter-status.tsx
  src/pages/llmodels/instance-view/index.tsx
  src/pages/llmodels/instance-view/left-filters.tsx
Due: none

fix(model-routes): require decision model in decision-service policy
  src/pages/model-routes/forms/lb-policy.tsx
Due: none

fix: pd router backend parameters
  package.json
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/tr-TR/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/constants/backend-parameters/index.ts
  src/pages/llmodels/constants/backend-parameters/router.ts
  src/pages/llmodels/forms/backend-parameters-list.test.mts
  src/pages/llmodels/forms/backend-parameters-list.tsx
  src/pages/llmodels/forms/roles/router-form.tsx
Due: prettier --cache --write, npx tsx src/locales/check.ts

feat(clusters): support insecure_tls in the worker config YAML
  src/pages/cluster-management/config/worker-config.docker.json
  src/pages/cluster-management/config/worker-config.kubernetes.json
  src/pages/cluster-management/config/yaml-template.ts
Due: prettier --cache --write

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  npx tsx src/locales/check.ts: any of: src/locales/**/*.ts
