Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

.lintstagedrc:

{
  "*.{md,json}": ["prettier --cache --write"],
  "*.{js,jsx}": ["max lint --fix --eslint-only", "prettier --cache --write"],
  "*.{css,less}": [
    "max lint --fix --stylelint-only",
    "prettier --cache --write"
  ],
  "!public/vs/**": [],
  "*.ts?(x)": [
    "max lint --fix --eslint-only",
    "prettier --cache --parser=typescript --write"
  ],
  "src/locales/**/*.ts": ["npx tsx src/locales/check.ts"]
}

refactor(gpu-service): one utilization column per gauge
  src/locales/en-US/gpuservice.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/zh-CN/gpuservice.ts
  src/pages/gpu-service/instances/README.md
  src/pages/gpu-service/instances/components/utilization-cell.tsx
  src/pages/gpu-service/instances/config/index.ts
  src/pages/gpu-service/instances/config/types.ts
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
  src/pages/gpu-service/instances/styles/utilization-cell.module.less
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

refactor(gpu-service): move the instances table to core-ui's Table
  src/pages/gpu-service/instances/README.md
  src/pages/gpu-service/instances/components/utilization-cell.tsx
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
  src/pages/gpu-service/instances/index.tsx
  src/pages/gpu-service/instances/styles/utilization-cell.module.less
Due: prettier --cache --write, max lint --fix --stylelint-only

style: remove instance type cell maxwidth
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
Due: none

refactor(gpu-service): split utilization into two columns
  src/locales/en-US/gpuservice.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/zh-CN/gpuservice.ts
  src/pages/gpu-service/instances/README.md
  src/pages/gpu-service/instances/components/utilization-cell.tsx
  src/pages/gpu-service/instances/config/types.ts
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
  src/pages/gpu-service/instances/index.tsx
  src/pages/gpu-service/instances/styles/utilization-cell.module.less
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

refactor(gpu-service): poll instance metrics page-wide instead of per row
  src/pages/gpu-service/instances/apis/index.ts
  src/pages/gpu-service/instances/components/utilization-cell.tsx
  src/pages/gpu-service/instances/config/index.ts
  src/pages/gpu-service/instances/config/types.ts
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
  src/pages/gpu-service/instances/index.tsx
  src/pages/gpu-service/instances/services/use-query-instance-metrics.ts
  src/pages/gpu-service/instances/styles/utilization-cell.module.less
Due: prettier --cache --write, max lint --fix --stylelint-only

feat: add a half-arc gauge component
  src/assets/styles/common.less
  src/pages/_components/half-arc-gauge/index.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

docs(gpu-service): document the instances utilization column
  src/pages/gpu-service/instances/README.md
Due: prettier --cache --write

feat(usage): show what a GPU instance's usage is made of
  src/locales/en-US/usage.ts
  src/locales/ja-JP/usage.ts
  src/locales/ru-RU/usage.ts
  src/locales/tr-TR/usage.ts
  src/locales/zh-CN/usage.ts
  src/pages/_components/pie-chart/index.tsx
  src/pages/usage/apis/resource.ts
  src/pages/usage/instances-tab/index.tsx
  src/pages/usage/instances-tab/tables/instances-breakdown-table.tsx
  src/pages/usage/instances-tab/tables/use-instances-columns.tsx
  src/pages/usage/summary-tab/index.tsx
  src/pages/usage/utils/export-preview-values.tsx
  src/pages/usage/utils/format-instance-type.ts
Due: npx tsx src/locales/check.ts

feat(gpuservice): show which instances hold a storage volume
  src/locales/en-US/gpuservice.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/zh-CN/gpuservice.ts
  src/pages/gpu-service/storage/config/types.ts
  src/pages/gpu-service/storage/hooks/use-storage-columns.tsx
Due: npx tsx src/locales/check.ts

fix(gpuservice): derive the partition ratio from the profile's reported memory
  src/pages/gpu-service/instances/config/index.ts
  src/pages/gpu-service/instances/config/types.ts
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/utils/instance-description.ts
  src/pages/gpu-service/instances/utils/render-instance-type.tsx
  src/pages/gpu-service/utils.ts
Due: none

feat(deployments): allow to edit the source when clone
  src/pages/llmodels/components/deployment/update-modal.tsx
  src/pages/llmodels/forms/basic.tsx
Due: none

refactor(llmodels): replace ClusterOption styled-component with a CSS module
  src/pages/llmodels/forms/basic.tsx
  src/pages/llmodels/style/cluster-option.module.less
Due: prettier --cache --write, max lint --fix --stylelint-only

chore: bump @gpustack/core-ui to v1.1.6
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: bump @gpustack/core-ui to v1.1.7
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: pin @xmldom/xmldom to ^0.8.14
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: bump @gpustack/core-ui to v1.1.8
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

perf(clusters): gate the worker-pool watch and load credentials on demand
  src/pages/cluster-management/clusters.tsx
Due: none

fix(yaml-editor): serialize worker_config before it reaches the editor
  src/pages/cluster-management/step-forms/advance-config.tsx
  src/pages/gpu-service/templates/components/edit-yaml-modal.tsx
Due: none

fix(models): disable unusable GPU types and keep evaluation off half-typed slices
  src/pages/llmodels/forms/vgpu-type.tsx
  src/pages/llmodels/hooks/index.ts
Due: none

feat(gpu-service): filter cluster pickers by cluster purpose
  src/locales/en-US/no-result.ts
  src/locales/ja-JP/no-result.ts
  src/locales/ru-RU/no-result.ts
  src/locales/tr-TR/no-result.ts
  src/locales/zh-CN/no-result.ts
  src/pages/gpu-service/instance-types/index.tsx
  src/pages/gpu-service/instances/index.tsx
  src/pages/llmodels/hooks/use-form-initial-values.ts
Due: npx tsx src/locales/check.ts

feat(llmodels): deduplicate the slicing GPU Type list by flavor
  src/pages/llmodels/forms/vgpu-type.tsx
Due: none

refactor(gpu-service): leave the accelerator cells blank on a CPU-only instance
  src/pages/gpu-service/instances/README.md
  src/pages/gpu-service/instances/components/utilization-cell.tsx
  src/pages/gpu-service/instances/styles/utilization-cell.module.less
Due: prettier --cache --write, max lint --fix --stylelint-only

feat(cluster-management): configure the operator settings at registration
  src/locales/en-US/clusters.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ru-RU/clusters.ts
  src/locales/tr-TR/clusters.ts
  src/locales/zh-CN/clusters.ts
  src/pages/cluster-management/components/cluster-form.tsx
  src/pages/cluster-management/components/k8s-pod-spec.tsx
  src/pages/cluster-management/config/form-context.ts
  src/pages/cluster-management/config/types.ts
  src/pages/cluster-management/step-forms/advance-config.tsx
Due: npx tsx src/locales/check.ts

feat(gpu-service): sort the instance types list by flavor
  src/pages/gpu-service/instance-types/hooks/use-instance-type-columns.tsx
Due: none

feat(gpu-service): lock delete on operator-derived instance types
  src/pages/gpu-service/instance-types/config/types.ts
  src/pages/gpu-service/instance-types/hooks/use-instance-type-columns.tsx
  src/pages/gpu-service/instance-types/index.tsx
Due: none

fix(gpu-service): offer SSH connect only when a key is attached
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
Due: none
