Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

feat: set default cluster
  src/components/icon-font/icons.ts
  src/locales/en-US/clusters.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ru-RU/clusters.ts
  src/locales/zh-CN/clusters.ts
  src/pages/api-keys/hooks/use-keys-columns.tsx
  src/pages/cluster-management/apis/index.ts
  src/pages/cluster-management/cluster-create.tsx
  src/pages/cluster-management/clusters.tsx
  src/pages/cluster-management/components/cluster-form.tsx
  src/pages/cluster-management/config/index.ts
  src/pages/cluster-management/config/types.ts
  src/pages/cluster-management/hooks/use-cluster-columns.tsx
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/hooks/use-form-initial-values.ts
  src/pages/login/hooks/use-local-auth.ts
Due: npx tsx src/locales/check.ts

fix: remove default sorting status on UI
  src/pages/api-keys/hooks/use-keys-columns.tsx
  src/pages/api-keys/index.tsx
  src/pages/cluster-management/clusters.tsx
  src/pages/cluster-management/credentials.tsx
  src/pages/cluster-management/hooks/use-cluster-columns.tsx
  src/pages/cluster-management/hooks/use-credential-columns.tsx
  src/pages/cluster-management/hooks/use-pools-columns.tsx
  src/pages/llmodels/hooks/use-models-columns.tsx
  src/pages/llmodels/index.tsx
  src/pages/resources/components/model-files.tsx
  src/pages/resources/components/workers.tsx
  src/pages/resources/hooks/use-files-columns.tsx
  src/pages/users/hooks/use-users-columns.tsx
  src/pages/users/index.tsx
Due: none

chore: add resource modal button text
  src/locales/en-US/clusters.ts
  src/locales/en-US/no-result.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ja-JP/no-result.ts
  src/locales/zh-CN/clusters.ts
  src/locales/zh-CN/no-result.ts
  src/pages/dashboard/hooks/use-add-resource.tsx
Due: npx tsx src/locales/check.ts

fix: cluster filter do not work in dashboard
  src/pages/cluster-management/cluster-create.tsx
  src/pages/cluster-management/components/footer-buttons.tsx
  src/pages/dashboard/components/over-view.tsx
  src/pages/dashboard/index.tsx
Due: none

fix: cancel sorting
  src/components/seal-table/components/header.tsx
  src/components/seal-table/components/table-header.tsx
  src/components/seal-table/index.tsx
  src/components/seal-table/styles/header.less
  src/components/seal-table/types.ts
  src/config/settings.ts
  src/locales/en-US/common.ts
  src/locales/ja-JP/common.ts
  src/locales/ru-RU/clusters.ts
  src/locales/ru-RU/common.ts
  src/locales/zh-CN/common.ts
  src/pages/cluster-management/clusters.tsx
  src/pages/cluster-management/hooks/use-credential-columns.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/index.tsx
  src/pages/users/hooks/use-users-columns.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

style: cluster selector
  src/components/scroller-modal/index.tsx
  src/locales/en-US/clusters.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ru-RU/clusters.ts
  src/locales/zh-CN/clusters.ts
  src/pages/cluster-management/components/add-worker/constainers.tsx
  src/pages/cluster-management/components/add-worker/specify-arguments.tsx
  src/pages/llmodels/forms/basic.tsx
  src/pages/llmodels/hooks/use-form-initial-values.ts
Due: npx tsx src/locales/check.ts

fix(style): cluster options
  src/pages/llmodels/forms/basic.tsx
Due: none

fix: reset userSettings first login
  src/atoms/settings.ts
  src/atoms/utils/index.ts
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/_components/yaml-editor/editor.tsx
  src/pages/backends/components/backend-card.tsx
  src/pages/llmodels/forms/basic.tsx
  src/pages/login/components/password-form.tsx
Due: npx tsx src/locales/check.ts

style: user rank chart
  src/components/echarts/chart.tsx
  src/components/echarts/config.ts
  src/components/echarts/h-bar.tsx
  src/components/echarts/line-chart.tsx
  src/components/echarts/mix-line-bar.tsx
  src/pages/dashboard/components/usage-inner/top-user.tsx
Due: none

fix: image seed do no clear
  src/components/echarts/h-bar.tsx
  src/pages/playground/components/ground-images.tsx
  src/pages/playground/components/image-edit.tsx
  src/pages/playground/hooks/use-init-meta.ts
Due: none

fix: store hideModel value in global session
  src/atoms/settings.ts
  src/pages/dashboard/hooks/use-add-resource.tsx
  src/pages/login/apis/index.ts
Due: none

fix: set submitloading as false in catch
  src/pages/cluster-management/cluster-create.tsx
Due: none

fix: add worker to default cluster
  src/pages/cluster-management/clusters.tsx
  src/pages/cluster-management/components/add-worker/add-worker-context.ts
  src/pages/cluster-management/components/add-worker/add-worker-step.tsx
  src/pages/cluster-management/components/add-worker/index.tsx
  src/pages/cluster-management/hooks/use-add-worker.tsx
  src/pages/resources/components/workers.tsx
Due: none

fix: chat compare switch model meta
  src/pages/playground/components/multiple-chat/active-models.tsx
  src/pages/playground/components/multiple-chat/model-item.tsx
  src/pages/playground/hooks/use-init-meta.ts
Due: none

Update models.ts
  src/locales/ru-RU/models.ts
Due: npx tsx src/locales/check.ts

Update users.ts
  src/locales/ru-RU/users.ts
Due: npx tsx src/locales/check.ts

Update common.ts
  src/locales/ru-RU/common.ts
Due: npx tsx src/locales/check.ts

Update clusters.ts
  src/locales/ru-RU/clusters.ts
Due: npx tsx src/locales/check.ts

fix: help menu item clickable area
  src/layouts/extraRender.tsx
Due: none

docs: hygon notes
  src/assets/styles/common.less
  src/locales/en-US/clusters.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ru-RU/clusters.ts
  src/locales/zh-CN/clusters.ts
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

refactor: create cluster ux
  src/pages/cluster-management/cluster-create.tsx
  src/pages/cluster-management/cluster-modal.tsx
  src/pages/cluster-management/clusters.tsx
  src/pages/cluster-management/components/cluster-steps.tsx
  src/pages/cluster-management/components/footer-buttons.tsx
  src/pages/cluster-management/components/provider-catalog.tsx
  src/pages/cluster-management/components/support-gpus.tsx
  src/pages/cluster-management/hooks/use-create-cluster.tsx
  src/pages/cluster-management/step-forms/basic-form.tsx
  src/pages/cluster-management/step-forms/worker-pools-form.tsx
Due: none

style: user usage rank
  src/components/echarts/h-bar.tsx
Due: none

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  npx tsx src/locales/check.ts: any of: src/locales/**/*.ts
