Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

.lintstagedrc:

{
  "*.{md,json}": ["prettier --cache --write"],
  "*.{js,jsx}": ["max lint --fix --eslint-only", "prettier --cache --write"],
  "*.{css,less}": [
    "max lint --fix --stylelint-only",
    "prettier --cache --write"
  ],
  "!public/vs/**": [],
  "*.ts?(x)": [
    "max lint --fix --eslint-only",
    "prettier --cache --parser=typescript --write"
  ],
  "src/locales/**/*.ts": ["npx tsx src/locales/check.ts"]
}

feat: persist sider menu group collapse state across refresh
  src/atoms/settings.ts
  src/layouts/sider-menu.tsx
Due: none

chore(deps): update ui 1.0.24
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix: template display after initialized
  src/pages/gpu-service/instances/components/add-modal.tsx
Due: none

fix: logs viewer scroll to bottom aumatically
  src/pages/llmodels/instance-view/index.tsx
  src/pages/llmodels/instance-view/use-instance-columns.tsx
Due: none

fix: filter modelInstance by cluster in benchmark form
  src/pages/benchmark/forms/basic.tsx
  src/pages/benchmark/forms/model-instance.tsx
  src/pages/playground/components/input-list.tsx
Due: none

chore(deps): update ui 1.0.25
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix: prevent duplicate submit and unlock on validation failure in deploy/update modals
  src/pages/llmodels/components/deployment/deploy-builtin-modal.tsx
  src/pages/llmodels/components/deployment/deploy-modal.tsx
  src/pages/llmodels/components/deployment/update-modal.tsx
  src/pages/llmodels/components/model-source/search-result.tsx
  src/pages/llmodels/forms/index.tsx
Due: none

fix: anti double submit in form
  src/hooks/use-submit-lock.ts
  src/pages/api-keys/components/add-apikey-modal/index.tsx
  src/pages/backends/components/add-modal.tsx
  src/pages/backends/forms/index.tsx
  src/pages/benchmark/components/add-benchmark-modal.tsx
  src/pages/benchmark/forms/index.tsx
  src/pages/cluster-management/components/add-cluster.tsx
  src/pages/cluster-management/components/cluster-form.tsx
  src/pages/gpu-service/instances/components/add-modal.tsx
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/public-keys/components/add-public-key-modal.tsx
  src/pages/gpu-service/public-keys/forms/index.tsx
  src/pages/gpu-service/storage-types/components/add-storage-type-modal.tsx
  src/pages/gpu-service/storage-types/forms/index.tsx
  src/pages/gpu-service/storage/components/add-modal.tsx
  src/pages/gpu-service/storage/forms/index.tsx
  src/pages/gpu-service/templates/components/add-modal.tsx
  src/pages/gpu-service/templates/forms/index.tsx
  src/pages/maas-provider/components/add-provider-modal.tsx
  src/pages/maas-provider/forms/index.tsx
  src/pages/model-routes/components/add-route-modal.tsx
  src/pages/model-routes/forms/index.tsx
  src/pages/users/components/add-modal.tsx
Due: none

fix: changed notice always display
  plugin.ts
  src/pages/cluster-management/components/cluster-form.tsx
  src/pages/cluster-management/components/k8s-pod-spec.tsx
  src/pages/cluster-management/step-forms/advance-config.tsx
Due: none

chore(deps): update ui 1.0.26
  package.json
  pnpm-lock.yaml
  src/pages/cluster-management/hooks/use-cluster-columns.tsx
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
Due: prettier --cache --write

fix: register k8s cluster should selected nvidia vendor by default
  src/pages/cluster-management/components/add-worker/select-vendor.tsx
Due: none

fix: instance types switch between gpu and cpu
  src/locales/en-US/gpuservice.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/zh-CN/gpuservice.ts
  src/pages/gpu-service/instances/components/add-modal.tsx
  src/pages/gpu-service/instances/components/instance-type-item.tsx
  src/pages/gpu-service/instances/config/types.ts
  src/pages/gpu-service/instances/services/use-query-instance-types.ts
  src/pages/gpu-service/instances/styles/instances.module.less
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix: only keep the max count cpu instance type
  config/proxy.ts
  src/pages/gpu-service/instances/components/add-modal.tsx
  src/pages/gpu-service/instances/components/instance-type-item.tsx
  src/pages/gpu-service/instances/config/mock-data.ts
  src/pages/gpu-service/instances/services/use-query-instance-types.ts
Due: none

chore: remove remember me
  src/atoms/user.ts
  src/pages/login/components/local-user-form.tsx
  src/pages/login/components/login-form.tsx
  src/pages/login/hooks/use-local-auth.ts
  src/utils/localstore/index.ts
Due: none

refactor(parameter): rename parameter_format to Flag Format and update related logic
  src/locales/en-US/backends.ts
  src/locales/ja-JP/backends.ts
  src/locales/ru-RU/backends.ts
  src/locales/tr-TR/backends.ts
  src/locales/zh-CN/backends.ts
  src/pages/backends/components/add-modal.tsx
  src/pages/backends/config/types.ts
  src/pages/backends/forms/basic.tsx
Due: npx tsx src/locales/check.ts

feat: distinguish same-name GPU service resources across users
  src/locales/en-US/gpuservice.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/zh-CN/gpuservice.ts
  src/pages/gpu-service/components/owner-tag.tsx
  src/pages/gpu-service/hooks/use-creator-column.tsx
  src/pages/gpu-service/hooks/use-user-directory.ts
  src/pages/gpu-service/instances/components/add-modal.tsx
  src/pages/gpu-service/instances/config/types.ts
  src/pages/gpu-service/instances/forms/template-selector.tsx
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
  src/pages/gpu-service/public-keys/config/types.ts
  src/pages/gpu-service/public-keys/hooks/use-public-key-columns.tsx
  src/pages/gpu-service/storage-types/config/types.ts
  src/pages/gpu-service/storage-types/hooks/use-storage-type-columns.tsx
  src/pages/gpu-service/storage/config/types.ts
  src/pages/gpu-service/storage/hooks/use-storage-columns.tsx
  src/pages/gpu-service/templates/components/template-card.tsx
  src/pages/gpu-service/templates/config/types.ts
Due: npx tsx src/locales/check.ts

revert: display the max count cpu instance type
  src/pages/gpu-service/instances/components/instance-type-item.tsx
  src/pages/gpu-service/instances/config/mock-data.ts
  src/pages/gpu-service/instances/services/use-query-instance-types.ts
Due: none

refactor(login): layout style
  src/locales/en-US/common.ts
  src/locales/ja-JP/common.ts
  src/locales/ru-RU/common.ts
  src/locales/tr-TR/common.ts
  src/locales/zh-CN/common.ts
  src/pages/login/components/local-user-form.tsx
  src/pages/login/components/password-form.tsx
  src/pages/login/index.tsx
Due: npx tsx src/locales/check.ts

chore(deps): update ui 1.0.27
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix: keep uniform for instance type render content
  src/pages/gpu-service/instances/components/instance-type-item.tsx
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
  src/pages/gpu-service/instances/utils/render-instance-type.tsx
  src/pages/usage/components/gpu-instances-tab.tsx
  src/pages/usage/utils/format-instance-type.ts
Due: none

style: login placeholder
  src/pages/gpu-service/instances/utils/render-instance-type.tsx
  src/pages/login/components/local-user-form.tsx
Due: none
