Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

.lintstagedrc:

{
  "*.{md,json}": ["prettier --cache --write"],
  "*.{js,jsx}": ["max lint --fix --eslint-only", "prettier --cache --write"],
  "*.{css,less}": [
    "max lint --fix --stylelint-only",
    "prettier --cache --write"
  ],
  "!public/vs/**": [],
  "*.ts?(x)": [
    "max lint --fix --eslint-only",
    "prettier --cache --parser=typescript --write"
  ],
  "src/locales/**/*.ts": ["npx tsx src/locales/check.ts"]
}

fix: update lock file
  pnpm-lock.yaml
Due: none

fix: tts stream error
  src/pages/benchmark/config/detail-types.ts
  src/pages/playground/speech/audio/pcm-player-workerlet.ts
  src/pages/playground/speech/hooks/use-pcm-stream-player.ts
  src/pages/playground/speech/stt.tsx
  src/pages/playground/speech/tts.tsx
  src/pages/playground/view-code/image.ts
Due: none

fix: stt error handler
  src/pages/playground/speech/hooks/use-non-stream-stt.ts
  src/pages/playground/speech/hooks/use-stream-stt.ts
  src/pages/playground/speech/hooks/use-stream-tts.ts
  src/pages/playground/speech/stt.tsx
Due: none

feat: benchmark inject params
  src/pages/benchmark/components/summary/instance.tsx
  src/pages/benchmark/details.tsx
Due: none

fix: hide distributed_inference for custom backend
  src/pages/api-keys/hooks/use-keys-columns.tsx
  src/pages/llmodels/forms/advance-config.tsx
Due: none

fix: append routeID to model proxy URL and drop X-GPUStack-Model header
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/tr-TR/models.ts
  src/locales/zh-CN/models.ts
  src/pages/benchmark/components/summary/instance.tsx
  src/pages/llmodels/components/api-access-info.tsx
  src/pages/llmodels/hooks/use-generic-proxy.tsx
  src/pages/playground/view-code/audio.ts
  src/pages/playground/view-code/embedding.ts
  src/pages/playground/view-code/image.ts
  src/pages/playground/view-code/llm.ts
  src/pages/playground/view-code/rerank.ts
  src/pages/playground/view-code/video.ts
Due: npx tsx src/locales/check.ts

feat: lora for deployment
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/forms/advance-config.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/forms/lora-list-item.tsx
  src/pages/llmodels/forms/model-lora-list.tsx
  src/pages/llmodels/services/use-query-lora-list.ts
Due: none

feat: lora route
  src/pages/llmodels/config/types.ts
  src/pages/model-routes/config/types.ts
  src/pages/model-routes/forms/index.tsx
  src/pages/model-routes/forms/targets.tsx
  src/pages/model-routes/hooks/use-target-source-models.tsx
Due: none

fix: filter invaild lora in form
  src/pages/llmodels/forms/lora-list-item.tsx
  src/pages/llmodels/forms/model-lora-list.tsx
  src/pages/llmodels/services/use-query-lora-list.ts
  src/pages/resources/config/types.ts
Due: none

feat: model file is lora
  src/locales/en-US/resources.ts
  src/locales/ja-JP/resources.ts
  src/locales/ru-RU/resources.ts
  src/locales/tr-TR/resources.ts
  src/locales/zh-CN/resources.ts
  src/pages/llmodels/components/download/target-form.tsx
  src/pages/resources/hooks/use-files-columns.tsx
Due: npx tsx src/locales/check.ts

fix: add form validation
  .lintstagedrc
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/tr-TR/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/forms/lora-list-item.tsx
  src/pages/llmodels/forms/model-lora-list.tsx
  src/pages/llmodels/services/use-query-lora-list.ts
  src/pages/llmodels/style/lora-selection.less
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

style: parameters tooltip
  .gitignore
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/tr-TR/models.ts
  src/locales/zh-CN/models.ts
  src/pages/benchmark/components/summary/instance.tsx
  src/pages/llmodels/components/instance-cells/injected-params-cell.tsx
  src/pages/llmodels/components/instance/instance-item.tsx
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/instance-view/use-instance-columns.tsx
Due: npx tsx src/locales/check.ts

refactor: dashboard usage
  package.json
  pnpm-lock.yaml
  src/atoms/dashboard.ts
  src/locales/en-US/dashboard.ts
  src/locales/ja-JP/dashboard.ts
  src/locales/ru-RU/dashboard.ts
  src/locales/tr-TR/dashboard.ts
  src/locales/zh-CN/dashboard.ts
  src/pages/_components/pie-chart/index.tsx
  src/pages/benchmark/components/summary/instance.tsx
  src/pages/dashboard/components/active-table.tsx
  src/pages/dashboard/components/new-usage.tsx
  src/pages/dashboard/components/usage-charts/api-requests-by-model.tsx
  src/pages/dashboard/components/usage-charts/shared.tsx
  src/pages/dashboard/components/usage-charts/token-usage-by-model.tsx
  src/pages/dashboard/components/usage-charts/top-token-usage-by-api-key.tsx
  src/pages/dashboard/components/usage-charts/top-token-usage-by-user.tsx
  src/pages/dashboard/components/usage.tsx
  src/pages/dashboard/config/index.ts
  src/pages/llmodels/components/instance-cells/injected-params-cell.tsx
  src/pages/llmodels/instance-view/use-instance-columns.tsx
  src/pages/usage/apis/index.ts
  src/pages/usage/services/use-query-timeseries-data.ts
Due: prettier --cache --write, npx tsx src/locales/check.ts

fix: bool type in python code
  src/pages/playground/view-code/utils.ts
Due: none

fix: sync row replicas when start
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/components/view-logs-modal.tsx
  src/pages/llmodels/hooks/use-view-instance-logs.ts
Due: none

fix: keep the source deploying from files
  src/pages/resources/components/model-files.tsx
Due: none

fix: iluvatar env check command
  src/pages/resources/config/gpu-driver.ts
Due: none

feat(plugin): expose OrgSwitcher slot in extraRender
  src/layouts/extraRender.tsx
  src/layouts/index.tsx
Due: none

chore: backend default command
  .lintstagedrc
  src/locales/en-US/backends.ts
  src/locales/ja-JP/backends.ts
  src/locales/ru-RU/backends.ts
  src/locales/tr-TR/backends.ts
  src/locales/zh-CN/backends.ts
  src/pages/backends/forms/basic.tsx
  src/pages/backends/styles/form.less
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

chore: backend placeholder
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/tr-TR/models.ts
  src/locales/zh-CN/models.ts
  src/pages/backends/forms/versions-config.tsx
  src/pages/dashboard/components/usage-charts/shared.tsx
  src/pages/llmodels/components/api-access-info.tsx
Due: npx tsx src/locales/check.ts

feat: add use current user
  src/hooks/use-current-user.ts
  src/layouts/extraRender.tsx
  src/layouts/index.tsx
Due: none

refactor: dynamic routes
  config/routes.extensions.ts
  config/routes.ts
  package.json
  scripts/run-enterprise-build.cjs
  scripts/run-enterprise-dev.cjs
  scripts/sync-enterprise-config.cjs
  src/pages/settings/index.tsx
  src/plugins/route-merger.ts
Due: prettier --cache --write
