Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

.lintstagedrc:

{
  "*.{md,json}": ["prettier --cache --write"],
  "*.{js,jsx}": ["max lint --fix --eslint-only", "prettier --cache --write"],
  "*.{css,less}": [
    "max lint --fix --stylelint-only",
    "prettier --cache --write"
  ],
  "*.ts?(x)": [
    "max lint --fix --eslint-only",
    "prettier --cache --parser=typescript --write"
  ],
  "src/locales/**/*.ts": ["npx tsx src/locales/check.ts"]
}

fix: display admin and inactive when view
  src/hooks/use-overlay-scroller.ts
  src/pages/_components/column-wrapper/index.tsx
  src/pages/_components/column-wrapper/use-wrapper-context.ts
  src/pages/llmodels/components/access-control-modal/form.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/hooks/use-field-scroll.ts
Due: none

fix: pool's label editable
  src/pages/cluster-management/cluster-create.tsx
  src/pages/cluster-management/components/cluster-steps.tsx
  src/pages/cluster-management/components/pool-form.tsx
Due: none

style: large modal height responsive
  src/components/scroller-modal/index.tsx
  src/locales/en-US/clusters.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ru-RU/clusters.ts
  src/locales/zh-CN/clusters.ts
  src/pages/cluster-management/components/add-pool.tsx
  src/pages/cluster-management/components/add-worker-step.tsx
  src/pages/cluster-management/components/add-worker.tsx
  src/pages/cluster-management/components/provider-catalog.tsx
  src/pages/cluster-management/components/support-gpus.tsx
  src/pages/resources/components/update-labels.tsx
  src/pages/resources/components/workers.tsx
  src/pages/resources/hooks/use-terminal-tabs.tsx
Due: npx tsx src/locales/check.ts

fix: set response_format as b64_json
  src/pages/playground/config/params-config.ts
  src/pages/playground/hooks/config.ts
Due: none

fix: image response handler
  src/pages/playground/hooks/use-text-image.ts
  src/utils/fetch-chunk-data.ts
Due: none

chore: create, edit image handler
  src/components/auto-image/single-image.tsx
  src/pages/playground/apis/index.ts
  src/pages/playground/components/thumb-img.tsx
  src/pages/playground/hooks/use-text-image.ts
  src/utils/fetch-chunk-data.ts
Due: none

fix: api access info
  src/locales/en-US/clusters.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ru-RU/clusters.ts
  src/locales/zh-CN/clusters.ts
  src/pages/llmodels/components/api-access-info.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/config/button-actions.ts
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/hooks/use-generic-proxy.tsx
  src/pages/llmodels/hooks/use-models-columns.tsx
  src/pages/playground/view-code/audio.ts
  src/pages/resources/config/gpu-driver.ts
Due: npx tsx src/locales/check.ts

chore: config base url
  src/app.tsx
  src/hooks/use-chunk-fetch.ts
  src/pages/backends/config/index.ts
  src/pages/backends/forms/basic.tsx
  src/pages/cluster-management/config/index.ts
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/components/api-access-info.tsx
  src/pages/llmodels/components/model-card.tsx
  src/pages/llmodels/forms/basic.tsx
  src/pages/llmodels/hooks/use-models-columns.tsx
  src/pages/playground/components/ground-images.tsx
  src/pages/playground/components/ground-reranker.tsx
  src/pages/playground/components/image-edit.tsx
  src/pages/playground/config/index.ts
  src/pages/playground/config/params-config.ts
  src/pages/resources/apis/index.ts
Due: none

fix: yaml editor do not update when upload same file
  src/global.less
  src/layouts/extraRender.tsx
  src/layouts/index.tsx
  src/pages/backends/components/add-modal.tsx
  src/pages/backends/components/import-yaml.tsx
  src/pages/backends/components/yaml-editor.tsx
  src/pages/backends/config/schema/create.json
  src/pages/cluster-management/cluster-create.tsx
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/components/api-access-info.tsx
  src/pages/llmodels/components/catalog-item.tsx
  src/pages/llmodels/index.tsx
  src/pages/llmodels/style/catalog-item.less
Due: prettier --cache --write, max lint --fix --stylelint-only

fix: model list flicker after page active
  src/pages/llmodels/index.tsx
Due: none

feat: worker maintenance
  src/global.less
  src/layouts/index.tsx
  src/locales/en-US/resources.ts
  src/locales/ja-JP/resources.ts
  src/locales/ru-RU/resources.ts
  src/locales/zh-CN/resources.ts
  src/pages/cluster-management/components/add-worker-command.tsx
  src/pages/cluster-management/components/add-worker-step.tsx
  src/pages/resources/components/workers.tsx
  src/pages/resources/config/gpu-driver.ts
  src/pages/resources/config/index.ts
  src/pages/resources/config/types.ts
  src/pages/resources/hooks/use-worker-columns.tsx
  src/pages/resources/hooks/use-worker-maintenance.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

refactor: add worker
  src/components/collapse-container/index.tsx
  src/components/seal-form/seal-switch.tsx
  src/locales/en-US/clusters.ts
  src/locales/en-US/resources.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ja-JP/resources.ts
  src/locales/ru-RU/clusters.ts
  src/locales/ru-RU/resources.ts
  src/locales/zh-CN/clusters.ts
  src/locales/zh-CN/resources.ts
  src/pages/cluster-management/cluster-create.tsx
  src/pages/cluster-management/clusters.tsx
  src/pages/cluster-management/components/add-worker-command.tsx
  src/pages/cluster-management/components/add-worker-step.tsx
  src/pages/cluster-management/components/add-worker.tsx
  src/pages/cluster-management/components/add-worker/add-worker-context.ts
  src/pages/cluster-management/components/add-worker/add-worker-step.tsx
  src/pages/cluster-management/components/add-worker/check-environment.tsx
  src/pages/cluster-management/components/add-worker/config.ts
  src/pages/cluster-management/components/add-worker/constainers.tsx
  src/pages/cluster-management/components/add-worker/docker-run-command.tsx
  src/pages/cluster-management/components/add-worker/index.tsx
  src/pages/cluster-management/components/add-worker/k8s-run-command.tsx
  src/pages/cluster-management/components/add-worker/network-config.tsx
  src/pages/cluster-management/components/add-worker/select-cluster.tsx
  src/pages/cluster-management/components/add-worker/select-vendor.tsx
  src/pages/cluster-management/components/add-worker/specify-arguments.tsx
  src/pages/cluster-management/components/add-worker/step-collapse.tsx
  src/pages/cluster-management/components/add-worker/summary-data.tsx
  src/pages/cluster-management/components/add-worker/use-summary-status.ts
  src/pages/cluster-management/components/add-worker/vendor-notes.tsx
  src/pages/cluster-management/components/provider-catalog.tsx
  src/pages/cluster-management/components/register-cluster.tsx
  src/pages/cluster-management/hooks/use-add-worker.tsx
  src/pages/cluster-management/step-forms/module-registry.ts
  src/pages/llmodels/components/catalog-item.tsx
  src/pages/llmodels/style/catalog-item.less
  src/pages/resources/components/workers.tsx
  src/pages/resources/config/gpu-driver.ts
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

Fix typo in example-code
  src/pages/playground/view-code/llm.ts
Due: none

fix: run command issue
  src/pages/resources/config/gpu-driver.ts
Due: none

fix: extra newline character
  src/pages/cluster-management/components/add-worker-command.tsx
  src/pages/cluster-management/components/add-worker/step-collapse.tsx
  src/pages/resources/config/gpu-driver.ts
Due: none

fix: remark field option
  src/locales/en-US/clusters.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ru-RU/clusters.ts
  src/locales/zh-CN/clusters.ts
  src/pages/cluster-management/components/add-worker/vendor-notes.tsx
  src/pages/llmodels/components/access-control-modal/form.tsx
  src/pages/llmodels/components/access-control-modal/index.tsx
  src/pages/resources/hooks/use-worker-maintenance.tsx
Due: npx tsx src/locales/check.ts

fix: model source error in catalog
  src/locales/zh-CN/playground.ts
  src/pages/llmodels/catalog.tsx
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/config/button-actions.ts
  src/pages/llmodels/config/form-context.ts
  src/pages/llmodels/hooks/use-query-draftModels.ts
Due: npx tsx src/locales/check.ts

chore: small fixes and optimizations
  src/layouts/sider-menu.tsx
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/cluster-management/hooks/use-cluster-columns.tsx
  src/pages/llmodels/components/access-control-modal/form.tsx
  src/pages/llmodels/config/index.ts
  src/pages/llmodels/forms/index.tsx
Due: npx tsx src/locales/check.ts

fix: re-request catalog specs after changing cluster
  src/assets/logo/voxbox.png
  src/components/icon-font/iconfont/iconfont.css
  src/components/icon-font/iconfont/iconfont.js
  src/components/icon-font/iconfont/iconfont.json
  src/components/icon-font/iconfont/iconfont.ttf
  src/components/icon-font/iconfont/iconfont.woff
  src/components/icon-font/iconfont/iconfont.woff2
  src/layouts/Exception.tsx
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/backends/config/index.ts
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/components/api-access-info.tsx
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/components/model-tag.tsx
  src/pages/llmodels/forms/index.tsx
Due: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

style: adjust some styles
  src/assets/logo/voxbox.png
  src/components/icon-font/index.tsx
  src/pages/cluster-management/components/add-worker/index.tsx
  src/pages/llmodels/forms/advance-config.tsx
  src/pages/llmodels/forms/basic.tsx
  src/pages/llmodels/forms/mode-field.tsx
  src/pages/llmodels/forms/performance.tsx
  src/pages/resources/config/gpu-driver.ts
Due: none
