Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

.lintstagedrc:

{
  "*.{md,json}": ["prettier --cache --write"],
  "*.{js,jsx}": ["max lint --fix --eslint-only", "prettier --cache --write"],
  "*.{css,less}": [
    "max lint --fix --stylelint-only",
    "prettier --cache --write"
  ],
  "*.ts?(x)": [
    "max lint --fix --eslint-only",
    "prettier --cache --parser=typescript --write"
  ],
  "src/locales/**/*.ts": ["npx tsx src/locales/check.ts"]
}

feat: add image from url
  src/locales/en-US/clusters.ts
  src/locales/en-US/playground.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ja-JP/playground.ts
  src/locales/ru-RU/clusters.ts
  src/locales/ru-RU/playground.ts
  src/locales/zh-CN/clusters.ts
  src/locales/zh-CN/playground.ts
  src/pages/backends/config/index.ts
  src/pages/cluster-management/components/add-credential.tsx
  src/pages/playground/components/message-input.tsx
  src/pages/playground/components/upload-img.tsx
  src/pages/playground/hooks/use-find-images.tsx
Due: npx tsx src/locales/check.ts

fix: edit message add image
  src/components/upload-audio/index.tsx
  src/pages/playground/components/ground-stt.tsx
  src/pages/playground/components/message-input.tsx
  src/pages/playground/components/multiple-chat/message-actions.tsx
  src/pages/playground/components/multiple-chat/message-body.tsx
  src/pages/playground/hooks/use-add-image.tsx
  src/pages/playground/hooks/use-find-images.tsx
  src/pages/playground/index.tsx
  src/pages/playground/style/content-item.less
  src/pages/playground/style/thumb-img.less
  src/utils/load-audio-file.ts
Due: prettier --cache --write, max lint --fix --stylelint-only

fix: input img url fall back image
  src/components/auto-image/index.tsx
  src/locales/en-US/playground.ts
  src/locales/ja-JP/playground.ts
  src/locales/ru-RU/playground.ts
  src/locales/zh-CN/playground.ts
  src/pages/playground/hooks/use-add-image.tsx
Due: npx tsx src/locales/check.ts

fix: click icon do not worker on upload
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/hooks/use-models-columns.tsx
  src/pages/playground/hooks/use-add-image.tsx
Due: npx tsx src/locales/check.ts

chore: os image filter
  src/pages/cluster-management/cluster-create.tsx
  src/pages/cluster-management/components/pool-form.tsx
  src/pages/cluster-management/config/steps-context.tsx
  src/pages/cluster-management/hooks/use-provider-regions.ts
  src/pages/cluster-management/step-forms/worker-pools-form.tsx
Due: none

fix: cluster option disabled
  src/pages/llmodels/forms/basic.tsx
Due: none

fix: add worker init steps failed
  src/locales/en-US/no-result.ts
  src/locales/ja-JP/no-result.ts
  src/locales/ru-RU/no-result.ts
  src/locales/zh-CN/no-result.ts
  src/pages/cluster-management/clusters.tsx
  src/pages/llmodels/hooks/use-no-resource-result.tsx
Due: npx tsx src/locales/check.ts

fix: use image label in inputbox
  src/atoms/clusters.ts
  src/pages/cluster-management/components/pool-form.tsx
  src/pages/cluster-management/hooks/steps-context.tsx
  src/pages/cluster-management/hooks/use-provider-regions.ts
Due: none

fix: init cluster id when deploy model
  src/components/seal-form/components/label-info.less
  src/components/seal-form/components/label-info.tsx
  src/config/global.d.ts
  src/layouts/extraRender.tsx
  src/pages/backends/components/version-info-modal.tsx
  src/pages/backends/index.tsx
  src/pages/dashboard/components/over-view.less
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/components/deploy-modal.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

fix: clear os_image when it's not in new image list
  src/pages/backends/components/version-info-modal.tsx
  src/pages/cluster-management/components/pool-form.tsx
Due: none

fix: set default os image
  src/pages/cluster-management/components/pool-form.tsx
Due: none

chore: tidy code
  src/pages/cluster-management/components/pool-form.tsx
Due: none

chore: upgrade info
  src/app.tsx
  src/atoms/user.ts
  src/components/version-info/index.tsx
  src/layouts/extraRender.tsx
  src/layouts/index.tsx
  src/pages/login/components/login-form.tsx
  src/pages/login/components/password-form.tsx
Due: none

style: terminal panel
  src/pages/_components/terminal-tabs/footer.less
  src/pages/_components/terminal-tabs/index.tsx
  src/pages/_components/terminal-tabs/tabs.tsx
  src/pages/resources/components/workers.tsx
  src/pages/resources/hooks/use-terminal-tabs.tsx
  src/pages/resources/hooks/use-worker-columns.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

chore: remove experimental from hygon
  src/pages/cluster-management/components/support-gpus.tsx
Due: none

fix: reset first login flag after changing password
  src/pages/login/components/password-form.tsx
Due: none

fix: show info when adding worker error
  src/pages/resources/components/workers.tsx
Due: none

chore: prefetch chunk file
  config/config.ts
  src/layouts/sider-menu.tsx
Due: none

chore: rename ground-left as ground-llm
  src/components/icon-font/index.tsx
  src/config/settings.ts
  src/pages/_components/terminal-tabs/index.tsx
  src/pages/_components/terminal-tabs/resize-container.tsx
  src/pages/_components/terminal-tabs/tabs.tsx
  src/pages/playground/components/ground-embedding.tsx
  src/pages/playground/components/ground-images.tsx
  src/pages/playground/components/ground-llm.tsx
  src/pages/playground/components/ground-reranker.tsx
  src/pages/playground/components/ground-stt.tsx
  src/pages/playground/components/ground-tts.tsx
  src/pages/playground/components/image-edit.tsx
  src/pages/playground/index.tsx
  src/pages/playground/style/ground-llm.less
  src/pages/resources/hooks/use-terminal-tabs.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

fix: custom models directory when adding a new worker
  src/pages/resources/config/gpu-driver.ts
Due: none

style: resize terminal height
  src/pages/_components/terminal-tabs/tabs.tsx
Due: none

style: workers page no page container
  src/config/settings.ts
  src/hooks/use-update-chunk-list.ts
  src/layouts/extraRender.tsx
  src/layouts/index.tsx
  src/pages/resources/hooks/use-worker-columns.tsx
Due: none

style: drawer styles
  src/components/icon-font/index.tsx
  src/components/scroller-modal/gs-drawer.tsx
  src/config/theme/dark.ts
  src/config/theme/light.ts
  src/hooks/use-overlay-scroller.ts
  src/pages/api-keys/components/add-apikey-modal/index.tsx
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/update-modal.tsx
  src/pages/llmodels/download/index.tsx
Due: none
