Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

.lintstagedrc:

{
  "*.{md,json}": ["prettier --cache --write"],
  "*.{js,jsx}": ["max lint --fix --eslint-only", "prettier --cache --write"],
  "*.{css,less}": [
    "max lint --fix --stylelint-only",
    "prettier --cache --write"
  ],
  "!public/vs/**": [],
  "*.ts?(x)": [
    "max lint --fix --eslint-only",
    "prettier --cache --parser=typescript --write"
  ],
  "src/locales/**/*.ts": ["npx tsx src/locales/check.ts"]
}

fix(build): assert build assets stay root-relative for asset recovery
  plugin.ts
  src/layouts/error-result.tsx
Due: none

fix(build): name assets by content hash instead of build timestamp
  config/config.ts
  plugin.ts
Due: none

chore: remove unused antv/g6
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore(deps): bump axios to 1.18.1, js-yaml to 4.3.0, drop unused dompurify
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix(layout): smooth sider menu collapse/expand animation
  src/layouts/sider-menu.tsx
Due: none

fix(build): recover from a stale index.html with one cache-busting reload
  config/asset-recovery.ts
  plugin.ts
Due: none

feat(layout): global reload assets
  config/asset-recovery.ts
  src/app.tsx
  src/config/global.d.ts
  src/layouts/error-boundary.tsx
  src/layouts/error-result.tsx
  src/locales/en-US/common.ts
  src/locales/ja-JP/common.ts
  src/locales/ru-RU/common.ts
  src/locales/tr-TR/common.ts
  src/locales/zh-CN/common.ts
Due: npx tsx src/locales/check.ts

fix(build): bind the asset-recovery ordering guard to the inserted node
  plugin.ts
Due: none

chore: remove unused EPUB upload support
  src/pages/playground/components/upload-file.tsx
  src/pages/playground/config/index.ts
Due: none

chore: bump @gpustack/core-ui to v1.1.1
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore(deps): pin umi's axios to 0.33.0, js-cookie to 3.0.7, react-router-dom to 6.30.4
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

docs(claude): add module structure & file size conventions
  CLAUDE.md
Due: prettier --cache --write

docs(claude): split by reason-to-change, not line count
  CLAUDE.md
Due: prettier --cache --write

chore: bump @gpustack/core-ui to v1.1.2
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

refactor(clusters): use core-ui CardRadioGroup for cluster type
  src/pages/cluster-management/components/k8s-pod-spec.tsx
Due: none

refactor(resources): migrate worker table to core-ui Table
  CLAUDE.md
  src/pages/llmodels/components/access-control-modal/form.tsx
  src/pages/llmodels/components/deployment/deploy-builtin-modal.tsx
  src/pages/resources/components/workers.tsx
  src/pages/resources/hooks/use-worker-columns.tsx
Due: prettier --cache --write

style(worker): progress gap
  src/pages/resources/hooks/use-worker-columns.tsx
Due: none

chore: bump @gpustack/core-ui to v1.1.3
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: bump @gpustack/core-ui to v1.1.4
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

feat(benchmark): detail summary — point grid, best points, curve, validity
  src/locales/en-US/benchmark.ts
  src/locales/ja-JP/benchmark.ts
  src/locales/ru-RU/benchmark.ts
  src/locales/tr-TR/benchmark.ts
  src/locales/zh-CN/benchmark.ts
  src/pages/benchmark/components/configuration.tsx
  src/pages/benchmark/components/detail-content.tsx
  src/pages/benchmark/components/detail-modal.tsx
  src/pages/benchmark/components/summary/benchmark.tsx
  src/pages/benchmark/components/summary/best-points.tsx
  src/pages/benchmark/components/summary/chart-specs.ts
  src/pages/benchmark/components/summary/config-summary.tsx
  src/pages/benchmark/components/summary/index.tsx
  src/pages/benchmark/components/summary/metrics-result.tsx
  src/pages/benchmark/components/summary/metrics.ts
  src/pages/benchmark/components/summary/operating-curve.tsx
  src/pages/benchmark/components/summary/overview.tsx
  src/pages/benchmark/components/summary/percentile-result.tsx
  src/pages/benchmark/components/summary/running-hint.tsx
  src/pages/benchmark/components/summary/selected-stage.tsx
  src/pages/benchmark/components/summary/stage-chart.tsx
  src/pages/benchmark/components/summary/ui.tsx
  src/pages/benchmark/components/summary/validity-alert.tsx
  src/pages/benchmark/config/detail-types.ts
  src/pages/benchmark/config/types.ts
  src/pages/benchmark/details.tsx
  src/pages/benchmark/hooks/use-column-settings.tsx
Due: npx tsx src/locales/check.ts

refactor(benchmark): render the config summary from declared rows
  src/pages/benchmark/components/summary/benchmark.tsx
  src/pages/benchmark/config/detail-types.ts
Due: none

fix(benchmark): translate the point grid's throughput headers
  src/pages/benchmark/components/summary/overview.tsx
Due: none

feat(benchmark): mark the best point on every chart, keep edge labels on canvas
  src/pages/benchmark/components/summary/stage-chart.tsx
Due: none

feat(benchmark): clone a run from its detail page
  src/atoms/benchmark.ts
  src/pages/benchmark/details.tsx
  src/pages/benchmark/hooks/use-clone-benchmark.ts
  src/pages/benchmark/index.tsx
Due: none

feat(benchmark): list page — profile/load-type filters, state tag, clone/edit
  src/pages/benchmark/components/benchmark-state-tag.tsx
  src/pages/benchmark/components/left-actions.tsx
  src/pages/benchmark/components/row-actions.tsx
  src/pages/benchmark/filters/index.tsx
  src/pages/benchmark/hooks/use-column-settings.tsx
  src/pages/benchmark/index.tsx
Due: none

feat(benchmark): i18n for auto-tune, SLA targets, results & validity
  src/locales/en-US/benchmark.ts
  src/locales/ja-JP/benchmark.ts
  src/locales/ru-RU/benchmark.ts
  src/locales/tr-TR/benchmark.ts
  src/locales/zh-CN/benchmark.ts
Due: npx tsx src/locales/check.ts

feat(benchmark): config drawer for auto-tune/SLA/dataset shape
  src/pages/benchmark/components/add-benchmark-modal.tsx
  src/pages/benchmark/components/distribution-chart.tsx
  src/pages/benchmark/forms/dataset.tsx
  src/pages/benchmark/forms/index.tsx
  src/pages/benchmark/forms/model-instance.tsx
  src/pages/benchmark/forms/random-settings.tsx
Due: none

feat(benchmark): data layer for auto-tune config, results & watch stream
  src/pages/benchmark/apis/index.ts
  src/pages/benchmark/config/detail-context.ts
  src/pages/benchmark/config/detail-types.ts
  src/pages/benchmark/config/form-context.ts
  src/pages/benchmark/config/index.ts
  src/pages/benchmark/config/types.ts
  src/pages/benchmark/services/use-query-dataset.ts
  src/pages/benchmark/services/use-query-profiles.ts
  src/pages/benchmark/services/use-watch-detail.ts
Due: none

refactor(benchmark): drop the full echarts bundle from the detail charts
  src/pages/benchmark/components/distribution-chart.tsx
  src/pages/benchmark/components/echarts.ts
  src/pages/benchmark/components/summary/operating-curve.tsx
  src/pages/benchmark/components/summary/stage-chart.tsx
Due: none
