Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

style: providers selection, remove fallback form
  src/config/index.ts
  src/locales/en-US/accesses.ts
  src/locales/ja-JP/accesses.ts
  src/locales/ru-RU/accesses.ts
  src/locales/zh-CN/accesses.ts
  src/pages/maas-provider/components/provider-models.tsx
  src/pages/maas-provider/config/index.ts
  src/pages/maas-provider/config/mock.ts
  src/pages/maas-provider/config/providers.ts
  src/pages/maas-provider/config/types.ts
  src/pages/maas-provider/forms/basic.tsx
  src/pages/maas-provider/hooks/use-provider-columns.tsx
  src/pages/maas-provider/index.tsx
  src/pages/model-access/components/access-points.tsx
  src/pages/model-access/config/mock.ts
  src/pages/model-access/config/types.ts
  src/pages/model-access/hooks/use-access-columns.tsx
  src/pages/model-access/index.tsx
Due: npx tsx src/locales/check.ts

feat: provider form
  src/components/icon-font/index.tsx
  src/components/list-input/index.tsx
  src/components/list-input/list-item.tsx
  src/components/seal-form/seal-select.tsx
  src/components/seal-form/wrapper/select.ts
  src/pages/maas-provider/apis/index.ts
  src/pages/maas-provider/components/provider-models.tsx
  src/pages/maas-provider/config/index.ts
  src/pages/maas-provider/forms/access-token.tsx
  src/pages/maas-provider/forms/advance-config.tsx
  src/pages/maas-provider/forms/basic.tsx
  src/pages/maas-provider/forms/index.tsx
  src/pages/maas-provider/forms/supported-models.tsx
  src/pages/maas-provider/hooks/use-create-provider.ts
  src/pages/maas-provider/index.tsx
Due: none

chore: access form
  config/routes.ts
  src/components/label-selector/autocomplete-item.tsx
  src/components/label-selector/context.ts
  src/components/label-selector/index.tsx
  src/components/label-selector/inner.tsx
  src/components/label-selector/label-item.tsx
  src/pages/_components/transfer.tsx
  src/pages/maas-provider/forms/advance-config.tsx
  src/pages/maas-provider/forms/index.tsx
  src/pages/maas-provider/forms/proxy-config.tsx
  src/pages/model-access/components/access-points.tsx
  src/pages/model-access/components/fallback-modal.tsx
  src/pages/model-access/config/types.ts
  src/pages/model-access/forms/basic.tsx
  src/pages/model-access/forms/endpoints.tsx
  src/pages/model-access/forms/fallback-settings.tsx
  src/pages/model-access/forms/index.tsx
  src/pages/model-access/forms/meta-data.tsx
  src/pages/model-access/hooks/use-fallback-settings.ts
  src/pages/model-access/index.tsx
Due: none

feat: add access list
  config/routes.ts
  src/locales/en-US/accesses.ts
  src/locales/en-US/menu.ts
  src/locales/en-US/no-result.ts
  src/locales/ja-JP/accesses.ts
  src/locales/ja-JP/menu.ts
  src/locales/ja-JP/no-result.ts
  src/locales/ru-RU/accesses.ts
  src/locales/ru-RU/menu.ts
  src/locales/ru-RU/no-result.ts
  src/locales/zh-CN/accesses.ts
  src/locales/zh-CN/menu.ts
  src/locales/zh-CN/no-result.ts
  src/pages/model-access/apis/index.ts
  src/pages/model-access/components/access-points.tsx
  src/pages/model-access/components/add-access-modal.tsx
  src/pages/model-access/config/index.ts
  src/pages/model-access/config/mock.ts
  src/pages/model-access/config/types.ts
  src/pages/model-access/forms/index.tsx
  src/pages/model-access/hooks/use-access-columns.tsx
  src/pages/model-access/hooks/use-create-access.ts
  src/pages/model-access/index.tsx
Due: npx tsx src/locales/check.ts

feat: add provider menu
  config/routes.ts
  src/components/icon-font/index.tsx
  src/locales/en-US/menu.ts
  src/locales/en-US/no-result.ts
  src/locales/ja-JP/menu.ts
  src/locales/ja-JP/no-result.ts
  src/locales/ru-RU/menu.ts
  src/locales/ru-RU/no-result.ts
  src/locales/zh-CN/menu.ts
  src/locales/zh-CN/no-result.ts
  src/pages/maas-provider/apis/index.ts
  src/pages/maas-provider/components/add-provider-modal.tsx
  src/pages/maas-provider/components/provider-models.tsx
  src/pages/maas-provider/config/index.ts
  src/pages/maas-provider/config/types.ts
  src/pages/maas-provider/forms/index.tsx
  src/pages/maas-provider/hooks/use-create-provider.ts
  src/pages/maas-provider/hooks/use-provider-columns.tsx
  src/pages/maas-provider/index.tsx
  src/pages/resources/components/gpus.tsx
  src/pages/resources/components/workers.tsx
Due: npx tsx src/locales/check.ts

style: endpoint selection
  src/components/metadata-list/index.tsx
  src/components/seal-form/input-number.tsx
  src/components/seal-form/seal-cascader.tsx
  src/components/seal-form/wrapper/input.ts
  src/components/seal-form/wrapper/select.ts
  src/pages/model-access/forms/endpoints.tsx
Due: none

feat: provider lsit
  config/routes.ts
  src/components/page-tools/index.tsx
  src/locales/en-US/menu.ts
  src/locales/en-US/provider.ts
  src/locales/ja-JP/menu.ts
  src/locales/ja-JP/provider.ts
  src/locales/ru-RU/menu.ts
  src/locales/ru-RU/provider.ts
  src/locales/zh-CN/menu.ts
  src/locales/zh-CN/provider.ts
  src/pages/maas-provider/components/provider-models.tsx
  src/pages/maas-provider/config/index.ts
  src/pages/maas-provider/config/mock.ts
  src/pages/maas-provider/config/types.ts
  src/pages/maas-provider/hooks/use-provider-columns.tsx
  src/pages/maas-provider/index.tsx
Due: npx tsx src/locales/check.ts

chore: providers ux
  src/components/icon-font/icons.ts
  src/locales/en-US/no-result.ts
  src/locales/en-US/provider.ts
  src/locales/ja-JP/no-result.ts
  src/locales/ja-JP/provider.ts
  src/locales/ru-RU/no-result.ts
  src/locales/ru-RU/provider.ts
  src/locales/zh-CN/menu.ts
  src/locales/zh-CN/no-result.ts
  src/locales/zh-CN/provider.ts
  src/pages/_components/model-tag.tsx
  src/pages/llmodels/components/catalog-item.tsx
  src/pages/llmodels/components/model-item.tsx
  src/pages/llmodels/hooks/use-models-columns.tsx
  src/pages/maas-provider/components/provider-models.tsx
  src/pages/maas-provider/config/form-context.ts
  src/pages/maas-provider/config/index.ts
  src/pages/maas-provider/config/mock.ts
  src/pages/maas-provider/config/types.ts
  src/pages/maas-provider/forms/advance-config.tsx
  src/pages/maas-provider/forms/index.tsx
  src/pages/maas-provider/forms/proxy_config.tsx
  src/pages/maas-provider/forms/supported-models.tsx
  src/pages/maas-provider/hooks/use-create-provider.ts
  src/pages/maas-provider/hooks/use-provider-columns.tsx
  src/pages/maas-provider/index.tsx
  src/pages/model-access/forms/basic.tsx
  src/pages/model-access/forms/endpoints.tsx
  src/pages/model-access/forms/index.tsx
  src/pages/model-access/forms/meta-data.tsx
  src/pages/model-access/hooks/use-create-access.ts
  src/pages/model-access/index.tsx
Due: npx tsx src/locales/check.ts

fix(styles): providers access token
  src/components/seal-form/seal-cascader.tsx
  src/locales/en-US/models.ts
  src/locales/en-US/provider.ts
  src/locales/ja-JP/models.ts
  src/locales/ja-JP/provider.ts
  src/locales/ru-RU/models.ts
  src/locales/ru-RU/provider.ts
  src/locales/zh-CN/models.ts
  src/locales/zh-CN/provider.ts
  src/pages/_components/category-select.tsx
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/components/access-control-modal/index.tsx
  src/pages/llmodels/config/index.ts
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/forms/advance-config.tsx
  src/pages/maas-provider/config/types.ts
  src/pages/maas-provider/forms/access-token.tsx
  src/pages/maas-provider/forms/advance-config.tsx
  src/pages/maas-provider/forms/basic.tsx
  src/pages/maas-provider/forms/index.tsx
  src/pages/maas-provider/forms/model-item.tsx
  src/pages/maas-provider/forms/supported-models.tsx
  src/pages/model-access/components/access-points.tsx
  src/pages/model-access/config/types.ts
  src/pages/model-access/forms/basic.tsx
  src/pages/model-access/forms/endpoints.tsx
  src/pages/model-access/forms/index.tsx
  src/pages/model-access/hooks/use-endpoint-source-models.tsx
  src/pages/model-access/index.tsx
Due: npx tsx src/locales/check.ts

style: adjust providers style
  src/components/label-selector/wrapper.tsx
  src/components/list-input/index.tsx
  src/components/list-input/list-item.tsx
  src/components/seal-form/wrapper/select.ts
  src/locales/en-US/provider.ts
  src/locales/ja-JP/provider.ts
  src/locales/ru-RU/provider.ts
  src/locales/zh-CN/provider.ts
  src/pages/maas-provider/components/provider-models.tsx
  src/pages/maas-provider/config/mock.ts
  src/pages/maas-provider/config/types.ts
  src/pages/maas-provider/forms/access-token.tsx
  src/pages/maas-provider/forms/advance-config.tsx
  src/pages/maas-provider/forms/index.tsx
  src/pages/maas-provider/forms/proxy-config.tsx
  src/pages/maas-provider/forms/supported-models.tsx
  src/pages/maas-provider/hooks/use-provider-columns.tsx
  src/pages/maas-provider/index.tsx
Due: npx tsx src/locales/check.ts

style: access list
  src/pages/model-access/components/access-points.tsx
  src/pages/model-access/forms/basic.tsx
  src/pages/model-access/forms/meta-data.tsx
  src/pages/model-access/hooks/use-access-columns.tsx
Due: none

chore: model access control
  src/pages/model-access/config/index.ts
  src/pages/model-access/hooks/use-access-control.ts
  src/pages/model-access/index.tsx
Due: none

chore: fallback checkbox
  src/components/icon-font/index.tsx
  src/locales/zh-CN/accesses.ts
  src/pages/model-access/components/access-points.tsx
  src/pages/model-access/forms/endpoints.tsx
Due: npx tsx src/locales/check.ts

chore: access, endpoints to route targets
  config/routes.ts
  src/locales/en-US/accesses.ts
  src/locales/en-US/menu.ts
  src/locales/en-US/provider.ts
  src/locales/en-US/routes.ts
  src/locales/ja-JP/accesses.ts
  src/locales/ja-JP/menu.ts
  src/locales/ja-JP/provider.ts
  src/locales/ja-JP/routes.ts
  src/locales/ru-RU/accesses.ts
  src/locales/ru-RU/menu.ts
  src/locales/ru-RU/provider.ts
  src/locales/ru-RU/routes.ts
  src/locales/zh-CN/accesses.ts
  src/locales/zh-CN/menu.ts
  src/locales/zh-CN/provider.ts
  src/locales/zh-CN/routes.ts
  src/pages/llmodels/apis/index.ts
  src/pages/model-access/apis/index.ts
  src/pages/model-access/hooks/use-edit-endpoints.ts
  src/pages/model-routes/apis/index.ts
  src/pages/model-routes/components/add-route-modal.tsx
  src/pages/model-routes/components/fallback-modal.tsx
  src/pages/model-routes/components/route-targets.tsx
  src/pages/model-routes/config/index.ts
  src/pages/model-routes/config/types.ts
  src/pages/model-routes/forms/basic.tsx
  src/pages/model-routes/forms/index.tsx
  src/pages/model-routes/forms/meta-data.tsx
  src/pages/model-routes/forms/targets.tsx
  src/pages/model-routes/hooks/use-access-control.ts
  src/pages/model-routes/hooks/use-create-route.ts
  src/pages/model-routes/hooks/use-edit-targets.ts
  src/pages/model-routes/hooks/use-routes-columns.tsx
  src/pages/model-routes/hooks/use-target-source-models.tsx
  src/pages/model-routes/index.tsx
Due: npx tsx src/locales/check.ts

chore: access meta
  src/components/auto-image/single-image.less
  src/components/auto-image/single-image.tsx
  src/components/icon-font/index.tsx
  src/locales/en-US/accesses.ts
  src/locales/ja-JP/accesses.ts
  src/locales/ru-RU/accesses.ts
  src/locales/zh-CN/accesses.ts
  src/pages/model-access/components/access-points.tsx
  src/pages/model-access/forms/basic.tsx
  src/pages/model-access/forms/endpoints.tsx
  src/pages/model-access/forms/fallback-settings.tsx
  src/pages/model-access/forms/index.tsx
  src/pages/model-access/forms/meta-data.tsx
  src/pages/model-access/hooks/use-fallback-settings.ts
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix: access source error
  src/pages/_components/category-select.tsx
  src/pages/llmodels/config/button-actions.ts
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/user-models.tsx
  src/pages/model-access/components/access-points.tsx
  src/pages/model-access/config/index.ts
  src/pages/model-access/forms/index.tsx
  src/pages/model-access/index.tsx
Due: none

chore: provider form test
  src/components/seal-form/seal-select.tsx
  src/config/index.ts
  src/config/types.ts
  src/locales/en-US/provider.ts
  src/locales/ja-JP/provider.ts
  src/locales/ru-RU/provider.ts
  src/locales/zh-CN/provider.ts
  src/pages/maas-provider/apis/index.ts
  src/pages/maas-provider/components/add-provider-modal.tsx
  src/pages/maas-provider/components/provider-models.tsx
  src/pages/maas-provider/config/form-context.ts
  src/pages/maas-provider/config/mock.ts
  src/pages/maas-provider/config/types.ts
  src/pages/maas-provider/forms/access-token.tsx
  src/pages/maas-provider/forms/advance-config.tsx
  src/pages/maas-provider/forms/basic.tsx
  src/pages/maas-provider/forms/index.tsx
  src/pages/maas-provider/forms/model-item.tsx
  src/pages/maas-provider/forms/proxy-config.tsx
  src/pages/maas-provider/forms/supported-models.tsx
  src/pages/maas-provider/hooks/use-create-provider.ts
  src/pages/maas-provider/hooks/use-provider-columns.tsx
  src/pages/maas-provider/hooks/use-query-provider-models.ts
  src/pages/maas-provider/index.tsx
  src/pages/model-access/apis/index.ts
  src/pages/model-access/config/index.ts
  src/pages/model-access/index.tsx
Due: npx tsx src/locales/check.ts

style: metadata list styles
  src/components/label-selector/wrapper.tsx
  src/components/metadata-list/index.tsx
Due: none

style: fallback ui
  src/pages/model-access/components/access-points.tsx
  src/pages/model-access/forms/endpoints.tsx
Due: none

chore: access form test
  src/hooks/use-watch-list.ts
  src/locales/en-US/common.ts
  src/locales/ja-JP/common.ts
  src/locales/ru-RU/common.ts
  src/locales/zh-CN/common.ts
  src/pages/llmodels/config/index.ts
  src/pages/maas-provider/config/index.ts
  src/pages/model-access/apis/index.ts
  src/pages/model-access/components/access-points.tsx
  src/pages/model-access/config/index.ts
  src/pages/model-access/config/mock.ts
  src/pages/model-access/config/types.ts
  src/pages/model-access/forms/basic.tsx
  src/pages/model-access/forms/endpoints.tsx
  src/pages/model-access/forms/index.tsx
  src/pages/model-access/hooks/use-access-columns.tsx
  src/pages/model-access/hooks/use-edit-endpoints.ts
  src/pages/model-access/hooks/use-endpoint-source-models.ts
  src/pages/model-access/index.tsx
Due: npx tsx src/locales/check.ts

fix: enable_model_route
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/forms/advance-config.tsx
  src/pages/llmodels/forms/index.tsx
Due: none

fix: routes locales
  src/locales/en-US/no-result.ts
  src/locales/ja-JP/no-result.ts
  src/locales/ru-RU/no-result.ts
  src/locales/zh-CN/no-result.ts
  src/pages/model-routes/index.tsx
Due: npx tsx src/locales/check.ts

style: display target model name
  src/config/global.d.ts
  src/pages/llmodels/components/access-control-modal/index.tsx
  src/pages/maas-provider/components/provider-logo.tsx
  src/pages/maas-provider/components/provider-models.tsx
  src/pages/model-routes/components/route-targets.tsx
  src/pages/model-routes/hooks/use-target-source-models.tsx
  src/pages/model-routes/index.tsx
Due: none

chore: rebase main
  src/components/icon-font/index.tsx
  src/locales/en-US/no-result.ts
  src/locales/ja-JP/no-result.ts
  src/locales/ru-RU/menu.ts
  src/locales/ru-RU/no-result.ts
  src/pages/maas-provider/index.tsx
Due: npx tsx src/locales/check.ts

chore: resort menu
  config/routes.ts
Due: none

fix: open model in playground
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/config/button-actions.ts
  src/pages/model-routes/config/index.ts
  src/pages/model-routes/hooks/use-open-playground.ts
  src/pages/model-routes/hooks/use-routes-columns.tsx
  src/pages/model-routes/index.tsx
Due: none

chore: fallback selection
  src/components/seal-form/base/select.tsx
  src/locales/zh-CN/routes.ts
  src/pages/maas-provider/components/provider-models.tsx
  src/pages/maas-provider/forms/advance-config.tsx
  src/pages/maas-provider/forms/api-keys.tsx
  src/pages/maas-provider/forms/supported-models.tsx
  src/pages/model-routes/components/route-targets.tsx
  src/pages/model-routes/forms/targets.tsx
  src/pages/model-routes/hooks/use-target-source-models.tsx
Due: npx tsx src/locales/check.ts

chore: remove invalid file
  src/pages/model-routes/components/fallback-modal.tsx
Due: none

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  npx tsx src/locales/check.ts: any of: src/locales/**/*.ts
