Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

style(preferences): drop the row title the section header already says
  src/pages/profile/components/appearance.tsx
  src/pages/profile/components/setting-row.tsx
  src/pages/profile/index-copy.tsx
  src/pages/profile/index.tsx
Due: none

fix(dashboard): gate the add-resource prompt on canSeeOrgAdmin
  src/layouts/index.tsx
  src/pages/dashboard/hooks/use-add-resource.tsx
Due: none

docs: record form-modal convention and new design-review checks
  .claude/skills/design-review/SKILL.md
  CLAUDE.md
Due: prettier --cache --write

fix(layouts): re-evaluate the matched route when access changes
  src/layouts/index.tsx
Due: none

chore: update iconfont files
  src/components/iconfont/iconfont.css
  src/components/iconfont/iconfont.js
  src/components/iconfont/iconfont.ttf
  src/components/iconfont/iconfont.woff
  src/components/iconfont/iconfont.woff2
Due: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only

style(theme): unify modal radius to 12
  src/config/theme/dark.ts
  src/config/theme/light.ts
Due: none

style(preferences): refresh settings layout, move password form into a modal
  src/locales/en-US/common.ts
  src/locales/ja-JP/common.ts
  src/locales/ru-RU/common.ts
  src/locales/tr-TR/common.ts
  src/locales/zh-CN/common.ts
  src/pages/profile/components/appearance.tsx
  src/pages/profile/components/modify-password-form.tsx
  src/pages/profile/components/modify-password-modal.tsx
  src/pages/profile/components/security.tsx
  src/pages/profile/components/setting-row.tsx
  src/pages/profile/components/settings-group.tsx
  src/pages/profile/components/settings-section.tsx
  src/pages/profile/components/theme-preview.tsx
  src/pages/profile/config/types.ts
  src/pages/profile/index.tsx
Due: npx tsx src/locales/check.ts

style(preferences): move section titles into the card via shared SectionHeader
  src/pages/profile/components/settings-section.tsx
  src/pages/profile/index.tsx
Due: none

chore: update iconfont files
  src/components/iconfont/iconfont.css
  src/components/iconfont/iconfont.js
  src/components/iconfont/iconfont.json
  src/components/iconfont/iconfont.ttf
  src/components/iconfont/iconfont.woff
  src/components/iconfont/iconfont.woff2
Due: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only

style(dashboard): set section title font size
  src/pages/dashboard/config/index.ts
Due: none

fix(i18n): translate the kv-cache no-accelerator warning in tr-TR
  src/locales/tr-TR/kv-cache.ts
Due: npx tsx src/locales/check.ts

style(llmodels): group instance info by backend, worker and GPU
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/tr-TR/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/components/instance-cells/name-cell.tsx
Due: npx tsx src/locales/check.ts

feat(help): add Image Selector link
  src/constants/external-links.ts
  src/layouts/extraRender.tsx
  src/layouts/rightRender.tsx
  src/locales/en-US/common.ts
  src/locales/ja-JP/common.ts
  src/locales/ru-RU/common.ts
  src/locales/tr-TR/common.ts
  src/locales/zh-CN/common.ts
Due: npx tsx src/locales/check.ts

feat(playground): show prompt cache hit rate per request
  src/locales/en-US/playground.ts
  src/locales/ja-JP/playground.ts
  src/locales/ru-RU/playground.ts
  src/locales/tr-TR/playground.ts
  src/locales/zh-CN/playground.ts
  src/pages/playground/components/reference-params.tsx
Due: npx tsx src/locales/check.ts

fix(llmodels): reject oversized YAML before reading the file
  src/pages/llmodels/components/deployment/import-yaml-modal.tsx
Due: none

fix(llmodels): correct scheduled scaling window preview and edit prompts
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/tr-TR/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/config/index.ts
  src/pages/llmodels/forms/scheduled-scaling.tsx
Due: npx tsx src/locales/check.ts

chore: bump @gpustack/core-ui to 1.1.19
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

perf(source-config): detect meaningful YAML without splitting every line
  src/pages/_components/source-config/slot-form.tsx
Due: none

fix(llmodels): tighten YAML refusal and scaling window activation
  src/pages/llmodels/components/deployment/import-yaml-modal.tsx
  src/pages/llmodels/forms/scheduled-scaling.tsx
Due: none

fix(llmodels): keep a vGPU deployment editable when its own slice fills the pool
  src/pages/llmodels/forms/vgpu-type.tsx
Due: none

feat(model-routes): add load-balancing policy configuration
  src/global.less
  src/locales/en-US/routes.ts
  src/locales/ja-JP/routes.ts
  src/locales/ru-RU/routes.ts
  src/locales/tr-TR/routes.ts
  src/locales/zh-CN/routes.ts
  src/pages/model-routes/apis/index.ts
  src/pages/model-routes/components/route-targets.tsx
  src/pages/model-routes/config/index.ts
  src/pages/model-routes/config/types.ts
  src/pages/model-routes/forms/index.tsx
  src/pages/model-routes/forms/lb-policy.tsx
  src/pages/model-routes/forms/targets.tsx
  src/pages/model-routes/hooks/use-routes-columns.tsx
  src/pages/model-routes/utils/lb-plugins.ts
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

feat(llmodels): page a serving log on demand
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/tr-TR/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/components/view-logs-modal.tsx
  src/pages/llmodels/hooks/use-download-instance-logs.tsx
  src/pages/llmodels/services/use-query-instance-restart-count.ts
Due: npx tsx src/locales/check.ts

chore: bump @gpustack/core-ui to v1.1.20
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  npx tsx src/locales/check.ts: any of: src/locales/**/*.ts
