Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix(usage): pass scope to the time series chart fetch
  src/pages/usage/hooks/use-usage-filters.ts
Due: none

fix: colorPrimary cache cleared
  src/hooks/use-table-fetch.ts
  src/layouts/index.tsx
Due: none

feat(usage): plugin slot for Models tab extra columns
  src/pages/usage/hooks/use-export-table.tsx
  src/pages/usage/hooks/use-models-columns.tsx
  src/pages/usage/tables/models-table.tsx
Due: none

feat(usage): treat org owners as managers on the Usage page
  src/pages/usage/components/daily-usage.tsx
  src/pages/usage/components/filter-bar.tsx
  src/pages/usage/index.tsx
Due: none

fix(model-routes): use overridden model name for provider targets
  src/pages/maas-provider/hooks/use-register-route.ts
  src/pages/model-routes/components/route-targets.tsx
  src/pages/model-routes/config/types.ts
  src/pages/model-routes/forms/index.tsx
  src/pages/model-routes/hooks/use-target-source-models.tsx
Due: none

feat: lora route
  src/pages/llmodels/config/types.ts
  src/pages/model-routes/config/types.ts
  src/pages/model-routes/forms/index.tsx
  src/pages/model-routes/forms/targets.tsx
  src/pages/model-routes/hooks/use-target-source-models.tsx
Due: none

feat: lora for deployment
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/forms/advance-config.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/forms/lora-list-item.tsx
  src/pages/llmodels/forms/model-lora-list.tsx
  src/pages/llmodels/services/use-query-lora-list.ts
Due: none

fix: search lora ux
  src/pages/llmodels/forms/lora-list-item.tsx
  src/pages/llmodels/style/lora-selection.less
Due: prettier --cache --write, max lint --fix --stylelint-only

fix: add lora tag in routes
  src/pages/model-routes/components/route-targets.tsx
Due: none

fix: selection styles
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/forms/lora-list-item.tsx
  src/pages/llmodels/forms/model-lora-list.tsx
  src/pages/llmodels/services/use-query-lora-list.ts
  src/pages/llmodels/style/lora-selection.less
  src/pages/model-routes/forms/targets.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

fix: add form validation
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/tr-TR/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/forms/lora-list-item.tsx
  src/pages/llmodels/forms/model-lora-list.tsx
  src/pages/llmodels/services/use-query-lora-list.ts
  src/pages/llmodels/style/lora-selection.less
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

feat: model file is lora
  src/locales/en-US/resources.ts
  src/locales/ja-JP/resources.ts
  src/locales/ru-RU/resources.ts
  src/locales/tr-TR/resources.ts
  src/locales/zh-CN/resources.ts
  src/pages/llmodels/components/download/target-form.tsx
  src/pages/resources/hooks/use-files-columns.tsx
Due: npx tsx src/locales/check.ts

fix: filter invaild lora in form
  src/pages/llmodels/forms/lora-list-item.tsx
  src/pages/llmodels/forms/model-lora-list.tsx
  src/pages/llmodels/services/use-query-lora-list.ts
  src/pages/resources/config/types.ts
Due: none

fix(playground): inject X-Organization-Id on non-umi fetch paths
  src/pages/playground/apis/index.ts
  src/utils/fetch-chunk-data.ts
Due: none

feat: add parameter format and common parameters to backend configuration
  src/locales/en-US/backends.ts
  src/locales/ja-JP/backends.ts
  src/locales/ru-RU/backends.ts
  src/locales/tr-TR/backends.ts
  src/locales/zh-CN/backends.ts
  src/pages/backends/components/add-modal.tsx
  src/pages/backends/config/index.ts
  src/pages/backends/config/schema/create.json
  src/pages/backends/config/schema/update-builtin.json
  src/pages/backends/config/schema/update-custom.json
  src/pages/backends/config/types.ts
  src/pages/backends/forms/basic.tsx
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/forms/backend-parameters-list.tsx
  src/pages/llmodels/hooks/use-query-backends.ts
Due: prettier --cache --write, npx tsx src/locales/check.ts

feat: instance pv events
  src/locales/en-US/gpuservice.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/zh-CN/gpuservice.ts
  src/pages/gpu-service/instances/apis/index.ts
  src/pages/gpu-service/instances/components/view-events-modal.tsx
  src/pages/gpu-service/instances/services/use-query-volume-events.ts
Due: npx tsx src/locales/check.ts

style: number selection
  src/locales/en-US/common.ts
  src/locales/en-US/gpuservice.ts
  src/locales/ja-JP/common.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ru-RU/common.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/tr-TR/common.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/zh-CN/common.ts
  src/locales/zh-CN/gpuservice.ts
  src/pages/_components/number-selection/index.tsx
  src/pages/_components/number-selection/styles.less
  src/pages/gpu-service/instances/components/add-modal.tsx
  src/pages/gpu-service/instances/components/instance-type-item.tsx
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/instance-type.tsx
  src/pages/gpu-service/instances/forms/storage-volume.tsx
  src/pages/gpu-service/templates/forms/basic.tsx
  src/pages/gpu-service/templates/forms/ports.tsx
  src/pages/gpu-service/templates/styles/template.less
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

feat: add number selection
  src/pages/_components/number-selection/index.tsx
  src/pages/_components/number-selection/styles.less
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/instance-type.tsx
  src/pages/gpu-service/instances/forms/storage-volume.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

fix: instance form ux
  src/locales/en-US/clusters.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ru-RU/clusters.ts
  src/locales/tr-TR/clusters.ts
  src/locales/zh-CN/clusters.ts
  src/pages/_components/number-selection/index.tsx
  src/pages/cluster-management/components/add-worker/k8s-run-command.tsx
  src/pages/gpu-service/instances/components/instance-type-item.tsx
  src/pages/gpu-service/instances/config/types.ts
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/storage-volume.tsx
  src/pages/gpu-service/instances/styles/instances.module.less
  src/pages/gpu-service/templates/components/template-card.tsx
  src/pages/gpu-service/templates/config/index.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

style: instance type remaing resourece
  src/locales/en-US/common.ts
  src/locales/en-US/gpuservice.ts
  src/locales/ja-JP/common.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ru-RU/common.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/tr-TR/common.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/zh-CN/common.ts
  src/locales/zh-CN/gpuservice.ts
  src/pages/gpu-service/instances/components/instance-type-item.tsx
  src/pages/gpu-service/instances/components/view-logs-modal.tsx
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/instance-type.tsx
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
  src/pages/gpu-service/templates/forms/basic.tsx
Due: npx tsx src/locales/check.ts

fix(style): textarea label background
  src/pages/gpu-service/instances/apis/index.ts
  src/pages/gpu-service/instances/config/index.ts
  src/pages/gpu-service/instances/forms/basic.tsx
  src/pages/gpu-service/instances/index.tsx
  src/pages/gpu-service/instances/styles/instances.module.less
  src/pages/gpu-service/templates/forms/basic.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

fix: recreate action
  src/locales/en-US/gpuservice.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/zh-CN/gpuservice.ts
  src/pages/gpu-service/instances/apis/index.ts
  src/pages/gpu-service/instances/components/add-modal.tsx
  src/pages/gpu-service/instances/config/index.ts
  src/pages/gpu-service/instances/forms/basic.tsx
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/instance-type.tsx
  src/pages/gpu-service/instances/forms/storage-volume.tsx
  src/pages/gpu-service/instances/hooks/use-create-instance.ts
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
  src/pages/gpu-service/instances/index.tsx
  src/pages/gpu-service/instances/styles/instances.module.less
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix(style): template title gap
  src/pages/gpu-service/templates/components/template-card.tsx
Due: none

chore: ssh key selection
  src/atoms/gpuservice.ts
  src/locales/en-US/gpuservice.ts
  src/locales/en-US/no-result.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ja-JP/no-result.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/ru-RU/no-result.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/tr-TR/no-result.ts
  src/locales/zh-CN/gpuservice.ts
  src/locales/zh-CN/no-result.ts
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/instance-type.tsx
Due: npx tsx src/locales/check.ts

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  npx tsx src/locales/check.ts: any of: src/locales/**/*.ts
