Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

.lintstagedrc:

{
  "*.{md,json}": ["prettier --cache --write"],
  "*.{js,jsx}": ["max lint --fix --eslint-only", "prettier --cache --write"],
  "*.{css,less}": [
    "max lint --fix --stylelint-only",
    "prettier --cache --write"
  ],
  "*.ts?(x)": [
    "max lint --fix --eslint-only",
    "prettier --cache --parser=typescript --write"
  ],
  "src/locales/**/*.ts": ["npx tsx src/locales/check.ts"]
}

style: source icon in model result list
  src/components/icon-font/index.tsx
  src/pages/llmodels/components/hf-model-file.tsx
  src/pages/llmodels/components/hf-model-item.tsx
Due: none

chore: update iconfont files
  src/components/icon-font/iconfont/iconfont.css
  src/components/icon-font/iconfont/iconfont.js
  src/components/icon-font/iconfont/iconfont.json
  src/components/icon-font/iconfont/iconfont.ttf
  src/components/icon-font/iconfont/iconfont.woff
  src/components/icon-font/iconfont/iconfont.woff2
  src/components/icon-font/index.tsx
Due: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only

chore: add iluvatar corex in add worker
  src/components/markdown-viewer/index.less
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/components/hf-model-file.tsx
  src/pages/llmodels/components/model-card.tsx
  src/pages/resources/config/index.ts
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix: images did not get cleared after clicking stop
  src/components/image-editor/hooks/use-zoom.ts
  src/locales/en-US/playground.ts
  src/locales/ja-JP/playground.ts
  src/locales/ru-RU/playground.ts
  src/locales/zh-CN/playground.ts
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/playground/hooks/use-text-image.ts
  src/pages/resources/components/add-worker-macos.tsx
  src/pages/resources/components/add-worker-windows.tsx
  src/pages/resources/components/add-worker.tsx
  src/utils/fetch-chunk-data.ts
Due: npx tsx src/locales/check.ts

fix: distribution downloading data do not show
  src/pages/llmodels/components/instance-item.tsx
  src/pages/llmodels/config/types.ts
Due: none

fix: collpase instance error
  src/pages/llmodels/components/instance-item.tsx
Due: none

fix: enable distributed inference field for mindie
  src/pages/llmodels/components/advance-config.tsx
Due: none

fix: distributed inference across workers disabled for vox-box
  src/pages/llmodels/components/advance-config.tsx
Due: none

refactor: update user guide for add worker
  src/assets/images/copy-token.png
  src/assets/images/quick-config.png
  src/locales/en-US/resources.ts
  src/locales/ja-JP/resources.ts
  src/locales/ru-RU/resources.ts
  src/locales/zh-CN/resources.ts
  src/pages/resources/components/add-worker-macos.tsx
  src/pages/resources/components/add-worker.tsx
Due: npx tsx src/locales/check.ts

fix: reset form after switch model
  src/pages/llmodels/components/advance-config.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/config/index.ts
  src/pages/llmodels/hooks/index.ts
  src/pages/playground/config/samples.ts
Due: none

style: tag tooltip content width
  src/components/status-tag/index.tsx
  src/global.less
  src/locales/en-US/resources.ts
  src/locales/ja-JP/resources.ts
  src/locales/ru-RU/resources.ts
  src/pages/resources/components/workers.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix: update the requestId when switch model
  src/assets/images/copy-token.png
  src/assets/images/quick-config.png
  src/components/delete-modal/index.tsx
  src/config/global.d.ts
  src/locales/en-US/resources.ts
  src/locales/ja-JP/resources.ts
  src/locales/ru-RU/resources.ts
  src/locales/zh-CN/resources.ts
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/search-model.tsx
  src/pages/llmodels/config/mindie-config.ts
  src/pages/resources/components/add-worker-macos.tsx
  src/pages/resources/components/add-worker-windows.tsx
  src/pages/resources/components/add-worker.tsx
Due: npx tsx src/locales/check.ts

chore: update the guide for adding worker
  src/components/status-tag/index.tsx
  src/locales/en-US/resources.ts
  src/locales/ja-JP/resources.ts
  src/locales/ru-RU/resources.ts
  src/locales/zh-CN/resources.ts
  src/pages/resources/components/add-worker-macos.tsx
  src/pages/resources/components/add-worker-windows.tsx
  src/pages/resources/components/add-worker.tsx
Due: npx tsx src/locales/check.ts

Update resources.ts
  src/locales/ru-RU/resources.ts
Due: npx tsx src/locales/check.ts

Update common.ts
  src/locales/ru-RU/common.ts
Due: npx tsx src/locales/check.ts

style: flatten menu items
  config/routes.ts
  src/app.tsx
  src/atoms/settings.ts
  src/components/icon-font/index.tsx
  src/config/theme/dark.ts
  src/config/theme/light.ts
  src/global.less
  src/layouts/index.tsx
  src/layouts/rightRender.tsx
  src/layouts/sider-menu.tsx
  src/locales/en-US/menu.ts
  src/locales/ja-JP/menu.ts
  src/locales/ru-RU/menu.ts
  src/locales/zh-CN/menu.ts
  src/pages/api-keys/index.tsx
  src/pages/llmodels/catalog.tsx
  src/pages/login/utils.ts
  src/pages/playground/config/samples.ts
  src/pages/profile/components/appearance.tsx
  src/pages/resources/components/gpus.tsx
  src/pages/resources/components/model-files.tsx
  src/pages/resources/components/workers.tsx
  src/pages/users/index.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

chore: add worker guide
  config/routes.ts
  src/layouts/error-result.tsx
  src/layouts/sider-menu.tsx
  src/locales/en-US/resources.ts
  src/locales/ja-JP/resources.ts
  src/locales/ru-RU/resources.ts
  src/locales/zh-CN/resources.ts
  src/pages/resources/components/add-worker-macos.tsx
Due: npx tsx src/locales/check.ts

fix: menu items for user role
  config/routes.ts
Due: none

chore: update iconfont files
  src/components/icon-font/iconfont/iconfont.css
  src/components/icon-font/iconfont/iconfont.ttf
  src/components/icon-font/iconfont/iconfont.woff
  src/components/icon-font/iconfont/iconfont.woff2
  src/components/icon-font/index.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

chore: remove menu data render
  config/routes.ts
  src/layouts/index.tsx
  src/layouts/rightRender.tsx
  src/layouts/sider-menu.tsx
  src/locales/en-US/menu.ts
  src/pages/llmodels/components/table-list.tsx
Due: npx tsx src/locales/check.ts
