Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

feat: add speculative decoding
  src/assets/styles/common.less
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/catalog.tsx
  src/pages/llmodels/components/catalog-item.tsx
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/components/model-tag.tsx
  src/pages/llmodels/config/form-context.ts
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/forms/advance-config.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/forms/kv-cache.tsx
  src/pages/llmodels/forms/performance.tsx
  src/pages/llmodels/forms/speculative-decode.tsx
  src/pages/llmodels/style/catalog-item.less
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

chore: update models locales
  src/components/auto-tooltip/index.tsx
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/components/catalog-item.tsx
  src/pages/llmodels/forms/performance.tsx
  src/pages/llmodels/forms/speculative-decode.tsx
Due: npx tsx src/locales/check.ts

fix: default spec by mode
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/config/form-context.ts
  src/pages/llmodels/config/test.ts
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/forms/performance.tsx
Due: none

fix: default spec by mode
  src/locales/en-US/models.ts
  src/locales/zh-CN/models.ts
Due: npx tsx src/locales/check.ts

fix: fake spec data
  src/pages/llmodels/apis/index.ts
Due: none

fix: backend change
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/config/form-context.ts
  src/pages/llmodels/forms/performance.tsx
Due: none

chore: update worker locale
  src/locales/en-US/models.ts
  src/locales/en-US/resources.ts
  src/locales/ja-JP/models.ts
  src/locales/ja-JP/resources.ts
  src/locales/ru-RU/models.ts
  src/locales/ru-RU/resources.ts
  src/locales/zh-CN/clusters.ts
  src/locales/zh-CN/dashboard.ts
  src/locales/zh-CN/menu.ts
  src/locales/zh-CN/models.ts
  src/locales/zh-CN/no-result.ts
  src/locales/zh-CN/resources.ts
  src/pages/_components/identicon.tsx
  src/pages/backends/config/index.ts
  src/pages/cluster-management/config/providers.ts
  src/pages/cluster-management/hooks/use-cluster-columns.tsx
  src/pages/cluster-management/hooks/use-pools-columns.tsx
  src/pages/llmodels/download/target-form.tsx
  src/pages/resources/components/workers.tsx
  src/pages/resources/hooks/use-files-columns.tsx
  src/pages/resources/hooks/use-gpu-columns.tsx
  src/pages/resources/hooks/use-instances-columns.tsx
  src/pages/resources/index.tsx
Due: npx tsx src/locales/check.ts

feat: add gpus_per_replicas
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/config/index.ts
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/config/utils.ts
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/forms/schedule-type.tsx
  src/pages/llmodels/hooks/use-form-initial-values.ts
Due: npx tsx src/locales/check.ts

fix: check driver command for adding worker
  src/components/seal-form/components/label-info.less
  src/pages/_components/password-validate/index.tsx
  src/pages/backends/components/backend-card.tsx
  src/pages/backends/config/index.ts
  src/pages/cluster-management/components/add-worker-command.tsx
  src/pages/cluster-management/components/check-env-command.tsx
  src/pages/cluster-management/components/support-gpus.tsx
  src/pages/llmodels/components/catalog-item.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/forms/schedule-type.tsx
  src/pages/playground/hooks/config.ts
  src/pages/resources/config/index.ts
Due: prettier --cache --write, max lint --fix --stylelint-only

Update apikeys.ts
  src/locales/ru-RU/apikeys.ts
Due: npx tsx src/locales/check.ts

Update backends.ts
  src/locales/ru-RU/backends.ts
Due: npx tsx src/locales/check.ts

Update clusters.ts
  src/locales/ru-RU/clusters.ts
Due: npx tsx src/locales/check.ts

Update menu.ts
  src/locales/ru-RU/menu.ts
Due: npx tsx src/locales/check.ts

Update models.ts
  src/locales/ru-RU/models.ts
Due: npx tsx src/locales/check.ts

Update no-result.ts
  src/locales/ru-RU/no-result.ts
Due: npx tsx src/locales/check.ts

fix: textarea scroll bar, deactive count message
  src/app.tsx
  src/components/seal-form/seal-textarea.tsx
  src/components/seal-form/wrapper/input.ts
  src/pages/backends/forms/versions-config.tsx
  src/pages/cluster-management/components/cluster-form.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/forms/backend.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/hooks/use-form-initial-values.ts
  src/pages/playground/hooks/use-chat-completion.ts
Due: none

fix: skip user api error
  src/app.tsx
Due: none

chore: worker selector
  src/components/label-selector/autocomplete-item.tsx
  src/components/label-selector/context.ts
  src/components/label-selector/index.tsx
  src/components/label-selector/inner.tsx
  src/components/seal-form/auto-complete.tsx
  src/pages/llmodels/config/form-context.ts
  src/pages/llmodels/forms/advance-config.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/hooks/use-form-initial-values.ts
  src/request-config.ts
Due: none

style: scroll to field
  src/hooks/use-table-fetch.ts
  src/pages/llmodels/forms/advance-config.tsx
  src/pages/llmodels/forms/basic.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/forms/kv-cache.tsx
  src/pages/llmodels/hooks/use-field-scroll.ts
Due: none

style: form tabs header gap
  src/pages/backends/components/add-modal.tsx
  src/pages/llmodels/forms/index.tsx
Due: none

chore: default cluster by state
  src/app.tsx
  src/pages/cluster-management/config/types.ts
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/hooks/use-form-initial-values.ts
Due: none

fix: builtin backend do not submit default_version
  src/pages/backends/index.tsx
Due: none

fix: do not trigger evaluation after switching model
  src/pages/llmodels/components/search-model.tsx
  src/pages/llmodels/forms/basic.tsx
  src/pages/llmodels/hooks/use-form-initial-values.ts
Due: none

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  npx tsx src/locales/check.ts: any of: src/locales/**/*.ts
