Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

feat: add user avatar
  src/components/icon-font/iconfont/iconfont.css
  src/components/icon-font/iconfont/iconfont.js
  src/components/icon-font/iconfont/iconfont.json
  src/components/icon-font/iconfont/iconfont.ttf
  src/components/icon-font/iconfont/iconfont.woff
  src/components/icon-font/iconfont/iconfont.woff2
  src/config/global.d.ts
  src/layouts/rightRender.tsx
  src/pages/login/components/login-form.tsx
  src/pages/users/config/types.ts
  src/pages/users/index.tsx
  src/services/profile/apis.ts
Due: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only

fix: keep storing avatar url when edit external user
  src/pages/users/index.tsx
Due: none

chore: auth-config api
  src/pages/login/hooks/use-sso-auth.ts
Due: none

chore: some sso adjustments
  src/pages/login/apis/index.ts
  src/pages/login/components/login-form.tsx
  src/pages/login/hooks/use-sso-auth.ts
  src/request-config.ts
Due: none

style: side menu
  config/routes.ts
  src/components/echarts/h-bar.tsx
  src/components/icon-font/icons.ts
  src/layouts/sider-menu.tsx
  src/pages/llmodels/config/button-actions.ts
Due: none

fix: break early while reading stream data
  src/pages/playground/hooks/use-chat-completion.ts
  src/utils/fetch-chunk-data.ts
Due: none

fix: do not extract the error message from chat chunk
  src/components/highlight-code/index.tsx
  src/utils/fetch-chunk-data.ts
Due: none

fix: sso message
  src/global.less
  src/pages/login/hooks/use-sso-auth.ts
Due: prettier --cache --write, max lint --fix --stylelint-only

style: display title when sso loading
  src/pages/login/components/login-form.tsx
Due: none

chore: update vllm arguments
  src/pages/llmodels/config/vllm-config.ts
Due: none

chore: vllm docs link
  src/pages/llmodels/config/index.ts
Due: none

style: cluster table list
  src/hooks/use-table-fetch.ts
  src/pages/cluster-management/apis/index.ts
  src/pages/cluster-management/clusters.tsx
  src/pages/cluster-management/components/add-cluster.tsx
  src/pages/cluster-management/components/cluster-detail-content.tsx
  src/pages/cluster-management/components/cluster-detail-modal.tsx
  src/pages/cluster-management/components/cluster-item.tsx
  src/pages/cluster-management/components/resiter-cluster-inner.tsx
  src/pages/cluster-management/config/index.ts
  src/pages/cluster-management/config/use-cluster-columns.tsx
  src/pages/resources/components/container-install.tsx
Due: none

chore: create cluster ux
  config/routes.ts
  src/assets/styles/common.less
  src/components/echarts/config.ts
  src/components/echarts/gauge.tsx
  src/components/scroller-modal/index.tsx
  src/components/tags-wrapper/theme-tag.tsx
  src/components/templates/card.tsx
  src/hooks/use-body-scroll.ts
  src/hooks/use-overlay-scroller.ts
  src/locales/en-US/resources.ts
  src/locales/ja-JP/resources.ts
  src/locales/ru-RU/resources.ts
  src/locales/zh-CN/resources.ts
  src/pages/cluster-management/clusters.tsx
  src/pages/cluster-management/components/add-cluster.tsx
  src/pages/cluster-management/components/cluster-detail.tsx
  src/pages/cluster-management/components/cluster-item.tsx
  src/pages/cluster-management/components/register-cluster.tsx
  src/pages/cluster-management/components/resiter-cluster-inner.tsx
  src/pages/cluster-management/components/worker-pools.tsx
  src/pages/cluster-management/config/index.ts
  src/pages/dashboard/components/over-view.tsx
  src/pages/llmodels/components/gguf-result.tsx
  src/pages/resources/components/add-worker.tsx
  src/pages/resources/components/container-install.tsx
  src/pages/resources/config/index.ts
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

feat: terminal
  src/components/x-terminal/index.tsx
  src/pages/cluster-management/components/cluster-detail-modal.tsx
Due: none

feat: cluster ux
  src/components/icon-font/index.tsx
  src/pages/cluster-management/clusters.tsx
  src/pages/cluster-management/components/add-cluster.tsx
  src/pages/cluster-management/components/add-credential.tsx
  src/pages/cluster-management/components/add-pool.tsx
  src/pages/cluster-management/components/cloud-provider-form.tsx
  src/pages/cluster-management/components/k8s-provider-form.tsx
  src/pages/cluster-management/config/index.ts
  src/pages/cluster-management/config/types.ts
  src/pages/cluster-management/credentials.tsx
  src/pages/resources/components/workers.tsx
Due: none

chore: user mdoels
  src/pages/llmodels/components/model-item.tsx
  src/pages/llmodels/user-models.tsx
Due: none

feat: clusters group
  config/routes.ts
  src/components/icon-font/index.tsx
  src/locales/en-US/menu.ts
  src/locales/ja-JP/menu.ts
  src/locales/ru-RU/menu.ts
  src/locales/zh-CN/menu.ts
  src/pages/cluster-management/clusters.tsx
  src/pages/cluster-management/credentials.tsx
  src/pages/llmodels/user-models.tsx
Due: npx tsx src/locales/check.ts

fix: gpu selector by cluster
  config/routes.ts
  src/components/icon-font/icons.ts
  src/components/icon-font/index.tsx
  src/components/scroller-modal/index.tsx
  src/components/seal-form/seal-select.tsx
  src/config/global.d.ts
  src/pages/cluster-management/apis/index.ts
  src/pages/cluster-management/clusters.tsx
  src/pages/cluster-management/components/add-cluster.tsx
  src/pages/cluster-management/components/add-credential.tsx
  src/pages/cluster-management/components/cloud-provider-form.tsx
  src/pages/cluster-management/components/cluster-item.tsx
  src/pages/cluster-management/components/register-cluster.tsx
  src/pages/cluster-management/components/resiter-cluster-inner.tsx
  src/pages/cluster-management/config/index.ts
  src/pages/cluster-management/config/types.ts
  src/pages/cluster-management/credentials.tsx
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/components/advance-config.tsx
  src/pages/llmodels/components/data-form.tsx
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/performance.tsx
  src/pages/llmodels/components/scaling.tsx
  src/pages/llmodels/components/search-model.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/components/update-modal.tsx
  src/pages/llmodels/config/form-context.ts
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/download/index.tsx
  src/pages/llmodels/download/target-form.tsx
  src/pages/llmodels/hooks/index.ts
  src/pages/llmodels/hooks/use-form-initial-values.ts
  src/pages/llmodels/index.tsx
  src/pages/resources/apis/index.ts
  src/pages/resources/components/add-worker.tsx
  src/pages/resources/components/container-install.tsx
  src/pages/resources/components/model-files.tsx
  src/pages/resources/components/workers.tsx
  src/pages/resources/config/types.ts
Due: none

feat: add card list component
  src/components/page-tools/index.tsx
  src/components/templates/card-list.tsx
  src/components/templates/card.tsx
  src/pages/llmodels/user-models.tsx
Due: none

chore: adjust deployment modal form
  src/assets/styles/common.less
  src/components/echarts/gauge.tsx
  src/components/seal-form/checkbox-field.tsx
  src/components/templates/card-list.tsx
  src/components/templates/card-skelton.tsx
  src/components/templates/card.tsx
  src/config/index.ts
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/cluster-management/clusters-copy.tsx
  src/pages/cluster-management/components/add-credential.tsx
  src/pages/cluster-management/components/cluster-item.tsx
  src/pages/cluster-management/components/register-cluster.tsx
  src/pages/cluster-management/components/worker-pools.tsx
  src/pages/cluster-management/config/index.ts
  src/pages/cluster-management/config/types.ts
  src/pages/dashboard/components/system-load.tsx
  src/pages/llmodels/components/advance-config.tsx
  src/pages/llmodels/components/catalog-list.tsx
  src/pages/llmodels/components/data-form.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/model-item.tsx
  src/pages/llmodels/components/ollama-tips.tsx
  src/pages/llmodels/components/performance.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/components/update-modal.tsx
  src/pages/llmodels/config/form-context.ts
  src/pages/llmodels/config/index.ts
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/download/target-form.tsx
  src/pages/llmodels/forms/hugging-face.tsx
  src/pages/llmodels/forms/ollama_library.tsx
  src/pages/llmodels/hooks/index.ts
  src/pages/llmodels/user-models.tsx
  src/pages/resources/config/index.ts
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

feat: add cluster detail page
  src/components/icon-font/icons.ts
  src/components/icon-font/index.tsx
  src/components/scroller-modal/gs-drawer.tsx
  src/pages/cluster-management/clusters.tsx
  src/pages/cluster-management/components/cluster-detail-content.tsx
  src/pages/cluster-management/components/cluster-detail-modal.tsx
  src/pages/cluster-management/components/cluster-item.tsx
  src/pages/cluster-management/credentials.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/config/button-actions.ts
  src/pages/llmodels/config/index.ts
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/download/index.tsx
  src/pages/llmodels/user-models.tsx
Due: none

refactor: update scroll modal
  src/components/alert-info/index.tsx
  src/components/echarts/config.ts
  src/components/echarts/gauge.tsx
  src/components/echarts/types.ts
  src/components/scroller-modal/index.tsx
  src/pages/cluster-management/apis/index.ts
  src/pages/cluster-management/components/add-cluster.tsx
  src/pages/cluster-management/components/add-credential.tsx
  src/pages/cluster-management/components/add-pool.tsx
  src/pages/cluster-management/components/cluster-item.tsx
  src/pages/cluster-management/components/register-cluster.tsx
  src/pages/cluster-management/components/worker-pools.tsx
  src/pages/cluster-management/config/types.ts
  src/pages/dashboard/components/usage-inner/export-data.tsx
  src/pages/resources/components/add-worker.tsx
  src/pages/resources/components/update-labels.tsx
  src/pages/users/components/add-modal.tsx
Due: none

feat: add cluster list
  src/components/icon-font/icons.ts
  src/components/icon-font/index.tsx
  src/components/page-tools/index.tsx
  src/pages/cluster-management/apis/index.ts
  src/pages/cluster-management/clusters.tsx
  src/pages/cluster-management/components/add-cluster.tsx
  src/pages/cluster-management/components/add-credential.tsx
  src/pages/cluster-management/config/index.ts
  src/pages/cluster-management/config/types.ts
  src/pages/cluster-management/credentials.tsx
  src/pages/llmodels/components/advance-config.tsx
  src/pages/llmodels/components/data-form.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/gguf-result.tsx
  src/pages/llmodels/components/instance-item.tsx
  src/pages/llmodels/components/performance.tsx
  src/pages/llmodels/components/scaling.tsx
  src/pages/llmodels/components/search-model.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/config/button-actions.ts
  src/pages/llmodels/config/form-context.ts
  src/pages/llmodels/forms/hugging-face.tsx
  src/pages/resources/components/add-worker.tsx
  src/pages/resources/components/workers.tsx
Due: none

feat: instances on worker
  src/assets/images/gpustack-logo-2.png
  src/assets/images/gpustack-logo.png
  src/components/scroller-modal/gs-drawer.tsx
  src/config/global.d.ts
  src/hooks/use-table-fetch.ts
  src/layouts/Logo.tsx
  src/layouts/index.tsx
  src/layouts/rightRender.tsx
  src/layouts/sider-menu.tsx
  src/locales/en-US/resources.ts
  src/locales/ja-JP/resources.ts
  src/locales/ru-RU/resources.ts
  src/locales/zh-CN/resources.ts
  src/pages/cluster-management/config/index.ts
  src/pages/llmodels/components/instance-item.tsx
  src/pages/llmodels/config/index.ts
  src/pages/resources/components/worker-detail-content.tsx
  src/pages/resources/components/worker-detail-modal.tsx
  src/pages/resources/components/workers.tsx
  src/pages/resources/hooks/use-instances-columns.tsx
  src/pages/resources/hooks/use-worker-columns.tsx
Due: npx tsx src/locales/check.ts

refactor: credential table columns
  package.json
  pnpm-lock.yaml
  src/components/drop-down-buttons/index.tsx
  src/components/echarts/line-chart.tsx
  src/components/echarts/mix-line-bar.tsx
  src/components/scroller-modal/index.tsx
  src/hooks/use-table-fetch.ts
  src/locales/en-US/clusters.ts
  src/locales/en-US/resources.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ja-JP/resources.ts
  src/locales/ru-RU/clusters.ts
  src/locales/ru-RU/resources.ts
  src/locales/zh-CN/clusters.ts
  src/locales/zh-CN/resources.ts
  src/pages/cluster-management/clusters.tsx
  src/pages/cluster-management/components/add-cluster.tsx
  src/pages/cluster-management/components/add-credential.tsx
  src/pages/cluster-management/components/cluster-detail-content.tsx
  src/pages/cluster-management/components/register-cluster-inner.tsx
  src/pages/cluster-management/components/register-cluster.tsx
  src/pages/cluster-management/components/trend-chart.tsx
  src/pages/cluster-management/config/index.ts
  src/pages/cluster-management/credentials.tsx
  src/pages/cluster-management/hooks/use-credential-columns.tsx
  src/pages/llmodels/config/button-actions.ts
  src/pages/login/components/login-form.tsx
  src/pages/resources/components/script-install.tsx
  src/pages/resources/components/update-labels.tsx
  src/pages/resources/hooks/use-gpu-columns.tsx
  src/pages/resources/hooks/use-instances-columns.tsx
  src/pages/resources/hooks/use-worker-columns.tsx
  src/utils/index.ts
  typings.d.ts
Due: prettier --cache --write, npx tsx src/locales/check.ts

fix: add do cluster
  src/components/label-cell/index.tsx
  src/components/seal-form/seal-select.tsx
  src/pages/cluster-management/apis/index.ts
  src/pages/cluster-management/clusters.tsx
  src/pages/cluster-management/components/add-cluster.tsx
  src/pages/cluster-management/components/add-credential.tsx
  src/pages/cluster-management/components/add-pool.tsx
  src/pages/cluster-management/components/cloud-provider-form.tsx
  src/pages/cluster-management/components/cluster-detail-content.tsx
  src/pages/cluster-management/components/worker-pools.tsx
  src/pages/cluster-management/config/index.ts
  src/pages/cluster-management/config/types.ts
  src/pages/resources/config/index.ts
  src/pages/resources/hooks/use-worker-columns.tsx
Due: none

fix: cluster apis
  config/routes.ts
  src/components/echarts/line-chart.tsx
  src/components/echarts/types.ts
  src/components/status-tag/index.less
  src/components/status-tag/index.tsx
  src/locales/en-US/clusters.ts
  src/locales/en-US/resources.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ja-JP/resources.ts
  src/locales/ru-RU/clusters.ts
  src/locales/ru-RU/resources.ts
  src/locales/zh-CN/clusters.ts
  src/locales/zh-CN/resources.ts
  src/pages/cluster-management/apis/index.ts
  src/pages/cluster-management/cluster-detail.tsx
  src/pages/cluster-management/clusters.tsx
  src/pages/cluster-management/components/add-credential.tsx
  src/pages/cluster-management/components/add-pool.tsx
  src/pages/cluster-management/components/cloud-provider-form.tsx
  src/pages/cluster-management/components/cluster-detail-modal.tsx
  src/pages/cluster-management/components/cluster-metrics.tsx
  src/pages/cluster-management/components/trend-chart.tsx
  src/pages/cluster-management/components/worker-pools.tsx
  src/pages/cluster-management/config/index.ts
  src/pages/cluster-management/hooks/use-cluster-columns.tsx
  src/pages/cluster-management/hooks/use-pools-columns.tsx
  src/pages/cluster-management/layout/index.tsx
  src/pages/llmodels/components/data-form.tsx
  src/pages/resources/apis/index.ts
  src/pages/resources/components/container-install.tsx
  src/pages/resources/components/workers.tsx
  src/pages/resources/config/index.ts
  src/pages/resources/config/types.ts
  src/pages/resources/hooks/use-worker-columns.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  npx tsx src/locales/check.ts: any of: src/locales/**/*.ts
