Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix: chat content height
  src/pages/playground/components/multiple-chat/index.tsx
Due: none

fix: python code for eidting image
  src/pages/playground/view-code/image.ts
Due: none

feat: validate tts form items
  src/locales/en-US/playground.ts
  src/locales/ja-JP/playground.ts
  src/locales/ru-RU/playground.ts
  src/locales/tr-TR/playground.ts
  src/locales/zh-CN/playground.ts
  src/pages/playground/components/model-select.tsx
  src/pages/playground/speech/forms/tts-advance.tsx
  src/pages/playground/speech/params-config.ts
  src/pages/playground/speech/tts.tsx
  src/pages/playground/style/ground-llm.less
  src/pages/playground/style/params-container.module.less
  src/pages/playground/style/play-ground.less
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix: show gpu driver version
  src/pages/resources/hooks/use-worker-columns.tsx
Due: none

feat: custom api key
  src/assets/styles/common.less
  src/components/editor-wrap/index.tsx
  src/locales/en-US/apikeys.ts
  src/locales/ja-JP/apikeys.ts
  src/locales/ru-RU/apikeys.ts
  src/locales/tr-TR/apikeys.ts
  src/locales/zh-CN/apikeys.ts
  src/pages/_components/yaml-editor/index.tsx
  src/pages/api-keys/components/add-apikey-modal/form.tsx
  src/pages/api-keys/components/add-apikey-modal/index.tsx
  src/pages/api-keys/config/index.ts
  src/pages/api-keys/config/types.ts
  src/pages/api-keys/hooks/use-keys-columns.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix(style): all scope tag
  src/pages/api-keys/hooks/use-keys-columns.tsx
Due: none

feat: k8s volume mounts
  src/locales/en-US/clusters.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ru-RU/clusters.ts
  src/locales/tr-TR/clusters.ts
  src/locales/zh-CN/clusters.ts
  src/pages/backends/forms/versions-config.tsx
  src/pages/cluster-management/components/cluster-form.tsx
  src/pages/cluster-management/components/k8s-volume-mount.tsx
  src/pages/cluster-management/config/index.ts
  src/pages/cluster-management/config/types.ts
  src/pages/cluster-management/step-forms/basic-form.tsx
Due: npx tsx src/locales/check.ts

fix: volume name update while typing
  src/pages/cluster-management/components/cluster-form.tsx
  src/pages/cluster-management/components/k8s-volume-mount.tsx
  src/pages/cluster-management/config/index.ts
Due: none

fix: volume mounts default empty
  src/pages/cluster-management/components/k8s-volume-mount.tsx
Due: none

style: worker versio info
  src/locales/en-US/resources.ts
  src/locales/ja-JP/resources.ts
  src/locales/ru-RU/resources.ts
  src/locales/tr-TR/resources.ts
  src/locales/zh-CN/resources.ts
  src/pages/resources/hooks/use-worker-columns.tsx
  src/pages/resources/styles/worker.less
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix: custom apikey
  src/locales/en-US/apikeys.ts
  src/locales/ja-JP/apikeys.ts
  src/locales/ru-RU/apikeys.ts
  src/locales/tr-TR/apikeys.ts
  src/locales/zh-CN/apikeys.ts
  src/pages/api-keys/components/add-apikey-modal/allow-models.tsx
  src/pages/api-keys/components/add-apikey-modal/form.tsx
  src/pages/api-keys/components/add-apikey-modal/index.tsx
  src/pages/api-keys/config/index.ts
  src/pages/api-keys/config/types.ts
  src/pages/api-keys/hooks/use-keys-columns.tsx
Due: npx tsx src/locales/check.ts

fix: k8s volume config
  src/components/seal-form/seal-switch.tsx
  src/pages/api-keys/hooks/use-keys-columns.tsx
  src/pages/cluster-management/components/cluster-form.tsx
  src/pages/cluster-management/components/k8s-volume-mount.tsx
  src/pages/cluster-management/config/index.ts
  src/pages/cluster-management/step-forms/advance-config.tsx
Due: none

style: server version
  src/locales/en-US/resources.ts
  src/locales/ja-JP/resources.ts
  src/locales/ru-RU/resources.ts
  src/locales/tr-TR/resources.ts
  src/locales/zh-CN/resources.ts
  src/pages/resources/hooks/use-worker-columns.tsx
Due: npx tsx src/locales/check.ts

fix: python test code
  src/pages/playground/view-code/audio.ts
Due: none

fix: apikey custom tag
  src/pages/api-keys/config/types.ts
  src/pages/api-keys/hooks/use-keys-columns.tsx
Due: none

chore: remove experimental from metax
  src/pages/cluster-management/components/support-gpus.tsx
Due: none

feat: usage
  config/routes.ts
  src/atoms/usage.ts
  src/components/icon-font/index.tsx
  src/components/seal-form/simple-select.tsx
  src/hooks/use-query-data-list.ts
  src/locales/en-US/dashboard.ts
  src/locales/en-US/menu.ts
  src/locales/ja-JP/dashboard.ts
  src/locales/ja-JP/menu.ts
  src/locales/ru-RU/dashboard.ts
  src/locales/ru-RU/menu.ts
  src/locales/tr-TR/dashboard.ts
  src/locales/tr-TR/menu.ts
  src/locales/zh-CN/dashboard.ts
  src/locales/zh-CN/menu.ts
  src/pages/benchmark/hooks/use-export-data.ts
  src/pages/dashboard/components/usage-inner/export-data.tsx
  src/pages/dashboard/hooks/use-rangepicker-preset.ts
  src/pages/usage/apis/index.ts
  src/pages/usage/components/breakdown-tabs.tsx
  src/pages/usage/components/daily-usage.tsx
  src/pages/usage/components/filter-bar.tsx
  src/pages/usage/config/index.ts
  src/pages/usage/config/types.ts
  src/pages/usage/hooks/use-apikeys-columns.tsx
  src/pages/usage/hooks/use-export-table.tsx
  src/pages/usage/hooks/use-models-columns.tsx
  src/pages/usage/hooks/use-users-columns.tsx
  src/pages/usage/index.tsx
  src/pages/usage/services/use-query-breakdown-list.ts
  src/pages/usage/services/use-query-meta-data.ts
  src/pages/usage/services/use-query-timeseries-data.ts
  src/pages/usage/styles/filter-bar.less
  src/pages/usage/tables/apikeys-table.tsx
  src/pages/usage/tables/models-table.tsx
  src/pages/usage/tables/users-table.tsx
  src/utils/excel-reader.ts
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix: apikey model access
  src/components/seal-form/wrapper/index.tsx
  src/pages/_components/select-panel/index.tsx
  src/pages/api-keys/components/add-apikey-modal/allow-models.tsx
  src/pages/api-keys/components/add-apikey-modal/form.tsx
  src/pages/api-keys/components/add-apikey-modal/index.tsx
  src/pages/api-keys/config/index.ts
  src/pages/api-keys/hooks/use-keys-columns.tsx
Due: none

style: font size
  src/pages/api-keys/hooks/use-keys-columns.tsx
Due: none

feat: logs history
  src/components/logs-viewer/styles/index.less
  src/components/logs-viewer/virtual-log-list.tsx
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/tr-TR/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/components/view-logs-modal.tsx
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/services/use-query-instance-restart-count.ts
  src/utils/index.ts
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  npx tsx src/locales/check.ts: any of: src/locales/**/*.ts
