Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

.lintstagedrc:

{
  "*.{md,json}": ["prettier --cache --write"],
  "*.{js,jsx}": ["max lint --fix --eslint-only", "prettier --cache --write"],
  "*.{css,less}": [
    "max lint --fix --stylelint-only",
    "prettier --cache --write"
  ],
  "!public/vs/**": [],
  "*.ts?(x)": [
    "max lint --fix --eslint-only",
    "prettier --cache --parser=typescript --write"
  ],
  "src/locales/**/*.ts": ["npx tsx src/locales/check.ts"]
}

fix(playgroundimage): allow to input size
  src/pages/playground/config/params-config.ts
Due: none

chore: update vllm, sglang, preset argument options
  src/pages/llmodels/config/index.ts
  src/pages/llmodels/constants/backend-parameters/sglang.ts
  src/pages/llmodels/constants/backend-parameters/vllm.ts
Due: none

fix: gpu selector height
  src/global.less
  src/pages/benchmark/components/summary/instance.tsx
  src/pages/llmodels/components/gpu-card.tsx
  src/pages/llmodels/forms/schedule-type.tsx
  src/pages/organizations/index.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

fix(usage): instance type check conditions
  src/pages/usage/instances-tab/tables/use-instances-columns.tsx
Due: none

fix(app): run probe resources at two stages
  src/app.tsx
  src/layouts/index.tsx
  src/pages/usage/index.tsx
  src/utils/access-probes.ts
Due: none

fix(usage): display usage tabs base on access permissions
  src/pages/usage/index.tsx
  src/utils/access-probes.ts
Due: none

fix(cardpage): duplicate data appears after clicking refresh
  src/pages/backends/index.tsx
  src/pages/gpu-service/templates/index.tsx
  src/pages/llmodels/catalog.tsx
  src/pages/llmodels/user-models.tsx
Due: none

refactor(components): migrate shared components to core-ui and remove unused ones
  src/pages/_components/collapse-panel/index.tsx
  src/pages/_components/column-settings.tsx
  src/pages/_components/column-wrapper/index.tsx
  src/pages/_components/column-wrapper/use-wrapper-context.ts
  src/pages/_components/filter-form/index.tsx
  src/pages/_components/form-drawer.tsx
  src/pages/_components/form-overlay-view.module.less
  src/pages/_components/form-overlay-view.tsx
  src/pages/_components/grafana-icon.tsx
  src/pages/_components/identicon.tsx
  src/pages/_components/password-validate/index.tsx
  src/pages/_components/pill-button-group/index.tsx
  src/pages/_components/pill-button-group/styles.less
  src/pages/_components/scroll-spy-tabs/index.tsx
  src/pages/_components/scroll-spy-tabs/use-field-scroll.ts
  src/pages/_components/scroll-spy-tabs/use-finish-failed.ts
  src/pages/_components/scroll-spy-tabs/use-scroll-active-change.ts
  src/pages/_components/small-close-button.tsx
  src/pages/_components/styles/filter-form.less
  src/pages/_components/transfer.tsx
  src/pages/backends/components/add-modal.tsx
  src/pages/gpu-service/instances/forms/public-key-overlay.tsx
  src/pages/gpu-service/instances/forms/storage-overlay.tsx
  src/pages/gpu-service/public-keys/components/add-public-key-modal.tsx
  src/pages/gpu-service/storage-types/components/add-storage-type-modal.tsx
  src/pages/gpu-service/storage/components/add-modal.tsx
  src/pages/gpu-service/templates/components/add-modal.tsx
  src/pages/llmodels/components/deployment/deploy-modal.tsx
  src/pages/llmodels/components/download/index.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

feat(login): render SSO button data-driven from /auth/config
  src/pages/login/apis/index.ts
  src/pages/login/components/local-user-form.tsx
  src/pages/login/components/login-form.tsx
  src/pages/login/hooks/use-sso-auth.ts
  src/plugins/types.ts
Due: none

chore: bump @gpustack/core-ui to v1.0.32
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix(usage): selection maxTagCount
  src/pages/usage/components/resource-filter-bar.tsx
Due: none

fix: add warning tips when deleting ssh key
  src/locales/en-US/gpuservice.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/zh-CN/gpuservice.ts
  src/pages/gpu-service/public-keys/index.tsx
Due: npx tsx src/locales/check.ts

fix(usage): dynamic bar color value
  src/global.less
  src/hooks/use-cool-colors.ts
  src/pages/playground/speech/forms/tts-form.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

chore: adjust colors generator
  src/hooks/use-cool-colors.ts
  src/pages/usage/summary-tab/index.tsx
Due: none

fix(tts): reset form fields to initialvalues after model changed
  src/pages/playground/speech/forms/tts-form.tsx
Due: none

fix: resource topology ux
  src/pages/cluster-management/cluster-detail.tsx
  src/pages/cluster-management/components/detail/cluster-basic.tsx
  src/pages/cluster-management/components/detail/cluster-system-load.tsx
  src/pages/cluster-management/hooks/use-cluster-columns.tsx
  src/pages/gpu-service/instances/config/types.ts
Due: none

fix(usage): fetch full trend/export series via page=-1
  src/pages/usage/components/resource-export-data.tsx
  src/pages/usage/hooks/use-usage-filters.ts
  src/pages/usage/instances-tab/index.tsx
  src/pages/usage/storage-tab/index.tsx
  src/pages/usage/summary-tab/index.tsx
Due: none

fix(usage): label instance_type trend series by product name
  AGENTS.md
  CLAUDE.md
  src/pages/usage/apis/resource.ts
Due: prettier --cache --write

fix(usage): use frontend gpu_type token for instance-type legend
  src/pages/usage/apis/resource.ts
Due: none

feat(cluster): resource topology entrance
  src/pages/cluster-management/clusters.tsx
  src/pages/cluster-management/hooks/use-cluster-columns.tsx
  src/pages/resources/apis/index.ts
Due: none

chore: add create-crud-page and form-patterns skills, refresh CLAUDE.md
  .claude/skills/create-crud-page/SKILL.md
  .claude/skills/form-patterns/SKILL.md
  .gitignore
  CLAUDE.md
Due: prettier --cache --write

chore: dedupe agent instruction files into CLAUDE.md
  AGENT.md
  AGENTS.md
Due: prettier --cache --write
