Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

.lintstagedrc:

{
  "*.{md,json}": ["prettier --cache --write"],
  "*.{js,jsx}": ["max lint --fix --eslint-only", "prettier --cache --write"],
  "*.{css,less}": [
    "max lint --fix --stylelint-only",
    "prettier --cache --write"
  ],
  "*.ts?(x)": [
    "max lint --fix --eslint-only",
    "prettier --cache --parser=typescript --write"
  ],
  "src/locales/**/*.ts": ["npx tsx src/locales/check.ts"]
}

feat: add allowed models
  src/config/global.d.ts
  src/pages/_components/transfer.tsx
  src/pages/api-keys/components/add-apikey-modal/allow-models.tsx
  src/pages/api-keys/components/add-apikey-modal/index.tsx
  src/pages/api-keys/config/types.ts
  src/pages/api-keys/hooks/use-keys-columns.tsx
  src/pages/api-keys/index.tsx
  src/pages/llmodels/components/access-control-modal/form.tsx
  src/pages/llmodels/components/access-control-modal/index.tsx
  src/pages/llmodels/user-models.tsx
Due: none

style: allowed models ux
  config/routes.ts
  src/access.ts
  src/locales/en-US/apikeys.ts
  src/locales/ja-JP/apikeys.ts
  src/locales/ru-RU/apikeys.ts
  src/locales/zh-CN/apikeys.ts
  src/pages/_components/transfer.tsx
  src/pages/api-keys/apis/index.ts
  src/pages/api-keys/components/add-apikey-modal/allow-models.tsx
  src/pages/api-keys/components/add-apikey-modal/form.tsx
  src/pages/api-keys/components/add-apikey-modal/index.tsx
  src/pages/api-keys/config/types.ts
  src/pages/api-keys/hooks/use-keys-columns.tsx
  src/pages/api-keys/index.tsx
  src/pages/llmodels/components/access-control-modal/form.tsx
  src/pages/llmodels/components/access-control-modal/index.tsx
Due: npx tsx src/locales/check.ts

chore: model access statement
  src/components/auto-tooltip/index.tsx
  src/components/seal-form/multiple-select.tsx
  src/components/seal-form/simple-select.tsx
  src/pages/_components/select-panel/index.tsx
  src/pages/_components/select-panel/list.tsx
  src/pages/_components/select-panel/selected-list.tsx
  src/pages/_components/transfer.tsx
  src/pages/api-keys/components/add-apikey-modal/allow-models.tsx
  src/pages/api-keys/components/add-apikey-modal/form.tsx
  src/pages/api-keys/components/add-apikey-modal/index.tsx
  src/pages/api-keys/config/types.ts
  src/pages/api-keys/hooks/use-keys-columns.tsx
  src/pages/api-keys/index.tsx
  src/pages/llmodels/components/access-control-modal/form.tsx
  src/pages/llmodels/components/access-control-modal/index.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/config/button-actions.ts
  src/pages/llmodels/config/types.ts
Due: none

feat: add model access control
  src/components/icon-font/icons.ts
  src/components/icon-font/index.tsx
  src/config/global.d.ts
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/components/access-control-modal/form.tsx
  src/pages/llmodels/components/access-control-modal/index.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/config/button-actions.ts
  src/pages/llmodels/config/types.ts
Due: none

fix: my models
  src/components/icon-font/index.tsx
  src/components/seal-form/wrapper/index.tsx
  src/components/seal-form/wrapper/slider.ts
  src/locales/en-US/backends.ts
  src/locales/ja-JP/backends.ts
  src/locales/ru-RU/backends.ts
  src/locales/zh-CN/backends.ts
  src/pages/api-keys/components/add-apikey-modal/index.tsx
  src/pages/backends/forms/version-info.tsx
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/components/model-item.tsx
  src/pages/users/components/add-modal.tsx
  src/pages/users/index.tsx
Due: npx tsx src/locales/check.ts

chore: update locales
  src/locales/en-US/apikeys.ts
  src/locales/en-US/models.ts
  src/locales/ja-JP/apikeys.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/apikeys.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/apikeys.ts
  src/locales/zh-CN/models.ts
  src/pages/_components/select-panel/index.tsx
  src/pages/_components/transfer.tsx
  src/pages/api-keys/components/add-apikey-modal/allow-models.tsx
  src/pages/api-keys/hooks/use-keys-columns.tsx
  src/pages/llmodels/components/access-control-modal/form.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/config/button-actions.ts
Due: npx tsx src/locales/check.ts

refactor: user table list
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/components/instance-item.tsx
  src/pages/llmodels/components/search-model.tsx
  src/pages/resources/hooks/use-worker-columns.tsx
  src/pages/users/components/add-modal.tsx
  src/pages/users/hooks/use-users-columns.tsx
  src/pages/users/index.tsx
Due: npx tsx src/locales/check.ts

chore: remove test dir
  src/pages/usage/apis/index.ts
  src/pages/usage/components/active-table.tsx
  src/pages/usage/components/dahboard-inner.tsx
  src/pages/usage/components/over-view.less
  src/pages/usage/components/over-view.tsx
  src/pages/usage/components/resource-utilization.tsx
  src/pages/usage/components/system-load.tsx
  src/pages/usage/components/usage-inner/index.tsx
  src/pages/usage/components/usage-inner/request-token-inner.tsx
  src/pages/usage/components/usage-inner/top-user.tsx
  src/pages/usage/components/usage.tsx
  src/pages/usage/config/dashboard-context.ts
  src/pages/usage/config/index.ts
  src/pages/usage/config/types.ts
  src/pages/usage/index.tsx
  src/pages/usage/styles/index.less
Due: prettier --cache --write, max lint --fix --stylelint-only

chore: infinite scroller
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
  src/components/templates/card-list.tsx
  src/pages/_components/infinite-scroller/index.tsx
  src/pages/_components/infinite-scroller/use-infinite-scroll.ts
  src/pages/_components/infinite-scroller/use-scroller-context.ts
  src/pages/backends/components/backend-list.tsx
  src/pages/backends/index.tsx
  src/pages/llmodels/catalog.tsx
  src/pages/llmodels/components/catalog-list.tsx
  src/pages/llmodels/config/backend-parameters/index.ts
  src/pages/llmodels/forms/backend.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/user-models.tsx
Due: prettier --cache --write

fix(style): cluster state do not display
  config/routes.ts
  src/components/icon-font/icons.ts
  src/components/icon-font/index.tsx
  src/components/templates/card-skelton.tsx
  src/hooks/use-table-fetch.ts
  src/locales/en-US/menu.ts
  src/locales/ja-JP/menu.ts
  src/locales/ru-RU/menu.ts
  src/locales/zh-CN/menu.ts
  src/pages/backends/components/backend-card.tsx
  src/pages/backends/components/backend-list.tsx
  src/pages/backends/forms/versions-config.tsx
  src/pages/backends/index.tsx
  src/pages/cluster-management/components/cloud-options.tsx
  src/pages/cluster-management/config/index.ts
  src/pages/cluster-management/config/providers.ts
  src/pages/cluster-management/credentials.tsx
  src/pages/llmodels/catalog.tsx
  src/pages/llmodels/components/search-input.tsx
  src/pages/llmodels/components/search-model.tsx
  src/pages/llmodels/download/index.tsx
  src/pages/llmodels/forms/backend.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/forms/performance.tsx
  src/pages/llmodels/style/title-wrapper.less
  src/pages/llmodels/user-models.tsx
  src/pages/playground/style/message-input.less
  src/pages/resources/config/index.ts
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

feat: add extended_kv_cache
  src/components/seal-form/seal-cascader.tsx
  src/components/seal-form/wrapper/index.tsx
  src/components/seal-form/wrapper/slider.ts
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/forms/advance-config.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/forms/kv-cache.tsx
  src/pages/llmodels/forms/performance.tsx
  src/pages/llmodels/forms/schedule-type.tsx
Due: npx tsx src/locales/check.ts

style: update model modal type
  src/hooks/use-overlay-scroller.ts
  src/pages/_components/column-wrapper/index.tsx
  src/pages/_components/column-wrapper/use-wrapper-context.ts
  src/pages/llmodels/components/update-modal.tsx
  src/pages/llmodels/forms/basic.tsx
  src/pages/llmodels/forms/index.tsx
Due: none

fix(styles): my models
  src/pages/llmodels/components/model-item.tsx
  src/pages/llmodels/components/update-modal.tsx
  src/pages/llmodels/config/button-actions.ts
  src/pages/llmodels/forms/backend.tsx
Due: none

fix: backend edit format
  src/components/seal-form/seal-textarea.tsx
  src/locales/en-US/backends.ts
  src/locales/en-US/models.ts
  src/locales/ja-JP/backends.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/backends.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/backends.ts
  src/locales/zh-CN/models.ts
  src/pages/backends/components/add-modal.tsx
  src/pages/backends/components/version-info-modal.tsx
  src/pages/backends/config/index.ts
  src/pages/backends/config/schema/create.json
  src/pages/backends/config/schema/update-builtin.json
  src/pages/backends/config/schema/update-custom.json
  src/pages/backends/config/types.ts
  src/pages/backends/forms/version-info.tsx
  src/pages/backends/index.tsx
  src/pages/llmodels/forms/backend.tsx
Due: prettier --cache --write, npx tsx src/locales/check.ts

fix: backend edit format
  src/locales/en-US/apikeys.ts
  src/locales/en-US/models.ts
  src/locales/ja-JP/apikeys.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/apikeys.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/backends/config/index.ts
  src/pages/backends/index.tsx
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/components/access-control-modal/form.tsx
  src/pages/llmodels/components/access-control-modal/index.tsx
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/user-models.tsx
Due: npx tsx src/locales/check.ts

fix: update backend parameters after changing backend
  src/pages/llmodels/components/access-control-modal/form.tsx
  src/pages/llmodels/components/update-modal.tsx
  src/pages/llmodels/forms/index.tsx
Due: none

style: ui for no data in table list
  src/hooks/use-table-fetch.ts
  src/locales/en-US/models.ts
  src/locales/en-US/no-result.ts
  src/locales/en-US/users.ts
  src/locales/ja-JP/models.ts
  src/locales/ja-JP/no-result.ts
  src/locales/ru-RU/models.ts
  src/locales/ru-RU/no-result.ts
  src/locales/zh-CN/models.ts
  src/locales/zh-CN/no-result.ts
  src/pages/_components/no-result.tsx
  src/pages/api-keys/index.tsx
  src/pages/backends/index.tsx
  src/pages/cluster-management/clusters.tsx
  src/pages/cluster-management/credentials.tsx
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/catalog.tsx
  src/pages/llmodels/components/catalog-list.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/config/backend-parameters/index.ts
  src/pages/llmodels/config/button-actions.ts
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/hooks/use-query-backends.ts
  src/pages/llmodels/index.tsx
  src/pages/llmodels/user-models.tsx
  src/pages/resources/components/gpus.tsx
  src/pages/resources/components/model-files.tsx
  src/pages/resources/components/workers.tsx
  src/pages/users/index.tsx
Due: npx tsx src/locales/check.ts

fix: do not set default version
  src/components/seal-form/seal-input.tsx
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/cluster-management/components/cluster-form.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/forms/backend.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/hooks/use-form-initial-values.ts
  src/pages/llmodels/hooks/use-query-backends.ts
Due: npx tsx src/locales/check.ts

fix: cluster issues
  src/components/seal-form/seal-textarea.tsx
  src/components/seal-form/wrapper/input.ts
  src/pages/llmodels/forms/index.tsx
Due: none

feat: enable kv cache
  src/pages/llmodels/forms/index.tsx
Due: none

chore: cluster locales
  src/locales/en-US/clusters.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ru-RU/clusters.ts
  src/locales/zh-CN/clusters.ts
  src/pages/cluster-management/components/provider-catalog.tsx
  src/pages/cluster-management/config/providers.ts
Due: npx tsx src/locales/check.ts

style: gguf model ux
  src/assets/images/external-link.png
  src/components/status-tag/index.tsx
  src/locales/en-US/backends.ts
  src/locales/ja-JP/backends.ts
  src/locales/ru-RU/backends.ts
  src/locales/zh-CN/backends.ts
  src/pages/_components/column-wrapper/style.less
  src/pages/backends/forms/version-info.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/hf-model-file.tsx
  src/pages/llmodels/components/model-card.tsx
  src/pages/llmodels/components/search-model.tsx
  src/pages/llmodels/components/title-wrapper.tsx
  src/pages/llmodels/config/index.ts
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/download/index.tsx
  src/pages/llmodels/forms/local-path-source.tsx
  src/pages/llmodels/forms/online-source.tsx
  src/pages/llmodels/style/model-card.less
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

feat: identicon
  package.json
  pnpm-lock.yaml
  src/pages/_components/identicon.tsx
Due: prettier --cache --write
