Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

style(benchmark): dashed, theme-aware gridlines on the detail charts
  src/pages/benchmark/components/summary/operating-curve.tsx
  src/pages/benchmark/components/summary/stage-chart.tsx
Due: none

refactor(benchmark): style the summary tab with createStyles, not styled-components
  src/pages/benchmark/components/configuration.tsx
  src/pages/benchmark/components/summary/benchmark.tsx
  src/pages/benchmark/components/summary/best-points.tsx
  src/pages/benchmark/components/summary/config-summary.tsx
  src/pages/benchmark/components/summary/index.tsx
  src/pages/benchmark/components/summary/metrics-result.tsx
  src/pages/benchmark/components/summary/overview.tsx
  src/pages/benchmark/components/summary/percentile-result.tsx
  src/pages/benchmark/components/summary/stage-chart.tsx
  src/pages/benchmark/components/summary/ui.tsx
  src/pages/benchmark/filters/index.tsx
Due: none

refactor(benchmark): render through core-ui's echarts instance
  src/pages/benchmark/components/echarts.ts
Due: none

fix(benchmark): keep the Best guide's label on the canvas at the last stage
  src/pages/benchmark/components/summary/stage-chart.tsx
Due: none

refactor(benchmark): render the config summary from declared rows
  src/pages/benchmark/components/summary/benchmark.tsx
  src/pages/benchmark/config/detail-types.ts
Due: none

feat(benchmark): list page — profile/load-type filters, state tag, clone/edit
  src/pages/benchmark/components/benchmark-state-tag.tsx
  src/pages/benchmark/components/left-actions.tsx
  src/pages/benchmark/components/row-actions.tsx
  src/pages/benchmark/filters/index.tsx
  src/pages/benchmark/hooks/use-column-settings.tsx
  src/pages/benchmark/index.tsx
Due: none

feat(benchmark): clone a run from its detail page
  src/atoms/benchmark.ts
  src/pages/benchmark/details.tsx
  src/pages/benchmark/hooks/use-clone-benchmark.ts
  src/pages/benchmark/index.tsx
Due: none

feat(benchmark): config drawer for auto-tune/SLA/dataset shape
  src/pages/benchmark/components/add-benchmark-modal.tsx
  src/pages/benchmark/components/distribution-chart.tsx
  src/pages/benchmark/forms/dataset.tsx
  src/pages/benchmark/forms/index.tsx
  src/pages/benchmark/forms/model-instance.tsx
  src/pages/benchmark/forms/random-settings.tsx
Due: none

fix(benchmark): translate the point grid's throughput headers
  src/pages/benchmark/components/summary/overview.tsx
Due: none

feat(benchmark): detail summary — point grid, best points, curve, validity
  src/locales/en-US/benchmark.ts
  src/locales/ja-JP/benchmark.ts
  src/locales/ru-RU/benchmark.ts
  src/locales/tr-TR/benchmark.ts
  src/locales/zh-CN/benchmark.ts
  src/pages/benchmark/components/configuration.tsx
  src/pages/benchmark/components/detail-content.tsx
  src/pages/benchmark/components/detail-modal.tsx
  src/pages/benchmark/components/summary/benchmark.tsx
  src/pages/benchmark/components/summary/best-points.tsx
  src/pages/benchmark/components/summary/chart-specs.ts
  src/pages/benchmark/components/summary/config-summary.tsx
  src/pages/benchmark/components/summary/index.tsx
  src/pages/benchmark/components/summary/metrics-result.tsx
  src/pages/benchmark/components/summary/metrics.ts
  src/pages/benchmark/components/summary/operating-curve.tsx
  src/pages/benchmark/components/summary/overview.tsx
  src/pages/benchmark/components/summary/percentile-result.tsx
  src/pages/benchmark/components/summary/running-hint.tsx
  src/pages/benchmark/components/summary/selected-stage.tsx
  src/pages/benchmark/components/summary/stage-chart.tsx
  src/pages/benchmark/components/summary/ui.tsx
  src/pages/benchmark/components/summary/validity-alert.tsx
  src/pages/benchmark/config/detail-types.ts
  src/pages/benchmark/config/types.ts
  src/pages/benchmark/details.tsx
  src/pages/benchmark/hooks/use-column-settings.tsx
Due: npx tsx src/locales/check.ts

feat(benchmark): mark the best point on every chart, keep edge labels on canvas
  src/pages/benchmark/components/summary/stage-chart.tsx
Due: none

feat(benchmark): i18n for auto-tune, SLA targets, results & validity
  src/locales/en-US/benchmark.ts
  src/locales/ja-JP/benchmark.ts
  src/locales/ru-RU/benchmark.ts
  src/locales/tr-TR/benchmark.ts
  src/locales/zh-CN/benchmark.ts
Due: npx tsx src/locales/check.ts

feat(benchmark): data layer for auto-tune config, results & watch stream
  src/pages/benchmark/apis/index.ts
  src/pages/benchmark/config/detail-context.ts
  src/pages/benchmark/config/detail-types.ts
  src/pages/benchmark/config/form-context.ts
  src/pages/benchmark/config/index.ts
  src/pages/benchmark/config/types.ts
  src/pages/benchmark/services/use-query-dataset.ts
  src/pages/benchmark/services/use-query-profiles.ts
  src/pages/benchmark/services/use-watch-detail.ts
Due: none

refactor(benchmark): drop the full echarts bundle from the detail charts
  src/pages/benchmark/components/distribution-chart.tsx
  src/pages/benchmark/components/echarts.ts
  src/pages/benchmark/components/summary/operating-curve.tsx
  src/pages/benchmark/components/summary/stage-chart.tsx
Due: none

feat(login): add CAPTCHA to local login form
  src/locales/en-US/common.ts
  src/locales/ja-JP/common.ts
  src/locales/ru-RU/common.ts
  src/locales/tr-TR/common.ts
  src/locales/zh-CN/common.ts
  src/pages/login/apis/index.ts
  src/pages/login/components/local-user-form.tsx
  src/pages/login/components/login-form.tsx
  src/pages/login/hooks/use-captcha.ts
  src/pages/login/hooks/use-local-auth.ts
  src/pages/login/hooks/use-sso-auth.ts
Due: npx tsx src/locales/check.ts

fix(login): prevent stale CAPTCHA audio updates
  src/pages/login/components/local-user-form.tsx
  src/pages/login/hooks/use-captcha.ts
Due: none

chore: bump @gpustack/core-ui to v1.1.5
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

feat(add-worker): preselect the cluster's already-registered GPU vendors
  src/pages/cluster-management/components/add-worker/add-worker-context.ts
  src/pages/cluster-management/components/add-worker/add-worker-step.tsx
  src/pages/cluster-management/components/add-worker/index.tsx
  src/pages/cluster-management/components/add-worker/select-vendor.tsx
  src/pages/cluster-management/components/support-gpus.tsx
  src/pages/cluster-management/hooks/use-add-worker-message.ts
  src/pages/resources/config/gpu-driver.ts
Due: none

fix(style): version tag font weight
  src/layouts/extraRender.tsx
Due: none

feat(playground/tts): add pause, seek and download to PCM stream playback
  src/pages/playground/speech/hooks/use-pcm-stream-player.ts
  src/pages/playground/speech/hooks/use-stream-tts.ts
  src/pages/playground/speech/tts.tsx
Due: none

fix(dashboard): lay out usage-by-model donuts from the measured card width
  src/pages/dashboard/components/usage-charts/usage-by-model.tsx
Due: none

docs(claude): extend the split rules with utils/config seams
  CLAUDE.md
Due: prettier --cache --write

fix(playground/tts): release the audio context and stream on unmount
  src/pages/playground/speech/hooks/use-pcm-stream-player.ts
  src/pages/playground/speech/hooks/use-stream-tts.ts
Due: none

fix(cluster): drop the stale registration token when the query fails
  src/pages/cluster-management/components/add-worker/index.tsx
Due: none

chore: move the editor bundle to js dir
  config/plugins.ts
Due: none

fix(gpu-service): append accessParams to instance Connect links
  src/pages/gpu-service/instances/config/types.ts
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
Due: none

feat(gpu-service): add YAML editor for instance templates
  src/locales/en-US/gpuservice.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/zh-CN/gpuservice.ts
  src/pages/gpu-service/templates/components/edit-yaml-modal.tsx
  src/pages/gpu-service/templates/config/index.tsx
  src/pages/gpu-service/templates/config/types.ts
  src/pages/gpu-service/templates/index.tsx
Due: npx tsx src/locales/check.ts

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  npx tsx src/locales/check.ts: any of: src/locales/**/*.ts
