Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

style: scroller
  src/pages/gpu-service/instances/components/add-modal.tsx
  src/pages/gpu-service/instances/forms/basic.tsx
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/template-overlay.tsx
  src/pages/gpu-service/instances/forms/template-selector.tsx
  src/pages/gpu-service/templates/forms/basic.tsx
Due: none

fix: api test
  src/atoms/gpuservice.ts
  src/pages/gpu-service/instances/apis/index.ts
  src/pages/gpu-service/instances/components/add-modal.tsx
  src/pages/gpu-service/instances/components/instance-type-list.tsx
  src/pages/gpu-service/instances/config/index.ts
  src/pages/gpu-service/instances/config/types.ts
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/instance-type.tsx
  src/pages/gpu-service/instances/forms/storage-volume.tsx
  src/pages/gpu-service/instances/forms/template-selector.tsx
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
  src/pages/gpu-service/instances/index.tsx
  src/pages/gpu-service/instances/services/use-create-instance.ts
  src/pages/gpu-service/instances/services/use-query-instance-types.ts
  src/pages/gpu-service/instances/services/use-update-instance.ts
  src/pages/gpu-service/public-keys/apis/index.ts
  src/pages/gpu-service/public-keys/index.tsx
  src/pages/gpu-service/public-keys/services/use-get-sshkey.ts
  src/pages/gpu-service/storage/apis/index.ts
  src/pages/gpu-service/storage/config/types.ts
  src/pages/gpu-service/storage/forms/basic.tsx
  src/pages/gpu-service/storage/forms/index.tsx
  src/pages/gpu-service/storage/hooks/use-storage-columns.tsx
  src/pages/gpu-service/storage/index.tsx
  src/pages/gpu-service/storage/services/use-create-storage.ts
  src/pages/gpu-service/storage/services/use-query-storage-class.ts
  src/pages/gpu-service/storage/services/use-query-storage.ts
  src/pages/gpu-service/storage/services/use-update-storage.ts
  src/pages/gpu-service/templates/forms/basic.tsx
Due: none

fix: storage instance keep the same cluster
  src/pages/gpu-service/storage/index.tsx
Due: none

fix: style issues
  .gitignore
  src/atoms/user.ts
  src/layouts/index.tsx
  src/locales/en-US/common.ts
  src/locales/en-US/gpuservice.ts
  src/locales/en-US/no-result.ts
  src/locales/ja-JP/common.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ja-JP/no-result.ts
  src/locales/ru-RU/common.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/ru-RU/no-result.ts
  src/locales/tr-TR/common.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/tr-TR/no-result.ts
  src/locales/zh-CN/common.ts
  src/locales/zh-CN/gpuservice.ts
  src/locales/zh-CN/no-result.ts
  src/pages/gpu-service/instances/components/add-modal.tsx
  src/pages/gpu-service/instances/components/instance-type-item.tsx
  src/pages/gpu-service/instances/config/index.ts
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/instance-type.tsx
  src/pages/gpu-service/instances/forms/template-selector.tsx
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
  src/pages/gpu-service/storage/apis/index.ts
  src/pages/gpu-service/storage/forms/basic.tsx
  src/pages/gpu-service/storage/hooks/use-storage-columns.tsx
  src/pages/gpu-service/storage/services/use-query-storage-class.ts
  src/pages/gpu-service/templates/components/template-card.tsx
  src/pages/gpu-service/templates/forms/basic.tsx
  src/pages/resources/config/gpu-driver.ts
  src/request-config.tsx
Due: npx tsx src/locales/check.ts

chore: lock pnpm version
  package.json
Due: prettier --cache --write

feat: add intances list
  .gitignore
  DESIGN.md
  config/routes.ts
  src/locales/en-US/menu.ts
  src/locales/ja-JP/menu.ts
  src/locales/ru-RU/menu.ts
  src/locales/tr-TR/menu.ts
  src/locales/zh-CN/menu.ts
  src/pages/gpu-service/instances/apis/index.ts
  src/pages/gpu-service/instances/components/add-modal.tsx
  src/pages/gpu-service/instances/config/index.ts
  src/pages/gpu-service/instances/config/types.ts
  src/pages/gpu-service/instances/forms/basic.tsx
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
  src/pages/gpu-service/instances/index.tsx
  src/pages/gpu-service/storage/index.tsx
  src/pages/gpu-service/templates/index.tsx
Due: prettier --cache --write, npx tsx src/locales/check.ts

fix: instance api alignment
  src/layouts/index.tsx
  src/pages/gpu-service/constants.ts
  src/pages/gpu-service/instances/apis/index.ts
  src/pages/gpu-service/instances/components/add-modal.tsx
  src/pages/gpu-service/instances/components/instance-type-list.tsx
  src/pages/gpu-service/instances/config/index.ts
  src/pages/gpu-service/instances/config/mock-data.ts
  src/pages/gpu-service/instances/config/types.ts
  src/pages/gpu-service/instances/forms/basic.tsx
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/instance-type-overlay.tsx
  src/pages/gpu-service/instances/forms/instance-type.tsx
  src/pages/gpu-service/instances/forms/storage-volume.tsx
  src/pages/gpu-service/instances/forms/template-overlay.tsx
  src/pages/gpu-service/instances/forms/template-selector.tsx
  src/pages/gpu-service/instances/forms/template.tsx
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
  src/pages/gpu-service/instances/index.tsx
  src/pages/gpu-service/instances/services/use-create-instance.ts
  src/pages/gpu-service/instances/services/use-query-instance-types.ts
  src/pages/gpu-service/instances/services/use-update-instance.ts
  src/pages/gpu-service/templates/forms/basic.tsx
Due: none

fix: storage api alignment
  config/routes.ts
  src/config/global.d.ts
  src/config/index.ts
  src/layouts/index.tsx
  src/locales/en-US/menu.ts
  src/locales/ja-JP/menu.ts
  src/locales/ru-RU/menu.ts
  src/locales/tr-TR/menu.ts
  src/locales/zh-CN/menu.ts
  src/pages/gpu-service/constants.ts
  src/pages/gpu-service/instances/apis/index.ts
  src/pages/gpu-service/instances/config/types.ts
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/storage-volume.tsx
  src/pages/gpu-service/public-keys/apis/index.ts
  src/pages/gpu-service/public-keys/index.tsx
  src/pages/gpu-service/public-keys/services/use-create-sshkey.ts
  src/pages/gpu-service/public-keys/services/use-get-sshkey.ts
  src/pages/gpu-service/public-keys/services/use-update-sshkey.ts
  src/pages/gpu-service/public-keys/types.ts
  src/pages/gpu-service/storage/apis/index.ts
  src/pages/gpu-service/storage/config/index.ts
  src/pages/gpu-service/storage/config/mock-data.ts
  src/pages/gpu-service/storage/config/types.ts
  src/pages/gpu-service/storage/forms/basic.tsx
  src/pages/gpu-service/storage/forms/index.tsx
  src/pages/gpu-service/storage/hooks/use-storage-columns.tsx
  src/pages/gpu-service/storage/index.tsx
  src/pages/gpu-service/storage/services/use-create-storage.ts
  src/pages/gpu-service/storage/services/use-update-storage.ts
  src/pages/gpu-service/templates/config/types.ts
  src/pages/gpu-service/templates/forms/basic.tsx
  src/pages/gpu-service/templates/forms/ports.tsx
  src/pages/profile/index.tsx
Due: npx tsx src/locales/check.ts

fix: template api alignment
  src/pages/gpu-service/templates/apis/index.ts
  src/pages/gpu-service/templates/components/template-card.tsx
  src/pages/gpu-service/templates/config/mock-data.ts
  src/pages/gpu-service/templates/config/types.ts
  src/pages/gpu-service/templates/forms/basic.tsx
  src/pages/gpu-service/templates/forms/env.tsx
  src/pages/gpu-service/templates/forms/index.tsx
  src/pages/gpu-service/templates/forms/ports.tsx
  src/pages/gpu-service/templates/index.tsx
Due: none

fix: display templates by manufacturer
  src/locales/en-US/gpuservice.ts
  src/locales/en-US/no-result.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ja-JP/no-result.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/ru-RU/no-result.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/tr-TR/no-result.ts
  src/locales/zh-CN/gpuservice.ts
  src/locales/zh-CN/no-result.ts
  src/pages/gpu-service/instances/components/add-modal.tsx
  src/pages/gpu-service/instances/components/instance-type-list.tsx
  src/pages/gpu-service/instances/config/index.ts
  src/pages/gpu-service/instances/config/types.ts
  src/pages/gpu-service/instances/forms/basic.tsx
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/instance-type.tsx
  src/pages/gpu-service/instances/forms/storage-overlay.tsx
  src/pages/gpu-service/instances/forms/storage-volume.tsx
  src/pages/gpu-service/instances/forms/template-selector.tsx
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
  src/pages/gpu-service/instances/index.tsx
  src/pages/gpu-service/storage/config/index.ts
  src/pages/gpu-service/storage/forms/basic.tsx
  src/pages/gpu-service/storage/hooks/use-storage-columns.tsx
  src/pages/gpu-service/storage/index.tsx
  src/pages/gpu-service/templates/forms/basic.tsx
Due: npx tsx src/locales/check.ts

fix: alignment api
  src/atoms/user.ts
  src/layouts/index.tsx
  src/locales/en-US/gpuservice.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/zh-CN/gpuservice.ts
  src/pages/gpu-service/instances/apis/index.ts
  src/pages/gpu-service/instances/components/add-modal.tsx
  src/pages/gpu-service/instances/components/instance-type-item.tsx
  src/pages/gpu-service/instances/components/instance-type-list.tsx
  src/pages/gpu-service/instances/config/index.ts
  src/pages/gpu-service/instances/config/types.ts
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/instance-type.tsx
  src/pages/gpu-service/instances/forms/storage-volume.tsx
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
  src/pages/gpu-service/instances/index.tsx
  src/pages/gpu-service/instances/services/use-create-instance.ts
  src/pages/gpu-service/instances/services/use-update-instance.ts
  src/pages/gpu-service/public-keys/index.tsx
  src/pages/gpu-service/storage/apis/index.ts
  src/pages/gpu-service/storage/config/index.ts
  src/pages/gpu-service/storage/config/types.ts
  src/pages/gpu-service/storage/hooks/use-storage-columns.tsx
  src/pages/gpu-service/storage/index.tsx
  src/pages/gpu-service/storage/services/use-create-storage.ts
  src/pages/gpu-service/storage/services/use-query-storage.ts
  src/pages/gpu-service/storage/services/use-update-storage.ts
  src/pages/gpu-service/templates/config/index.tsx
  src/pages/gpu-service/templates/forms/basic.tsx
  src/pages/gpu-service/templates/forms/index.tsx
  src/pages/gpu-service/utils.ts
Due: npx tsx src/locales/check.ts

refactor: add instance modal
  src/pages/gpu-service/instances/components/add-modal.tsx
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/instance-type.tsx
  src/pages/gpu-service/instances/forms/template-overlay.tsx
Due: none

feat: restore cluster detail surface, gate cluster-list name link via plugin
  config/routes.ts
  src/pages/cluster-management/cluster-detail.tsx
  src/pages/cluster-management/hooks/use-cluster-columns.tsx
  src/pages/resources/components/gpus.tsx
  src/pages/resources/components/workers.tsx
Due: none

refactor(backends): rename organization_id to owner_principal_id
  src/pages/backends/components/backend-card.tsx
  src/pages/backends/config/index.ts
  src/pages/backends/config/types.ts
  src/pages/backends/index.tsx
Due: none

fix: update react-route version
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix: gpu service access
  config/routes.ts
Due: none

fix: plugin locale merge re-runs on HMR; API Key form allows Personal
  src/pages/api-keys/components/add-apikey-modal/form.tsx
  src/plugins/locale-merger.ts
Due: none

feat: dashboard route gated on canSeeOrgAdmin
  config/routes.ts
  src/access.ts
Due: none

fix: HRM in dev
  config/config.ts
  config/mfsu.extensions.ts
  src/components/plugin-extra-fields.tsx
  src/layouts/extraRender.tsx
  src/pages/login/index.tsx
Due: none

fix: dashboard colors, users rank
  package.json
  pnpm-lock.yaml
  src/hooks/use-cool-colors.ts
  src/pages/_components/bar-chart/index.tsx
  src/pages/_components/pie-chart/index.tsx
  src/pages/dashboard/components/new-usage.tsx
  src/pages/dashboard/components/usage-charts/api-requests-by-model.tsx
  src/pages/dashboard/components/usage-charts/token-usage-by-model.tsx
  src/pages/usage/components/daily-usage.tsx
Due: prettier --cache --write

chore: dropdown styles token, icons url
  src/config/theme/dark.ts
  src/config/theme/light.ts
  src/layouts/index.tsx
Due: none

fix: eslinit context.getDeclaredVariables
  package.json
Due: prettier --cache --write

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  npx tsx src/locales/check.ts: any of: src/locales/**/*.ts
