Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

.lintstagedrc:

{
  "*.{md,json}": ["prettier --cache --write"],
  "*.{js,jsx}": ["max lint --fix --eslint-only", "prettier --cache --write"],
  "*.{css,less}": [
    "max lint --fix --stylelint-only",
    "prettier --cache --write"
  ],
  "!public/vs/**": [],
  "*.ts?(x)": [
    "max lint --fix --eslint-only",
    "prettier --cache --parser=typescript --write"
  ],
  "src/locales/**/*.ts": ["npx tsx src/locales/check.ts"]
}

chore: profile config
  src/config/global.d.ts
  src/pages/benchmark/apis/index.ts
  src/pages/benchmark/components/configure/benchmark.tsx
  src/pages/benchmark/components/configure/index.tsx
  src/pages/benchmark/components/configure/instance.tsx
  src/pages/benchmark/components/environment/gpu-data.tsx
  src/pages/benchmark/components/environment/index.tsx
  src/pages/benchmark/components/environment/worker-data.tsx
  src/pages/benchmark/components/left-actions.tsx
  src/pages/benchmark/components/right-actions.tsx
  src/pages/benchmark/components/summary/basic.tsx
  src/pages/benchmark/components/summary/metrics.tsx
  src/pages/benchmark/components/summary/section.tsx
  src/pages/benchmark/config/index.ts
  src/pages/benchmark/config/types.ts
  src/pages/benchmark/details.tsx
  src/pages/benchmark/forms/basic.tsx
  src/pages/benchmark/forms/dataset.tsx
  src/pages/benchmark/forms/index.tsx
  src/pages/benchmark/forms/random-settings.tsx
  src/pages/benchmark/hooks/use-export-data.ts
  src/pages/benchmark/index.tsx
  src/pages/benchmark/services/use-query-dataset.ts
  src/pages/benchmark/services/use-query-metrics.ts
  src/pages/benchmark/services/use-query-profiles.ts
  src/pages/resources/services/use-query-gpus.ts
Due: none

chore: logs
  src/hooks/use-download-logs.tsx
  src/locales/en-US/common.ts
  src/pages/benchmark/components/compare-conditions.tsx
  src/pages/benchmark/components/detail-content.tsx
  src/pages/benchmark/components/row-actions.tsx
  src/pages/benchmark/components/view-logs-modal.tsx
  src/pages/benchmark/hooks/use-benchmark-columns.tsx
  src/pages/benchmark/hooks/use-view-logs.ts
  src/pages/benchmark/index.tsx
Due: npx tsx src/locales/check.ts

chore: list actions
  src/components/icon-font/index.tsx
  src/components/label-selector/wrapper.tsx
  src/pages/benchmark/components/compare-conditions.tsx
Due: none

feat: benchmark list
  config/routes.ts
  src/components/icon-font/index.tsx
  src/components/page-tools/index.tsx
  src/locales/en-US/benchmark.ts
  src/locales/en-US/menu.ts
  src/locales/en-US/no-result.ts
  src/locales/ja-JP/benchmark.ts
  src/locales/ja-JP/menu.ts
  src/locales/ja-JP/no-result.ts
  src/locales/ru-RU/benchmark.ts
  src/locales/ru-RU/menu.ts
  src/locales/ru-RU/no-result.ts
  src/locales/zh-CN/benchmark.ts
  src/locales/zh-CN/menu.ts
  src/locales/zh-CN/no-result.ts
  src/pages/_components/scroll-spy-tabs/index.tsx
  src/pages/benchmark/apis/index.ts
  src/pages/benchmark/components/add-benchmark-modal.tsx
  src/pages/benchmark/components/right-actions.tsx
  src/pages/benchmark/config/form-context.ts
  src/pages/benchmark/config/index.ts
  src/pages/benchmark/config/types.ts
  src/pages/benchmark/forms/basic.tsx
  src/pages/benchmark/forms/index.tsx
  src/pages/benchmark/hooks/use-benchmark-columns.tsx
  src/pages/benchmark/hooks/use-create-benchmark.ts
  src/pages/benchmark/hooks/use-create-compare.ts
  src/pages/benchmark/index.tsx
  src/pages/llmodels/components/table-list.tsx
Due: npx tsx src/locales/check.ts

fix: benchmark detail styles
  src/components/overlay-scroller/index.tsx
  src/locales/en-US/benchmark.ts
  src/locales/ja-JP/benchmark.ts
  src/locales/ru-RU/benchmark.ts
  src/locales/zh-CN/benchmark.ts
  src/pages/_components/column-settings.tsx
  src/pages/benchmark/components/right-actions.tsx
  src/pages/benchmark/components/summary/basic.tsx
  src/pages/benchmark/components/summary/benchmark.tsx
  src/pages/benchmark/components/summary/index.tsx
  src/pages/benchmark/components/summary/metrics-result.tsx
  src/pages/benchmark/components/summary/percentile-result.tsx
  src/pages/benchmark/config/detail-types.ts
  src/pages/benchmark/config/index.ts
  src/pages/benchmark/config/types.ts
  src/pages/benchmark/forms/dataset.tsx
  src/pages/benchmark/forms/index.tsx
  src/pages/benchmark/forms/model-instance.tsx
  src/pages/benchmark/forms/random-settings.tsx
  src/pages/benchmark/hooks/use-benchmark-columns.tsx
  src/pages/benchmark/hooks/use-column-settings.tsx
  src/pages/benchmark/index.tsx
  src/pages/benchmark/services/use-query-dataset.ts
  src/pages/benchmark/services/use-query-profiles.ts
Due: npx tsx src/locales/check.ts

chore: remove labels
  src/locales/en-US/benchmark.ts
  src/locales/en-US/menu.ts
  src/locales/ja-JP/benchmark.ts
  src/locales/ja-JP/menu.ts
  src/locales/ru-RU/benchmark.ts
  src/locales/ru-RU/menu.ts
  src/pages/benchmark/components/configure/benchmark.tsx
  src/pages/benchmark/components/configure/instance.tsx
  src/pages/benchmark/components/summary/basic.tsx
  src/pages/benchmark/config/detail-types.ts
  src/pages/benchmark/details.tsx
  src/pages/benchmark/forms/basic.tsx
  src/pages/benchmark/forms/labels.tsx
Due: npx tsx src/locales/check.ts

style: detail layout
  src/locales/en-US/benchmark.ts
  src/locales/ja-JP/benchmark.ts
  src/locales/ru-RU/benchmark.ts
  src/locales/zh-CN/benchmark.ts
  src/pages/benchmark/apis/index.ts
  src/pages/benchmark/components/environment/index.tsx
  src/pages/benchmark/components/summary/benchmark.tsx
  src/pages/benchmark/components/summary/index.tsx
  src/pages/benchmark/components/summary/instance.tsx
  src/pages/benchmark/components/summary/metrics-result.tsx
  src/pages/benchmark/components/summary/percentile-result.tsx
  src/pages/benchmark/components/summary/title.tsx
  src/pages/benchmark/config/index.ts
  src/pages/benchmark/config/types.ts
  src/pages/benchmark/forms/basic.tsx
  src/pages/benchmark/forms/dataset.tsx
  src/pages/benchmark/forms/index.tsx
  src/pages/benchmark/hooks/use-benchmark-columns.tsx
  src/pages/benchmark/index.tsx
  src/pages/benchmark/services/use-export-benchmark.ts
  src/pages/login/components/local-user-form.tsx
  src/pages/login/components/login-form.tsx
  src/pages/login/hooks/use-local-auth.ts
Due: npx tsx src/locales/check.ts

refactor: summary
  src/components/collapse-container/headless-collapse.tsx
  src/pages/benchmark/components/configure/index.tsx
  src/pages/benchmark/components/detail-content.tsx
  src/pages/benchmark/components/summary/basic.tsx
  src/pages/benchmark/components/summary/benchmark.tsx
  src/pages/benchmark/components/summary/index.tsx
  src/pages/benchmark/components/summary/instance.tsx
  src/pages/benchmark/components/summary/metrics-result.tsx
  src/pages/benchmark/components/summary/metrics.tsx
  src/pages/benchmark/components/summary/percentile-result.tsx
  src/pages/benchmark/components/summary/section.tsx
  src/pages/benchmark/config/detail-types.ts
  src/pages/benchmark/forms/model-instance.tsx
  src/pages/benchmark/index.tsx
Due: none

refactor: env detail
  src/components/seal-table/components/header-prefix.tsx
  src/components/seal-table/index.tsx
  src/hooks/use-query-data-list.ts
  src/locales/en-US/benchmark.ts
  src/locales/ja-JP/benchmark.ts
  src/locales/ru-RU/benchmark.ts
  src/locales/zh-CN/benchmark.ts
  src/pages/benchmark/components/environment/index.tsx
  src/pages/benchmark/components/summary/benchmark.tsx
  src/pages/benchmark/components/summary/instance.tsx
  src/pages/benchmark/components/summary/metrics-result.tsx
  src/pages/benchmark/components/summary/percentile-result.tsx
  src/pages/benchmark/config/types.ts
  src/pages/benchmark/forms/dataset.tsx
  src/pages/benchmark/forms/index.tsx
  src/pages/benchmark/forms/random-settings.tsx
  src/pages/benchmark/hooks/use-benchmark-columns.tsx
  src/pages/benchmark/services/use-query-dataset.ts
Due: npx tsx src/locales/check.ts

chore: update creation form
  src/components/seal-form/seal-cascader.tsx
  src/locales/en-US/benchmark.ts
  src/locales/en-US/menu.ts
  src/locales/ja-JP/benchmark.ts
  src/locales/ja-JP/menu.ts
  src/locales/ru-RU/benchmark.ts
  src/locales/ru-RU/menu.ts
  src/locales/zh-CN/benchmark.ts
  src/locales/zh-CN/menu.ts
  src/pages/benchmark/components/left-actions.tsx
  src/pages/benchmark/config/types.ts
  src/pages/benchmark/forms/basic.tsx
  src/pages/benchmark/forms/dataset.tsx
  src/pages/benchmark/forms/index.tsx
  src/pages/benchmark/forms/model-instance.tsx
  src/pages/benchmark/forms/random-settings.tsx
  src/pages/benchmark/index.tsx
  src/pages/benchmark/services/use-query-dataset.ts
  src/pages/benchmark/services/use-query-profiles.ts
Due: npx tsx src/locales/check.ts

feat: benchmark detail page
  config/routes.ts
  src/components/page-tools/index.tsx
  src/locales/en-US/benchmark.ts
  src/locales/ja-JP/benchmark.ts
  src/locales/ru-RU/benchmark.ts
  src/locales/zh-CN/benchmark.ts
  src/pages/benchmark/components/compare-conditions.tsx
  src/pages/benchmark/components/configure/index.tsx
  src/pages/benchmark/components/environment/index.tsx
  src/pages/benchmark/components/left-actions.tsx
  src/pages/benchmark/components/logs/index.tsx
  src/pages/benchmark/components/right-actions.tsx
  src/pages/benchmark/components/summary/index.tsx
  src/pages/benchmark/config/detail-context.ts
  src/pages/benchmark/details.tsx
  src/pages/benchmark/hooks/use-compare-conditions.ts
  src/pages/benchmark/index.tsx
Due: npx tsx src/locales/check.ts

fix: benchmark state
  src/pages/benchmark/components/environment/index.tsx
  src/pages/benchmark/components/row-actions.tsx
  src/pages/benchmark/components/summary/benchmark.tsx
  src/pages/benchmark/components/summary/instance.tsx
  src/pages/benchmark/components/summary/metrics-result.tsx
  src/pages/benchmark/components/summary/percentile-result.tsx
  src/pages/benchmark/components/summary/title.tsx
  src/pages/benchmark/forms/dataset.tsx
  src/pages/benchmark/hooks/use-compare-conditions.ts
Due: none

fix: details layout
  src/pages/benchmark/apis/index.ts
  src/pages/benchmark/components/environment/index.tsx
  src/pages/benchmark/components/row-actions.tsx
  src/pages/benchmark/components/summary/instance.tsx
  src/pages/benchmark/components/summary/metrics-result.tsx
  src/pages/benchmark/components/summary/percentile-result.tsx
  src/pages/benchmark/components/summary/title.tsx
  src/pages/benchmark/config/detail-types.ts
  src/pages/benchmark/forms/dataset.tsx
  src/pages/benchmark/forms/index.tsx
  src/pages/benchmark/forms/model-instance.tsx
  src/pages/benchmark/forms/random-settings.tsx
  src/pages/benchmark/index.tsx
  src/pages/benchmark/services/use-stop-benchmark.ts
Due: none

feat: benchmark form
  src/locales/en-US/benchmark.ts
  src/locales/ja-JP/benchmark.ts
  src/locales/ru-RU/benchmark.ts
  src/locales/zh-CN/benchmark.ts
  src/pages/benchmark/config/form-context.ts
  src/pages/benchmark/config/index.ts
  src/pages/benchmark/forms/basic.tsx
  src/pages/benchmark/forms/dataset.tsx
  src/pages/benchmark/forms/index.tsx
  src/pages/benchmark/forms/random-settings.tsx
Due: npx tsx src/locales/check.ts

chore: backend api
  pnpm-lock.yaml
  src/atoms/models.ts
  src/components/icon-font/index.tsx
  src/components/templates/card.tsx
  src/locales/en-US/backends.ts
  src/locales/en-US/common.ts
  src/locales/ja-JP/backends.ts
  src/locales/ja-JP/common.ts
  src/locales/ru-RU/backends.ts
  src/locales/ru-RU/common.ts
  src/locales/zh-CN/backends.ts
  src/locales/zh-CN/common.ts
  src/pages/backends/components/backend-card.tsx
  src/pages/backends/config/index.ts
  src/pages/backends/config/types.ts
  src/pages/backends/index.tsx
  src/pages/backends/services/use-enable-backend.ts
  src/pages/llmodels/config/test-data.ts
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/forms/backend.tsx
  src/pages/llmodels/hooks/use-query-backends.ts
  src/pages/llmodels/style/catalog-item.less
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

chore: update env vars from backend version
  src/atoms/models.ts
  src/locales/en-US/backends.ts
  src/locales/ja-JP/backends.ts
  src/locales/ru-RU/backends.ts
  src/locales/zh-CN/backends.ts
  src/pages/backends/components/backend-card.tsx
  src/pages/backends/components/version-info-modal.tsx
  src/pages/backends/config/form-context.ts
  src/pages/backends/config/index.ts
  src/pages/backends/forms/basic.tsx
  src/pages/backends/forms/index.tsx
  src/pages/backends/forms/versions-config.tsx
  src/pages/backends/hooks/use-create-backend.ts
  src/pages/backends/index.tsx
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/forms/backend.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/hooks/use-query-backends.ts
Due: npx tsx src/locales/check.ts

fix: backend selection
  src/components/icon-font/icons.ts
  src/components/icon-font/index.tsx
  src/locales/en-US/backends.ts
  src/locales/en-US/models.ts
  src/locales/ja-JP/backends.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/backends.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/backends.ts
  src/locales/zh-CN/models.ts
  src/pages/backends/components/add-modal.tsx
  src/pages/backends/components/backend-card.tsx
  src/pages/backends/components/version-info-modal.tsx
  src/pages/backends/config/index.ts
  src/pages/backends/config/types.ts
  src/pages/backends/forms/basic.tsx
  src/pages/backends/forms/version-info.tsx
  src/pages/backends/forms/versions-config.tsx
  src/pages/backends/index.tsx
  src/pages/llmodels/config/form-context.ts
  src/pages/llmodels/forms/advance-config.tsx
  src/pages/llmodels/forms/backend.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/forms/kv-cache.tsx
  src/pages/llmodels/forms/local-path-source.tsx
  src/pages/llmodels/forms/speculative-decode.tsx
  src/pages/llmodels/hooks/use-query-backends.ts
Due: npx tsx src/locales/check.ts

feat: community backends page
  src/components/delete-modal/index.tsx
  src/components/icon-font/index.tsx
  src/components/page-tools/index.tsx
  src/components/templates/card-skelton.tsx
  src/locales/en-US/backends.ts
  src/locales/ja-JP/backends.ts
  src/locales/ru-RU/backends.ts
  src/locales/zh-CN/backends.ts
  src/pages/backends/apis/index.ts
  src/pages/backends/community/add-community-modal.tsx
  src/pages/backends/community/backend-detail.tsx
  src/pages/backends/community/commnity-backends.tsx
  src/pages/backends/components/backend-card.tsx
  src/pages/backends/components/backend-list.tsx
  src/pages/backends/config/index.ts
  src/pages/backends/hooks/use-community-backend.ts
  src/pages/backends/hooks/use-create-backend.tsx
  src/pages/backends/hooks/use-custom-backend.ts
  src/pages/backends/index.tsx
  src/pages/backends/services/use-enable-backend.ts
  src/pages/backends/services/use-query-community-backends.ts
  src/pages/llmodels/components/separator.tsx
Due: npx tsx src/locales/check.ts

chore: default_env, env
  src/pages/backends/components/add-modal.tsx
  src/pages/backends/components/version-info-modal.tsx
  src/pages/backends/config/index.ts
  src/pages/backends/config/schema/create.json
  src/pages/backends/config/schema/update-builtin.json
  src/pages/backends/config/schema/update-custom.json
  src/pages/backends/config/types.ts
  src/pages/backends/forms/basic.tsx
  src/pages/backends/forms/versions-config.tsx
Due: prettier --cache --write

feat: community backends marketplace
  src/locales/en-US/backends.ts
  src/locales/ja-JP/backends.ts
  src/locales/ru-RU/backends.ts
  src/locales/zh-CN/backends.ts
  src/pages/backends/community/add-community-modal.tsx
  src/pages/backends/community/backend-detail.tsx
  src/pages/backends/community/commnity-backends.tsx
  src/pages/backends/components/backend-card.tsx
Due: npx tsx src/locales/check.ts

style: arrow bivider
  src/pages/backends/community/add-community-modal.tsx
  src/pages/llmodels/components/separator.tsx
Due: none

fix: parse yaml error
  src/pages/backends/components/backend-card.tsx
  src/pages/backends/components/import-yaml.tsx
  src/pages/backends/config/index.ts
  src/pages/backends/config/schema/create.json
  src/pages/backends/config/schema/update-builtin.json
  src/pages/backends/config/schema/update-custom.json
  src/pages/backends/forms/index.tsx
  src/pages/backends/forms/versions-config.tsx
  src/pages/backends/index.tsx
  src/pages/llmodels/forms/backend.tsx
Due: prettier --cache --write

fix: init envs
  src/pages/backends/community/backend-detail.tsx
  src/pages/backends/components/backend-card.tsx
  src/pages/backends/config/index.ts
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/separator.tsx
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/forms/backend.tsx
  src/pages/llmodels/hooks/index.ts
  src/pages/llmodels/hooks/use-query-backends.ts
Due: none

chore: update icons
  src/components/icon-font/index.tsx
Due: none

feat: add tts params
  src/components/icon-font/index.tsx
  src/locales/en-US/playground.ts
  src/locales/ja-JP/playground.ts
  src/locales/ru-RU/playground.ts
  src/locales/zh-CN/playground.ts
  src/pages/playground/components/ground-tts.tsx
  src/pages/playground/config/params-config.ts
  src/pages/playground/config/types.ts
Due: npx tsx src/locales/check.ts

fix: hidden tokens input
  src/pages/playground/config/params-config.ts
Due: none

chore: upload a ref audio
  src/components/upload-audio/index.tsx
  src/locales/en-US/playground.ts
  src/locales/ja-JP/playground.ts
  src/locales/ru-RU/playground.ts
  src/locales/zh-CN/playground.ts
  src/pages/playground/audio/form.tsx
  src/pages/playground/audio/params-config.ts
  src/pages/playground/components/dynamic-params.tsx
  src/pages/playground/components/ground-tts.tsx
  src/pages/playground/config/form-context.ts
  src/pages/playground/config/params-config.ts
  src/utils/load-audio-file.ts
Due: npx tsx src/locales/check.ts
