Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

.lintstagedrc:

{
  "*.{md,json}": ["prettier --cache --write"],
  "*.{js,jsx}": ["max lint --fix --eslint-only", "prettier --cache --write"],
  "*.{css,less}": [
    "max lint --fix --stylelint-only",
    "prettier --cache --write"
  ],
  "!public/vs/**": [],
  "*.ts?(x)": [
    "max lint --fix --eslint-only",
    "prettier --cache --parser=typescript --write"
  ],
  "src/locales/**/*.ts": ["npx tsx src/locales/check.ts"]
}

chore: logs history selection
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/tr-TR/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/components/view-logs-modal.tsx
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/services/use-query-instance-restart-count.ts
Due: npx tsx src/locales/check.ts

feat: admin apikeys
  config/routes.ts
  src/components/page-tools/index.tsx
  src/layouts/extraRender.tsx
  src/pages/api-keys/hooks/use-keys-columns.tsx
  src/pages/api-keys/index.tsx
  src/pages/llmodels/components/api-access-info.tsx
  src/pages/playground/components/view-common-code.tsx
  src/pages/users/services/use-query-user-list.ts
Due: none

fix: switch model do not work in chat
  src/pages/playground/chat/single-chat.tsx
Due: none

feat: usage
  config/routes.ts
  src/atoms/usage.ts
  src/components/icon-font/index.tsx
  src/components/seal-form/simple-select.tsx
  src/hooks/use-query-data-list.ts
  src/locales/en-US/dashboard.ts
  src/locales/en-US/menu.ts
  src/locales/ja-JP/dashboard.ts
  src/locales/ja-JP/menu.ts
  src/locales/ru-RU/dashboard.ts
  src/locales/ru-RU/menu.ts
  src/locales/tr-TR/dashboard.ts
  src/locales/tr-TR/menu.ts
  src/locales/zh-CN/dashboard.ts
  src/locales/zh-CN/menu.ts
  src/pages/benchmark/hooks/use-export-data.ts
  src/pages/dashboard/components/usage-inner/export-data.tsx
  src/pages/dashboard/hooks/use-rangepicker-preset.ts
  src/pages/usage/apis/index.ts
  src/pages/usage/components/breakdown-tabs.tsx
  src/pages/usage/components/daily-usage.tsx
  src/pages/usage/components/filter-bar.tsx
  src/pages/usage/config/index.ts
  src/pages/usage/config/types.ts
  src/pages/usage/hooks/use-apikeys-columns.tsx
  src/pages/usage/hooks/use-export-table.tsx
  src/pages/usage/hooks/use-models-columns.tsx
  src/pages/usage/hooks/use-users-columns.tsx
  src/pages/usage/index.tsx
  src/pages/usage/services/use-query-breakdown-list.ts
  src/pages/usage/services/use-query-meta-data.ts
  src/pages/usage/services/use-query-timeseries-data.ts
  src/pages/usage/styles/filter-bar.less
  src/pages/usage/tables/apikeys-table.tsx
  src/pages/usage/tables/models-table.tsx
  src/pages/usage/tables/users-table.tsx
  src/utils/excel-reader.ts
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix: usage filter
  src/assets/styles/common.less
  src/pages/usage/components/daily-usage.tsx
  src/pages/usage/config/index.ts
  src/pages/usage/config/types.ts
  src/pages/usage/hooks/use-models-columns.tsx
  src/pages/usage/index.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

fix: show tag only one selected
  src/components/seal-form/simple-select.tsx
  src/pages/usage/components/breakdown-tabs.tsx
  src/pages/usage/components/filter-bar.tsx
  src/pages/usage/index.tsx
  src/pages/usage/tables/users-table.tsx
Due: none

fix: models, apikeys Cascader
  src/pages/usage/components/breakdown-tabs.tsx
  src/pages/usage/components/daily-usage.tsx
  src/pages/usage/components/filter-bar.tsx
  src/pages/usage/config/index.ts
  src/pages/usage/config/types.ts
  src/pages/usage/index.tsx
  src/pages/usage/services/use-query-meta-data.ts
  src/pages/usage/styles/filter-bar.less
Due: prettier --cache --write, max lint --fix --stylelint-only

fix: usage ux
  src/components/card-wrapper/simple-card.tsx
  src/pages/dashboard/hooks/use-rangepicker-preset.ts
  src/pages/usage/components/daily-usage.tsx
  src/pages/usage/components/export-data.tsx
  src/pages/usage/components/filter-bar.tsx
  src/pages/usage/hooks/use-usage-filters.ts
  src/pages/usage/index.tsx
Due: none

fix: usage datepicker
  src/components/seal-form/simple-select.tsx
  src/pages/dashboard/hooks/use-rangepicker-preset.ts
  src/pages/usage/components/breakdown-tabs.tsx
  src/pages/usage/components/daily-usage.tsx
  src/pages/usage/components/filter-bar.tsx
  src/pages/usage/config/types.ts
  src/pages/usage/hooks/use-usage-filters.ts
  src/pages/usage/services/use-query-meta-data.ts
Due: none

chore: history options
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/tr-TR/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/components/view-logs-modal.tsx
  src/pages/llmodels/services/use-query-instance-restart-count.ts
Due: npx tsx src/locales/check.ts

style: card style
  src/components/card-wrapper/index.tsx
  src/components/card-wrapper/simple-card.tsx
  src/components/icon-font/index.tsx
  src/global.less
  src/pages/dashboard/hooks/use-rangepicker-preset.ts
  src/pages/usage/components/breakdown-tabs.tsx
  src/pages/usage/components/daily-usage.tsx
  src/pages/usage/components/export-data.tsx
  src/pages/usage/components/filter-bar.tsx
  src/pages/usage/config/index.ts
  src/pages/usage/hooks/use-apikeys-columns.tsx
  src/pages/usage/hooks/use-models-columns.tsx
  src/pages/usage/hooks/use-usage-filters.ts
  src/pages/usage/hooks/use-users-columns.tsx
  src/pages/usage/index.tsx
  src/pages/usage/tables/apikeys-table.tsx
  src/pages/usage/tables/models-table.tsx
  src/pages/usage/tables/users-table.tsx
  src/pages/usage/utils/get-breakdown-row-key.ts
Due: prettier --cache --write, max lint --fix --stylelint-only

chore: locales
  src/locales/en-US/usage.ts
  src/locales/ja-JP/usage.ts
  src/locales/ru-RU/usage.ts
  src/locales/tr-TR/usage.ts
  src/locales/zh-CN/usage.ts
  src/pages/usage/components/daily-usage.tsx
  src/pages/usage/components/export-data.tsx
  src/pages/usage/components/filter-bar.tsx
  src/pages/usage/config/index.ts
  src/pages/usage/hooks/use-apikeys-columns.tsx
  src/pages/usage/hooks/use-export-table.tsx
  src/pages/usage/hooks/use-models-columns.tsx
  src/pages/usage/hooks/use-usage-filters.ts
  src/pages/usage/hooks/use-users-columns.tsx
  src/pages/usage/index.tsx
Due: npx tsx src/locales/check.ts

fix: sync filters
  src/pages/usage/components/breakdown-tabs.tsx
  src/pages/usage/components/export-data.tsx
  src/pages/usage/components/filter-bar.tsx
  src/pages/usage/hooks/use-usage-filters.ts
  src/pages/usage/index.tsx
Due: none

fix: table sorter
  src/pages/usage/hooks/use-apikeys-columns.tsx
  src/pages/usage/hooks/use-models-columns.tsx
  src/pages/usage/hooks/use-users-columns.tsx
  src/pages/usage/tables/apikeys-table.tsx
  src/pages/usage/tables/models-table.tsx
  src/pages/usage/tables/users-table.tsx
Due: none

fix: reset page after filters changed
  src/pages/usage/components/breakdown-tabs.tsx
  src/pages/usage/index.tsx
  src/pages/usage/tables/apikeys-table.tsx
  src/pages/usage/tables/models-table.tsx
  src/pages/usage/tables/users-table.tsx
Due: none

fix: deleted tag
  src/components/echarts/config.ts
  src/global.less
  src/locales/en-US/usage.ts
  src/locales/ja-JP/usage.ts
  src/locales/ru-RU/usage.ts
  src/locales/tr-TR/usage.ts
  src/locales/zh-CN/usage.ts
  src/pages/dashboard/components/usage-inner/request-token-inner.tsx
  src/pages/usage/components/daily-usage.tsx
  src/pages/usage/components/export-data.tsx
  src/pages/usage/components/filter-bar.tsx
  src/pages/usage/config/types.ts
  src/pages/usage/hooks/use-apikeys-columns.tsx
  src/pages/usage/hooks/use-models-columns.tsx
  src/pages/usage/hooks/use-users-columns.tsx
  src/pages/usage/services/use-query-meta-data.ts
  src/pages/usage/tables/apikeys-table.tsx
  src/pages/usage/tables/models-table.tsx
  src/pages/usage/tables/users-table.tsx
  src/pages/usage/utils/get-breakdown-row-key.ts
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

style: start history selection
  src/pages/llmodels/components/view-logs-modal.tsx
  src/pages/llmodels/services/use-query-instance-restart-count.ts
Due: none

fix: main worker flag
  src/pages/llmodels/components/view-logs-modal.tsx
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/services/use-query-instance-restart-count.ts
Due: none

fix: CInput not found
  package.json
  src/pages/resources/components/update-labels.tsx
  src/pages/resources/hooks/use-files-columns.tsx
  src/pages/resources/hooks/use-worker-maintenance.tsx
Due: prettier --cache --write

chore: core-ui deps
  package.json
  src/app.tsx
Due: prettier --cache --write

fix: rebase main
  .lintstagedrc
  package.json
  scripts/stylelint-compat.cjs
  src/global.less
  src/layouts/extraRender.tsx
  src/layouts/index.tsx
  src/layouts/rightRender.tsx
  src/locales/en-US/menu.ts
  src/locales/ja-JP/menu.ts
  src/locales/ru-RU/menu.ts
  src/locales/tr-TR/menu.ts
  src/locales/zh-CN/menu.ts
  src/pages/api-keys/components/add-apikey-modal/index.tsx
  src/pages/api-keys/index.tsx
  src/pages/cluster-management/components/k8s-volume-mount.tsx
  src/pages/dashboard/components/active-table.tsx
  src/pages/dashboard/components/usage-inner/filter-bar.tsx
  src/pages/playground/embedding/page.tsx
  src/pages/usage/components/daily-usage.tsx
  src/pages/usage/components/export-data.tsx
  src/pages/usage/components/filter-bar.tsx
  src/pages/usage/hooks/use-apikeys-columns.tsx
  src/pages/usage/hooks/use-models-columns.tsx
  src/pages/usage/hooks/use-users-columns.tsx
  src/pages/usage/index.tsx
  src/pages/usage/tables/apikeys-table.tsx
  src/pages/usage/tables/models-table.tsx
  src/pages/usage/tables/users-table.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

chore: update lock file
  pnpm-lock.yaml
Due: none
