Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

.lintstagedrc:

{
  "*.{md,json}": ["prettier --cache --write"],
  "*.{js,jsx}": ["max lint --fix --eslint-only", "prettier --cache --write"],
  "*.{css,less}": [
    "max lint --fix --stylelint-only",
    "prettier --cache --write"
  ],
  "*.ts?(x)": [
    "max lint --fix --eslint-only",
    "prettier --cache --parser=typescript --write"
  ],
  "src/locales/**/*.ts": ["npx tsx src/locales/check.ts"]
}

feat: add backend pages
  config/routes.ts
  src/assets/logo/sglang.png
  src/assets/logo/vllm.png
  src/components/icon-font/index.tsx
  src/components/page-tools/index.tsx
  src/components/templates/card.tsx
  src/locales/en-US/menu.ts
  src/locales/ja-JP/menu.ts
  src/locales/ru-RU/menu.ts
  src/locales/zh-CN/menu.ts
  src/pages/backends/apis/index.ts
  src/pages/backends/components/backend-card.tsx
  src/pages/backends/components/backend-list.tsx
  src/pages/backends/config/index.ts
  src/pages/backends/config/test.ts
  src/pages/backends/config/types.ts
  src/pages/backends/list.tsx
  src/pages/cluster-management/components/provider-catalog.tsx
Due: npx tsx src/locales/check.ts

refactor: advance collapse
  config/config.ts
  src/pages/_components/column-wrapper/index.tsx
  src/pages/backends/components/add-modal.tsx
  src/pages/llmodels/components/advance-config.tsx
  src/pages/llmodels/components/data-form.tsx
  src/pages/llmodels/components/deploy-dropdown.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/search-model.tsx
  src/pages/llmodels/components/search-result.tsx
  src/pages/llmodels/config/form-context.ts
  src/pages/llmodels/forms/advance-config.tsx
  src/pages/llmodels/forms/backend-parameters-list.tsx
  src/pages/llmodels/forms/backend.tsx
  src/pages/llmodels/forms/local-path-source.tsx
  src/pages/llmodels/forms/online-source.tsx
  src/pages/llmodels/forms/performance.tsx
  src/pages/llmodels/style/model-card.less
  src/pages/llmodels/style/search-result.less
Due: prettier --cache --write, max lint --fix --stylelint-only

chore: built in versions
  src/components/list-input/index.tsx
  src/components/templates/card.tsx
  src/pages/backends/components/add-modal.tsx
  src/pages/backends/components/backend-card.tsx
  src/pages/backends/config/index.ts
  src/pages/backends/config/types.ts
  src/pages/backends/forms/built-in-versions.tsx
  src/pages/backends/forms/index.tsx
  src/pages/backends/forms/versions-config.tsx
  src/pages/backends/list.tsx
  src/pages/cluster-management/components/cloud-options.tsx
  src/pages/cluster-management/components/support-gpus.tsx
Due: none

chore: test by api
  src/components/icon-font/index.tsx
  src/components/templates/card.tsx
  src/locales/en-US/backends.ts
  src/locales/ja-JP/backends.ts
  src/locales/ru-RU/backends.ts
  src/locales/zh-CN/backends.ts
  src/pages/_components/collapse-panel/index.tsx
  src/pages/api-keys/index.tsx
  src/pages/backends/apis/index.ts
  src/pages/backends/components/add-modal.tsx
  src/pages/backends/components/backend-card.tsx
  src/pages/backends/components/backend-list.tsx
  src/pages/backends/components/import-yaml.tsx
  src/pages/backends/components/yaml-editor.tsx
  src/pages/backends/config/index.ts
  src/pages/backends/config/schema/create.json
  src/pages/backends/config/schema/update-builtin.json
  src/pages/backends/config/schema/update-custom.json
  src/pages/backends/config/test.ts
  src/pages/backends/config/types.ts
  src/pages/backends/forms/basic.tsx
  src/pages/backends/forms/index.tsx
  src/pages/backends/forms/versions-config.tsx
  src/pages/backends/hooks/use-export-yaml.ts
  src/pages/backends/list.tsx
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/components/table-list.tsx
  src/pages/users/index.tsx
  typings.d.ts
Due: prettier --cache --write, npx tsx src/locales/check.ts

style: backend list styles
  src/components/seal-form/seal-input.tsx
  src/locales/en-US/clusters.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ru-RU/clusters.ts
  src/locales/zh-CN/clusters.ts
  src/pages/backends/components/backend-card.tsx
  src/pages/backends/components/view-builtin-versions-modal.tsx
  src/pages/backends/config/index.ts
  src/pages/backends/forms/built-in-versions.tsx
  src/pages/backends/forms/versions-config.tsx
  src/pages/backends/list.tsx
  src/pages/cluster-management/components/add-worker-step.tsx
  src/pages/llmodels/components/advance-config.tsx
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/update-modal.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/forms/performance.tsx
Due: npx tsx src/locales/check.ts

feat: add model access control
  src/components/icon-font/icons.ts
  src/components/icon-font/index.tsx
  src/config/global.d.ts
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/components/access-control-modal/form.tsx
  src/pages/llmodels/components/access-control-modal/index.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/config/button-actions.ts
  src/pages/llmodels/config/types.ts
Due: none

feat: add allowed models
  src/config/global.d.ts
  src/pages/_components/transfer.tsx
  src/pages/api-keys/components/add-apikey-modal/allow-models.tsx
  src/pages/api-keys/components/add-apikey-modal/index.tsx
  src/pages/api-keys/config/types.ts
  src/pages/api-keys/hooks/use-keys-columns.tsx
  src/pages/api-keys/index.tsx
  src/pages/llmodels/components/access-control-modal/form.tsx
  src/pages/llmodels/components/access-control-modal/index.tsx
  src/pages/llmodels/user-models.tsx
Due: none

feat: add user activation control
  src/components/seal-form/seal-checkbox.tsx
  src/locales/en-US/users.ts
  src/locales/ja-JP/users.ts
  src/locales/ru-RU/users.ts
  src/locales/zh-CN/users.ts
  src/pages/users/components/add-modal.tsx
  src/pages/users/config/types.ts
  src/pages/users/index.tsx
Due: npx tsx src/locales/check.ts

style: versions config
  src/components/collapse-container/index.tsx
  src/locales/en-US/backends.ts
  src/locales/en-US/menu.ts
  src/locales/ja-JP/backends.ts
  src/locales/ja-JP/menu.ts
  src/locales/ru-RU/backends.ts
  src/locales/ru-RU/menu.ts
  src/locales/zh-CN/backends.ts
  src/locales/zh-CN/menu.ts
  src/pages/backends/components/add-modal.tsx
  src/pages/backends/config/schema/create.json
  src/pages/backends/config/schema/update-builtin.json
  src/pages/backends/config/schema/update-custom.json
  src/pages/backends/forms/basic.tsx
  src/pages/backends/forms/index.tsx
  src/pages/backends/forms/versions-config.tsx
  src/pages/backends/forms/versions-form.tsx
Due: prettier --cache --write, npx tsx src/locales/check.ts

style: user activation
  src/pages/users/components/add-modal.tsx
  src/pages/users/config/types.ts
  src/pages/users/index.tsx
Due: none

fix: add worker command miss image
  src/pages/resources/config/index.ts
Due: none

fix: custom versin configs
  src/components/collapse-container/index.tsx
  src/pages/backends/backend-create.tsx
  src/pages/backends/components/add-modal.tsx
  src/pages/backends/components/backend-card.tsx
  src/pages/backends/components/view-builtin-versions-modal.tsx
  src/pages/backends/config/index.ts
  src/pages/backends/config/schema/create.json
  src/pages/backends/config/schema/update-builtin.json
  src/pages/backends/config/schema/update-custom.json
  src/pages/backends/config/types.ts
  src/pages/backends/forms/built-in-versions.tsx
  src/pages/backends/forms/index.tsx
  src/pages/backends/forms/versions-config.tsx
  src/pages/backends/forms/versions-form.tsx
  src/pages/backends/step-forms/basic-form.tsx
  src/pages/backends/step-forms/module-registry.ts
  src/pages/backends/step-forms/parameters-form.tsx
  src/pages/backends/step-forms/use-step-list.tsx
  src/pages/backends/step-forms/version-config-form.tsx
Due: prettier --cache --write

style: allowed models ux
  config/routes.ts
  src/access.ts
  src/locales/en-US/apikeys.ts
  src/locales/ja-JP/apikeys.ts
  src/locales/ru-RU/apikeys.ts
  src/locales/zh-CN/apikeys.ts
  src/pages/_components/transfer.tsx
  src/pages/api-keys/apis/index.ts
  src/pages/api-keys/components/add-apikey-modal/allow-models.tsx
  src/pages/api-keys/components/add-apikey-modal/form.tsx
  src/pages/api-keys/components/add-apikey-modal/index.tsx
  src/pages/api-keys/config/types.ts
  src/pages/api-keys/hooks/use-keys-columns.tsx
  src/pages/api-keys/index.tsx
  src/pages/llmodels/components/access-control-modal/form.tsx
  src/pages/llmodels/components/access-control-modal/index.tsx
Due: npx tsx src/locales/check.ts

chore: pluggable locale config
  config/routes.ts
  src/components/collapse-container/index.tsx
  src/locales/en-US/backends.ts
  src/locales/ja-JP/backends.ts
  src/locales/ru-RU/backends.ts
  src/locales/zh-CN/backends.ts
  src/pages/backends/components/add-modal.tsx
  src/pages/backends/components/backend-card.tsx
  src/pages/backends/components/version-info-modal.tsx
  src/pages/backends/components/view-builtin-versions-modal.tsx
  src/pages/backends/components/yaml-editor.tsx
  src/pages/backends/config/index.ts
  src/pages/backends/config/types.ts
  src/pages/backends/forms/basic.tsx
  src/pages/backends/forms/built-in-versions.tsx
  src/pages/backends/forms/index.tsx
  src/pages/backends/forms/parameters.tsx
  src/pages/backends/forms/version-info.tsx
  src/pages/backends/forms/versions-config.tsx
  src/pages/backends/index.tsx
  src/pages/cluster-management/components/support-gpus.tsx
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/components/update-modal.tsx
  src/pages/llmodels/config/backend-parameters/index.ts
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/hooks/use-query-backends.ts
  src/pages/resources/components/model-files.tsx
Due: npx tsx src/locales/check.ts

chore: model access statement
  src/components/auto-tooltip/index.tsx
  src/components/seal-form/multiple-select.tsx
  src/components/seal-form/simple-select.tsx
  src/pages/_components/select-panel/index.tsx
  src/pages/_components/select-panel/list.tsx
  src/pages/_components/select-panel/selected-list.tsx
  src/pages/_components/transfer.tsx
  src/pages/api-keys/components/add-apikey-modal/allow-models.tsx
  src/pages/api-keys/components/add-apikey-modal/form.tsx
  src/pages/api-keys/components/add-apikey-modal/index.tsx
  src/pages/api-keys/config/types.ts
  src/pages/api-keys/hooks/use-keys-columns.tsx
  src/pages/api-keys/index.tsx
  src/pages/llmodels/components/access-control-modal/form.tsx
  src/pages/llmodels/components/access-control-modal/index.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/config/button-actions.ts
  src/pages/llmodels/config/types.ts
Due: none

chore: update is_built_in
  src/pages/backends/components/add-modal.tsx
  src/pages/backends/components/backend-card.tsx
  src/pages/backends/config/types.ts
  src/pages/backends/forms/versions-config.tsx
Due: none

feat: worker terminal
  src/components/x-terminal/index.tsx
  src/pages/_components/terminal-tabs/footer.less
  src/pages/_components/terminal-tabs/index.tsx
  src/pages/_components/terminal-tabs/tabs.tsx
  src/pages/_components/terminal-tabs/types.ts
  src/pages/resources/components/workers.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

feat: add awq,gptq filter
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/search-model.tsx
Due: none

chore: deploy form context provider
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/components/advance-config.tsx
  src/pages/llmodels/components/data-form.tsx
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/hf-model-item.tsx
  src/pages/llmodels/components/performance.tsx
  src/pages/llmodels/components/search-model.tsx
  src/pages/llmodels/config/audio-catalog.ts
  src/pages/llmodels/config/form-context.ts
  src/pages/llmodels/config/utils.ts
  src/pages/llmodels/forms/local-path.tsx
  src/pages/llmodels/hooks/index.ts
  src/pages/llmodels/hooks/use-check-backend.ts
  src/pages/llmodels/hooks/use-recognize-audio.ts
  src/pages/llmodels/hooks/use-selector-change.ts
  src/pages/resources/components/model-files.tsx
Due: none

feat: dynamic backends
  src/atoms/models.ts
  src/components/seal-form/seal-textarea.tsx
  src/components/seal-form/wrapper/index.tsx
  src/components/seal-form/wrapper/input.ts
  src/components/seal-form/wrapper/select.ts
  src/pages/llmodels/apis/evaluateWorker.ts
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/components/advance-config.tsx
  src/pages/llmodels/components/data-form.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/components/update-modal.tsx
  src/pages/llmodels/config/form-context.ts
  src/pages/llmodels/config/index.ts
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/forms/backend-fields.tsx
  src/pages/llmodels/hooks/index.ts
  src/pages/llmodels/hooks/use-query-backends.ts
  src/pages/resources/components/model-files.tsx
Due: none

chore: update locales
  src/locales/en-US/apikeys.ts
  src/locales/en-US/models.ts
  src/locales/ja-JP/apikeys.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/apikeys.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/apikeys.ts
  src/locales/zh-CN/models.ts
  src/pages/_components/select-panel/index.tsx
  src/pages/_components/transfer.tsx
  src/pages/api-keys/components/add-apikey-modal/allow-models.tsx
  src/pages/api-keys/hooks/use-keys-columns.tsx
  src/pages/llmodels/components/access-control-modal/form.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/config/button-actions.ts
Due: npx tsx src/locales/check.ts

fix: my models
  src/components/icon-font/index.tsx
  src/components/seal-form/wrapper/index.tsx
  src/components/seal-form/wrapper/slider.ts
  src/locales/en-US/backends.ts
  src/locales/ja-JP/backends.ts
  src/locales/ru-RU/backends.ts
  src/locales/zh-CN/backends.ts
  src/pages/api-keys/components/add-apikey-modal/index.tsx
  src/pages/backends/forms/version-info.tsx
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/components/model-item.tsx
  src/pages/users/components/add-modal.tsx
  src/pages/users/index.tsx
Due: npx tsx src/locales/check.ts
