Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

.lintstagedrc:

{
  "*.{md,json}": ["prettier --cache --write"],
  "*.{js,jsx}": ["max lint --fix --eslint-only", "prettier --cache --write"],
  "*.{css,less}": [
    "max lint --fix --stylelint-only",
    "prettier --cache --write"
  ],
  "!public/vs/**": [],
  "*.ts?(x)": [
    "max lint --fix --eslint-only",
    "prettier --cache --parser=typescript --write"
  ],
  "src/locales/**/*.ts": ["npx tsx src/locales/check.ts"]
}

fix: update open playground btn
  src/assets/styles/common.less
  src/components/icon-font/index.tsx
  src/pages/_components/grafana-icon.tsx
  src/pages/backends/community/commnity-backends.tsx
  src/pages/cluster-management/config/index.ts
  src/pages/cluster-management/hooks/use-cluster-columns.tsx
  src/pages/llmodels/components/instance-item.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/components/update-modal.tsx
  src/pages/llmodels/config/button-actions.ts
  src/pages/llmodels/config/form-context.ts
  src/pages/llmodels/forms/advance-config.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/hooks/index.ts
  src/pages/llmodels/hooks/use-models-columns.tsx
  src/pages/resources/hooks/use-gpu-columns.tsx
  src/pages/resources/hooks/use-grafana-link.tsx
  src/pages/resources/hooks/use-worker-columns.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

chore: tts, stt meta
  src/locales/en-US/playground.ts
  src/locales/ja-JP/playground.ts
  src/locales/ru-RU/playground.ts
  src/locales/zh-CN/playground.ts
  src/pages/llmodels/hooks/use-check-backend.ts
  src/pages/playground/audio/form.tsx
  src/pages/playground/audio/params-config.ts
  src/pages/playground/components/ground-stt.tsx
  src/pages/playground/components/ground-tts.tsx
  src/pages/playground/config/index.ts
  src/pages/playground/config/languages.ts
Due: npx tsx src/locales/check.ts

fix: remove duplicate selected models
  src/components/seal-form/wrapper/select.ts
  src/pages/llmodels/hooks/index.ts
  src/pages/maas-provider/forms/advance-config.tsx
  src/pages/maas-provider/forms/basic.tsx
  src/pages/maas-provider/forms/model-item.tsx
  src/pages/maas-provider/forms/supported-models.tsx
  src/pages/model-routes/components/route-targets.tsx
Due: none

fix: ui issues
  src/components/seal-form/auto-complete.tsx
  src/components/seal-form/input-number.tsx
  src/components/seal-form/password.tsx
  src/components/seal-form/seal-cascader.tsx
  src/components/seal-form/seal-input.tsx
  src/components/seal-form/wrapper/select.ts
  src/hooks/use-table-fetch.ts
  src/locales/en-US/benchmark.ts
  src/locales/en-US/provider.ts
  src/locales/ja-JP/benchmark.ts
  src/locales/ja-JP/provider.ts
  src/locales/ru-RU/benchmark.ts
  src/locales/ru-RU/provider.ts
  src/locales/zh-CN/benchmark.ts
  src/locales/zh-CN/provider.ts
  src/pages/benchmark/components/right-actions.tsx
  src/pages/benchmark/components/row-actions.tsx
  src/pages/benchmark/forms/model-instance.tsx
  src/pages/benchmark/index.tsx
  src/pages/benchmark/services/use-export-benchmark.ts
  src/pages/cluster-management/components/volumes-config.tsx
  src/pages/maas-provider/components/provider-models.tsx
  src/pages/maas-provider/config/types.ts
  src/pages/maas-provider/forms/api-keys.tsx
  src/pages/maas-provider/forms/basic.tsx
  src/pages/maas-provider/forms/index.tsx
  src/pages/maas-provider/forms/model-item.tsx
  src/pages/maas-provider/forms/supported-models.tsx
  src/pages/maas-provider/hooks/use-query-provider-models.ts
  src/pages/model-routes/config/index.ts
  src/pages/model-routes/config/types.ts
  src/pages/model-routes/forms/targets.tsx
  src/pages/model-routes/hooks/use-access-control.ts
  src/pages/model-routes/hooks/use-create-route.ts
  src/pages/model-routes/index.tsx
Due: npx tsx src/locales/check.ts

chore: grafana entry
  config/proxy.ts
  src/atoms/system.ts
  src/pages/cluster-management/clusters.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/resources/components/workers.tsx
  src/pages/resources/hooks/use-grafana-link.tsx
Due: none

fix: benchmark issues
  src/locales/en-US/playground.ts
  src/locales/ja-JP/playground.ts
  src/locales/ru-RU/playground.ts
  src/pages/benchmark/components/add-benchmark-modal.tsx
  src/pages/benchmark/components/summary/basic.tsx
  src/pages/benchmark/components/summary/benchmark.tsx
  src/pages/benchmark/components/summary/instance.tsx
  src/pages/benchmark/components/summary/percentile-result.tsx
  src/pages/benchmark/config/detail-context.ts
  src/pages/benchmark/config/detail-types.ts
  src/pages/benchmark/config/form-context.ts
  src/pages/benchmark/config/index.ts
  src/pages/benchmark/details.tsx
  src/pages/benchmark/forms/basic.tsx
  src/pages/benchmark/forms/dataset.tsx
  src/pages/benchmark/forms/index.tsx
  src/pages/benchmark/forms/random-settings.tsx
  src/pages/benchmark/hooks/use-column-settings.tsx
  src/pages/benchmark/index.tsx
  src/pages/benchmark/services/use-query-profiles.ts
Due: npx tsx src/locales/check.ts

fix: stt languages sorting
  src/pages/benchmark/forms/dataset.tsx
  src/pages/playground/components/ground-stt.tsx
  src/pages/playground/components/token-usage.tsx
Due: none

fix: benchmark form data error in editing
  src/pages/benchmark/forms/model-instance.tsx
Due: none

chore: provider masked api-key
  src/pages/maas-provider/apis/index.ts
  src/pages/maas-provider/config/form-context.ts
  src/pages/maas-provider/config/types.ts
  src/pages/maas-provider/forms/index.tsx
  src/pages/maas-provider/forms/model-item.tsx
  src/pages/maas-provider/forms/supported-models.tsx
  src/pages/maas-provider/hooks/use-query-provider-models.ts
Due: none

fix: benchmark tooltip
  src/pages/benchmark/components/left-actions.tsx
  src/pages/benchmark/components/row-actions.tsx
  src/pages/benchmark/components/summary/instance.tsx
  src/pages/benchmark/forms/dataset.tsx
  src/pages/benchmark/hooks/use-benchmark-columns.tsx
  src/pages/benchmark/hooks/use-column-settings.tsx
  src/pages/benchmark/index.tsx
  src/pages/benchmark/services/use-export-benchmark.ts
  src/pages/benchmark/services/use-query-profiles.ts
Due: none

fix: benchmark tooltip issues
  src/components/page-tools/index.tsx
  src/locales/en-US/backends.ts
  src/locales/en-US/benchmark.ts
  src/locales/ja-JP/backends.ts
  src/locales/ja-JP/benchmark.ts
  src/locales/ru-RU/backends.ts
  src/locales/ru-RU/benchmark.ts
  src/locales/zh-CN/backends.ts
  src/locales/zh-CN/benchmark.ts
  src/pages/_components/column-settings.tsx
  src/pages/benchmark/components/summary/metrics-result.tsx
  src/pages/benchmark/hooks/use-benchmark-columns.tsx
  src/pages/benchmark/hooks/use-column-settings.tsx
  src/pages/maas-provider/forms/advance-config.tsx
Due: npx tsx src/locales/check.ts

fix: benchmark enviroment table
  src/hooks/use-table-fetch.ts
  src/pages/benchmark/components/environment/gpu-data.tsx
  src/pages/benchmark/components/environment/gpu-header.tsx
  src/pages/benchmark/components/environment/index.tsx
  src/pages/benchmark/components/environment/metadata.tsx
  src/pages/benchmark/components/environment/use-gpu-columns.tsx
  src/pages/benchmark/components/environment/use-worker-columns.tsx
  src/pages/benchmark/components/environment/worker-data.tsx
  src/pages/benchmark/components/summary/benchmark.tsx
  src/pages/benchmark/config/detail-types.ts
  src/pages/benchmark/hooks/use-column-settings.tsx
  src/pages/llmodels/catalog.tsx
Due: none

fix: env params incorrect after switching between vendors
  src/components/copy-button/index.tsx
  src/components/seal-form/password.tsx
  src/components/seal-form/wrapper/select.ts
  src/global.less
  src/pages/benchmark/components/environment/index.tsx
  src/pages/cluster-management/components/add-worker/select-vendor.tsx
  src/pages/maas-provider/forms/basic.tsx
  src/pages/resources/config/gpu-driver.ts
Due: prettier --cache --write, max lint --fix --stylelint-only

fix: success message in creation cluster
  src/atoms/clusters.ts
  src/pages/cluster-management/components/add-worker/add-worker-step.tsx
  src/pages/cluster-management/components/add-worker/added-message.tsx
  src/pages/cluster-management/components/footer-buttons.tsx
  src/pages/cluster-management/hooks/use-add-worker-message.ts
  src/pages/model-routes/forms/index.tsx
  src/pages/model-routes/forms/targets.tsx
Due: none

chore: add copy button for run command
  src/components/copy-button/index.tsx
  src/pages/backends/forms/version-info.tsx
Due: none

fix: deduplicate in select provider models and target models
  src/pages/maas-provider/forms/model-item.tsx
  src/pages/maas-provider/forms/supported-models.tsx
  src/pages/model-routes/components/route-targets.tsx
  src/pages/model-routes/forms/targets.tsx
  src/pages/model-routes/hooks/use-target-source-models.tsx
  src/pages/model-routes/index.tsx
Due: none

fix: verify same model selected
  src/locales/en-US/provider.ts
  src/locales/ja-JP/provider.ts
  src/locales/ru-RU/provider.ts
  src/locales/zh-CN/provider.ts
  src/pages/maas-provider/forms/model-item.tsx
  src/pages/maas-provider/forms/supported-models.tsx
Due: npx tsx src/locales/check.ts

chore: keep error message visiable on hover
  .nvmrc
  pnpm-lock.yaml
  src/request-config.tsx
Due: none

fix(style): error message toast
  src/components/copy-button/index.tsx
  src/pages/maas-provider/forms/model-item.tsx
  src/pages/maas-provider/forms/supported-models.tsx
  src/request-config.tsx
Due: none

fix: deduplicate models before submitting
  src/pages/maas-provider/forms/index.tsx
Due: none

fix: api_key format
  src/pages/maas-provider/config/types.ts
  src/pages/maas-provider/forms/index.tsx
  src/pages/maas-provider/index.tsx
Due: none

fix: target options miss deployment models
  src/locales/en-US/benchmark.ts
  src/locales/ja-JP/benchmark.ts
  src/locales/ru-RU/benchmark.ts
  src/locales/zh-CN/benchmark.ts
  src/pages/benchmark/components/summary/metrics-result.tsx
  src/pages/dashboard/components/active-table.tsx
  src/pages/model-routes/forms/targets.tsx
  src/pages/model-routes/hooks/use-target-source-models.tsx
Due: npx tsx src/locales/check.ts
