Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

style: login page dark style
  src/assets/images/noise-bg.svg
  src/assets/images/noise_texture.png
  src/components/echarts/config.ts
  src/pages/login/components/login-form.tsx
  src/pages/login/index.tsx
Due: none

fix: ignore the fields when compare data
  src/pages/llmodels/components/update-modal.tsx
  src/pages/llmodels/config/index.ts
  src/pages/playground/components/upload-img.tsx
Due: none

style: remove bg image in login
  src/components/logs-viewer/virtual-log-list.tsx
  src/pages/login/index.tsx
  src/pages/resources/components/model-files.tsx
Due: none

chore: catalog: scroll to load more data
  src/components/highlight-code/index.tsx
  src/config/theme/light.ts
  src/hooks/use-body-scroll.ts
  src/pages/llmodels/catalog.tsx
  src/pages/llmodels/components/catalog-list.tsx
  src/pages/llmodels/components/update-modal.tsx
  src/pages/llmodels/config/file-type.ts
  src/pages/playground/components/ground-embedding.tsx
Due: none

fix: fetch list page more than total page
  src/hooks/use-table-fetch.ts
  src/pages/llmodels/components/advance-config.tsx
  src/pages/llmodels/index.tsx
Due: none

chore: ollama deprecated tips
  src/components/alert-info/block.tsx
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/catalog.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/ollama-tips.tsx
  src/pages/llmodels/download/target-form.tsx
Due: npx tsx src/locales/check.ts

chore: add some arguments for mindie
  src/pages/llmodels/config/mindie-config.ts
Due: none

style: login modal
  src/components/footer/index.tsx
  src/constants/external-links.ts
  src/global.less
  src/locales/en-US/common.ts
  src/locales/ja-JP/common.ts
  src/locales/ru-RU/common.ts
  src/locales/zh-CN/common.ts
  src/pages/login/components/login-form.tsx
  src/pages/login/components/password-form.tsx
  src/pages/login/index.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

chore: update iconfont files
  src/components/icon-font/iconfont/iconfont.css
  src/components/icon-font/iconfont/iconfont.js
  src/components/icon-font/iconfont/iconfont.json
  src/components/icon-font/iconfont/iconfont.ttf
  src/components/icon-font/iconfont/iconfont.woff
  src/components/icon-font/iconfont/iconfont.woff2
  src/components/icon-font/index.tsx
  src/pages/llmodels/config/button-actions.ts
Due: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only

fix: wrong header content-type for curl tts
  src/components/audio-player/index.less
  src/components/echarts/scatter.tsx
  src/pages/playground/components/ground-reranker.tsx
  src/pages/playground/view-code/audio.ts
Due: prettier --cache --write, max lint --fix --stylelint-only

fix: remove all the slashes at the end
  src/pages/llmodels/download/target-form.tsx
Due: none

Update models.ts
  src/locales/ru-RU/models.ts
Due: npx tsx src/locales/check.ts

Update common.ts
  src/locales/ru-RU/common.ts
Due: npx tsx src/locales/check.ts

fix: message format with imgs, downloading table style
  src/components/buttons/more.tsx
  src/components/simple-table/index.less
  src/global.less
  src/pages/llmodels/catalog.tsx
  src/pages/llmodels/components/instance-item.tsx
  src/pages/llmodels/config/llama-config.ts
  src/pages/playground/config/index.ts
Due: prettier --cache --write, max lint --fix --stylelint-only

fix: avoid sending all files when evaluating
  src/components/simple-overlay/index.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/hf-model-file.tsx
  src/pages/llmodels/config/llama-config.ts
Due: none

fix: remove evaluating for files
  src/pages/llmodels/components/hf-model-file.tsx
Due: none

fix: add version holder for backend
  src/components/simple-table/index.less
  src/components/simple-table/index.tsx
  src/locales/en-US/common.ts
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/common.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/catalog.tsx
  src/pages/llmodels/components/advance-config.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/instance-item.tsx
  src/pages/llmodels/components/search-model.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix(style): downloading popover
  src/components/echarts/config.ts
  src/pages/llmodels/components/advance-config.tsx
  src/pages/llmodels/components/instance-item.tsx
Due: none

fix: remember me not worke in login
  src/pages/login/components/login-form.tsx
Due: none

fix: stop thinking when loading end
  src/pages/playground/components/multiple-chat/content-item.tsx
  src/pages/playground/components/multiple-chat/message-body.tsx
Due: none

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  npx tsx src/locales/check.ts: any of: src/locales/**/*.ts
