Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

.lintstagedrc:

{
  "*.{md,json}": ["prettier --cache --write"],
  "*.{js,jsx}": ["max lint --fix --eslint-only", "prettier --cache --write"],
  "*.{css,less}": [
    "max lint --fix --stylelint-only",
    "prettier --cache --write"
  ],
  "!public/vs/**": [],
  "*.ts?(x)": [
    "max lint --fix --eslint-only",
    "prettier --cache --parser=typescript --write"
  ],
  "src/locales/**/*.ts": ["npx tsx src/locales/check.ts"]
}

feat(usage): use StatusDot for event type column
  src/pages/usage/events-tab/index.tsx
Due: none

chore(llmodels): fix createTime column width, tidy imports
  src/pages/llmodels/hooks/use-models-columns.tsx
Due: none

refactor(tags): use TextAttribute/ThemeTag, drop redundant fit-content
  CLAUDE.md
  src/pages/_components/model-tag.tsx
  src/pages/api-keys/hooks/use-keys-columns.tsx
  src/pages/gpu-service/storage-types/hooks/use-storage-type-columns.tsx
Due: prettier --cache --write

feat(login): add CAPTCHA to local login form
  src/locales/en-US/common.ts
  src/locales/ja-JP/common.ts
  src/locales/ru-RU/common.ts
  src/locales/tr-TR/common.ts
  src/locales/zh-CN/common.ts
  src/pages/login/apis/index.ts
  src/pages/login/components/local-user-form.tsx
  src/pages/login/components/login-form.tsx
  src/pages/login/hooks/use-captcha.ts
  src/pages/login/hooks/use-local-auth.ts
  src/pages/login/hooks/use-sso-auth.ts
Due: npx tsx src/locales/check.ts

fix(login): prevent stale CAPTCHA audio updates
  src/pages/login/components/local-user-form.tsx
  src/pages/login/hooks/use-captcha.ts
Due: none

chore: bump @gpustack/core-ui to v1.0.40
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

feat(workers): add tooltip hint on VRAM index, merge index+bar trigger
  src/pages/resources/hooks/use-worker-columns.tsx
Due: none

style: adjust table row bg/height, container color, auto table layout
  src/config/theme/light.ts
  src/global.less
  src/pages/resources/components/workers.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

refactor: rename gpu-usage-cell to dual-arc-gauge, refine colors
  src/pages/_components/dual-arc-gauge/index.tsx
Due: none

feat: add GpuUsageCell component
  src/pages/_components/gpu-usage-cell/index.tsx
Due: none

feat(access-control): render principals Add button in host holder slot
  src/pages/llmodels/components/access-control-modal/form.tsx
  src/pages/llmodels/components/access-control-modal/index.tsx
Due: none

style(backends): elevate community card and version title backgrounds
  src/pages/backends/community/commnity-backends.tsx
  src/pages/backends/forms/versions-config.tsx
Due: none

feat(maas-provider): allow clearing the model AutoComplete
  src/pages/maas-provider/forms/model-item.tsx
Due: none

style(alert): tighten with-description padding, icon size, and title line-height
  src/assets/styles/alert.less
  src/assets/styles/common.less
  src/config/theme/dark.ts
  src/config/theme/light.ts
Due: prettier --cache --write, max lint --fix --stylelint-only

feat(billing): on-card charge/pay badge slots for models & instance types
  src/pages/gpu-service/instances/components/instance-type-item.tsx
  src/pages/gpu-service/instances/components/instance-type-list.tsx
  src/pages/llmodels/components/model-item.tsx
  src/pages/llmodels/user-models.tsx
Due: none

chore: bump @gpustack/core-ui to v1.0.41
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

feat(llmodels): use CardRadioGroup for access scope selection
  src/pages/llmodels/components/access-control-modal/form.tsx
Due: none

chore(theme): add Card headerHeight token
  src/config/theme/light.ts
Due: none

chore: bump @gpustack/core-ui to v1.0.42
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

style(cluster): cell width
  src/pages/cluster-management/hooks/use-cluster-columns.tsx
Due: none

feat(gpu-service): support sliced (by-ratio) GPU instances and PV status
  .claude/skills/form-patterns/SKILL.md
  src/locales/en-US/gpuservice.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/zh-CN/gpuservice.ts
  src/pages/_components/number-selection/index.tsx
  src/pages/_components/number-selection/styles.less
  src/pages/gpu-service/instances/components/instance-type-item.tsx
  src/pages/gpu-service/instances/config/index.ts
  src/pages/gpu-service/instances/config/types.ts
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/instance-type.tsx
  src/pages/gpu-service/instances/services/use-query-instance-types.ts
  src/pages/gpu-service/instances/utils/render-instance-type.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix(style): instance type card height
  src/pages/gpu-service/instances/components/instance-type-item.tsx
  src/pages/gpu-service/instances/components/instance-type-list.tsx
  src/pages/gpu-service/instances/styles/instances.module.less
Due: prettier --cache --write, max lint --fix --stylelint-only
