Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix: draft download progress should not show
  src/pages/llmodels/components/instance-item.tsx
Due: none

fix: algorithm options do not display
  src/pages/llmodels/forms/speculative-decode.tsx
Due: none

fix: kv cache default value
  src/pages/llmodels/forms/kv-cache.tsx
Due: none

fix: catalog kv cache
  src/pages/llmodels/forms/kv-cache.tsx
Due: none

fix: draft model local path do not search
  src/pages/llmodels/config/index.ts
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/forms/kv-cache.tsx
  src/pages/llmodels/forms/speculative-decode.tsx
  src/pages/llmodels/hooks/use-query-draftModels.ts
Due: none

chore: update add worker command
  src/pages/cluster-management/components/add-worker-command.tsx
  src/pages/cluster-management/components/add-worker-step.tsx
  src/pages/cluster-management/components/support-gpus.tsx
  src/pages/llmodels/config/test.ts
  src/pages/resources/config/gpu-driver.ts
  src/pages/resources/config/index.ts
Due: none

fix: custom backend and versions ux
  src/atoms/models.ts
  src/locales/en-US/backends.ts
  src/locales/ja-JP/backends.ts
  src/locales/ru-RU/backends.ts
  src/locales/zh-CN/backends.ts
  src/pages/backends/components/add-modal.tsx
  src/pages/backends/components/import-yaml.tsx
  src/pages/backends/config/index.ts
  src/pages/backends/config/schema/create.json
  src/pages/backends/forms/basic.tsx
  src/pages/backends/forms/index.tsx
  src/pages/backends/forms/versions-config.tsx
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/forms/advance-config.tsx
  src/pages/llmodels/forms/backend.tsx
  src/pages/llmodels/forms/basic.tsx
  src/pages/llmodels/forms/custom-backend.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/hooks/use-query-backends.ts
Due: prettier --cache --write, npx tsx src/locales/check.ts

chore: add worker notes
  src/components/seal-form/seal-cascader.tsx
  src/locales/en-US/clusters.ts
  src/locales/en-US/common.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ja-JP/common.ts
  src/locales/ru-RU/clusters.ts
  src/locales/ru-RU/common.ts
  src/locales/zh-CN/clusters.ts
  src/locales/zh-CN/common.ts
  src/pages/cluster-management/components/add-worker-step.tsx
  src/pages/cluster-management/components/support-gpus.tsx
  src/pages/llmodels/forms/advance-config.tsx
  src/pages/llmodels/forms/basic.tsx
  src/pages/llmodels/forms/schedule-type.tsx
  src/pages/resources/config/gpu-driver.ts
Due: npx tsx src/locales/check.ts

fix: do not show draft model downloading progress
  src/pages/cluster-management/components/add-worker-step.tsx
  src/pages/llmodels/components/instance-item.tsx
Due: none

fix: backend option format
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/forms/backend.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/forms/kv-cache.tsx
  src/pages/llmodels/hooks/use-query-backends.ts
Due: none

feat: add constants config
  src/config/constants.ts
Due: none

fix: distributed_inference always display
  src/pages/llmodels/forms/advance-config.tsx
  src/pages/llmodels/forms/index.tsx
Due: none

fix(style): do not display draft model after done
  src/layouts/sider-menu.tsx
  src/pages/_components/no-result.tsx
  src/pages/llmodels/components/instance-item.tsx
Due: none

fix: tts request content-type
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/components/instance-item.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/forms/kv-cache.tsx
  src/pages/llmodels/forms/speculative-decode.tsx
  src/pages/playground/apis/index.ts
Due: npx tsx src/locales/check.ts

Update backends.ts
  src/locales/ru-RU/backends.ts
Due: npx tsx src/locales/check.ts

Update clusters.ts
  src/locales/ru-RU/clusters.ts
Due: npx tsx src/locales/check.ts

Update models.ts
  src/locales/ru-RU/models.ts
Due: npx tsx src/locales/check.ts

Update resources.ts
  src/locales/ru-RU/resources.ts
Due: npx tsx src/locales/check.ts

fix: chat stream data too long
  src/components/label-selector/index.tsx
  src/components/label-selector/label-item.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/search-model.tsx
  src/pages/users/apis/index.ts
  src/pages/users/hooks/use-users-columns.tsx
  src/utils/fetch-chunk-data.ts
Due: none

fix: do not paste multiple lines
  src/components/icon-font/icons.ts
  src/components/icon-font/index.tsx
  src/components/label-selector/index.tsx
  src/locales/en-US/models.ts
  src/locales/en-US/users.ts
  src/locales/ja-JP/users.ts
  src/locales/ru-RU/users.ts
  src/locales/zh-CN/users.ts
  src/pages/llmodels/components/instance-item.tsx
  src/pages/llmodels/forms/advance-config.tsx
  src/pages/llmodels/forms/backend.tsx
  src/pages/users/hooks/use-users-columns.tsx
  src/pages/users/index.tsx
Due: npx tsx src/locales/check.ts

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  npx tsx src/locales/check.ts: any of: src/locales/**/*.ts
