Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

.lintstagedrc:

{
  "*.{md,json}": ["prettier --cache --write"],
  "*.{js,jsx}": ["max lint --fix --eslint-only", "prettier --cache --write"],
  "*.{css,less}": [
    "max lint --fix --stylelint-only",
    "prettier --cache --write"
  ],
  "*.ts?(x)": [
    "max lint --fix --eslint-only",
    "prettier --cache --parser=typescript --write"
  ],
  "src/locales/**/*.ts": ["npx tsx src/locales/check.ts"]
}

chore: show existing when add file
  package.json
  pnpm-lock.yaml
  src/components/overlay-scroller/index.tsx
  src/config/index.ts
  src/locales/en-US/resources.ts
  src/locales/ja-JP/resources.ts
  src/locales/ru-RU/resources.ts
  src/locales/zh-CN/resources.ts
  src/locales/zh-CN/users.ts
  src/pages/_components/select-panel/index.tsx
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/components/gpu-card.tsx
  src/pages/llmodels/components/model-item.tsx
  src/pages/llmodels/components/model-tag.tsx
  src/pages/llmodels/download/index.tsx
  src/pages/llmodels/download/target-form.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/forms/local-path-source.tsx
  src/pages/llmodels/forms/schedule-type.tsx
  src/pages/llmodels/hooks/index.ts
  src/pages/llmodels/hooks/use-form-initial-values.ts
  src/pages/resources/components/model-files.tsx
  src/pages/resources/hooks/use-files-columns.tsx
  src/pages/users/components/add-modal.tsx
  src/pages/users/hooks/use-users-columns.tsx
Due: prettier --cache --write, npx tsx src/locales/check.ts

feat: add speculative decoding
  src/assets/styles/common.less
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/catalog.tsx
  src/pages/llmodels/components/catalog-item.tsx
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/config/form-context.ts
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/forms/advance-config.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/forms/kv-cache.tsx
  src/pages/llmodels/forms/performance.tsx
  src/pages/llmodels/forms/speculative-decode.tsx
  src/pages/llmodels/style/catalog-item.less
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix: backend change
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/config/form-context.ts
  src/pages/llmodels/forms/performance.tsx
Due: none

fix: fake spec data
  src/pages/llmodels/apis/index.ts
Due: none

fix: default spec by mode
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/config/form-context.ts
  src/pages/llmodels/config/test.ts
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/forms/performance.tsx
Due: none

chore: update models locales
  src/components/auto-tooltip/index.tsx
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/components/catalog-item.tsx
  src/pages/llmodels/forms/performance.tsx
  src/pages/llmodels/forms/speculative-decode.tsx
Due: npx tsx src/locales/check.ts

fix: default spec by mode
  src/locales/en-US/models.ts
  src/locales/zh-CN/models.ts
Due: npx tsx src/locales/check.ts

chore: update locales
  src/locales/zh-CN/models.ts
Due: npx tsx src/locales/check.ts

style: styles
  src/components/delete-modal/index.tsx
  src/locales/en-US/models.ts
Due: npx tsx src/locales/check.ts

chore: update reference to baseline
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/forms/performance.tsx
Due: npx tsx src/locales/check.ts

fix: admin can not delete own
  src/assets/styles/common.less
  src/hooks/use-table-row-selection.ts
  src/locales/en-US/resources.ts
  src/locales/ja-JP/resources.ts
  src/locales/ru-RU/resources.ts
  src/locales/zh-CN/resources.ts
  src/pages/api-keys/components/add-apikey-modal/allow-models.tsx
  src/pages/llmodels/components/access-control-modal/form.tsx
  src/pages/llmodels/download/target-form.tsx
  src/pages/resources/components/model-files.tsx
  src/pages/users/hooks/use-users-columns.tsx
  src/pages/users/index.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix: skip error handler in root path
  src/app.tsx
Due: none

fix(style): add backend
  src/components/seal-form/seal-textarea.tsx
  src/locales/en-US/common.ts
  src/locales/ja-JP/common.ts
  src/locales/ru-RU/common.ts
  src/locales/zh-CN/common.ts
  src/pages/backends/components/add-modal.tsx
  src/pages/backends/components/import-yaml.tsx
  src/pages/backends/config/index.ts
  src/pages/backends/forms/basic.tsx
  src/pages/backends/forms/versions-config.tsx
  src/pages/llmodels/components/model-item.tsx
Due: npx tsx src/locales/check.ts

fix: no backend options from model files
  src/pages/llmodels/components/deploy-modal.tsx
Due: none

fix: my models status
  src/app.tsx
  src/components/tags-wrapper/index.tsx
  src/locales/en-US/common.ts
  src/locales/en-US/models.ts
  src/locales/ja-JP/common.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/common.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/common.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/components/model-item.tsx
  src/pages/llmodels/config/index.ts
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/forms/kv-cache.tsx
  src/pages/llmodels/user-models.tsx
Due: npx tsx src/locales/check.ts

fix: miss cluster id in evaluation
  src/pages/backends/config/schema/update-builtin.json
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/update-modal.tsx
  src/pages/llmodels/forms/backend.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/forms/local-path-source.tsx
Due: prettier --cache --write

fix: expand model after edting replicas
  src/components/seal-table/components/cell-content.tsx
  src/components/seal-table/components/table-cell.tsx
  src/components/seal-table/row-context.ts
  src/pages/llmodels/components/table-list.tsx
  src/pages/users/components/add-modal.tsx
Due: none

fix: kv cache support in builtin backend
  config/routes.ts
  src/atoms/models.ts
  src/components/seal-form/checkbox-field.tsx
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/backends/components/import-yaml.tsx
  src/pages/backends/config/index.ts
  src/pages/backends/config/schema/update-builtin.json
  src/pages/llmodels/config/backend-parameters/index.ts
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/forms/kv-cache.tsx
  src/pages/llmodels/hooks/use-query-backends.ts
Due: prettier --cache --write, npx tsx src/locales/check.ts

chore: scheduling group
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/forms/advance-config.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/forms/schedule-type.tsx
Due: npx tsx src/locales/check.ts

fix: built-in backend versions endwith -custom
  src/locales/en-US/backends.ts
  src/locales/en-US/models.ts
  src/locales/ja-JP/backends.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/backends.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/backends.ts
  src/locales/zh-CN/models.ts
  src/locales/zh-CN/resources.ts
  src/pages/backends/components/add-modal.tsx
  src/pages/backends/components/import-yaml.tsx
  src/pages/backends/config/schema/update-builtin.json
  src/pages/backends/forms/versions-config.tsx
  src/pages/llmodels/forms/backend.tsx
  src/pages/llmodels/forms/index.tsx
Due: prettier --cache --write, npx tsx src/locales/check.ts

fix: gpu selector issues
  src/components/seal-form/seal-cascader.tsx
  src/pages/llmodels/components/gpu-card.tsx
  src/pages/llmodels/config/form-context.ts
  src/pages/llmodels/forms/backend.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/forms/online-source.tsx
  src/pages/llmodels/forms/schedule-type.tsx
Due: none

fix: adjust gpus_per_replicas ux
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/config/form-context.ts
  src/pages/llmodels/config/index.ts
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/config/utils.ts
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/forms/kv-cache.tsx
  src/pages/llmodels/forms/schedule-type.tsx
  src/pages/llmodels/hooks/index.ts
  src/pages/llmodels/hooks/use-form-initial-values.ts
Due: none

chore: update --token
  src/pages/resources/config/index.ts
Due: none

fix: replicas trigger compatibility
  src/pages/llmodels/components/update-modal.tsx
  src/pages/llmodels/config/index.ts
  src/pages/llmodels/forms/index.tsx
Due: none

feat: add sglang parameters
  src/pages/llmodels/config/backend-parameters/index.ts
  src/pages/llmodels/config/backend-parameters/llama.ts
  src/pages/llmodels/config/backend-parameters/mindie.ts
  src/pages/llmodels/config/backend-parameters/sglang.ts
  src/pages/llmodels/config/backend-parameters/vllm.ts
  src/pages/llmodels/config/index.ts
  src/pages/llmodels/forms/advance-config.tsx
  src/pages/llmodels/forms/backend.tsx
Due: none
