Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

.lintstagedrc:

{
  "*.{md,json}": ["prettier --cache --write"],
  "*.{js,jsx}": ["max lint --fix --eslint-only", "prettier --cache --write"],
  "*.{css,less}": [
    "max lint --fix --stylelint-only",
    "prettier --cache --write"
  ],
  "*.ts?(x)": [
    "max lint --fix --eslint-only",
    "prettier --cache --parser=typescript --write"
  ],
  "src/locales/**/*.ts": ["npx tsx src/locales/check.ts"]
}

style: framework options
  src/components/label-selector/label-item.tsx
  src/components/seal-form/seal-input.tsx
  src/config/global.d.ts
  src/locales/en-US/backends.ts
  src/locales/en-US/models.ts
  src/locales/ja-JP/backends.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/backends.ts
  src/locales/zh-CN/backends.ts
  src/pages/backends/config/index.ts
  src/pages/backends/forms/basic.tsx
  src/pages/backends/forms/versions-config.tsx
  src/pages/resources/config/gpu-driver.ts
Due: npx tsx src/locales/check.ts

style: deploy modal message cover the content
  src/components/logs-viewer/use-size.ts
  src/pages/_components/column-wrapper/index.tsx
  src/pages/backends/config/index.ts
  src/pages/backends/forms/basic.tsx
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/update-modal.tsx
  src/pages/llmodels/download/index.tsx
  src/pages/llmodels/forms/custom-backend.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/hooks/use-field-scroll.ts
  src/pages/playground/config/params-config.ts
  src/pages/playground/style/ground-left.less
Due: prettier --cache --write, max lint --fix --stylelint-only

fix(style): fix some styles
  src/pages/llmodels/components/compatible-alert.tsx
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/forms/index.tsx
Due: none

style: adjust ram prcision
  src/layouts/extraRender.tsx
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/dashboard/components/resource-utilization.tsx
  src/pages/dashboard/components/system-load.tsx
  src/pages/llmodels/catalog.tsx
  src/pages/llmodels/components/scaling.tsx
  src/pages/llmodels/forms/basic.tsx
  src/pages/llmodels/forms/kv-cache.tsx
Due: npx tsx src/locales/check.ts

fix: add worker token do not update
  src/pages/_components/command-viewer/index.tsx
  src/pages/cluster-management/clusters.tsx
  src/pages/cluster-management/components/add-worker/index.tsx
  src/pages/llmodels/components/api-access-info.tsx
  src/pages/llmodels/forms/kv-cache.tsx
  src/pages/llmodels/hooks/use-generic-proxy.tsx
  src/pages/playground/view-code/audio.ts
  src/pages/playground/view-code/embedding.ts
  src/pages/playground/view-code/image.ts
  src/pages/playground/view-code/llm.ts
  src/pages/playground/view-code/rerank.ts
Due: none

style: adjust some ui statements
  src/locales/en-US/backends.ts
  src/locales/ja-JP/backends.ts
  src/locales/ru-RU/backends.ts
  src/locales/zh-CN/backends.ts
  src/pages/backends/config/index.ts
  src/pages/backends/forms/basic.tsx
  src/pages/cluster-management/config/providers.ts
  src/pages/llmodels/config/backend-parameters/index.ts
  src/pages/llmodels/config/index.ts
  src/pages/llmodels/forms/backend.tsx
  src/pages/llmodels/forms/custom-backend.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/forms/kv-cache.tsx
  src/pages/llmodels/forms/speculative-decode.tsx
  src/pages/llmodels/hooks/use-generic-proxy.tsx
Due: npx tsx src/locales/check.ts

fix: api info example
  src/locales/en-US/common.ts
  src/locales/ja-JP/common.ts
  src/locales/ru-RU/common.ts
  src/locales/zh-CN/common.ts
  src/pages/llmodels/components/api-access-info.tsx
  src/pages/llmodels/hooks/use-generic-proxy.tsx
  src/pages/playground/view-code/audio.ts
Due: npx tsx src/locales/check.ts

style: example code title
  src/components/segment-line/index.tsx
  src/pages/_components/command-viewer/index.tsx
  src/pages/llmodels/hooks/use-generic-proxy.tsx
Due: none

chore: consistent UI statement
  src/config/global.d.ts
  src/locales/en-US/apikeys.ts
  src/locales/en-US/backends.ts
  src/locales/en-US/clusters.ts
  src/locales/en-US/resources.ts
  src/locales/en-US/usage.ts
  src/locales/en-US/users.ts
  src/locales/ja-JP/backends.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ja-JP/resources.ts
  src/pages/llmodels/config/button-actions.ts
Due: npx tsx src/locales/check.ts

fix: sglang enable across worker
  src/components/seal-form/seal-select.tsx
  src/locales/zh-CN/apikeys.ts
  src/locales/zh-CN/users.ts
  src/pages/cluster-management/cluster-create.tsx
  src/pages/cluster-management/components/add-worker/index.tsx
  src/pages/llmodels/forms/advance-config.tsx
  src/pages/llmodels/forms/backend.tsx
Due: npx tsx src/locales/check.ts

chore: v1 to v2
  config/proxy.ts
  src/config/settings.ts
  src/hooks/use-chunk-fetch.ts
  src/pages/llmodels/components/api-access-info.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/playground/apis/index.ts
  src/pages/playground/components/ground-reranker.tsx
  src/pages/playground/view-code/audio.ts
  src/pages/playground/view-code/embedding.ts
  src/pages/playground/view-code/image.ts
  src/pages/playground/view-code/llm.ts
  src/request-config.ts
Due: none

fix: rerank api prefix
  src/pages/playground/apis/index.ts
  src/pages/playground/components/ground-reranker.tsx
Due: none

fix(style): gpu_selector position
  src/pages/_components/column-wrapper/index.tsx
  src/pages/_components/column-wrapper/use-wrapper-context.ts
  src/pages/llmodels/components/api-access-info.tsx
  src/pages/llmodels/forms/schedule-type.tsx
  src/request-config.ts
Due: none

style: adjust some styles
  src/global.less
  src/locales/en-US/models.ts
  src/locales/en-US/resources.ts
  src/locales/en-US/users.ts
  src/locales/ja-JP/models.ts
  src/locales/ja-JP/users.ts
  src/locales/ru-RU/models.ts
  src/locales/ru-RU/users.ts
  src/locales/zh-CN/clusters.ts
  src/locales/zh-CN/models.ts
  src/locales/zh-CN/playground.ts
  src/locales/zh-CN/resources.ts
  src/locales/zh-CN/users.ts
  src/pages/backends/forms/basic.tsx
  src/pages/backends/forms/version-info.tsx
  src/pages/cluster-management/cluster-create.tsx
  src/pages/cluster-management/components/add-worker/index.tsx
  src/pages/cluster-management/components/provider-catalog.tsx
  src/pages/llmodels/components/access-control-modal/form.tsx
  src/pages/llmodels/components/access-control-modal/index.tsx
  src/pages/llmodels/components/api-access-info.tsx
  src/pages/llmodels/config/button-actions.ts
  src/pages/llmodels/config/index.ts
  src/pages/llmodels/forms/backend-parameters-list.tsx
  src/pages/llmodels/forms/backend.tsx
  src/pages/llmodels/user-models.tsx
  src/pages/playground/components/ground-left.tsx
  src/pages/playground/components/multiple-chat/index.tsx
  src/pages/playground/style/multiple-chat.less
  src/pages/resources/hooks/use-files-columns.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix: modelscope api incorrect
  src/pages/_components/infinite-scroller/index.tsx
  src/pages/_components/infinite-scroller/use-infinite-scroll.ts
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/catalog.tsx
  src/pages/llmodels/components/api-access-info.tsx
Due: none

chore: reset the primary color after logout
  src/atoms/settings.ts
  src/atoms/utils/index.ts
  src/components/echarts/chart.tsx
  src/components/echarts/config.ts
  src/config/theme/dark.ts
  src/config/theme/index.ts
  src/config/theme/light.ts
  src/hooks/use-body-scroll.ts
  src/pages/llmodels/config/backend-parameters/mindie.ts
  src/pages/login/apis/index.ts
  src/pages/profile/components/appearance.tsx
Due: none

style: table header text-overflow
  src/components/seal-table/components/table-header.tsx
  src/pages/resources/hooks/use-files-columns.tsx
Due: none

chore: access setting notes
  src/layouts/extraRender.tsx
  src/layouts/index.tsx
  src/locales/en-US/models.ts
  src/locales/en-US/playground.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/api-keys/components/add-apikey-modal/allow-models.tsx
  src/pages/api-keys/components/add-apikey-modal/form.tsx
  src/pages/api-keys/components/add-apikey-modal/index.tsx
  src/pages/cluster-management/cluster-create.tsx
  src/pages/cluster-management/components/add-worker/index.tsx
  src/pages/llmodels/components/access-control-modal/form.tsx
  src/pages/llmodels/components/access-control-modal/index.tsx
  src/pages/llmodels/forms/schedule-type.tsx
Due: npx tsx src/locales/check.ts

fix: apikey form value diff
  src/pages/api-keys/components/add-apikey-modal/allow-models.tsx
  src/pages/api-keys/components/add-apikey-modal/index.tsx
  src/pages/llmodels/components/access-control-modal/index.tsx
Due: none

Translate health check command tips to Russian
  src/locales/ru-RU/backends.ts
Due: npx tsx src/locales/check.ts

Translate common phrases to Russian
  src/locales/ru-RU/common.ts
Due: npx tsx src/locales/check.ts
