Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

.lintstagedrc:

{
  "*.{md,json}": ["prettier --cache --write"],
  "*.{js,jsx}": ["max lint --fix --eslint-only", "prettier --cache --write"],
  "*.{css,less}": [
    "max lint --fix --stylelint-only",
    "prettier --cache --write"
  ],
  "!public/vs/**": [],
  "*.ts?(x)": [
    "max lint --fix --eslint-only",
    "prettier --cache --parser=typescript --write"
  ],
  "src/locales/**/*.ts": ["npx tsx src/locales/check.ts"]
}

chore: remove advanced toggle in image
  src/pages/playground/components/ground-images.tsx
  src/pages/playground/components/image-edit.tsx
  src/pages/playground/config/params-config.ts
Due: none

fix: tts viewcode params
  src/pages/playground/audio/form.tsx
  src/pages/playground/components/dynamic-params.tsx
  src/pages/playground/components/ground-tts.tsx
  src/pages/playground/config/form-context.ts
Due: none

chore: upload a ref audio
  src/components/upload-audio/index.tsx
  src/locales/en-US/playground.ts
  src/locales/ja-JP/playground.ts
  src/locales/ru-RU/playground.ts
  src/locales/zh-CN/playground.ts
  src/pages/playground/audio/form.tsx
  src/pages/playground/audio/params-config.ts
  src/pages/playground/components/dynamic-params.tsx
  src/pages/playground/components/ground-tts.tsx
  src/pages/playground/config/form-context.ts
  src/pages/playground/config/params-config.ts
  src/utils/load-audio-file.ts
Due: npx tsx src/locales/check.ts

fix: miss default name in deploy
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/playground/audio/form.tsx
  src/pages/playground/audio/params-config.ts
Due: none

fix: tts default params
  src/locales/en-US/playground.ts
  src/locales/ja-JP/playground.ts
  src/locales/ru-RU/playground.ts
  src/locales/zh-CN/playground.ts
  src/pages/playground/audio/params-config.ts
  src/pages/playground/components/ground-tts.tsx
Due: npx tsx src/locales/check.ts

feat: add ref_text, x_vector_only_mode
  src/locales/en-US/playground.ts
  src/locales/ja-JP/playground.ts
  src/locales/ru-RU/playground.ts
  src/locales/zh-CN/playground.ts
  src/pages/playground/audio/form.tsx
Due: npx tsx src/locales/check.ts

chore: benchmark detail locales
  src/components/icon-font/index.tsx
  src/locales/en-US/benchmark.ts
  src/locales/en-US/resources.ts
  src/locales/ja-JP/benchmark.ts
  src/locales/ja-JP/resources.ts
  src/locales/ru-RU/benchmark.ts
  src/locales/ru-RU/resources.ts
  src/locales/zh-CN/benchmark.ts
  src/locales/zh-CN/resources.ts
  src/pages/benchmark/components/environment/index.tsx
  src/pages/benchmark/components/left-actions.tsx
  src/pages/benchmark/components/right-actions.tsx
  src/pages/benchmark/components/summary/benchmark.tsx
  src/pages/benchmark/components/summary/index.tsx
  src/pages/benchmark/components/summary/instance.tsx
  src/pages/benchmark/components/summary/metrics-result.tsx
  src/pages/benchmark/components/summary/percentile-result.tsx
  src/pages/benchmark/config/index.ts
  src/pages/benchmark/forms/dataset.tsx
  src/pages/benchmark/index.tsx
  src/pages/benchmark/services/use-query-profiles.ts
  src/pages/llmodels/components/catalog-item.tsx
  src/pages/resources/hooks/use-gpu-columns.tsx
Due: npx tsx src/locales/check.ts

chore: column settings
  src/components/seal-form/simple-select.tsx
  src/locales/en-US/benchmark.ts
  src/locales/en-US/common.ts
  src/locales/ja-JP/benchmark.ts
  src/locales/ja-JP/common.ts
  src/locales/ru-RU/benchmark.ts
  src/locales/ru-RU/common.ts
  src/locales/zh-CN/benchmark.ts
  src/locales/zh-CN/common.ts
  src/pages/_components/column-settings.tsx
  src/pages/benchmark/components/summary/metrics-result.tsx
  src/pages/benchmark/hooks/use-benchmark-columns.tsx
  src/pages/benchmark/hooks/use-column-settings.tsx
  src/pages/benchmark/index.tsx
  src/pages/login/index.tsx
  src/utils/localstore/index.ts
Due: npx tsx src/locales/check.ts

feat: benchmark detail actions
  src/pages/benchmark/components/add-benchmark-modal.tsx
  src/pages/benchmark/components/detail-content.tsx
  src/pages/benchmark/components/fade-in.less
  src/pages/benchmark/components/fade-in.tsx
  src/pages/benchmark/components/row-actions.tsx
  src/pages/benchmark/components/summary/instance.tsx
  src/pages/benchmark/details.tsx
  src/pages/benchmark/forms/basic.tsx
  src/pages/benchmark/forms/index.tsx
  src/pages/benchmark/hooks/use-column-settings.tsx
  src/pages/benchmark/index.tsx
  src/pages/benchmark/services/use-query-benchmarks.ts
Due: prettier --cache --write, max lint --fix --stylelint-only

style: column setting sub title
  src/pages/_components/column-settings.tsx
  src/pages/benchmark/hooks/use-column-settings.tsx
Due: none

fix: default benchmark form values
  src/atoms/benchmark.ts
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/benchmark/forms/basic.tsx
  src/pages/benchmark/forms/dataset.tsx
  src/pages/benchmark/forms/index.tsx
  src/pages/benchmark/forms/model-instance.tsx
  src/pages/benchmark/index.tsx
  src/pages/benchmark/services/use-query-dataset.ts
  src/pages/benchmark/services/use-query-profiles.ts
  src/pages/llmodels/components/instance-item.tsx
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/hooks/use-run-benchmark.ts
Due: npx tsx src/locales/check.ts

fix: do not show evalute result when no claims
  src/pages/llmodels/hooks/index.ts
Due: none

chore: export action for benchmark item
  src/components/icon-font/index.tsx
  src/pages/benchmark/components/right-actions.tsx
  src/pages/benchmark/components/row-actions.tsx
  src/pages/benchmark/details.tsx
  src/pages/benchmark/hooks/use-column-settings.tsx
  src/pages/benchmark/index.tsx
Due: none

chore: add mutiple additional volume
  src/locales/en-US/clusters.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ru-RU/clusters.ts
  src/locales/zh-CN/clusters.ts
  src/pages/resources/config/gpu-driver.ts
Due: npx tsx src/locales/check.ts

fix: revert backend selection
  src/atoms/models.ts
  src/pages/llmodels/config/form-context.ts
  src/pages/llmodels/forms/backend.tsx
  src/pages/llmodels/hooks/use-query-backends.ts
Due: none

fix: edit community backend
  src/pages/backends/components/add-modal.tsx
  src/pages/backends/components/import-yaml.tsx
  src/pages/backends/config/form-context.ts
  src/pages/backends/forms/index.tsx
  src/pages/backends/forms/versions-config.tsx
  src/pages/backends/hooks/use-create-backend.tsx
  src/pages/resources/config/gpu-driver.ts
Due: none

fix: do not display as group when has one
  src/pages/llmodels/forms/backend.tsx
Due: none

fix: do not set default deployment name
  src/pages/llmodels/components/deploy-modal.tsx
Due: none

fix: max token not a int number
  src/pages/playground/components/ground-embedding.tsx
  src/pages/playground/components/ground-reranker.tsx
  src/pages/playground/hooks/use-init-meta.ts
Due: none

fix: backend version list
  src/pages/llmodels/forms/backend.tsx
Due: none

feat: metadata list
  src/components/metadata-list/index.tsx
  src/pages/model-access/config/mock.ts
  src/pages/model-access/forms/basic.tsx
  src/pages/model-access/forms/index.tsx
  src/pages/model-access/hooks/use-access-columns.tsx
Due: none
