Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

feat(gpu-service): add YAML editor for instance templates
  src/locales/en-US/gpuservice.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/zh-CN/gpuservice.ts
  src/pages/gpu-service/templates/components/edit-yaml-modal.tsx
  src/pages/gpu-service/templates/config/index.tsx
  src/pages/gpu-service/templates/config/types.ts
  src/pages/gpu-service/templates/index.tsx
Due: npx tsx src/locales/check.ts

fix(gpu-service): append accessParams to instance Connect links
  src/pages/gpu-service/instances/config/types.ts
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
Due: none

refactor: move asset recovery into the bundle
  config/asset-recovery.ts
  plugin.ts
  src/config/global.d.ts
  src/layouts/error-boundary.tsx
  src/layouts/error-result.tsx
  src/utils/asset-recovery.ts
Due: none

fix(usage): token tables stuck on page one and losing sort order
  src/pages/usage/token-tab/tables/apikeys-table.tsx
  src/pages/usage/token-tab/tables/models-table.tsx
  src/pages/usage/token-tab/tables/users-table.tsx
Due: none

feat(benchmark): label the saturation probe's cap as its own stop reason
  src/locales/en-US/benchmark.ts
  src/locales/ja-JP/benchmark.ts
  src/locales/ru-RU/benchmark.ts
  src/locales/tr-TR/benchmark.ts
  src/locales/zh-CN/benchmark.ts
  src/pages/benchmark/config/index.ts
Due: npx tsx src/locales/check.ts

fix(benchmark): put units on the chart axes that lacked them
  src/locales/en-US/benchmark.ts
  src/locales/ja-JP/benchmark.ts
  src/locales/ru-RU/benchmark.ts
  src/locales/tr-TR/benchmark.ts
  src/locales/zh-CN/benchmark.ts
  src/pages/benchmark/components/summary/chart-specs.ts
  src/pages/benchmark/components/summary/operating-curve.tsx
  src/pages/benchmark/components/summary/overview.tsx
  src/pages/benchmark/components/summary/stage-chart.tsx
  src/pages/benchmark/config/index.ts
Due: npx tsx src/locales/check.ts

feat(benchmark): rename the load sweep, and credential its best point
  src/locales/en-US/benchmark.ts
  src/locales/ja-JP/benchmark.ts
  src/locales/ru-RU/benchmark.ts
  src/locales/tr-TR/benchmark.ts
  src/locales/zh-CN/benchmark.ts
  src/pages/benchmark/components/echarts.ts
  src/pages/benchmark/components/summary/best-points.tsx
  src/pages/benchmark/components/summary/load-sweep.tsx
  src/pages/benchmark/components/summary/metrics.ts
  src/pages/benchmark/components/summary/overview.tsx
  src/pages/benchmark/components/summary/ui.tsx
Due: npx tsx src/locales/check.ts

feat(usage): export from the server with a size preflight and preview
  src/locales/en-US/usage.ts
  src/locales/ja-JP/usage.ts
  src/locales/ru-RU/usage.ts
  src/locales/tr-TR/usage.ts
  src/locales/zh-CN/usage.ts
  src/pages/usage/apis/index.ts
  src/pages/usage/apis/resource.ts
  src/pages/usage/components/export-data.tsx
  src/pages/usage/components/export-suggestions.tsx
  src/pages/usage/components/resource-export-data.tsx
  src/pages/usage/config/index.ts
  src/pages/usage/config/types.ts
  src/pages/usage/hooks/use-export-table.tsx
  src/pages/usage/instances-tab/index.tsx
  src/pages/usage/services/use-export-usage.ts
  src/pages/usage/storage-tab/index.tsx
  src/pages/usage/token-tab/index.tsx
  src/pages/usage/utils/export-breakdown.ts
  src/pages/usage/utils/export-preview-columns.tsx
Due: npx tsx src/locales/check.ts

fix(usage): export preview crashed under self scope
  src/pages/usage/utils/get-breakdown-row-key.ts
Due: none

fix(usage): clear the estimating flag when the dialog resets
  src/pages/usage/components/export-data.tsx
  src/pages/usage/services/use-export-usage.ts
Due: none

fix(worker): gpu vram cell progress height keep same
  src/pages/resources/hooks/use-worker-columns.tsx
Due: none

fix(usage): act on the export review
  src/layouts/index.tsx
  src/locales/en-US/usage.ts
  src/locales/ja-JP/usage.ts
  src/locales/ru-RU/usage.ts
  src/locales/tr-TR/usage.ts
  src/locales/zh-CN/usage.ts
  src/pages/usage/apis/index.ts
  src/pages/usage/apis/resource.ts
  src/pages/usage/components/export-data.tsx
  src/pages/usage/components/filter-bar.tsx
  src/pages/usage/components/resource-export-data.tsx
  src/pages/usage/components/resource-filter-bar.tsx
  src/pages/usage/config/types.ts
  src/pages/usage/hooks/use-export-preview-columns.tsx
  src/pages/usage/hooks/use-export-preview-layout.ts
  src/pages/usage/instances-tab/index.tsx
  src/pages/usage/services/use-export-usage.ts
  src/pages/usage/storage-tab/index.tsx
  src/pages/usage/token-tab/index.tsx
  src/pages/usage/utils/export-preview-columns.tsx
  src/pages/usage/utils/export-preview-values.tsx
Due: npx tsx src/locales/check.ts

feat(gpu-service): add utilization column to GPU instances list
  src/pages/gpu-service/instances/components/utilization-cell.tsx
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
Due: none

feat(gpu-service): add instance metrics proxy API client and types
  src/locales/en-US/gpuservice.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/zh-CN/gpuservice.ts
  src/pages/gpu-service/instances/apis/index.ts
  src/pages/gpu-service/instances/config/types.ts
Due: npx tsx src/locales/check.ts

refactor(gpu-service): poll instance metrics page-wide instead of per row
  src/pages/gpu-service/instances/apis/index.ts
  src/pages/gpu-service/instances/components/utilization-cell.tsx
  src/pages/gpu-service/instances/config/index.ts
  src/pages/gpu-service/instances/config/types.ts
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
  src/pages/gpu-service/instances/index.tsx
  src/pages/gpu-service/instances/services/use-query-instance-metrics.ts
  src/pages/gpu-service/instances/styles/utilization-cell.module.less
Due: prettier --cache --write, max lint --fix --stylelint-only

docs(gpu-service): document the instances utilization column
  src/pages/gpu-service/instances/README.md
Due: prettier --cache --write

feat: add a half-arc gauge component
  src/assets/styles/common.less
  src/pages/_components/half-arc-gauge/index.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

refactor(gpu-service): split utilization into two columns
  src/locales/en-US/gpuservice.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/zh-CN/gpuservice.ts
  src/pages/gpu-service/instances/README.md
  src/pages/gpu-service/instances/components/utilization-cell.tsx
  src/pages/gpu-service/instances/config/types.ts
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
  src/pages/gpu-service/instances/index.tsx
  src/pages/gpu-service/instances/styles/utilization-cell.module.less
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  npx tsx src/locales/check.ts: any of: src/locales/**/*.ts
