Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix(routes): let Org owners see Storage Types menu
  config/routes.ts
Due: none

fix: using select handler for provider hint
  src/pages/cluster-management/cluster-create.tsx
  src/pages/cluster-management/components/cluster-steps.tsx
  src/pages/gpu-service/instances/index.tsx
Due: none

fix: remove description json format
  src/pages/cluster-management/cluster-create.tsx
  src/pages/cluster-management/components/cluster-steps.tsx
  src/pages/gpu-service/instances/components/add-modal.tsx
Due: none

fix: always show max label
  src/pages/gpu-service/instances/components/instance-type-item.tsx
Due: none

chore: update locales
  src/locales/en-US/gpuservice.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/zh-CN/gpuservice.ts
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
Due: npx tsx src/locales/check.ts

fix: an error occured in switch language in stt
  src/pages/playground/view-code/utils.ts
Due: none

fix: max gpu count
  src/pages/gpu-service/instances/components/instance-type-item.tsx
Due: none

chore(deps): update ui 1.0.17
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix: update onceMaxRequest field
  src/locales/en-US/menu.ts
  src/locales/ja-JP/menu.ts
  src/locales/ru-RU/menu.ts
  src/locales/tr-TR/menu.ts
  src/locales/zh-CN/menu.ts
  src/pages/cluster-management/hooks/use-cluster-columns.tsx
  src/pages/gpu-service/instances/components/instance-type-item.tsx
  src/pages/gpu-service/instances/config/index.ts
  src/pages/gpu-service/instances/config/types.ts
  src/pages/gpu-service/instances/forms/index.tsx
Due: npx tsx src/locales/check.ts

fix: update instance item type
  src/pages/gpu-service/instances/config/types.ts
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
Due: none

fix: cluster worker_config refill
  src/pages/cluster-management/components/cluster-form.tsx
  src/pages/cluster-management/config/worker-config.docker.json
  src/pages/cluster-management/config/worker-config.json
  src/pages/cluster-management/config/worker-config.kubernetes.json
  src/pages/cluster-management/config/yaml-template.ts
  src/pages/cluster-management/step-forms/advance-config.tsx
  src/pages/gpu-service/templates/config/index.tsx
Due: prettier --cache --write

fix: catalog hidden fields
  src/pages/gpu-service/templates/config/index.tsx
  src/pages/gpu-service/templates/forms/index.tsx
  src/pages/llmodels/forms/model-lora-list.tsx
  src/pages/llmodels/forms/online-source.tsx
Due: none

fix: adapter request not be triggered
  src/pages/llmodels/forms/basic.tsx
  src/pages/llmodels/forms/index.tsx
Due: none

feat(templates): fix unresponsive action dropdown for non-admin
  src/pages/gpu-service/templates/config/index.tsx
  src/pages/gpu-service/templates/index.tsx
Due: none

feat(management): show only own rows on Clusters / Storage Types lists
  src/pages/cluster-management/clusters.tsx
  src/pages/gpu-service/storage-types/index.tsx
Due: none

fix: instance name text overflow
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
  src/pages/llmodels/components/instance-cells/actions-cell.tsx
  src/pages/llmodels/components/instance-cells/name-cell.tsx
  src/pages/llmodels/hooks/use-models-columns.tsx
  src/pages/llmodels/instance-view/use-instance-columns.tsx
Due: none

chore(deps): update ui 1.0.18
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix: orgname not be shown in playground
  src/access.extensions.ts
  src/atoms/user.ts
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/config/types.ts
  src/pages/model-routes/hooks/use-open-playground.ts
Due: none

fix: click twice for submitting deployment form, using iconfont static files
  .prettierignore
  .stylelintrc.js
  eslint.config.js
  src/components/iconfont/iconfont.css
  src/components/iconfont/iconfont.js
  src/components/iconfont/iconfont.json
  src/components/iconfont/iconfont.ttf
  src/components/iconfont/iconfont.woff
  src/components/iconfont/iconfont.woff2
  src/layouts/index.tsx
  src/pages/llmodels/config/form-context.ts
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/forms/model-lora-list.tsx
  src/pages/login/index.tsx
Due: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only

chore(deps): update ui 1.0.19
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

refactor(access): fold allowed_users into allowed_principals
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/components/access-control-modal/form.tsx
  src/pages/llmodels/components/access-control-modal/index.tsx
  src/pages/llmodels/config/types.ts
Due: none

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  npx tsx src/locales/check.ts: any of: src/locales/**/*.ts
