Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix: wheel event passive
  src/hooks/use-overlay-scroller.ts
  src/locales/en-US/backends.ts
  src/locales/ja-JP/backends.ts
  src/locales/ru-RU/backends.ts
  src/locales/zh-CN/backends.ts
Due: npx tsx src/locales/check.ts

chore: static iconfont files
  src/components/icon-font/iconfont/iconfont.css
  src/components/icon-font/iconfont/iconfont.js
  src/components/icon-font/iconfont/iconfont.json
  src/components/icon-font/iconfont/iconfont.ttf
  src/components/icon-font/iconfont/iconfont.woff
  src/components/icon-font/iconfont/iconfont.woff2
  src/components/icon-font/index.tsx
Due: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only

refactor: create cluster ux
  src/pages/cluster-management/cluster-create.tsx
  src/pages/cluster-management/cluster-modal.tsx
  src/pages/cluster-management/clusters.tsx
  src/pages/cluster-management/components/cluster-steps.tsx
  src/pages/cluster-management/components/footer-buttons.tsx
  src/pages/cluster-management/components/provider-catalog.tsx
  src/pages/cluster-management/components/support-gpus.tsx
  src/pages/cluster-management/hooks/use-create-cluster.tsx
  src/pages/cluster-management/step-forms/basic-form.tsx
  src/pages/cluster-management/step-forms/worker-pools-form.tsx
Due: none

style: user usage rank
  src/components/echarts/h-bar.tsx
Due: none

fix: did not cache workers and clusters in model files
  src/atoms/models.ts
  src/pages/llmodels/hooks/use-form-initial-values.ts
Due: none

feat: Allow Custom API Key Specification Instead of Auto-generated Keys
  src/locales/en-US/apikeys.ts
  src/locales/ja-JP/apikeys.ts
  src/locales/ru-RU/apikeys.ts
  src/locales/zh-CN/apikeys.ts
  src/pages/api-keys/components/add-apikey-modal/form.tsx
  src/pages/api-keys/config/types.ts
Due: npx tsx src/locales/check.ts

refactor: catalog fetch data
  src/components/echarts/h-bar.tsx
  src/config/route-cachekey.ts
  src/config/theme/dark.ts
  src/config/theme/light.ts
  src/hooks/use-table-fetch.ts
  src/layouts/Exception.tsx
  src/layouts/index.tsx
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/catalog.tsx
Due: none

style: slider handle color
  src/assets/styles/menu.less
  src/components/seal-form/seal-slider.tsx
  src/config/theme/dark.ts
  src/config/theme/light.ts
  src/layouts/index.tsx
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/forms/advance-config.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

feat: add context length
  package.json
  pnpm-lock.yaml
  src/components/seal-form/seal-slider.tsx
  src/components/seal-form/simple-select.tsx
  src/components/seal-form/wrapper/index.tsx
  src/components/seal-form/wrapper/slider.ts
  src/config/theme/dark.ts
  src/config/theme/light.ts
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/backends/components/backend-card.tsx
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/incompatiable-info.tsx
  src/pages/llmodels/components/instance-item.tsx
  src/pages/llmodels/config/form-context.ts
  src/pages/llmodels/config/index.ts
  src/pages/llmodels/forms/advance-config.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/hooks/use-models-columns.tsx
  src/pages/llmodels/services/use-query-context-length.ts
Due: prettier --cache --write, npx tsx src/locales/check.ts

style: cluster creation modal
  src/assets/logo/moore-logo.png
  src/components/collapse-container/index.tsx
  src/components/icon-font/index.tsx
  src/components/seal-table/index.tsx
  src/components/seal-table/styles/header.less
  src/layouts/index.tsx
  src/pages/_components/collapse-panel/index.tsx
  src/pages/cluster-management/cluster-create.tsx
  src/pages/cluster-management/clusters.tsx
  src/pages/cluster-management/components/cluster-steps.tsx
  src/pages/cluster-management/components/footer-buttons.tsx
  src/pages/cluster-management/components/provider-catalog.tsx
  src/pages/cluster-management/components/support-gpus.tsx
  src/pages/cluster-management/step-forms/basic-form.tsx
  src/pages/cluster-management/step-forms/use-step-list.tsx
  src/pages/cluster-management/step-forms/worker-pools-form.tsx
  src/pages/dashboard/hooks/use-add-resource.tsx
  src/pages/llmodels/hooks/use-no-resource-result.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

fix: updating model name should show the recreation message
  src/pages/llmodels/forms/basic.tsx
Due: none

fix: no clusters tips in adding worker modal
  src/components/collapse-container/index.tsx
  src/locales/en-US/clusters.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ru-RU/clusters.ts
  src/locales/zh-CN/clusters.ts
  src/pages/cluster-management/components/add-worker/add-worker-step.tsx
  src/pages/cluster-management/components/add-worker/check-environment.tsx
  src/pages/cluster-management/components/add-worker/config.ts
  src/pages/cluster-management/components/add-worker/constainers.tsx
  src/pages/cluster-management/components/add-worker/docker-run-command.tsx
  src/pages/cluster-management/components/add-worker/k8s-run-command.tsx
  src/pages/cluster-management/components/add-worker/network-config.tsx
  src/pages/cluster-management/components/add-worker/select-cluster.tsx
  src/pages/cluster-management/components/add-worker/select-vendor.tsx
  src/pages/cluster-management/components/add-worker/specify-arguments.tsx
  src/pages/cluster-management/components/add-worker/step-collapse.tsx
  src/pages/cluster-management/components/register-cluster-inner.tsx
  src/pages/cluster-management/components/support-gpus.tsx
Due: npx tsx src/locales/check.ts

style: cluster creation steps
  config/routes.ts
  src/components/seal-table/index.tsx
  src/components/seal-table/styles/header.less
  src/config/theme/dark.ts
  src/config/theme/light.ts
  src/layouts/index.tsx
  src/pages/backends/config/index.ts
  src/pages/cluster-management/cluster-create.tsx
  src/pages/cluster-management/cluster-modal.tsx
  src/pages/cluster-management/clusters.tsx
  src/pages/cluster-management/components/cluster-steps.tsx
  src/pages/cluster-management/components/footer-buttons.tsx
  src/pages/cluster-management/components/success-result.tsx
  src/pages/cluster-management/components/support-gpus.tsx
  src/pages/cluster-management/credentials.tsx
  src/pages/cluster-management/step-forms/module-registry.ts
  src/pages/cluster-management/step-forms/use-step-list.tsx
  src/pages/cluster-management/step-forms/worker-pools-form.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/playground/components/multiple-chat/model-item.tsx
  src/pages/playground/style/model-item.less
Due: prettier --cache --write, max lint --fix --stylelint-only

style: use drawer for adding worker
  src/locales/en-US/clusters.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ru-RU/clusters.ts
  src/locales/zh-CN/clusters.ts
  src/pages/cluster-management/cluster-create.tsx
  src/pages/cluster-management/components/add-worker/index.tsx
  src/pages/cluster-management/components/success-result.tsx
  src/pages/cluster-management/components/support-gpus.tsx
  src/pages/cluster-management/hooks/use-cluster-list.ts
  src/pages/cluster-management/step-forms/use-step-list.tsx
Due: npx tsx src/locales/check.ts

style: command viewer scroller
  src/components/highlight-code/code-viewer-dark.tsx
  src/components/highlight-code/code-viewer-light.tsx
  src/components/highlight-code/code-viewer.tsx
  src/components/highlight-code/index.tsx
  src/components/icon-font/index.tsx
  src/components/tags-wrapper/index.tsx
  src/layouts/extraRender.tsx
  src/locales/en-US/clusters.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ru-RU/clusters.ts
  src/locales/zh-CN/clusters.ts
  src/pages/_components/collapse-panel/index.tsx
  src/pages/_components/yaml-editor/index.tsx
  src/pages/cluster-management/cluster-create.tsx
  src/pages/cluster-management/cluster-modal.tsx
  src/pages/cluster-management/components/add-worker-command.tsx
  src/pages/cluster-management/components/add-worker/index.tsx
  src/pages/cluster-management/components/cluster-steps.tsx
  src/pages/cluster-management/components/success-result.tsx
  src/pages/cluster-management/step-forms/use-step-list.tsx
  src/pages/llmodels/forms/advance-config.tsx
Due: npx tsx src/locales/check.ts

chore: use drawer for creation
  src/layouts/index.tsx
  src/pages/_components/form-drawer.tsx
  src/pages/cluster-management/cluster-create.tsx
  src/pages/cluster-management/components/add-cluster.tsx
  src/pages/cluster-management/components/add-credential.tsx
  src/pages/cluster-management/components/add-pool.tsx
  src/pages/cluster-management/components/support-gpus.tsx
  src/pages/cluster-management/credentials.tsx
  src/pages/users/components/add-modal.tsx
Due: none

fix: slider marker label
  src/pages/llmodels/forms/advance-config.tsx
  src/pages/llmodels/forms/index.tsx
Due: none

fix: cluster pending status
  src/pages/cluster-management/config/index.ts
Due: none

fix: add worker ux when only DO cluster
  src/components/collapse-container/index.tsx
  src/locales/en-US/clusters.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ru-RU/clusters.ts
  src/locales/zh-CN/clusters.ts
  src/pages/cluster-management/cluster-create.tsx
  src/pages/cluster-management/cluster-modal.tsx
  src/pages/cluster-management/components/add-cluster.tsx
  src/pages/cluster-management/components/add-worker/add-worker-step.tsx
  src/pages/cluster-management/components/add-worker/index.tsx
  src/pages/cluster-management/components/add-worker/select-cluster.tsx
  src/pages/cluster-management/hooks/use-add-worker.tsx
Due: npx tsx src/locales/check.ts

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  npx tsx src/locales/check.ts: any of: src/locales/**/*.ts
