Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix(gpu-service): address PR review on sliced scaling and theme logo
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/instance-type.tsx
  src/pages/gpu-service/templates/components/template-card.tsx
Due: none

feat(gpu-service): refine instance type card layout in create-instance drawer
  src/pages/gpu-service/instances/apis/index.ts
  src/pages/gpu-service/instances/components/instance-type-item.tsx
  src/pages/gpu-service/utils.ts
Due: none

feat(gpu-service): add sliceable tag and horizontal scroll to instance types table
  CLAUDE.md
  src/pages/gpu-service/instance-types/hooks/use-instance-type-columns.tsx
  src/pages/gpu-service/instance-types/index.tsx
Due: prettier --cache --write

feat(gpu-service): use grouped flavor select in instance type create drawer
  src/locales/en-US/gpuservice.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/zh-CN/gpuservice.ts
  src/pages/gpu-service/instance-types/components/add-instance-type-modal.tsx
  src/pages/gpu-service/instance-types/forms/index.tsx
  src/pages/gpu-service/instance-types/styles/instance-types.module.less
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

feat(gpu-service): add GPU Instance Types management page
  config/routes.ts
  src/locales/en-US/gpuservice.ts
  src/locales/en-US/menu.ts
  src/locales/en-US/no-result.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ja-JP/menu.ts
  src/locales/ja-JP/no-result.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/ru-RU/menu.ts
  src/locales/ru-RU/no-result.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/tr-TR/menu.ts
  src/locales/tr-TR/no-result.ts
  src/locales/zh-CN/gpuservice.ts
  src/locales/zh-CN/menu.ts
  src/locales/zh-CN/no-result.ts
  src/pages/gpu-service/instance-types/apis/index.ts
  src/pages/gpu-service/instance-types/components/add-instance-type-modal.tsx
  src/pages/gpu-service/instance-types/components/flavor-list.tsx
  src/pages/gpu-service/instance-types/components/instance-type-card.tsx
  src/pages/gpu-service/instance-types/components/instance-type-list.tsx
  src/pages/gpu-service/instance-types/config/index.ts
  src/pages/gpu-service/instance-types/config/types.ts
  src/pages/gpu-service/instance-types/forms/index.tsx
  src/pages/gpu-service/instance-types/hooks/use-create-instance-type-modal.ts
  src/pages/gpu-service/instance-types/hooks/use-instance-type-columns.tsx
  src/pages/gpu-service/instance-types/index.tsx
  src/pages/gpu-service/instance-types/services/use-create-instance-type.ts
  src/pages/gpu-service/instance-types/services/use-query-flavors.ts
  src/pages/gpu-service/instance-types/services/use-query-instance-types.ts
  src/pages/gpu-service/instance-types/styles/instance-types.module.less
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

feat(gpu-service): instance-type activate/deactivate, displayName, unified flavor display
  src/locales/en-US/gpuservice.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/zh-CN/gpuservice.ts
  src/pages/gpu-service/instance-types/apis/index.ts
  src/pages/gpu-service/instance-types/components/flavor-display.tsx
  src/pages/gpu-service/instance-types/config/index.ts
  src/pages/gpu-service/instance-types/config/types.ts
  src/pages/gpu-service/instance-types/forms/index.tsx
  src/pages/gpu-service/instance-types/hooks/use-instance-type-columns.tsx
  src/pages/gpu-service/instance-types/index.tsx
  src/pages/gpu-service/instances/components/instance-type-item.tsx
  src/pages/gpu-service/instances/utils/render-instance-type.tsx
  src/pages/usage/apis/resource.ts
  src/pages/usage/instances-tab/tables/use-instances-columns.tsx
  src/pages/usage/utils/format-instance-type.ts
Due: npx tsx src/locales/check.ts

feat(gpu-service): add sliced compute ratio, confirm activate/deactivate, watch instance types
  src/locales/en-US/common.ts
  src/locales/en-US/gpuservice.ts
  src/locales/ja-JP/common.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ru-RU/common.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/tr-TR/common.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/zh-CN/common.ts
  src/locales/zh-CN/gpuservice.ts
  src/pages/gpu-service/instance-types/index.tsx
  src/pages/gpu-service/instance-types/services/use-query-instance-types.ts
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/instance-type.tsx
Due: npx tsx src/locales/check.ts

fix(gpu-service): pick sliced candidate for slice-only instance types
  src/pages/gpu-service/instances/config/index.ts
Due: none

feat(gpu-service): allow re-typing stopped instances on edit
  src/pages/gpu-service/instances/components/add-modal.tsx
  src/pages/gpu-service/instances/components/instance-type-item.tsx
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/instance-type.tsx
  src/pages/gpu-service/instances/hooks/use-create-instance.ts
  src/pages/gpu-service/instances/utils/instance-description.ts
Due: none

fix: preset 10,20,30,50 for ratios
  src/pages/gpu-service/instances/config/mock-data.ts
  src/pages/gpu-service/instances/forms/instance-type.tsx
  src/pages/gpu-service/instances/services/use-query-instance-types.ts
Due: none

fix(gpu-service): only pick Active candidates for accelerator
  src/pages/gpu-service/instances/config/index.ts
  src/pages/gpu-service/instances/config/types.ts
Due: none

feat(gpu-service): align instance-type/flavor contract with status.detail API
  src/locales/en-US/gpuservice.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/zh-CN/gpuservice.ts
  src/pages/gpu-service/instance-types/apis/index.ts
  src/pages/gpu-service/instance-types/components/flavor-display.tsx
  src/pages/gpu-service/instance-types/components/flavor-list.tsx
  src/pages/gpu-service/instance-types/components/instance-type-card.tsx
  src/pages/gpu-service/instance-types/config/types.ts
  src/pages/gpu-service/instance-types/hooks/use-instance-type-columns.tsx
  src/pages/gpu-service/instances/components/add-modal.tsx
  src/pages/gpu-service/instances/components/instance-type-item.tsx
  src/pages/gpu-service/instances/config/index.ts
  src/pages/gpu-service/instances/config/mock-data.ts
  src/pages/gpu-service/instances/config/types.ts
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/instance-type.tsx
  src/pages/gpu-service/instances/services/use-query-instance-types.ts
  src/pages/gpu-service/instances/utils/instance-description.ts
  src/pages/gpu-service/instances/utils/render-instance-type.tsx
Due: npx tsx src/locales/check.ts

style(cluster): col width
  src/pages/cluster-management/hooks/use-cluster-columns.tsx
Due: none

feat(gpu-service): restrict non-stopped instance edit, drop recreate
  src/locales/en-US/gpuservice.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/zh-CN/gpuservice.ts
  src/pages/gpu-service/instances/components/add-modal.tsx
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/instance-type.tsx
  src/pages/gpu-service/instances/hooks/use-create-instance.ts
  src/pages/gpu-service/instances/index.tsx
  src/pages/gpu-service/instances/utils/instance-description.ts
Due: npx tsx src/locales/check.ts

fix(models): cluster auto-selection mismatch when org scope settles late
  src/pages/llmodels/forms/basic.tsx
Due: none

fix(llmodels): stale instances lingering after missed DELETE watch events
  src/hooks/json-parser-worker.ts
  src/hooks/use-chunk-request.ts
  src/pages/llmodels/deployments.tsx
Due: none

feat(backend): add visibility toggle for backend versions in deployment dropdown
  src/locales/en-US/backends.ts
  src/locales/ja-JP/backends.ts
  src/locales/ru-RU/backends.ts
  src/locales/tr-TR/backends.ts
  src/locales/zh-CN/backends.ts
  src/pages/backends/components/version-info-modal.tsx
  src/pages/backends/config/index.ts
  src/pages/backends/config/types.ts
  src/pages/backends/forms/version-info.tsx
  src/pages/backends/index.tsx
Due: npx tsx src/locales/check.ts

style(cluster): center pool replicas cell
  src/pages/cluster-management/components/pool-rows.tsx
  src/pages/cluster-management/hooks/use-pools-columns.tsx
Due: none

chore: add design-review skill
  .claude/skills/design-review/SKILL.md
Due: prettier --cache --write

fix(style): instance type card height
  src/pages/gpu-service/instances/components/instance-type-item.tsx
  src/pages/gpu-service/instances/components/instance-type-list.tsx
  src/pages/gpu-service/instances/styles/instances.module.less
Due: prettier --cache --write, max lint --fix --stylelint-only

feat(gpu-service): support sliced (by-ratio) GPU instances and PV status
  .claude/skills/form-patterns/SKILL.md
  src/locales/en-US/gpuservice.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/zh-CN/gpuservice.ts
  src/pages/_components/number-selection/index.tsx
  src/pages/_components/number-selection/styles.less
  src/pages/gpu-service/instances/components/instance-type-item.tsx
  src/pages/gpu-service/instances/config/index.ts
  src/pages/gpu-service/instances/config/types.ts
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/instance-type.tsx
  src/pages/gpu-service/instances/services/use-query-instance-types.ts
  src/pages/gpu-service/instances/utils/render-instance-type.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

feat(models): scheduled scaling form
  package.json
  pnpm-lock.yaml
  src/atoms/system.ts
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/tr-TR/models.ts
  src/locales/zh-CN/models.ts
  src/pages/cluster-management/config/types.ts
  src/pages/llmodels/components/deployment/update-modal.tsx
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/forms/basic.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/forms/scheduled-scaling.tsx
  src/pages/llmodels/hooks/index.ts
Due: prettier --cache --write, npx tsx src/locales/check.ts

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  npx tsx src/locales/check.ts: any of: src/locales/**/*.ts
