Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

feat: provider lsit
  config/routes.ts
  src/components/page-tools/index.tsx
  src/locales/en-US/menu.ts
  src/locales/en-US/provider.ts
  src/locales/ja-JP/menu.ts
  src/locales/ja-JP/provider.ts
  src/locales/ru-RU/menu.ts
  src/locales/ru-RU/provider.ts
  src/locales/zh-CN/menu.ts
  src/locales/zh-CN/provider.ts
  src/pages/maas-provider/components/provider-models.tsx
  src/pages/maas-provider/config/index.ts
  src/pages/maas-provider/config/mock.ts
  src/pages/maas-provider/config/types.ts
  src/pages/maas-provider/hooks/use-provider-columns.tsx
  src/pages/maas-provider/index.tsx
Due: npx tsx src/locales/check.ts

chore: access meta
  src/components/auto-image/single-image.less
  src/components/auto-image/single-image.tsx
  src/components/icon-font/index.tsx
  src/locales/en-US/accesses.ts
  src/locales/ja-JP/accesses.ts
  src/locales/ru-RU/accesses.ts
  src/locales/zh-CN/accesses.ts
  src/pages/model-access/components/access-points.tsx
  src/pages/model-access/forms/basic.tsx
  src/pages/model-access/forms/endpoints.tsx
  src/pages/model-access/forms/fallback-settings.tsx
  src/pages/model-access/forms/index.tsx
  src/pages/model-access/forms/meta-data.tsx
  src/pages/model-access/hooks/use-fallback-settings.ts
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix: open model in playground
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/config/button-actions.ts
  src/pages/model-routes/config/index.ts
  src/pages/model-routes/hooks/use-open-playground.ts
  src/pages/model-routes/hooks/use-routes-columns.tsx
  src/pages/model-routes/index.tsx
Due: none

fix(styles): providers access token
  src/components/seal-form/seal-cascader.tsx
  src/locales/en-US/models.ts
  src/locales/en-US/provider.ts
  src/locales/ja-JP/models.ts
  src/locales/ja-JP/provider.ts
  src/locales/ru-RU/models.ts
  src/locales/ru-RU/provider.ts
  src/locales/zh-CN/models.ts
  src/locales/zh-CN/provider.ts
  src/pages/_components/category-select.tsx
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/components/access-control-modal/index.tsx
  src/pages/llmodels/config/index.ts
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/forms/advance-config.tsx
  src/pages/maas-provider/config/types.ts
  src/pages/maas-provider/forms/access-token.tsx
  src/pages/maas-provider/forms/advance-config.tsx
  src/pages/maas-provider/forms/basic.tsx
  src/pages/maas-provider/forms/index.tsx
  src/pages/maas-provider/forms/model-item.tsx
  src/pages/maas-provider/forms/supported-models.tsx
  src/pages/model-access/components/access-points.tsx
  src/pages/model-access/config/types.ts
  src/pages/model-access/forms/basic.tsx
  src/pages/model-access/forms/endpoints.tsx
  src/pages/model-access/forms/index.tsx
  src/pages/model-access/hooks/use-endpoint-source-models.tsx
  src/pages/model-access/index.tsx
Due: npx tsx src/locales/check.ts

style: adjust providers style
  src/components/label-selector/wrapper.tsx
  src/components/list-input/index.tsx
  src/components/list-input/list-item.tsx
  src/components/seal-form/wrapper/select.ts
  src/locales/en-US/provider.ts
  src/locales/ja-JP/provider.ts
  src/locales/ru-RU/provider.ts
  src/locales/zh-CN/provider.ts
  src/pages/maas-provider/components/provider-models.tsx
  src/pages/maas-provider/config/mock.ts
  src/pages/maas-provider/config/types.ts
  src/pages/maas-provider/forms/access-token.tsx
  src/pages/maas-provider/forms/advance-config.tsx
  src/pages/maas-provider/forms/index.tsx
  src/pages/maas-provider/forms/proxy-config.tsx
  src/pages/maas-provider/forms/supported-models.tsx
  src/pages/maas-provider/hooks/use-provider-columns.tsx
  src/pages/maas-provider/index.tsx
Due: npx tsx src/locales/check.ts

chore: access form
  config/routes.ts
  src/components/label-selector/autocomplete-item.tsx
  src/components/label-selector/context.ts
  src/components/label-selector/index.tsx
  src/components/label-selector/inner.tsx
  src/components/label-selector/label-item.tsx
  src/pages/_components/transfer.tsx
  src/pages/maas-provider/forms/advance-config.tsx
  src/pages/maas-provider/forms/index.tsx
  src/pages/maas-provider/forms/proxy-config.tsx
  src/pages/model-access/components/access-points.tsx
  src/pages/model-access/components/fallback-modal.tsx
  src/pages/model-access/config/types.ts
  src/pages/model-access/forms/basic.tsx
  src/pages/model-access/forms/endpoints.tsx
  src/pages/model-access/forms/fallback-settings.tsx
  src/pages/model-access/forms/index.tsx
  src/pages/model-access/forms/meta-data.tsx
  src/pages/model-access/hooks/use-fallback-settings.ts
  src/pages/model-access/index.tsx
Due: none

feat: add access list
  config/routes.ts
  src/locales/en-US/accesses.ts
  src/locales/en-US/menu.ts
  src/locales/en-US/no-result.ts
  src/locales/ja-JP/accesses.ts
  src/locales/ja-JP/menu.ts
  src/locales/ja-JP/no-result.ts
  src/locales/ru-RU/accesses.ts
  src/locales/ru-RU/menu.ts
  src/locales/ru-RU/no-result.ts
  src/locales/zh-CN/accesses.ts
  src/locales/zh-CN/menu.ts
  src/locales/zh-CN/no-result.ts
  src/pages/model-access/apis/index.ts
  src/pages/model-access/components/access-points.tsx
  src/pages/model-access/components/add-access-modal.tsx
  src/pages/model-access/config/index.ts
  src/pages/model-access/config/mock.ts
  src/pages/model-access/config/types.ts
  src/pages/model-access/forms/index.tsx
  src/pages/model-access/hooks/use-access-columns.tsx
  src/pages/model-access/hooks/use-create-access.ts
  src/pages/model-access/index.tsx
Due: npx tsx src/locales/check.ts

fix: access source error
  src/pages/_components/category-select.tsx
  src/pages/llmodels/config/button-actions.ts
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/user-models.tsx
  src/pages/model-access/components/access-points.tsx
  src/pages/model-access/config/index.ts
  src/pages/model-access/forms/index.tsx
  src/pages/model-access/index.tsx
Due: none

style: metadata list styles
  src/components/label-selector/wrapper.tsx
  src/components/metadata-list/index.tsx
Due: none

chore: fallback checkbox
  src/components/icon-font/index.tsx
  src/locales/zh-CN/accesses.ts
  src/pages/model-access/components/access-points.tsx
  src/pages/model-access/forms/endpoints.tsx
Due: npx tsx src/locales/check.ts

feat: provider form
  src/components/icon-font/index.tsx
  src/components/list-input/index.tsx
  src/components/list-input/list-item.tsx
  src/components/seal-form/seal-select.tsx
  src/components/seal-form/wrapper/select.ts
  src/pages/maas-provider/apis/index.ts
  src/pages/maas-provider/components/provider-models.tsx
  src/pages/maas-provider/config/index.ts
  src/pages/maas-provider/forms/access-token.tsx
  src/pages/maas-provider/forms/advance-config.tsx
  src/pages/maas-provider/forms/basic.tsx
  src/pages/maas-provider/forms/index.tsx
  src/pages/maas-provider/forms/supported-models.tsx
  src/pages/maas-provider/hooks/use-create-provider.ts
  src/pages/maas-provider/index.tsx
Due: none

style: access list
  src/pages/model-access/components/access-points.tsx
  src/pages/model-access/forms/basic.tsx
  src/pages/model-access/forms/meta-data.tsx
  src/pages/model-access/hooks/use-access-columns.tsx
Due: none

fix: routes locales
  src/locales/en-US/no-result.ts
  src/locales/ja-JP/no-result.ts
  src/locales/ru-RU/no-result.ts
  src/locales/zh-CN/no-result.ts
  src/pages/model-routes/index.tsx
Due: npx tsx src/locales/check.ts

style: display target model name
  src/config/global.d.ts
  src/pages/llmodels/components/access-control-modal/index.tsx
  src/pages/maas-provider/components/provider-logo.tsx
  src/pages/maas-provider/components/provider-models.tsx
  src/pages/model-routes/components/route-targets.tsx
  src/pages/model-routes/hooks/use-target-source-models.tsx
  src/pages/model-routes/index.tsx
Due: none

feat: metadata list
  src/components/metadata-list/index.tsx
  src/pages/model-access/config/mock.ts
  src/pages/model-access/forms/basic.tsx
  src/pages/model-access/forms/index.tsx
  src/pages/model-access/hooks/use-access-columns.tsx
Due: none

chore: provider form test
  src/components/seal-form/seal-select.tsx
  src/config/index.ts
  src/config/types.ts
  src/locales/en-US/provider.ts
  src/locales/ja-JP/provider.ts
  src/locales/ru-RU/provider.ts
  src/locales/zh-CN/provider.ts
  src/pages/maas-provider/apis/index.ts
  src/pages/maas-provider/components/add-provider-modal.tsx
  src/pages/maas-provider/components/provider-models.tsx
  src/pages/maas-provider/config/form-context.ts
  src/pages/maas-provider/config/mock.ts
  src/pages/maas-provider/config/types.ts
  src/pages/maas-provider/forms/access-token.tsx
  src/pages/maas-provider/forms/advance-config.tsx
  src/pages/maas-provider/forms/basic.tsx
  src/pages/maas-provider/forms/index.tsx
  src/pages/maas-provider/forms/model-item.tsx
  src/pages/maas-provider/forms/proxy-config.tsx
  src/pages/maas-provider/forms/supported-models.tsx
  src/pages/maas-provider/hooks/use-create-provider.ts
  src/pages/maas-provider/hooks/use-provider-columns.tsx
  src/pages/maas-provider/hooks/use-query-provider-models.ts
  src/pages/maas-provider/index.tsx
  src/pages/model-access/apis/index.ts
  src/pages/model-access/config/index.ts
  src/pages/model-access/index.tsx
Due: npx tsx src/locales/check.ts

chore: providers ux
  src/components/icon-font/icons.ts
  src/locales/en-US/no-result.ts
  src/locales/en-US/provider.ts
  src/locales/ja-JP/no-result.ts
  src/locales/ja-JP/provider.ts
  src/locales/ru-RU/no-result.ts
  src/locales/ru-RU/provider.ts
  src/locales/zh-CN/menu.ts
  src/locales/zh-CN/no-result.ts
  src/locales/zh-CN/provider.ts
  src/pages/_components/model-tag.tsx
  src/pages/llmodels/components/catalog-item.tsx
  src/pages/llmodels/components/model-item.tsx
  src/pages/llmodels/hooks/use-models-columns.tsx
  src/pages/maas-provider/components/provider-models.tsx
  src/pages/maas-provider/config/form-context.ts
  src/pages/maas-provider/config/index.ts
  src/pages/maas-provider/config/mock.ts
  src/pages/maas-provider/config/types.ts
  src/pages/maas-provider/forms/advance-config.tsx
  src/pages/maas-provider/forms/index.tsx
  src/pages/maas-provider/forms/proxy_config.tsx
  src/pages/maas-provider/forms/supported-models.tsx
  src/pages/maas-provider/hooks/use-create-provider.ts
  src/pages/maas-provider/hooks/use-provider-columns.tsx
  src/pages/maas-provider/index.tsx
  src/pages/model-access/forms/basic.tsx
  src/pages/model-access/forms/endpoints.tsx
  src/pages/model-access/forms/index.tsx
  src/pages/model-access/forms/meta-data.tsx
  src/pages/model-access/hooks/use-create-access.ts
  src/pages/model-access/index.tsx
Due: npx tsx src/locales/check.ts

style: fallback ui
  src/pages/model-access/components/access-points.tsx
  src/pages/model-access/forms/endpoints.tsx
Due: none

chore: rebase main
  src/components/icon-font/index.tsx
  src/locales/en-US/no-result.ts
  src/locales/ja-JP/no-result.ts
  src/locales/ru-RU/menu.ts
  src/locales/ru-RU/no-result.ts
  src/pages/maas-provider/index.tsx
Due: npx tsx src/locales/check.ts

fix: file import error
  src/pages/maas-provider/hooks/use-provider-columns.tsx
  src/pages/maas-provider/index.tsx
Due: none

fix: reranker for sglang
  src/locales/en-US/backends.ts
  src/locales/ja-JP/backends.ts
  src/locales/ru-RU/backends.ts
  src/locales/zh-CN/backends.ts
  src/pages/backends/community/backend-detail.tsx
  src/pages/playground/components/ground-reranker.tsx
  src/pages/playground/reranker/hooks/use-reranker-response.ts
  src/pages/playground/reranker/params-config.ts
  src/pages/resources/config/gpu-driver.ts
Due: npx tsx src/locales/check.ts

fix: maas provider custom config
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/forms/advance-config.tsx
  src/pages/maas-provider/forms/index.tsx
  src/pages/model-routes/index.tsx
Due: npx tsx src/locales/check.ts

style: benchmark progress
  src/components/status-tag/index.tsx
  src/pages/benchmark/hooks/use-benchmark-columns.tsx
  src/pages/benchmark/hooks/use-column-settings.tsx
Due: none

feat: duplicate deployment
  config/routes.ts
  src/components/footer/index.tsx
  src/hooks/use-query-data-list.ts
  src/locales/en-US/common.ts
  src/locales/en-US/models.ts
  src/locales/ja-JP/common.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/common.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/components/instance-item.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/components/update-modal.tsx
  src/pages/llmodels/config/button-actions.ts
  src/pages/llmodels/hooks/use-edit-deployment.ts
  src/pages/llmodels/hooks/use-models-columns.tsx
  src/pages/model-routes/apis/index.ts
  src/pages/model-routes/config/index.ts
  src/pages/model-routes/config/types.ts
  src/pages/model-routes/forms/basic.tsx
  src/pages/model-routes/hooks/use-routes-columns.tsx
  src/pages/model-routes/hooks/use-view-api-info.ts
  src/pages/model-routes/index.tsx
  src/pages/model-routes/services/use-query-targets.ts
  src/pages/resources/config/gpu-driver.ts
Due: npx tsx src/locales/check.ts

fix: refresh enable backend state
  src/atoms/backend.ts
  src/hooks/use-table-fetch.ts
  src/locales/en-US/backends.ts
  src/locales/en-US/clusters.ts
  src/locales/en-US/users.ts
  src/locales/ja-JP/backends.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ja-JP/users.ts
  src/locales/ru-RU/backends.ts
  src/locales/ru-RU/clusters.ts
  src/locales/zh-CN/clusters.ts
  src/locales/zh-CN/models.ts
  src/pages/backends/community/add-community-modal.tsx
  src/pages/backends/community/commnity-backends.tsx
Due: npx tsx src/locales/check.ts

feat: add grafana link
  src/components/icon-font/icons.ts
  src/components/icon-font/index.tsx
  src/locales/en-US/resources.ts
  src/locales/ja-JP/resources.ts
  src/locales/ru-RU/resources.ts
  src/locales/zh-CN/resources.ts
  src/pages/llmodels/components/instance-item.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/config/button-actions.ts
  src/pages/llmodels/index.tsx
  src/pages/resources/components/workers.tsx
  src/pages/resources/hooks/use-grafana-link.ts
  src/pages/resources/hooks/use-worker-columns.tsx
Due: npx tsx src/locales/check.ts

feat: grafana link
  src/locales/en-US/resources.ts
  src/locales/ja-JP/resources.ts
  src/locales/ru-RU/resources.ts
  src/locales/zh-CN/resources.ts
  src/pages/resources/hooks/use-grafana-link.ts
Due: npx tsx src/locales/check.ts

fix: copy button do not work
  src/components/copy-button/index.tsx
  src/hooks/use-query-data-list.ts
  src/pages/llmodels/config/backend-parameters/vllm.ts
  src/pages/llmodels/config/button-actions.ts
  src/services/system/use-query-system-config.ts
Due: none

feat: monitor button
  src/app.tsx
  src/atoms/system.ts
  src/components/icon-font/index.tsx
  src/locales/en-US/ai.ts
  src/locales/en-US/models.ts
  src/locales/en-US/provider.ts
  src/locales/ja-JP/ai.ts
  src/locales/ja-JP/models.ts
  src/locales/ja-JP/provider.ts
  src/locales/ru-RU/ai.ts
  src/locales/ru-RU/models.ts
  src/locales/ru-RU/provider.ts
  src/locales/zh-CN/ai.ts
  src/locales/zh-CN/models.ts
  src/locales/zh-CN/provider.ts
  src/locales/zh-CN/vendor.ts
  src/pages/cluster-management/cluster-create.tsx
  src/pages/cluster-management/clusters.tsx
  src/pages/cluster-management/components/right-actions.tsx
  src/pages/cluster-management/config/index.ts
  src/pages/cluster-management/config/types.ts
  src/pages/cluster-management/hooks/use-cluster-columns.tsx
  src/pages/llmodels/components/instance-item.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/config/button-actions.ts
  src/pages/llmodels/forms/backend.tsx
  src/pages/llmodels/hooks/use-edit-deployment.ts
  src/pages/llmodels/hooks/use-models-columns.tsx
  src/pages/llmodels/user-models.tsx
  src/pages/login/apis/index.ts
  src/pages/maas-provider/config/index.ts
  src/pages/maas-provider/index.tsx
  src/pages/resources/components/worker-right-actions.tsx
  src/pages/resources/components/workers.tsx
  src/pages/resources/config/gpu-driver.ts
  src/pages/resources/hooks/use-grafana-link.ts
  src/pages/resources/hooks/use-grafana-link.tsx
  src/pages/resources/hooks/use-worker-columns.tsx
  src/services/system/query-system-config.ts
  src/services/system/use-query-system-config.ts
Due: npx tsx src/locales/check.ts

fix: update open playground btn
  src/assets/styles/common.less
  src/components/icon-font/index.tsx
  src/pages/_components/grafana-icon.tsx
  src/pages/backends/community/commnity-backends.tsx
  src/pages/cluster-management/config/index.ts
  src/pages/cluster-management/hooks/use-cluster-columns.tsx
  src/pages/llmodels/components/instance-item.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/components/update-modal.tsx
  src/pages/llmodels/config/button-actions.ts
  src/pages/llmodels/config/form-context.ts
  src/pages/llmodels/forms/advance-config.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/hooks/index.ts
  src/pages/llmodels/hooks/use-models-columns.tsx
  src/pages/resources/hooks/use-gpu-columns.tsx
  src/pages/resources/hooks/use-grafana-link.tsx
  src/pages/resources/hooks/use-worker-columns.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  npx tsx src/locales/check.ts: any of: src/locales/**/*.ts
