Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

feat: add sglang parameters
  src/pages/llmodels/config/backend-parameters/index.ts
  src/pages/llmodels/config/backend-parameters/llama.ts
  src/pages/llmodels/config/backend-parameters/mindie.ts
  src/pages/llmodels/config/backend-parameters/sglang.ts
  src/pages/llmodels/config/backend-parameters/vllm.ts
  src/pages/llmodels/config/index.ts
  src/pages/llmodels/forms/advance-config.tsx
  src/pages/llmodels/forms/backend.tsx
Due: none

fix: gpus_per_replica appears null
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/config/index.ts
  src/pages/llmodels/forms/schedule-type.tsx
Due: npx tsx src/locales/check.ts

fix: remove input box for gpus_per_replica
  src/pages/llmodels/config/index.ts
  src/pages/llmodels/forms/basic.tsx
  src/pages/llmodels/forms/schedule-type.tsx
Due: none

fix: custom backend version suffix
  src/components/seal-form/wrapper/index.tsx
  src/locales/en-US/backends.ts
  src/locales/ja-JP/backends.ts
  src/locales/ru-RU/backends.ts
  src/locales/zh-CN/backends.ts
  src/pages/backends/components/add-modal.tsx
  src/pages/backends/components/import-yaml.tsx
  src/pages/backends/config/index.ts
  src/pages/backends/forms/basic.tsx
  src/pages/backends/forms/index.tsx
  src/pages/backends/forms/versions-config.tsx
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/update-modal.tsx
  src/pages/llmodels/config/index.ts
  src/pages/llmodels/forms/catalog.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/forms/local-path-source.tsx
  src/pages/llmodels/forms/online-source.tsx
Due: npx tsx src/locales/check.ts

fix: do not trigger evaluation replica 0
  src/pages/llmodels/config/index.ts
  src/pages/llmodels/forms/basic.tsx
  src/pages/llmodels/forms/schedule-type.tsx
  src/pages/llmodels/hooks/index.ts
Due: none

chore: update extended_kv_cache config
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/forms/kv-cache.tsx
Due: npx tsx src/locales/check.ts

fix: schdule type gpu_selctor issue
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/pages/llmodels/config/utils.ts
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/forms/kv-cache.tsx
  src/pages/llmodels/forms/schedule-type.tsx
Due: npx tsx src/locales/check.ts

feat: add speculative decoding
  src/assets/styles/common.less
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/catalog.tsx
  src/pages/llmodels/components/catalog-item.tsx
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/config/form-context.ts
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/forms/advance-config.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/forms/kv-cache.tsx
  src/pages/llmodels/forms/performance.tsx
  src/pages/llmodels/forms/speculative-decode.tsx
  src/pages/llmodels/style/catalog-item.less
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

chore: update models locales
  src/components/auto-tooltip/index.tsx
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/components/catalog-item.tsx
  src/pages/llmodels/forms/performance.tsx
  src/pages/llmodels/forms/speculative-decode.tsx
Due: npx tsx src/locales/check.ts

fix: fake spec data
  src/pages/llmodels/apis/index.ts
Due: none

fix: default spec by mode
  src/locales/en-US/models.ts
  src/locales/zh-CN/models.ts
Due: npx tsx src/locales/check.ts

style: styles
  src/components/delete-modal/index.tsx
  src/locales/en-US/models.ts
Due: npx tsx src/locales/check.ts

fix: default spec by mode
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/config/form-context.ts
  src/pages/llmodels/config/test.ts
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/forms/performance.tsx
Due: none

fix: backend change
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/config/form-context.ts
  src/pages/llmodels/forms/performance.tsx
Due: none

chore: draft model downloading
  src/components/simple-table/index.less
  src/components/simple-table/index.tsx
  src/components/tags-wrapper/theme-tag.tsx
  src/hooks/use-app-utils.ts
  src/locales/en-US/common.ts
  src/locales/en-US/models.ts
  src/locales/ja-JP/common.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/common.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/common.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/catalog.tsx
  src/pages/llmodels/components/catalog-item.tsx
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/components/instance-item.tsx
  src/pages/llmodels/config/test.ts
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/forms/kv-cache.tsx
  src/pages/llmodels/forms/speculative-decode.tsx
  src/pages/llmodels/style/catalog-item.less
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

chore: update reference to baseline
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/forms/performance.tsx
Due: npx tsx src/locales/check.ts

chore: speculative_config init in updating
  src/pages/llmodels/components/update-modal.tsx
  src/pages/llmodels/forms/speculative-decode.tsx
Due: none

fix: draft download progress should not show
  src/pages/llmodels/components/instance-item.tsx
Due: none

feat: search draft models from remote
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/config/index.ts
  src/pages/llmodels/forms/performance.tsx
  src/pages/llmodels/forms/speculative-decode.tsx
Due: none

chore: clear space onblur
  src/components/seal-form/auto-complete.tsx
  src/components/seal-form/components/not-found-content.tsx
  src/components/seal-form/seal-select.tsx
  src/config/global.d.ts
  src/pages/cluster-management/components/cloud-provider-form.tsx
  src/pages/llmodels/forms/speculative-decode.tsx
  src/pages/llmodels/hooks/use-query-draftModels.ts
Due: none

chore: show quant in catalog form
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/forms/basic.tsx
  src/pages/llmodels/forms/catalog.tsx
  src/pages/llmodels/forms/performance.tsx
  src/pages/llmodels/forms/speculative-decode.tsx
Due: npx tsx src/locales/check.ts

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  npx tsx src/locales/check.ts: any of: src/locales/**/*.ts
