Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

style: overlay scroller
  .eslintrc.js
  src/components/auto-tooltip/index.tsx
  src/components/auto-tooltip/title-tip.tsx
  src/components/editor-wrap/index.less
  src/components/highlight-code/code-viewer.tsx
  src/components/highlight-code/index.tsx
  src/components/logs-viewer/logs-list.tsx
  src/components/markdown-viewer/full-markdown.tsx
  src/components/markdown-viewer/index.less
  src/components/overlay-scroller/index.tsx
  src/components/simple-table/index.tsx
  src/components/status-tag/copy-btn.less
  src/components/status-tag/index.tsx
  src/global.less
  src/hooks/use-overlay-scroller.ts
  src/pages/llmodels/components/instance-item.tsx
  src/pages/llmodels/style/hf-model-file.less
  src/pages/playground/components/multiple-chat/model-item.tsx
Due: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only

fix: create image custom size do not work
  src/pages/playground/components/ground-images.tsx
Due: none

fix(style): dark css vars
  src/components/echarts/config.ts
  src/components/progress-bar/index.tsx
  src/components/seal-form/wrapper/select.ts
  src/components/status-tag/index.less
  src/global.less
  src/layouts/rightRender.tsx
  src/pages/llmodels/components/instance-item.tsx
  src/pages/profile/components/appearance.tsx
  src/pages/profile/index.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

chore: remove custom ui
  src/pages/profile/components/custom-ui.tsx
Due: none

style: ajust dark theme
  src/assets/styles/common.less
  src/atoms/settings.ts
  src/components/alert-info/block.less
  src/components/echarts/bar-chart.tsx
  src/components/echarts/config.ts
  src/components/echarts/h-bar.tsx
  src/components/icon-font/index.tsx
  src/components/progress-bar/index.tsx
  src/components/seal-form/wrapper/slider.ts
  src/components/status-tag/index.less
  src/config/index.ts
  src/config/theme/dark.ts
  src/global.less
  src/hooks/use-user-settings.ts
  src/layouts/index.tsx
  src/layouts/rightRender.tsx
  src/locales/en-US/common.ts
  src/locales/ja-JP/common.ts
  src/locales/ru-RU/common.ts
  src/locales/zh-CN/common.ts
  src/pages/dashboard/components/usage-inner/request-token-inner.tsx
  src/pages/llmodels/components/instance-item.tsx
  src/pages/llmodels/style/search-result.less
  src/pages/llmodels/style/separator.less
  src/pages/llmodels/style/title-wrapper.less
  src/pages/login/index.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

feat: add ThemeTag
  src/components/tags-wrapper/theme-tag.tsx
  src/pages/llmodels/components/catalog-item.tsx
  src/pages/llmodels/components/instance-item.tsx
  src/pages/llmodels/components/model-card.tsx
  src/pages/llmodels/components/model-file-item.tsx
  src/pages/llmodels/style/hf-model-file.less
  src/pages/login/components/styles.less
  src/pages/login/index.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

style: dark theme for scroller
  src/assets/images/noise_background_1f1f1f_style.svg
  src/atoms/settings.ts
  src/components/alert-info/block.less
  src/components/drop-down-buttons/index.tsx
  src/components/echarts/config.ts
  src/components/echarts/line-chart.tsx
  src/components/highlight-code/index.tsx
  src/components/highlight-code/styles/dark.less
  src/components/highlight-code/styles/index.less
  src/components/highlight-code/styles/light.less
  src/components/icon-font/index.tsx
  src/components/image-editor/tools-bar.tsx
  src/components/markdown-viewer/index.tsx
  src/components/seal-form/wrapper/index.tsx
  src/components/seal-table/index.tsx
  src/components/seal-table/styles/skeleton.less
  src/components/segment-line/index.tsx
  src/components/short-cuts/index.less
  src/components/simple-overlay/index.tsx
  src/components/status-tag/index.tsx
  src/config/theme/dark.ts
  src/global.less
  src/hooks/use-user-settings.ts
  src/layouts/index.tsx
  src/pages/llmodels/components/hf-model-file.tsx
  src/pages/llmodels/components/model-card.tsx
  src/pages/llmodels/components/search-result.tsx
  src/pages/llmodels/style/catalog-item.less
  src/pages/llmodels/style/column-wrapper.less
  src/pages/llmodels/style/data-form.less
  src/pages/llmodels/style/hf-model-file.less
  src/pages/llmodels/style/hf-model-item.less
  src/pages/llmodels/style/model-card.less
  src/pages/llmodels/style/search-result.less
  src/pages/playground/components/view-code-modal.tsx
  src/pages/playground/components/view-common-code.tsx
  src/pages/playground/style/message-input.less
  src/pages/resources/components/styles/installation.less
  src/pages/resources/components/update-labels.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

style: code viewer
  src/pages/profile/components/custom-ui.tsx
Due: none

chore: dark config
  src/assets/styles/menu.less
  src/atoms/settings.ts
  src/components/card-wrapper/index.less
  src/components/echarts/bar-chart.tsx
  src/components/echarts/chart-tooltip.tsx
  src/components/echarts/chart.tsx
  src/components/echarts/config.ts
  src/components/echarts/gauge.tsx
  src/components/echarts/h-bar.tsx
  src/components/echarts/line-chart.tsx
  src/components/echarts/scatter.tsx
  src/components/echarts/types.ts
  src/components/footer/index.less
  src/components/seal-form/components/label-info.less
  src/components/seal-form/seal-slider.tsx
  src/components/seal-form/wrapper/index.tsx
  src/components/seal-form/wrapper/slider.ts
  src/components/seal-table/components/table-header.tsx
  src/components/seal-table/index.tsx
  src/components/seal-table/styles/index.less
  src/config/theme/dark.ts
  src/config/theme/index.ts
  src/config/theme/light.ts
  src/global.less
  src/hooks/use-overlay-scroller.ts
  src/hooks/use-user-settings.ts
  src/layouts/index.tsx
  src/layouts/rightRender.tsx
  src/pages/dashboard/components/over-view.less
  src/pages/dashboard/components/over-view.tsx
  src/pages/login/index.tsx
  src/pages/playground/components/ground-embedding.tsx
  src/pages/playground/style/input-list.less
  src/pages/playground/style/rerank.less
  src/pages/usage/components/over-view.less
Due: prettier --cache --write, max lint --fix --stylelint-only

chore: custom brand color
  src/atoms/settings.ts
  src/components/seal-form/wrapper/index.tsx
  src/config/theme/dark.ts
  src/config/theme/index.ts
  src/global.less
  src/hooks/use-tab-active.ts
  src/hooks/use-user-settings.ts
  src/layouts/index.tsx
  src/pages/profile/backup.tsx
  src/pages/profile/components/custom-ui.tsx
  src/pages/profile/components/modify-password.tsx
  src/pages/profile/index.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

fix(style): global theme settings in login
  public/static/redoc.standalone.js
  src/assets/images/noise-bg.svg
  src/assets/images/noise_background_1f1f1f_style.svg
  src/atoms/settings.ts
  src/components/footer/index.tsx
  src/components/theme-toggle/index.tsx
  src/config/theme/index.ts
  src/global.less
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/style/model-card.less
  src/pages/login/components/login-form.tsx
  src/pages/login/index.tsx
  src/pages/playground/components/ground-images.tsx
  src/pages/playground/components/image-edit.tsx
  src/pages/profile/backup.tsx
  src/pages/profile/components/appearance.tsx
  src/pages/resources/components/model-files.tsx
Due: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only

Update common.ts
  src/locales/ru-RU/common.ts
Due: npx tsx src/locales/check.ts

chore: remove invalid files
  config/theme.ts
  src/components/footer/index.less
Due: prettier --cache --write, max lint --fix --stylelint-only

fix(style): dark style
  config/routes.ts
  src/assets/images/grid_background_1920x1080.png
  src/components/auto-tooltip/index.tsx
  src/components/echarts/scatter.tsx
  src/components/footer/index.tsx
  src/components/seal-form/wrapper/input.ts
  src/components/seal-form/wrapper/slider.ts
  src/components/seal-table/components/header-prefix.tsx
  src/components/seal-table/index.tsx
  src/components/seal-table/styles/header.less
  src/global.less
  src/layouts/index.tsx
  src/locales/en-US/common.ts
  src/locales/ja-JP/common.ts
  src/locales/ru-RU/common.ts
  src/locales/zh-CN/common.ts
  src/pages/404.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/config/index.ts
  src/pages/login/index.tsx
  src/pages/playground/style/message-input.less
  src/pages/resources/components/model-files.tsx
  src/pages/resources/index.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

style: login background
  src/assets/images/grid_background_1920x1080.png
  src/global.less
  src/pages/login/index.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

fix: update form value trigger tips
  src/components/seal-form/seal-textarea.tsx
  src/components/seal-form/wrapper/index.tsx
  src/config/theme/dark.ts
  src/locales/en-US/common.ts
  src/locales/en-US/menu.ts
  src/locales/ja-JP/common.ts
  src/locales/ja-JP/menu.ts
  src/locales/ru-RU/common.ts
  src/locales/ru-RU/menu.ts
  src/locales/zh-CN/common.ts
  src/locales/zh-CN/menu.ts
  src/pages/llmodels/components/advance-config.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/update-modal.tsx
  src/pages/profile/components/appearance.tsx
Due: npx tsx src/locales/check.ts

chore: error handler in stream response
  src/hooks/use-chunk-fetch.ts
Due: none

fix: update fields value
  src/components/logs-viewer/styles/index.less
  src/components/logs-viewer/virtual-log-list.tsx
  src/global.less
  src/pages/llmodels/components/advance-config.tsx
  src/pages/llmodels/components/update-modal.tsx
  src/pages/llmodels/config/index.ts
  src/pages/llmodels/hooks/use-selector-change.ts
Due: prettier --cache --write, max lint --fix --stylelint-only

style: gauge dark style
  src/components/echarts/config.ts
  src/components/echarts/gauge.tsx
Due: none

fix: form values check incorrect
  src/pages/llmodels/components/update-modal.tsx
Due: none

chore: doc link in compatible message
  src/pages/llmodels/components/compatible-alert.tsx
Due: none

chore: format message content by list
  src/pages/playground/components/ground-left.tsx
  src/pages/playground/components/multiple-chat/model-item.tsx
  src/pages/playground/hooks/use-chat-completion.ts
Due: none

fix: gpu selector sort
  src/pages/llmodels/components/advance-config.tsx
  src/pages/llmodels/hooks/index.ts
  src/pages/playground/components/chat-footer.tsx
  src/pages/playground/components/chatContent.tsx
  src/pages/playground/components/chatEmpty.tsx
  src/pages/playground/style/chat-footer.less
  src/pages/playground/style/chat-style.less
Due: prettier --cache --write, max lint --fix --stylelint-only

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  npx tsx src/locales/check.ts: any of: src/locales/**/*.ts
