Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

feat: lora for deployment
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/forms/advance-config.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/forms/lora-list-item.tsx
  src/pages/llmodels/forms/model-lora-list.tsx
  src/pages/llmodels/services/use-query-lora-list.ts
Due: none

feat: lora route
  src/pages/llmodels/config/types.ts
  src/pages/model-routes/config/types.ts
  src/pages/model-routes/forms/index.tsx
  src/pages/model-routes/forms/targets.tsx
  src/pages/model-routes/hooks/use-target-source-models.tsx
Due: none

fix: search lora ux
  src/pages/llmodels/forms/lora-list-item.tsx
  src/pages/llmodels/style/lora-selection.less
Due: prettier --cache --write, max lint --fix --stylelint-only

fix: add form validation
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/tr-TR/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/forms/lora-list-item.tsx
  src/pages/llmodels/forms/model-lora-list.tsx
  src/pages/llmodels/services/use-query-lora-list.ts
  src/pages/llmodels/style/lora-selection.less
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix: selection styles
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/forms/lora-list-item.tsx
  src/pages/llmodels/forms/model-lora-list.tsx
  src/pages/llmodels/services/use-query-lora-list.ts
  src/pages/llmodels/style/lora-selection.less
  src/pages/model-routes/forms/targets.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

feat: model file is lora
  src/locales/en-US/resources.ts
  src/locales/ja-JP/resources.ts
  src/locales/ru-RU/resources.ts
  src/locales/tr-TR/resources.ts
  src/locales/zh-CN/resources.ts
  src/pages/llmodels/components/download/target-form.tsx
  src/pages/resources/hooks/use-files-columns.tsx
Due: npx tsx src/locales/check.ts

fix: add lora tag in routes
  src/pages/model-routes/components/route-targets.tsx
Due: none

feat: expose useTableFetch via CoreUIProvider
  src/layouts/index.tsx
Due: none

feat: plugin extension slots for access, request interceptors, Users actions, and form fields
  config/routes.ts
  src/access.extensions.ts
  src/access.ts
  src/components/plugin-extra-fields.tsx
  src/layouts/Exception.tsx
  src/layouts/index.tsx
  src/pages/api-keys/components/add-apikey-modal/form.tsx
  src/pages/backends/components/backend-card.tsx
  src/pages/backends/config/index.ts
  src/pages/backends/forms/basic.tsx
  src/pages/backends/index.tsx
  src/pages/cluster-management/components/add-credential.tsx
  src/pages/cluster-management/components/cluster-form.tsx
  src/pages/maas-provider/forms/basic.tsx
  src/pages/model-routes/forms/basic.tsx
  src/pages/users/hooks/use-users-columns.tsx
  src/request-config.tsx
  src/request.extensions.ts
Due: none

fix: pick landing route by access predicate to avoid redirect loop
  src/layouts/index.tsx
Due: none

feat: add slots
  src/layouts/index.tsx
Due: none

chore: update ui 1.0.9
  package.json
Due: prettier --cache --write

chore(deps): add react-route
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix: Access Control Modal user picker uses /user-directory
  src/pages/llmodels/components/access-control-modal/form.tsx
  src/pages/users/apis/index.ts
Due: none

feat: access-control modal seam to swap the allowed_users surface
  src/pages/llmodels/components/access-control-modal/form.tsx
  src/pages/llmodels/components/access-control-modal/index.tsx
Due: none

fix: refresh Access Settings policy from /access response
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/components/access-control-modal/form.tsx
  src/pages/llmodels/components/access-control-modal/index.tsx
  src/pages/llmodels/config/types.ts
Due: none

feat: users row actions accept plugin entries
  src/pages/users/hooks/use-users-columns.tsx
  src/pages/users/index.tsx
Due: none

feat: access-control seam exposes prepended policies + create default
  src/pages/llmodels/components/access-control-modal/form.tsx
Due: none

chore: sync pnpm-lock.yaml with package.json
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: bump @gpustack/core-ui to ^1.0.10
  package.json
  pnpm-lock.yaml
  src/pages/login/index.tsx
Due: prettier --cache --write

feat: add intances list
  .gitignore
  DESIGN.md
  config/routes.ts
  src/locales/en-US/menu.ts
  src/locales/ja-JP/menu.ts
  src/locales/ru-RU/menu.ts
  src/locales/tr-TR/menu.ts
  src/locales/zh-CN/menu.ts
  src/pages/gpu-service/instances/apis/index.ts
  src/pages/gpu-service/instances/components/add-modal.tsx
  src/pages/gpu-service/instances/config/index.ts
  src/pages/gpu-service/instances/config/types.ts
  src/pages/gpu-service/instances/forms/basic.tsx
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
  src/pages/gpu-service/instances/index.tsx
  src/pages/gpu-service/storage/index.tsx
  src/pages/gpu-service/templates/index.tsx
Due: prettier --cache --write, npx tsx src/locales/check.ts

fix: instance api alignment
  src/layouts/index.tsx
  src/pages/gpu-service/constants.ts
  src/pages/gpu-service/instances/apis/index.ts
  src/pages/gpu-service/instances/components/add-modal.tsx
  src/pages/gpu-service/instances/components/instance-type-list.tsx
  src/pages/gpu-service/instances/config/index.ts
  src/pages/gpu-service/instances/config/mock-data.ts
  src/pages/gpu-service/instances/config/types.ts
  src/pages/gpu-service/instances/forms/basic.tsx
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/instance-type-overlay.tsx
  src/pages/gpu-service/instances/forms/instance-type.tsx
  src/pages/gpu-service/instances/forms/storage-volume.tsx
  src/pages/gpu-service/instances/forms/template-overlay.tsx
  src/pages/gpu-service/instances/forms/template-selector.tsx
  src/pages/gpu-service/instances/forms/template.tsx
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
  src/pages/gpu-service/instances/index.tsx
  src/pages/gpu-service/instances/services/use-create-instance.ts
  src/pages/gpu-service/instances/services/use-query-instance-types.ts
  src/pages/gpu-service/instances/services/use-update-instance.ts
  src/pages/gpu-service/templates/forms/basic.tsx
Due: none

fix: alignment api
  src/atoms/user.ts
  src/layouts/index.tsx
  src/locales/en-US/gpuservice.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/zh-CN/gpuservice.ts
  src/pages/gpu-service/instances/apis/index.ts
  src/pages/gpu-service/instances/components/add-modal.tsx
  src/pages/gpu-service/instances/components/instance-type-item.tsx
  src/pages/gpu-service/instances/components/instance-type-list.tsx
  src/pages/gpu-service/instances/config/index.ts
  src/pages/gpu-service/instances/config/types.ts
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/instance-type.tsx
  src/pages/gpu-service/instances/forms/storage-volume.tsx
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
  src/pages/gpu-service/instances/index.tsx
  src/pages/gpu-service/instances/services/use-create-instance.ts
  src/pages/gpu-service/instances/services/use-update-instance.ts
  src/pages/gpu-service/public-keys/index.tsx
  src/pages/gpu-service/storage/apis/index.ts
  src/pages/gpu-service/storage/config/index.ts
  src/pages/gpu-service/storage/config/types.ts
  src/pages/gpu-service/storage/hooks/use-storage-columns.tsx
  src/pages/gpu-service/storage/index.tsx
  src/pages/gpu-service/storage/services/use-create-storage.ts
  src/pages/gpu-service/storage/services/use-query-storage.ts
  src/pages/gpu-service/storage/services/use-update-storage.ts
  src/pages/gpu-service/templates/config/index.tsx
  src/pages/gpu-service/templates/forms/basic.tsx
  src/pages/gpu-service/templates/forms/index.tsx
  src/pages/gpu-service/utils.ts
Due: npx tsx src/locales/check.ts

fix: display templates by manufacturer
  src/locales/en-US/gpuservice.ts
  src/locales/en-US/no-result.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ja-JP/no-result.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/ru-RU/no-result.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/tr-TR/no-result.ts
  src/locales/zh-CN/gpuservice.ts
  src/locales/zh-CN/no-result.ts
  src/pages/gpu-service/instances/components/add-modal.tsx
  src/pages/gpu-service/instances/components/instance-type-list.tsx
  src/pages/gpu-service/instances/config/index.ts
  src/pages/gpu-service/instances/config/types.ts
  src/pages/gpu-service/instances/forms/basic.tsx
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/instance-type.tsx
  src/pages/gpu-service/instances/forms/storage-overlay.tsx
  src/pages/gpu-service/instances/forms/storage-volume.tsx
  src/pages/gpu-service/instances/forms/template-selector.tsx
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
  src/pages/gpu-service/instances/index.tsx
  src/pages/gpu-service/storage/config/index.ts
  src/pages/gpu-service/storage/forms/basic.tsx
  src/pages/gpu-service/storage/hooks/use-storage-columns.tsx
  src/pages/gpu-service/storage/index.tsx
  src/pages/gpu-service/templates/forms/basic.tsx
Due: npx tsx src/locales/check.ts

fix: storage api alignment
  config/routes.ts
  src/config/global.d.ts
  src/config/index.ts
  src/layouts/index.tsx
  src/locales/en-US/menu.ts
  src/locales/ja-JP/menu.ts
  src/locales/ru-RU/menu.ts
  src/locales/tr-TR/menu.ts
  src/locales/zh-CN/menu.ts
  src/pages/gpu-service/constants.ts
  src/pages/gpu-service/instances/apis/index.ts
  src/pages/gpu-service/instances/config/types.ts
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/storage-volume.tsx
  src/pages/gpu-service/public-keys/apis/index.ts
  src/pages/gpu-service/public-keys/index.tsx
  src/pages/gpu-service/public-keys/services/use-create-sshkey.ts
  src/pages/gpu-service/public-keys/services/use-get-sshkey.ts
  src/pages/gpu-service/public-keys/services/use-update-sshkey.ts
  src/pages/gpu-service/public-keys/types.ts
  src/pages/gpu-service/storage/apis/index.ts
  src/pages/gpu-service/storage/config/index.ts
  src/pages/gpu-service/storage/config/mock-data.ts
  src/pages/gpu-service/storage/config/types.ts
  src/pages/gpu-service/storage/forms/basic.tsx
  src/pages/gpu-service/storage/forms/index.tsx
  src/pages/gpu-service/storage/hooks/use-storage-columns.tsx
  src/pages/gpu-service/storage/index.tsx
  src/pages/gpu-service/storage/services/use-create-storage.ts
  src/pages/gpu-service/storage/services/use-update-storage.ts
  src/pages/gpu-service/templates/config/types.ts
  src/pages/gpu-service/templates/forms/basic.tsx
  src/pages/gpu-service/templates/forms/ports.tsx
  src/pages/profile/index.tsx
Due: npx tsx src/locales/check.ts

refactor: add instance modal
  src/pages/gpu-service/instances/components/add-modal.tsx
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/instance-type.tsx
  src/pages/gpu-service/instances/forms/template-overlay.tsx
Due: none

fix: template api alignment
  src/pages/gpu-service/templates/apis/index.ts
  src/pages/gpu-service/templates/components/template-card.tsx
  src/pages/gpu-service/templates/config/mock-data.ts
  src/pages/gpu-service/templates/config/types.ts
  src/pages/gpu-service/templates/forms/basic.tsx
  src/pages/gpu-service/templates/forms/env.tsx
  src/pages/gpu-service/templates/forms/index.tsx
  src/pages/gpu-service/templates/forms/ports.tsx
  src/pages/gpu-service/templates/index.tsx
Due: none

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  npx tsx src/locales/check.ts: any of: src/locales/**/*.ts
