Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix: extra button control
  .lintstagedrc
  src/components/seal-table/components/row-prefix.tsx
  src/locales/lang-config-map.tsx
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/update-modal.tsx
Due: none

fix: set env null after change backend
  src/pages/llmodels/components/data-form.tsx
  src/pages/llmodels/components/update-modal.tsx
Due: none

chore: init max tokens for mindie models
  src/components/logs-viewer/styles/index.less
  src/pages/playground/hooks/config.ts
  src/pages/playground/hooks/use-init-meta.ts
Due: prettier --cache --write, max lint --fix --stylelint-only

chore: add parameter --truncation
  src/pages/llmodels/config/mindie-config.ts
Due: none

fix: description consistency
  src/locales/zh-CN/models.ts
Due: npx tsx src/locales/check.ts

chore: remove first login ux
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/index.tsx
  src/pages/playground/style/content-item.less
Due: prettier --cache --write, max lint --fix --stylelint-only

chore: backend description
  src/components/seal-form/components/label-info.tsx
  src/components/tooltip-list/index.tsx
  src/global.less
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/config/index.ts
  src/pages/llmodels/hooks/index.ts
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix(style): tooltip overflow
  src/components/overlay-scroller/index.tsx
  src/pages/llmodels/components/file-parts.tsx
  src/pages/llmodels/components/model-file-item.tsx
  src/pages/llmodels/config/mindie-config.ts
  src/pages/resources/components/model-files.tsx
Due: none

chore: allow switch backend between vllm and mindie
  src/components/overlay-scroller/index.tsx
  src/components/page-tools/index.tsx
  src/pages/llmodels/components/search-model.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/components/update-modal.tsx
  src/pages/llmodels/download/index.tsx
  src/pages/resources/components/model-files.tsx
Due: none

fix(style): see flickering in tooltip overflow dom
  src/components/markdown-viewer/index.less
  src/components/overlay-scroller/index.tsx
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/components/model-file-item.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

Update models.ts
  src/locales/ru-RU/models.ts
Due: npx tsx src/locales/check.ts

Update playground.ts
  src/locales/ru-RU/playground.ts
Due: npx tsx src/locales/check.ts

Update resources.ts
  src/locales/ru-RU/resources.ts
Due: npx tsx src/locales/check.ts

style: overflow layer padding
  src/components/auto-tooltip/title-tip.tsx
  src/components/overlay-scroller/index.tsx
  src/components/seal-form/components/label-info.tsx
  src/components/tooltip-list/index.tsx
  src/global.less
  src/pages/llmodels/components/deploy-builtin-modal.tsx
  src/pages/llmodels/components/deploy-modal.tsx
  src/pages/llmodels/components/update-modal.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only

chore: update vllm parameters, do not change backend when file type unknown
  src/locales/en-US/models.ts
  src/locales/en-US/resources.ts
  src/locales/ja-JP/models.ts
  src/locales/ja-JP/resources.ts
  src/locales/ru-RU/models.ts
  src/locales/ru-RU/resources.ts
  src/locales/zh-CN/models.ts
  src/locales/zh-CN/resources.ts
  src/pages/llmodels/components/api-access-info.tsx
  src/pages/llmodels/components/model-card.tsx
  src/pages/llmodels/components/update-modal.tsx
  src/pages/llmodels/config/vllm-config.ts
  src/pages/llmodels/forms/local-path.tsx
  src/pages/resources/components/model-files.tsx
Due: npx tsx src/locales/check.ts

fix(style): api access info modal with
  src/pages/llmodels/components/api-access-info.tsx
  src/pages/llmodels/components/incompatiable-info.tsx
Due: none

chore: evaluate error message
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/components/compatible-alert.tsx
  src/pages/llmodels/components/incompatiable-info.tsx
  src/pages/llmodels/components/search-model.tsx
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/hooks/index.ts
  src/pages/playground/components/ground-left.tsx
  src/pages/playground/components/multiple-chat/model-item.tsx
Due: npx tsx src/locales/check.ts

style: chat role
  src/pages/llmodels/hooks/index.ts
  src/pages/playground/style/content-item.less
Due: prettier --cache --write, max lint --fix --stylelint-only

style: model file source tooltip
  src/pages/resources/components/model-files.tsx
Due: none

chore: disabled across workers for mindie
  src/pages/llmodels/components/advance-config.tsx
Due: none

fix: set llamabox to backend for local gguf file
  src/pages/llmodels/components/update-modal.tsx
  src/pages/llmodels/forms/local-path.tsx
Due: none

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  npx tsx src/locales/check.ts: any of: src/locales/**/*.ts
