Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix(password): allow dot in password rule
  src/config/index.ts
  src/locales/en-US/users.ts
  src/locales/ja-JP/users.ts
  src/locales/ru-RU/users.ts
  src/locales/tr-TR/users.ts
  src/locales/zh-CN/users.ts
Due: npx tsx src/locales/check.ts

feat(gpu-service): add partitioned (hardware slice) instance mode
  src/locales/en-US/gpuservice.ts
  src/locales/ja-JP/gpuservice.ts
  src/locales/ru-RU/gpuservice.ts
  src/locales/tr-TR/gpuservice.ts
  src/locales/zh-CN/gpuservice.ts
  src/pages/gpu-service/instances/components/instance-type-item.tsx
  src/pages/gpu-service/instances/config/index.ts
  src/pages/gpu-service/instances/config/types.ts
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/instance-type.tsx
  src/pages/gpu-service/instances/services/use-query-instance-types.ts
  src/pages/gpu-service/instances/utils/render-instance-type.tsx
Due: npx tsx src/locales/check.ts

chore(design-review): rename section to Self-improvement
  .claude/skills/design-review/SKILL.md
Due: prettier --cache --write

chore: add design-review skill
  .claude/skills/design-review/SKILL.md
Due: prettier --cache --write

feat(models): scheduled scaling form
  package.json
  pnpm-lock.yaml
  src/atoms/system.ts
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/tr-TR/models.ts
  src/locales/zh-CN/models.ts
  src/pages/cluster-management/config/types.ts
  src/pages/llmodels/components/deployment/update-modal.tsx
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/forms/basic.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/forms/scheduled-scaling.tsx
  src/pages/llmodels/hooks/index.ts
Due: prettier --cache --write, npx tsx src/locales/check.ts

fix(login): handle refresh during initial password change
  src/pages/login/components/password-form.tsx
Due: none

fix(routes): hide enterprise teaser menus
  config/routes.ts
Due: none

feat(models): deploy a model onto a sliced GPU
  src/atoms/models.ts
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/tr-TR/models.ts
  src/locales/zh-CN/models.ts
  src/pages/gpu-service/instance-types/config/types.ts
  src/pages/llmodels/components/deployment/update-modal.tsx
  src/pages/llmodels/components/instance-cells/distribute-info-cell.tsx
  src/pages/llmodels/components/instance-cells/name-cell.tsx
  src/pages/llmodels/components/instance-cells/vgpu-info.ts
  src/pages/llmodels/config/index.ts
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/forms/basic.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/forms/schedule-type.tsx
  src/pages/llmodels/forms/vgpu-type.tsx
  src/pages/llmodels/hooks/index.ts
  src/pages/llmodels/hooks/use-form-initial-values.ts
  src/pages/llmodels/hooks/use-gpu-type-display-name.ts
  src/pages/llmodels/instance-view/use-instance-columns.tsx
  src/pages/llmodels/utils/index.ts
Due: npx tsx src/locales/check.ts

refactor(gpu-service): read partition availability from the ledger
  src/pages/gpu-service/instance-types/config/types.ts
  src/pages/gpu-service/instances/config/index.ts
  src/pages/gpu-service/instances/config/types.ts
  src/pages/gpu-service/instances/services/use-query-instance-types.ts
Due: none

fix(gpu-service): offer only partition profiles the fleet can build
  src/pages/gpu-service/instances/config/index.ts
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/instance-type.tsx
Due: none

fix(llmodels): offer only partition profiles the cluster can build
  src/pages/llmodels/forms/vgpu-type.tsx
Due: none

fix(gpu-service): read the type card's partition figure from inventory
  src/pages/gpu-service/instances/components/instance-type-item.tsx
Due: none

refactor(gpu-service): keep the capability catalog out of reach
  src/pages/gpu-service/instances/config/index.ts
Due: none

fix(gpu-service): gate partitions on inventory, not the winner's bundle
  src/pages/gpu-service/instances/config/index.ts
  src/pages/gpu-service/instances/services/use-query-instance-types.ts
Due: none

fix(gpu-service): render the type card's partition figure
  src/pages/gpu-service/instances/components/instance-type-item.tsx
Due: none

fix(gpu-service): disable Full GPU when no whole card is left
  src/pages/gpu-service/instances/forms/instance-type.tsx
Due: none

chore: bump @gpustack/core-ui to v1.1.0
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix(layout): smooth sider menu collapse/expand animation
  src/layouts/sider-menu.tsx
Due: none

chore: remove unused EPUB upload support
  src/pages/playground/components/upload-file.tsx
  src/pages/playground/config/index.ts
Due: none

chore(deps): bump axios to 1.18.1, js-yaml to 4.3.0, drop unused dompurify
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: remove unused antv/g6
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix(build): name assets by content hash instead of build timestamp
  config/config.ts
  plugin.ts
Due: none

feat(layout): global reload assets
  config/asset-recovery.ts
  src/app.tsx
  src/config/global.d.ts
  src/layouts/error-boundary.tsx
  src/layouts/error-result.tsx
  src/locales/en-US/common.ts
  src/locales/ja-JP/common.ts
  src/locales/ru-RU/common.ts
  src/locales/tr-TR/common.ts
  src/locales/zh-CN/common.ts
Due: npx tsx src/locales/check.ts

fix(build): recover from a stale index.html with one cache-busting reload
  config/asset-recovery.ts
  plugin.ts
Due: none

fix(build): assert build assets stay root-relative for asset recovery
  plugin.ts
  src/layouts/error-result.tsx
Due: none

fix(build): bind the asset-recovery ordering guard to the inserted node
  plugin.ts
Due: none

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  npx tsx src/locales/check.ts: any of: src/locales/**/*.ts
