Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix(benchmark): reset only the axis-denominated stage values
  src/pages/benchmark/forms/random-settings.tsx
Due: none

fix(sources): refresh the list once the saved source is being served
  src/locales/en-US/common.ts
  src/locales/ja-JP/common.ts
  src/locales/ru-RU/common.ts
  src/locales/tr-TR/common.ts
  src/locales/zh-CN/common.ts
  src/pages/_components/source-config/drawer.tsx
  src/pages/_components/source-config/slot-form.tsx
  src/pages/llmodels/components/catalog/catalog-source-entry.tsx
Due: npx tsx src/locales/check.ts

fix(model-routes): synchronize routing mode transitions
  src/pages/model-routes/config/types.ts
  src/pages/model-routes/forms/index.tsx
  src/pages/model-routes/forms/lb-policy.tsx
  src/pages/model-routes/forms/targets.tsx
  src/pages/model-routes/hooks/use-routes-columns.tsx
Due: none

chore(iconfont): update notification and mail icons
  src/components/iconfont/iconfont.css
  src/components/iconfont/iconfont.js
  src/components/iconfont/iconfont.json
  src/components/iconfont/iconfont.ttf
  src/components/iconfont/iconfont.woff
  src/components/iconfont/iconfont.woff2
Due: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only

feat(models): deploy a built-in backend with a custom image
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/tr-TR/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/components/deployment/deploy-builtin-modal.tsx
  src/pages/llmodels/components/deployment/deploy-modal.tsx
  src/pages/llmodels/components/deployment/runtime-choice.test.ts
  src/pages/llmodels/components/deployment/runtime-choice.ts
  src/pages/llmodels/config/form-context.ts
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/forms/backend.tsx
  src/pages/llmodels/forms/index.tsx
  src/pages/llmodels/forms/use-runtime-choice-mode.test.tsx
  src/pages/llmodels/forms/use-runtime-choice-mode.ts
Due: prettier --cache --write, npx tsx src/locales/check.ts

docs: respect drawer and modal dismissal defaults in design review
  .claude/skills/design-review/SKILL.md
Due: prettier --cache --write

fix(llmodels): honor the slice VRAM ratio in compatibility check
  src/pages/llmodels/forms/schedule-type.tsx
  src/pages/llmodels/forms/vgpu-type.tsx
Due: none

fix: rename GPUSTACK_KV_IFNAME to GPUSTACK_KV_TRANSFER_IFNAME
  src/pages/resources/config/gpu-driver.ts
Due: none

fix(llmodels): carry the committed selector in the evaluate notify
  src/pages/llmodels/forms/vgpu-type.tsx
Due: none

fixup! fix(llmodels): carry the committed selector in the evaluate notify
  src/pages/llmodels/forms/vgpu-type.tsx
Due: none

fixup! fix(llmodels): honor the slice VRAM ratio in compatibility check
  src/pages/llmodels/forms/schedule-type.tsx
Due: none

fix(benchmark): reset complete stage settings on load type changes
  src/pages/benchmark/forms/random-settings.tsx
Due: none

fix(gpustack-ui): render the instance type from the resolved summary
  src/pages/gpu-service/instances/config/types.ts
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/instance-type.tsx
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
  src/pages/gpu-service/instances/utils/instance-description.ts
  src/pages/gpu-service/instances/utils/render-instance-type.tsx
  src/pages/gpu-service/instances/utils/type-snapshot.ts
Due: none

feat(models): add deployment revision history and rollback controls
  package.json
  src/locales/en-US/model-revisions.ts
  src/locales/ja-JP/model-revisions.ts
  src/locales/ru-RU/model-revisions.ts
  src/locales/tr-TR/model-revisions.ts
  src/locales/zh-CN/model-revisions.ts
  src/pages/llmodels/components/deployment/plan-document.ts
  src/pages/llmodels/components/deployment/revisions/config/types.ts
  src/pages/llmodels/components/deployment/revisions/hooks/revision-title.test.mts
  src/pages/llmodels/components/deployment/revisions/hooks/use-model-revisions.test.mts
  src/pages/llmodels/components/deployment/revisions/hooks/use-model-revisions.ts
  src/pages/llmodels/components/deployment/revisions/revision-comparison.tsx
  src/pages/llmodels/components/deployment/revisions/revision-history-drawer.module.less
  src/pages/llmodels/components/deployment/revisions/revision-history-drawer.tsx
  src/pages/llmodels/components/deployment/revisions/rollback-preview-panel.tsx
  src/pages/llmodels/components/deployment/revisions/services/index.ts
  src/pages/llmodels/components/table-list.tsx
  src/pages/llmodels/config/types.ts
  src/pages/llmodels/hooks/use-models-columns.tsx
  src/pages/llmodels/utils/deployment-yaml.test.ts
  src/pages/llmodels/utils/deployment-yaml.ts
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix(gpustack-ui): keep the edit form off the stale description blob
  src/pages/gpu-service/instances/README.md
  src/pages/gpu-service/instances/components/instance-type-item.tsx
  src/pages/gpu-service/instances/forms/index.tsx
  src/pages/gpu-service/instances/forms/instance-type.tsx
Due: prettier --cache --write

fix(gpustack-ui): keep the persisted resources on a summary-less edit submit
  src/pages/gpu-service/instances/forms/index.tsx
Due: none

refactor: update coverage_applicable for benchmark
  src/locales/en-US/benchmark.ts
  src/locales/ja-JP/benchmark.ts
  src/locales/ru-RU/benchmark.ts
  src/locales/tr-TR/benchmark.ts
  src/locales/zh-CN/benchmark.ts
  src/pages/benchmark/components/summary/validity-alert.tsx
  src/pages/benchmark/config/detail-types.ts
  src/pages/benchmark/config/types.ts
  src/pages/benchmark/hooks/use-column-settings.tsx
Due: npx tsx src/locales/check.ts

feat(users): show full names in user selectors
  src/pages/api-keys/index.tsx
  src/pages/dashboard/components/usage-inner/export-data.tsx
  src/pages/dashboard/components/usage-inner/filter-bar.tsx
  src/pages/dashboard/components/usage-inner/use-usage-data.tsx
  src/pages/llmodels/components/access-control-modal/form.tsx
  src/pages/users/components/user-option-content.tsx
  src/pages/users/utils/format-user-option.ts
Due: none

feat(model-routes): decision service (systemone) provider & route plugin UI
  src/locales/en-US/ai.ts
  src/locales/en-US/provider.ts
  src/locales/en-US/routes.ts
  src/locales/ja-JP/ai.ts
  src/locales/ja-JP/provider.ts
  src/locales/ja-JP/routes.ts
  src/locales/ru-RU/ai.ts
  src/locales/ru-RU/provider.ts
  src/locales/ru-RU/routes.ts
  src/locales/tr-TR/ai.ts
  src/locales/tr-TR/provider.ts
  src/locales/tr-TR/routes.ts
  src/locales/zh-CN/ai.ts
  src/locales/zh-CN/provider.ts
  src/locales/zh-CN/routes.ts
  src/pages/maas-provider/apis/index.ts
  src/pages/maas-provider/components/provider-logo.tsx
  src/pages/maas-provider/components/provider-models.tsx
  src/pages/maas-provider/config/providers.ts
  src/pages/maas-provider/forms/basic.tsx
  src/pages/maas-provider/forms/index.tsx
  src/pages/maas-provider/forms/model-item.tsx
  src/pages/maas-provider/forms/supported-models.tsx
  src/pages/maas-provider/hooks/use-provider-columns.tsx
  src/pages/maas-provider/hooks/use-provider-required-fields.tsx
  src/pages/maas-provider/hooks/use-query-provider-models.tsx
  src/pages/model-routes/config/types.ts
  src/pages/model-routes/forms/index.tsx
  src/pages/model-routes/forms/lb-policy.tsx
  src/pages/model-routes/forms/targets.tsx
  src/pages/model-routes/hooks/use-target-source-models.tsx
  src/pages/model-routes/utils/lb-plugins.ts
Due: npx tsx src/locales/check.ts

fix(usage): improve grouped token tooltips and details
  src/global.less
  src/locales/en-US/usage.ts
  src/locales/ja-JP/usage.ts
  src/locales/ru-RU/usage.ts
  src/locales/tr-TR/usage.ts
  src/locales/zh-CN/usage.ts
  src/pages/_components/bar-chart/index.tsx
  src/pages/usage/components/daily-usage.tsx
  src/pages/usage/components/grouped-usage-details-modal.tsx
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

fix(i18n): translate model revision history and custom image in tr-TR
  src/locales/tr-TR/benchmark.ts
  src/locales/tr-TR/model-revisions.ts
  src/locales/tr-TR/models.ts
Due: npx tsx src/locales/check.ts

docs(usage): explain global tooltip style scope
  src/global.less
Due: prettier --cache --write, max lint --fix --stylelint-only

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  npx tsx src/locales/check.ts: any of: src/locales/**/*.ts
