Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

chore: preview field use switch
  src/components/seal-form/config/components.ts
  src/components/seal-form/seal-switch.tsx
  src/components/seal-form/wrapper/index.tsx
  src/locales/zh-CN/models.ts
  src/pages/playground/components/ground-images.tsx
  src/pages/playground/components/image-edit.tsx
  src/pages/playground/config/params-config.ts
  src/pages/playground/config/types.ts
Due: npx tsx src/locales/check.ts

fix: system theme
  src/atoms/settings.ts
  src/hooks/use-user-settings.ts
  src/locales/en-US/common.ts
  src/locales/en-US/models.ts
  src/locales/ja-JP/common.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/common.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/common.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/components/ollama-tips.tsx
  src/pages/playground/components/multiple-chat/message-body.tsx
  src/pages/profile/components/appearance.tsx
Due: npx tsx src/locales/check.ts

fix: theme setting in login
  src/components/icon-font/index.tsx
  src/components/theme-toggle/theme-drop-actions.tsx
  src/pages/login/components/login-form.tsx
  src/pages/profile/components/appearance.tsx
Due: none

chore: update iconfont files
  src/components/icon-font/iconfont/iconfont.css
  src/components/icon-font/iconfont/iconfont.js
  src/components/icon-font/iconfont/iconfont.json
  src/components/icon-font/iconfont/iconfont.ttf
  src/components/icon-font/iconfont/iconfont.woff
  src/components/icon-font/iconfont/iconfont.woff2
  src/components/icon-font/index.tsx
Due: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only

fix(style): rerank text overlap
  src/pages/playground/style/rerank.less
Due: prettier --cache --write, max lint --fix --stylelint-only

fix: theme setting miss after refreshing
  src/atoms/settings.ts
  src/hooks/use-user-settings.ts
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/components/advance-config.tsx
  src/pages/llmodels/config/mindie-config.ts
Due: npx tsx src/locales/check.ts

chore: add dark mask, remove clear button in audio and image
  src/atoms/settings.ts
  src/components/dark-mask/index.tsx
  src/layouts/index.tsx
  src/pages/login/index.tsx
  src/pages/playground/components/ground-images.tsx
  src/pages/playground/components/ground-tts.tsx
  src/pages/playground/components/image-edit.tsx
  src/pages/playground/components/message-input.tsx
Due: none

chore: init mask theme
  src/components/dark-mask/index.tsx
  src/layouts/index.tsx
Due: none

chore: update error components for loading file failed
  src/atoms/settings.ts
  src/layouts/error-boundary.tsx
  src/layouts/error-result.tsx
  src/layouts/index.tsx
  src/locales/en-US/common.ts
  src/locales/ja-JP/common.ts
  src/locales/ru-RU/common.ts
  src/locales/zh-CN/common.ts
Due: npx tsx src/locales/check.ts

fix: clear query do not trigger a search
  src/pages/playground/components/ground-reranker.tsx
Due: none

fix: add delete action for table watch
  src/hooks/use-table-fetch.ts
Due: none

fix: refresh selection after deleting by batch
  src/components/delete-modal/index.tsx
  src/hooks/use-table-fetch.ts
  src/pages/llmodels/components/table-list.tsx
  src/utils/index.ts
Due: none

fix: playground parameters area resizable
  src/hooks/use-overlay-scroller.ts
  src/pages/playground/components/ground-embedding.tsx
  src/pages/playground/components/ground-reranker.tsx
  src/pages/playground/embedding.tsx
  src/pages/playground/hooks/use-chat-completion.ts
  src/pages/playground/hooks/use-collapse-layout.tsx
  src/pages/playground/hooks/use-text-image.ts
  src/pages/playground/images.tsx
  src/pages/playground/rerank.tsx
  src/pages/playground/speech.tsx
  src/pages/playground/style/ground-left.less
Due: prettier --cache --write, max lint --fix --stylelint-only

Update common.ts
  src/locales/ru-RU/common.ts
Due: npx tsx src/locales/check.ts

chore: adjust the delay for scroller
  src/hooks/use-overlay-scroller.ts
Due: none

perf: embedding calc in worker process
  config/config.ts
  package.json
  pnpm-lock.yaml
  src/components/seal-form/row-textarea.tsx
  src/layouts/error-result.tsx
  src/locales/en-US/playground.ts
  src/pages/playground/components/ground-embedding.tsx
  src/pages/playground/components/ground-reranker.tsx
  src/pages/playground/components/input-list.tsx
  src/pages/playground/config/embedding-worker.ts
  src/pages/playground/config/embedding-worker.worker.ts
  src/pages/playground/config/paste.worker.ts
  src/pages/playground/hooks/use-embedding-worker.ts
  tsconfig.json
Due: prettier --cache --write, npx tsx src/locales/check.ts

fix: remove worker-loader
  config/config.ts
Due: none

chore: add watch for worker and gpu updating
  src/hooks/use-table-fetch.ts
  src/pages/llmodels/components/instance-item.tsx
  src/pages/llmodels/components/table-list.tsx
  src/pages/playground/components/ground-embedding.tsx
  src/pages/playground/config/paste.worker.ts
  src/pages/resources/components/gpus.tsx
  src/pages/resources/components/model-files.tsx
  src/pages/resources/components/workers.tsx
Due: none

fix: pca calculating takes a long time
  src/components/echarts/scatter.tsx
  src/global.less
  src/pages/playground/components/ground-embedding.tsx
  src/pages/playground/config/embedding-worker.worker.ts
Due: prettier --cache --write, max lint --fix --stylelint-only

chore: show llm code with common component
  src/components/seal-table/components/table-row.tsx
  src/pages/playground/components/ground-left.tsx
  src/pages/playground/components/multiple-chat/model-item.tsx
  src/pages/playground/components/view-code-modal.tsx
  src/pages/playground/components/view-common-code.tsx
  src/pages/playground/view-code/llm.ts
  src/pages/playground/view-code/utils.ts
Due: none

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  npx tsx src/locales/check.ts: any of: src/locales/**/*.ts
