Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

.lintstagedrc:

{
  "*.{md,json}": ["prettier --cache --write"],
  "*.{js,jsx}": ["max lint --fix --eslint-only", "prettier --cache --write"],
  "*.{css,less}": [
    "max lint --fix --stylelint-only",
    "prettier --cache --write"
  ],
  "!public/vs/**": [],
  "*.ts?(x)": [
    "max lint --fix --eslint-only",
    "prettier --cache --parser=typescript --write"
  ],
  "src/locales/**/*.ts": ["npx tsx src/locales/check.ts"]
}

feat(gpu-service): lock delete on operator-derived instance types
  src/pages/gpu-service/instance-types/config/types.ts
  src/pages/gpu-service/instance-types/hooks/use-instance-type-columns.tsx
  src/pages/gpu-service/instance-types/index.tsx
Due: none

feat(llmodels): deduplicate the slicing GPU Type list by flavor
  src/pages/llmodels/forms/vgpu-type.tsx
Due: none

refactor(gpu-service): leave the accelerator cells blank on a CPU-only instance
  src/pages/gpu-service/instances/README.md
  src/pages/gpu-service/instances/components/utilization-cell.tsx
  src/pages/gpu-service/instances/styles/utilization-cell.module.less
Due: prettier --cache --write, max lint --fix --stylelint-only

fix(gpu-service): offer SSH connect only when a key is attached
  src/pages/gpu-service/instances/hooks/use-instances-columns.tsx
Due: none

feat(gpu-service): filter cluster pickers by cluster purpose
  src/locales/en-US/no-result.ts
  src/locales/ja-JP/no-result.ts
  src/locales/ru-RU/no-result.ts
  src/locales/tr-TR/no-result.ts
  src/locales/zh-CN/no-result.ts
  src/pages/gpu-service/instance-types/index.tsx
  src/pages/gpu-service/instances/index.tsx
  src/pages/llmodels/hooks/use-form-initial-values.ts
Due: npx tsx src/locales/check.ts

chore: bump @gpustack/core-ui to v1.1.9
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore(husky): reject staged enterprise build artefacts
  .husky/pre-commit
  scripts/check-enterprise-pollution.cjs
Due: none

perf(locales): fetch the plugin's language packs on demand
  src/locales/load-messages.ts
  src/plugins/locale-merger.ts
  src/plugins/types.ts
Due: npx tsx src/locales/check.ts

docs(layouts): record why App keeps component={false}
  src/layouts/index.tsx
Due: none

perf(locales): load the non-default language packs on demand
  eslint.config.js
  src/app.tsx
  src/components/lang-select/index.tsx
  src/locales/ja-JP.ts
  src/locales/load-messages.ts
  src/locales/registry.ts
  src/locales/ru-RU.ts
  src/locales/tr-TR.ts
  src/pages/profile/components/appearance.tsx
  src/plugins/locale-merger.ts
Due: prettier --cache --write, max lint --fix --eslint-only, npx tsx src/locales/check.ts

chore: bump @gpustack/core-ui to v1.1.11
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: remove unused files
  .gitignore
  src/pages/playground/components/upload-file.tsx
  src/pages/playground/config/index.ts
Due: none

perf(layouts): drop the unused antd icon barrel
  src/layouts/icons.tsx
  src/layouts/index.tsx
  src/layouts/runtime.tsx
Due: none

chore: bump @gpustack/core-ui to v1.1.12
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

feat: namespace browser storage keys
  src/atoms/pagination.ts
  src/atoms/settings.ts
  src/atoms/tab-active.ts
  src/atoms/user.ts
  src/atoms/utils/index.ts
  src/layouts/github-star.tsx
  src/utils/access-probes.ts
  src/utils/localstore/index.ts
Due: none

docs(asset-recovery): explain why it must not use nsSession
  src/utils/asset-recovery.ts
Due: none

feat(ui): serve correctly under a reverse-proxy subpath
  config/config.ts
  plugin.ts
  src/app.tsx
  src/config/settings.ts
  src/layouts/index.tsx
  src/pages/benchmark/services/use-export-benchmark.ts
  src/pages/cluster-management/components/register-cluster-inner.tsx
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/components/api-access-info.tsx
  src/pages/llmodels/forms/basic.tsx
  src/pages/llmodels/hooks/use-models-columns.tsx
  src/pages/login/hooks/use-sso-auth.ts
  src/pages/login/index.tsx
  src/pages/playground/apis/index.ts
  src/pages/playground/view-code/audio.ts
  src/pages/playground/view-code/embedding.ts
  src/pages/playground/view-code/image.ts
  src/pages/playground/view-code/llm.ts
  src/pages/playground/view-code/rerank.ts
  src/pages/playground/view-code/video.ts
  src/pages/resources/apis/index.ts
  src/pages/resources/components/script-install.tsx
  src/request-config.tsx
  src/utils/fetch-chunk-data.ts
  src/utils/with-base-path.ts
Due: none

feat(maas-provider): support custom Anthropic URL for claude provider
  src/locales/en-US/provider.ts
  src/locales/ja-JP/provider.ts
  src/locales/ru-RU/provider.ts
  src/locales/tr-TR/provider.ts
  src/locales/zh-CN/provider.ts
  src/pages/maas-provider/config/form-context.ts
  src/pages/maas-provider/config/types.ts
  src/pages/maas-provider/forms/basic.tsx
  src/pages/maas-provider/forms/index.tsx
  src/pages/maas-provider/forms/provider-configs.tsx
  src/pages/maas-provider/forms/supported-models.tsx
  src/pages/maas-provider/hooks/use-provider-required-fields.tsx
  src/pages/maas-provider/hooks/use-query-provider-models.tsx
  src/utils/index.ts
Due: npx tsx src/locales/check.ts

feat(playground): disable ref_audio for TTS models without voice cloning
  src/locales/en-US/playground.ts
  src/locales/ja-JP/playground.ts
  src/locales/ru-RU/playground.ts
  src/locales/tr-TR/playground.ts
  src/locales/zh-CN/playground.ts
  src/pages/playground/speech/forms/tts-advance.tsx
  src/pages/playground/speech/forms/tts-form.tsx
Due: npx tsx src/locales/check.ts

fix(llmodels): stop double-prefixing the proxy URL sent through axios
  src/pages/llmodels/apis/index.ts
Due: none

feat(pageloading): add page loading
  src/components/page-loading/index.tsx
Due: none

style(deploy-form): scalling border radius
  src/pages/llmodels/forms/scheduled-scaling.tsx
Due: none

fix(login): surface the SSO error toast instead of navigating away from /login
  src/pages/login/components/login-form.tsx
Due: none

fix(login): keep the initial password across a page refresh
  src/atoms/user.ts
  src/atoms/utils/index.ts
  src/pages/login/apis/index.ts
  src/pages/login/hooks/use-initial-password-guard.ts
  src/pages/login/hooks/use-local-auth.ts
  src/pages/login/index.tsx
Due: none

feat(llmodels): show whole-instance vram and worker count in the name tooltip
  src/locales/en-US/models.ts
  src/locales/ja-JP/models.ts
  src/locales/ru-RU/models.ts
  src/locales/tr-TR/models.ts
  src/locales/zh-CN/models.ts
  src/pages/llmodels/components/instance-cells/name-cell.tsx
Due: npx tsx src/locales/check.ts

fix(gpu-service): drop the duplicate success message on instance type toggle
  src/pages/gpu-service/instance-types/index.tsx
Due: none

fix(login): clear local identity even when server logout fails
  src/pages/login/apis/index.ts
  src/pages/login/hooks/use-initial-password-guard.ts
Due: none
