Repository gpustack/gpustack-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

style(benchmark): adjust the component style
  src/pages/benchmark/components/distribution-chart.tsx
  src/pages/benchmark/components/summary/best-points.tsx
  src/pages/benchmark/components/summary/config-summary.tsx
  src/pages/benchmark/components/summary/load-sweep.tsx
  src/pages/benchmark/components/summary/overview.tsx
  src/pages/benchmark/components/summary/ui.tsx
  src/pages/benchmark/components/summary/validity-alert.tsx
  src/pages/benchmark/forms/dataset.tsx
  src/pages/benchmark/forms/random-settings.tsx
  src/pages/benchmark/hooks/use-column-settings.tsx
Due: none

chore: bump @gpustack/core-ui to v1.1.13
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

refactor(benchmark): split the random settings form by concern
  src/pages/benchmark/components/section-card.tsx
  src/pages/benchmark/config/form-context.ts
  src/pages/benchmark/config/index.ts
  src/pages/benchmark/forms/dataset.tsx
  src/pages/benchmark/forms/distribution-card.tsx
  src/pages/benchmark/forms/index.tsx
  src/pages/benchmark/forms/load-settings.tsx
  src/pages/benchmark/forms/multi-turn-card.tsx
  src/pages/benchmark/forms/random-settings.tsx
  src/pages/benchmark/forms/seed-card.tsx
  src/pages/benchmark/forms/shared-prefix-card.tsx
  src/pages/benchmark/forms/slo-targets.tsx
Due: none

fix(benchmark): keep list errors after Add, cap turns, align auto_tune
  src/pages/benchmark/config/index.ts
  src/pages/benchmark/forms/dataset.tsx
  src/pages/benchmark/forms/load-settings.tsx
  src/pages/benchmark/forms/multi-turn-card.tsx
  src/pages/benchmark/forms/shared-prefix-card.tsx
  src/pages/benchmark/index.tsx
Due: none

chore(iconfonts): update iconfonts
  src/components/iconfont/iconfont.css
  src/components/iconfont/iconfont.js
  src/components/iconfont/iconfont.json
  src/components/iconfont/iconfont.ttf
  src/components/iconfont/iconfont.woff
  src/components/iconfont/iconfont.woff2
  src/pages/llmodels/components/instance-cells/name-cell.tsx
Due: prettier --cache --write, max lint --fix --eslint-only, max lint --fix --stylelint-only

fix(resources): worker version tip missed enterprise version diff
  src/locales/en-US/resources.ts
  src/locales/ja-JP/resources.ts
  src/locales/ru-RU/resources.ts
  src/locales/tr-TR/resources.ts
  src/locales/zh-CN/resources.ts
  src/pages/resources/hooks/use-worker-columns.tsx
Due: npx tsx src/locales/check.ts

feat(plugins): host support for the enterprise announcement banner
  config/config.ts
  config/mfsu.extensions.ts
  package.json
  pnpm-lock.yaml
  src/layouts/index.tsx
Due: prettier --cache --write

chore(login): use the actual sso type for the button text
  src/pages/login/components/login-form.tsx
Due: none

chore: bump @gpustack/core-ui to v1.1.14
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: bump @gpustack/core-ui to v1.1.15
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

style(modal): add the --modal-border-radius token
  src/global.less
Due: prettier --cache --write, max lint --fix --stylelint-only

feat(my-models): card actions dropdown with plugin action slot
  src/pages/llmodels/components/model-item.tsx
  src/pages/llmodels/config/button-actions.ts
  src/pages/llmodels/user-models.tsx
Due: none

chore(playground): drop the unused prompt-modal styles
  src/pages/playground/style/prompt-modal.less
Due: prettier --cache --write, max lint --fix --stylelint-only

fix(table): keep false/0 query params in useTableFetch
  src/hooks/use-table-fetch.ts
Due: none

feat(clusters): let a K8s register skip the CPU worker DaemonSet
  src/locales/en-US/clusters.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ru-RU/clusters.ts
  src/locales/tr-TR/clusters.ts
  src/locales/zh-CN/clusters.ts
  src/pages/cluster-management/components/add-worker/add-worker-step.tsx
  src/pages/cluster-management/components/add-worker/config.ts
  src/pages/cluster-management/components/add-worker/k8s-run-command.tsx
  src/pages/cluster-management/components/add-worker/select-vendor.tsx
  src/pages/cluster-management/components/add-worker/step-collapse.tsx
  src/pages/cluster-management/components/provider-catalog.tsx
  src/pages/cluster-management/components/register-cluster-inner.tsx
  src/pages/cluster-management/components/support-gpus.tsx
  src/pages/cluster-management/config/index.ts
Due: npx tsx src/locales/check.ts

feat(login): show the displayName of SSO provider
  src/pages/login/apis/index.ts
  src/pages/login/components/login-form.tsx
  src/pages/login/hooks/use-sso-auth.ts
  src/plugins/types.ts
Due: none

feat(clusters): add a Chart Values field for K8s registration
  src/locales/en-US/clusters.ts
  src/locales/ja-JP/clusters.ts
  src/locales/ru-RU/clusters.ts
  src/locales/tr-TR/clusters.ts
  src/locales/zh-CN/clusters.ts
  src/pages/cluster-management/cluster-create.tsx
  src/pages/cluster-management/clusters.tsx
  src/pages/cluster-management/components/add-cluster.tsx
  src/pages/cluster-management/components/cluster-form.tsx
  src/pages/cluster-management/components/k8s-pod-spec.tsx
  src/pages/cluster-management/config/steps-context.tsx
  src/pages/cluster-management/config/types.ts
  src/pages/cluster-management/config/yaml-template.ts
  src/pages/cluster-management/step-forms/advance-config.tsx
  src/pages/cluster-management/step-forms/basic-form.tsx
  src/pages/cluster-management/utils/helm-values.ts
Due: npx tsx src/locales/check.ts

refactor(models): put Restart on Error above Native Anthropic API
  src/pages/llmodels/forms/advance-config.tsx
Due: none

feat(kv-cache): manage a cache service whose provider runs several components
  src/locales/en-US/kv-cache.ts
  src/locales/en-US/models.ts
  src/locales/en-US/no-result.ts
  src/locales/ja-JP/kv-cache.ts
  src/locales/ja-JP/models.ts
  src/locales/ja-JP/no-result.ts
  src/locales/ru-RU/kv-cache.ts
  src/locales/ru-RU/models.ts
  src/locales/ru-RU/no-result.ts
  src/locales/tr-TR/kv-cache.ts
  src/locales/tr-TR/models.ts
  src/locales/zh-CN/kv-cache.ts
  src/locales/zh-CN/models.ts
  src/locales/zh-CN/no-result.ts
  src/pages/kv-cache/apis/index.ts
  src/pages/kv-cache/components/add-service-modal.tsx
  src/pages/kv-cache/components/instance-rows.tsx
  src/pages/kv-cache/components/provider-catalog.tsx
  src/pages/kv-cache/components/service-overview.tsx
  src/pages/kv-cache/components/test-connection.tsx
  src/pages/kv-cache/config/index.ts
  src/pages/kv-cache/config/types.ts
  src/pages/kv-cache/detail.tsx
  src/pages/kv-cache/forms/index.tsx
  src/pages/kv-cache/hooks/use-cache-providers.ts
  src/pages/kv-cache/hooks/use-service-columns.tsx
  src/pages/kv-cache/index.tsx
  src/pages/kv-cache/style/provider-catalog.less
  src/pages/llmodels/apis/index.ts
  src/pages/llmodels/components/instance-cells/name-cell.tsx
  src/pages/llmodels/components/instance/instance-item.tsx
  src/pages/llmodels/components/instance/instances.tsx
  src/pages/llmodels/config/types.ts
Due: prettier --cache --write, max lint --fix --stylelint-only, npx tsx src/locales/check.ts

chore: bump @gpustack/core-ui to v1.1.16
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: bump @gpustack/core-ui to v1.1.17
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix(dashboard): correct the gauge grid's breakpoints and section heading rhythm
  src/pages/dashboard/components/active-table.tsx
  src/pages/dashboard/components/new-usage.tsx
  src/pages/dashboard/components/system-load.tsx
  src/pages/dashboard/config/index.ts
Due: none

fix(cluster-metrics): resolve the gauge title colour before it reaches ECharts
  src/pages/cluster-management/components/cluster-metrics.tsx
  src/pages/dashboard/components/active-table.tsx
Due: none

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  max lint --fix --eslint-only: any of: *.{js,jsx}
  max lint --fix --stylelint-only: any of: *.{css,less}
  npx tsx src/locales/check.ts: any of: src/locales/**/*.ts
